Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

fix: documentation grammar issues (#3999)
  packages/documentation/docs/Backend Development/firebase-emulator.md
  packages/documentation/docs/Backend Development/tests.md
  packages/documentation/docs/Contributing/start-contributing.md
  packages/documentation/docs/Design/our-design-system.md
  packages/documentation/docs/Server Maintenance/data-migration.md
Due: none

test: add larger screen display to settings spec
  packages/cypress/src/integration/settings.spec.ts
Due: none

test: add await to ensure db is ready for pin spec
  src/pages/UserSettings/SettingsPageMapPin.tsx
Due: tslint --project tsconfig.json --config tslint.json

Update readme.md
  types/readme.md
Due: none

Update Install.md
  packages/documentation/docs/Install.md
Due: none

Update build-new-component.md
  .github/ISSUE_TEMPLATE/build-new-component.md
Due: none

Update integrations.md
  packages/documentation/docs/Backend Development/integrations.md
Due: none

feat: use supabase for question comments
  .env
  .eslintrc.json
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  Dockerfile.preview
  docs/supabase.md
  package.json
  packages/components/src/CommentAvatar/CommentAvatar.tsx
  packages/components/src/index.ts
  packages/simulated-webhook-receiver/package.json
  server.js
  src/firestore/firestoreAdmin.server.ts
  src/models/comment.model.ts
  src/models/profile.model.ts
  src/pages/Question/QuestionPage.tsx
  src/pages/common/CommentsV2/CommentItemV2.tsx
  src/pages/common/CommentsV2/CommentReply.tsx
  src/pages/common/CommentsV2/CommentSectionV2.tsx
  src/pages/common/CommentsV2/CreateCommentV2.tsx
  src/pages/common/CommentsV2/CreateReplyV2.tsx
  src/repository/supabase.server.ts
  src/routes/api.discussions.$sourceId.comments.$id.ts
  src/routes/api.discussions.$sourceId.comments.ts
  supabase/.gitignore
  supabase/config.toml
  vite.config.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json, tslint

chore: drop prerender config
  functions/scripts/runtimeConfig/model.ts
  functions/src/index.ts
  functions/src/seo/index.ts
  functions/src/seo/render/render.spec.ts
  functions/src/seo/render/request-handler.ts
  functions/src/seo/sitemap/sitemap.test.ts
  functions/src/seo/sitemap/sitemapGenerate.ts
  functions/src/seo/sitemap/sitemapProxy.ts
  shared/models/config.ts
Due: none

fix: typos in documentation files (#4004)
  .github/ISSUE_TEMPLATE/build-new-component.md
  packages/documentation/docs/Backend Development/integrations.md
  packages/documentation/docs/Install.md
  types/readme.md
Due: none

fix: research save by removing lock feature
  .gitignore
  src/pages/Research/Content/Common/Research.form.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: research save by removing lock feature (#4008)
  .gitignore
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  a2/45b2f9bfc4078f4bdf4e0fa03c5870e6eb9c9e
Due: none

feat: add limit to tag selector
  packages/components/src/Select/Select.tsx
  src/common/Tags/TagsSelect.tsx
  src/pages/UserSettings/content/sections/ProfileTags.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: drop colors from profile tags
  shared/data/profileTags.ts
Due: none

fix: map pin side effect missing creator _id
  functions/src/userUpdates/updateMapPins.ts
Due: none

feat: add colors to profile tags
  packages/components/src/ProfileTagsList/ProfileTagsList.stories.tsx
  packages/components/src/ProfileTagsList/ProfileTagsList.tsx
  packages/components/src/Select/Select.tsx
  shared/data/profileTags.ts
  shared/models/maps.ts
  shared/models/tags.ts
  src/pages/Maps/utils/filterPins.test.ts
  src/utils/getProfileTagsForTheme.ts
  src/utils/getValidTags.ts
Due: tslint --project tsconfig.json --config tslint.json

feat(component): update map settings display
  packages/components/src/MapWithPin/MapPin.client.tsx
  packages/components/src/MapWithPin/MapPin.css
  packages/components/src/MapWithPin/MapPin.stories.tsx
  packages/components/src/MapWithPin/MapWithPin.client.tsx
  packages/components/src/MapWithPin/MapWithPin.stories.tsx
  src/pages/Maps/Content/MapView/Popup.client.tsx
  src/pages/UserSettings/SettingsPageMapPin.test.tsx
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

feat(component): update map settings display
  packages/components/src/MapWithPin/MapPin.client.tsx
  packages/components/src/MapWithPin/MapPin.css
  packages/components/src/MapWithPin/MapWithPin.client.tsx
  src/pages/Maps/Content/MapView/Sprites.tsx
  src/pages/User/user.routes.tsx
  src/pages/UserSettings/SettingsPage.client.tsx
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/pages/UserSettings/index.tsx
  src/routes/_.settings.$.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: update map pin clusters (#3855) Css and JS Logic
  src/pages/Maps/Content/MapView/Sprites.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: remove pin opening
  packages/components/src/MapWithPin/MapWithPin.client.tsx
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commandsUi.ts
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/pages/UserSettings/labels.ts
  src/routes/_.u.$id.edit.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: update map setting display (#3862)
  packages/components/src/MapWithPin/MapPin.client.tsx
  packages/components/src/MapWithPin/MapPin.stories.tsx
  packages/components/src/MapWithPin/MapWithPin.client.tsx
  packages/components/src/MapWithPin/MapWithPin.stories.tsx
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commandsUi.ts
  src/pages/Maps/Content/MapView/Popup.client.tsx
  src/pages/Maps/Content/MapView/Sprites.tsx
  src/pages/User/user.routes.tsx
  src/pages/UserSettings/SettingsPage.client.tsx
  src/pages/UserSettings/SettingsPageMapPin.test.tsx
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/pages/UserSettings/index.tsx
  src/pages/UserSettings/labels.ts
  src/routes/_.settings.$.tsx
  src/routes/_.u.$id.edit.tsx
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: space pins not showing contact button
  packages/components/src/PinProfile/PinProfile.tsx
  shared/models/maps.ts
Due: none

fix: card profile images not loading lazy
  packages/components/src/CardProfile/CardDetailsMemberProfile.tsx
  packages/components/src/CardProfile/CardDetailsSpaceProfile.tsx
Due: none

feat: update active pin interaction for new map
  packages/components/src/CardButton/CardButton.stories.tsx
  packages/components/src/CardButton/CardButton.tsx
  packages/components/src/CardList/CardList.stories.tsx
  packages/components/src/CardList/CardList.tsx
  packages/components/src/CardListItem/CardListItem.stories.tsx
  packages/components/src/CardListItem/CardListItem.tsx
  packages/components/src/CardProfile/CardDetailsFallback.tsx
  packages/components/src/CardProfile/CardDetailsMemberProfile.tsx
  packages/components/src/CardProfile/CardDetailsSpaceProfile.tsx
  packages/components/src/Username/Username.tsx
  packages/cypress/src/integration/map.spec.ts
  src/pages/Maps/Content/MapView/MapView.client.tsx
  src/pages/Maps/Content/MapView/MapWithList.tsx
  src/pages/Maps/Content/MapView/MapWithListHeader.tsx
  src/pages/Maps/Content/MapView/Popup.client.tsx
  src/pages/Maps/Maps.client.tsx
  src/pages/Maps/Maps.test.tsx
Due: tslint --project tsconfig.json --config tslint.json
