Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

fix(patreon): lookup by auth id
  functions/src/Integrations/patreon.ts
Due: none

fix: increase limits
  functions/src/Integrations/patreon.ts
  functions/src/consts.ts
  functions/src/emailNotifications/createModerationEmails.ts
  functions/src/emailNotifications/index.ts
  functions/src/emailNotifications/utils.ts
Due: none

feat: user image resize
  firebase.json
  functions/src/index.ts
  functions/src/userPhotoResizeEvent/index.ts
Due: none

Notes added by 'git notes add'
  5f/b0c7004243540af2e756da92b7e564715894d3
Due: none

feat(patreon): create patreon models and frontend component
  functions/src/Integrations/patreon.ts
  src/models/user.models.tsx
  src/pages/UserSettings/SettingsPage.tsx
  src/pages/UserSettings/content/formSections/PatreonIntegration.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(patreon-frontend): update component
  src/pages/Patreon/Patreon.tsx
  src/pages/UserSettings/SettingsPage.tsx
  src/pages/UserSettings/content/formSections/PatreonIntegration.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: update comment
  src/pages/UserSettings/content/formSections/PatreonIntegration.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: update copy and rebase
  functions/src/Integrations/patreon.ts
  src/pages/UserSettings/SettingsPage.tsx
  src/pages/UserSettings/content/formSections/PatreonIntegration.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add missing models
  shared/models/user.ts
Due: none

fix: make button smaller and fix rebase
  functions/src/Integrations/patreon.ts
  src/pages/UserSettings/content/formSections/PatreonIntegration.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  17/81e745496e4b747b8e30ef65b3580b0ea5ff4c
Due: none

fix: packages/documentation/package.json to reduce vulnerabilities
  packages/documentation/package.json
Due: none

fix: packages/emulators-docker/package.json to reduce vulnerabilities
  packages/emulators-docker/package.json
Due: none

feat: change to save only minimal impact fields
  packages/cypress/src/integration/settings.spec.ts
  shared/mocks/data/users.ts
  src/models/user.models.tsx
  src/pages/User/impact/Impact.test.tsx
  src/pages/User/impact/ImpactEmoji.tsx
  src/pages/User/impact/ImpactField.test.tsx
  src/pages/User/impact/ImpactField.tsx
  src/pages/User/impact/ImpactItem.tsx
  src/pages/UserSettings/content/formSections/Impact/ImpactQuestion.field.tsx
  src/pages/UserSettings/content/formSections/Impact/ImpactYear.field.tsx
  src/pages/UserSettings/content/formSections/Impact/ImpactYear.section.tsx
  src/pages/UserSettings/content/formSections/Impact/ImpactYearDisplay.field.tsx
  src/pages/UserSettings/content/formSections/Impact/impactQuestions.ts
  src/pages/UserSettings/content/formSections/Impact/utils.test.ts
  src/pages/UserSettings/content/formSections/Impact/utils.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  d8/2eaa9c8b56e27c909e7768ca7ca48534a1ca91
Due: none

feat(question): create draft
  src/models/question.models.tsx
  src/pages/Question/Content/Common/QuestionForm.tsx
  src/pages/Question/QuestionListing.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Question/labels.ts
  src/pages/Question/question.routes.test.tsx
  src/stores/Question/question.store.test.tsx
  src/stores/Question/question.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(question): update user questions on user update
  functions/src/userUpdates/index.ts
Due: none

feat: added UserNameTag component
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/common/UserNameTag/UserNameTag.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add 2019 to impact data years
  src/models/user.models.tsx
  src/pages/User/impact/constants.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: missing labels when impact data is invisible
  src/pages/User/impact/Impact.test.tsx
  src/pages/User/impact/Impact.tsx
  src/pages/User/impact/ImpactItem.tsx
  src/pages/User/impact/ImpactMissing.tsx
  src/pages/User/impact/labels.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: update message templates for consistency
  functions/src/emailNotifications/templates.ts
  functions/src/emailNotifications/templates/receiver-message.html
  functions/src/emailNotifications/templates/sender-message.html
Due: none

feat: set a reply to for contact emails
  functions/src/emailNotifications/createSubmissionEmails.ts
Due: none

feat: hide member focus section if less than two activities
  src/pages/UserSettings/content/formSections/Focus.section.test.tsx
  src/pages/UserSettings/content/formSections/Focus.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(question): select category
  shared/models/db.ts
  src/models/question.models.tsx
  src/models/questionCategories.model.ts
  src/pages/Howto/Category/CategoriesSelect.tsx
  src/pages/Question/Content/Common/QuestionForm.tsx
  src/pages/Question/question.routes.test.tsx
  src/stores/QuestionCategories/questionCategories.store.tsx
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(patreon): validate supporter tiers
  functions/src/Integrations/patreon.ts
Due: none

test(patreon): backend test
  functions/src/Integrations/patreon.spec.ts
  functions/src/Integrations/patreon.ts
Due: none

test(patreon): frontend patreon integration section test
  src/pages/UserSettings/content/formSections/PatreonIntegration.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(patreon): link integration with supporter badge and update connection module
  functions/src/Integrations/patreon.ts
  src/models/user.models.tsx
  src/pages/UserSettings/SettingsPage.tsx
  src/pages/UserSettings/content/formSections/PatreonIntegration.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

style: move text to constants and remove relative width
  functions/src/Integrations/patreon.ts
  src/pages/UserSettings/content/formSections/PatreonIntegration.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: drop firefox e2e test run
  .circleci/config.yml
Due: none

Notes added by 'git notes add'
  70/54ecf3f40225ffff1b1031e1fdecb14c1cbfcd
Due: none

fix: packages/components/package.json to reduce vulnerabilities
  packages/components/package.json
  yarn.lock
Due: none

deploy: dbbe38569a895d8ed200e7c2b3de1bc4a954d8ce
  storybook-static/assets/preview-50552ee1.js.map
  storybook-static/iframe.html
  storybook-static/index.html
  storybook-static/project.json
  storybook-static/sb-addons/essentials-actions-2/manager-bundle.js
  storybook-static/sb-addons/essentials-backgrounds-3/manager-bundle.js
  storybook-static/sb-addons/essentials-controls-1/manager-bundle.js
  storybook-static/sb-addons/essentials-measure-6/manager-bundle.js
  storybook-static/sb-addons/essentials-outline-7/manager-bundle.js
  storybook-static/sb-addons/essentials-toolbars-5/manager-bundle.js
  storybook-static/sb-addons/essentials-viewport-4/manager-bundle.js
  storybook-static/sb-addons/links-0/manager-bundle.js
  storybook-static/sb-addons/storybook-8/manager-bundle.js
  storybook-static/sb-manager/GlobalScrollAreaStyles-UY5SB7EJ-BKTFUTA6.js
  storybook-static/sb-manager/OverlayScrollbars-GZGLA7DL-YJ2Z3IBE.js
  storybook-static/sb-manager/WithTooltip-J57HCPYA-3VOMFVVS.js
  storybook-static/sb-manager/WithTooltip-V3YHNWJZ-LVYLGZW2.js
  storybook-static/sb-manager/chunk-2IXBUOFS.js
  storybook-static/sb-manager/chunk-3J6GS6FI.js
  storybook-static/sb-manager/chunk-INSKDKQB.js
  storybook-static/sb-manager/chunk-NBCGHFLK.js
  storybook-static/sb-manager/chunk-NGTUFCUO.js
  storybook-static/sb-manager/chunk-O2ZUMB77.js
  storybook-static/sb-manager/chunk-QMHPSTMR.js
  storybook-static/sb-manager/chunk-QPL63VNK.js
  storybook-static/sb-manager/chunk-RKFFWI2D.js
  storybook-static/sb-manager/chunk-SPUAGIB2.js
  storybook-static/sb-manager/chunk-UUEAOBSN.js
  storybook-static/sb-manager/chunk-V4IURIJR.js
  storybook-static/sb-manager/chunk-ZEU7PDD3.js
  storybook-static/sb-manager/formatter-SWP5E3XI-7BGIK6BL.js
  storybook-static/sb-manager/globals-module-info.js
  storybook-static/sb-manager/globals.js
  storybook-static/sb-manager/index.js
  storybook-static/sb-manager/runtime.js
  storybook-static/sb-manager/syntaxhighlighter-PONEFOSF-PLQPOLN2.js
  storybook-static/sb-manager/syntaxhighlighter-V7JZZA35-DXZCI2WR.js
Due: tslint

Notes added by 'git notes add'
  01/b1b718afe60225a0a3c80e4ace218d8e37dec9
Due: none

docs(components): include test file in script output
  packages/components/README.md
Due: none

chore(packages): include new line char at end of file
  packages/components/scripts/newComponent.ts
Due: none

chore: update template test so it passes initially
  packages/components/scripts/templates/{componentName}.test.tsx.mst
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
