Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

fix: packages/emulators-docker/package.json to reduce vulnerabilities
  packages/emulators-docker/package.json
Due: none

Notes added by 'git notes add'
  82/e8eba654713a9aae99f1210c5f851c0d0b7ec4
Due: none

chore: refactor to remove unused additional admin prop
  packages/components/src/__mocks__/AuthWrapper.mock.tsx
  src/common/AuthWrapper.tsx
  src/pages/common/AuthRoute.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: trim whitespace in fieldtextarea
  packages/components/src/FieldInput/FieldInput.tsx
  packages/components/src/FieldTextarea/FieldTextarea.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: add trim modifier to fieldinput, set trim on howto title to true
  packages/components/src/FieldInput/FieldInput.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: trim whitespace in how-to step title
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: link people through to developer documentation
  CONTRIBUTING.md
Due: none

docs: update Testing overview
  packages/documentation/docs/Testing/overview.md
Due: none

refactor: replace textlimitindicator with charactercount in fieldinput
  packages/components/src/FieldInput/FieldInput.tsx
Due: none

feat: add 3 step minimum for howtos
  packages/cypress/src/fixtures/images/howto-step-pic3.jpg
  packages/cypress/src/fixtures/images/howto-step-pic4.jpg
  packages/cypress/src/integration/howto/write.spec.ts
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/Content/Common/howtostep.form.test.tsx
  src/pages/Howto/constants.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: creating map pins
  src/stores/Maps/maps.store.test.ts
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: add character count to howto step title
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: roles required checked in dev view correctly
  src/common/AuthWrapper.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: a88a3c3d6368bc28b20a8772ac52d26dab838eb6
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Backend Development/tests/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Maintainers/onboarding/index.html
  Maintainers/overview/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/3bd00479.96e76890.js
  assets/js/3bd00479.9c216535.js
  assets/js/935f2afb.7cd77f98.js
  assets/js/935f2afb.f8cacab8.js
  assets/js/runtime~main.897b7478.js
  assets/js/runtime~main.e825e3a0.js
  index.html
  storybook-static/assets/GlobalStyles-53eb644e.js.map
  storybook-static/project.json
Due: tslint

test: check for whitespace in step-title
  packages/cypress/src/integration/howto/write.spec.ts
Due: none

test: check step description for trailing whitespace
  packages/cypress/src/integration/howto/write.spec.ts
Due: none

fix: add field validators and character counter to forms
  packages/components/src/FieldTextarea/FieldTextarea.tsx
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/pages/Research/constants.ts
  src/utils/validators.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: linting
  src/pages/Howto/Content/Common/Howto.form.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: fix broken tests and add tests for research
  packages/cypress/src/integration/howto/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/utils/validators.ts
Due: tslint --project tsconfig.json --config tslint.json

test: optimise test speed by removing unecessary typing
  packages/cypress/src/integration/howto/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

chore: import case sensitive
  packages/cypress/src/integration/research/write.spec.ts
Due: none

Notes added by 'git notes add'
  bf/bef0d0fd35e19745b009671773a3fea7013e46
Due: none

chore: fixes tests so there are no more errors
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/pages/Research/research.routes.test.tsx
  src/pages/Settings/UserSettings.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: fixes flaky user menu test
  packages/cypress/src/integration/common.spec.ts
Due: none

test: flag shows for research author
  src/pages/Research/Content/ResearchArticle.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: load country information off of User
  packages/cypress/src/integration/research/read.spec.ts
  shared/mocks/data/research.ts
  src/common/isUserVerified.ts
  src/models/research.models.tsx
  src/pages/Research/Content/ResearchArticle.hooks.ts
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchList.hooks.tsx
  src/pages/Research/Content/ResearchList.test.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/Content/ResearchListSortFilterHeader/ResearchListSortFilterHeader.tsx
  src/pages/Research/research.routes.test.tsx
  src/stores/Research/research.store.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  1f/9cff4d4433084e5b059bf1855c08ac586b9fb5
Due: none

feat: filter out deleted map pins from map display
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: prevent opening of deleted map pin card from url
  src/pages/Maps/Maps.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add user update function to mark map pin as deleted if user marked as deleted
  functions/src/userUpdates/index.ts
Due: none

refactor: remove unused styled component
  src/pages/Settings/content/formSections/Collection.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: remove unused styled component
  src/pages/Howto/VirtualizedFlex/VirtualizedFlex.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

refactor: remove unused styled component
  src/pages/Settings/content/formSections/elements.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: remove unused styled component
  src/common/Form/FieldContainer.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove commented out code
  packages/cypress/src/integration/map.spec.ts
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

feat(platform): add delete button to How-Tos and Research Articles
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  shared/mocks/data/howtos.ts
  shared/mocks/data/research.ts
  src/models/howto.models.tsx
  src/models/research.models.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json
