Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

chore: upgrade react (#4531)
  package.json
  packages/components/package.json
  packages/documentation/package.json
  yarn.lock
Due: none

more package updates
  package.json
  packages/components/package.json
  packages/components/src/NotificationsModal/NotificationsModal.tsx
  packages/components/src/VerticalList/VerticalList.client.tsx
  src/pages/Library/Content/Common/LibraryStepsContainer.field.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/setupTests.ts
  src/test/setup.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

upgrade uppy
  package.json
  src/common/Form/FileInput/FileInput.tsx
  src/common/Form/FileInput/UppyConfig.ts
  src/common/Form/FileInput/UppyConfigAdmin.ts
  src/test/setup.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

storybook upgrade
  package.json
  packages/components/.storybook/main.ts
  packages/components/.storybook/manager.js
  packages/components/package.json
  packages/components/src/ArticleCallToActionSupabase/ArticleCallToActionSupabase.stories.tsx
  packages/components/src/utils.ts
  packages/cypress/package.json
  src/test/factories/Comment.ts
  src/test/factories/Library.ts
  src/test/factories/News.ts
  src/test/factories/Question.ts
  src/test/factories/ResearchItem.ts
  src/test/factories/User.ts
  src/test/factories/profile.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json, tslint

package updates
  .yarnrc.yml
  package.json
  packages/components/package.json
  packages/components/scripts/newComponent.ts
  packages/components/scripts/templates/{componentName}.stories.tsx.mst
  packages/components/scripts/templates/{componentName}.test.tsx.mst
  packages/components/scripts/templates/{componentName}.tsx.mst
  packages/components/src/ContentStatistics/ContentStatistics.stories.tsx
  packages/components/src/Tooltip/Tooltip.stories.tsx
  packages/components/tsconfig.json
  yarn.lock
Due: none

cypress removals
  packages/cypress/package.json
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commands.ts
  packages/cypress/src/support/commandsUi.ts
  yarn.lock
Due: none

fix storybook
  package.json
  yarn.lock
Due: none

more updates
  package.json
  packages/components/package.json
  yarn.lock
Due: none

fix
  packages/cypress/.eslintrc.json
Due: none

fix favicon
  src/routes/api.favicon.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: favicon
  src/routes/api.favicon.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  92/2155e2ddebab39d0f571ee5c873b89f40f1720
Due: none

adding tracking to the upgradebadgeclicked
  src/common/Analytics/index.tsx
  src/pages/User/content/ProfilePage.tsx
  src/pages/common/Header/Menu/ProfileModal/ProfileModal.tsx
Due: tslint --project tsconfig.json --config tslint.json

remove mansonary package
  packages/components/package.json
  packages/components/src/MapCardList/MapCardList.tsx
  packages/cypress/package.json
  src/pages/Maps/Content/MapView/MapWithListHeader.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

more cleanup
  package.json
  packages/components/.babelrc.json
  packages/components/package.json
  packages/components/src/ImageCrop/ImageCrop.stories.tsx
  packages/components/src/ImageCrop/ImageCrop.tsx
  packages/components/src/ImageCrop/canvasPreview.ts
  packages/components/src/ImageCrop/centerAspectCrop.ts
  packages/components/src/ImageCrop/useDebounceEffect.ts
  packages/components/src/Modal/Modal.tsx
  packages/components/src/index.ts
  yarn.lock
Due: none

fix tests
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commandsUi.ts
Due: none

fix
  packages/cypress/package.json
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commandsUi.ts
  packages/cypress/tsconfig.json
  yarn.lock
Due: none

more cleanup
  packages/cypress/package.json
  packages/cypress/tsconfig.json
  yarn.lock
Due: none

more cleanup
  packages/cypress/package.json
  packages/cypress/scripts/start.mts
  yarn.lock
Due: none

replace ts-node
  package.json
  packages/components/package.json
  packages/cypress/package.json
  packages/cypress/tsconfig.json
  yarn.lock
Due: none

cleanup docs
  BOUNTIES.md
  packages/documentation/docs/Contributing/bounties.md
  packages/documentation/docs/Contributing/docs-contribution.md
  packages/documentation/docs/Contributing/images/bounty1.png
  packages/documentation/docs/Contributing/images/bounty2.png
  packages/documentation/docs/Contributing/images/bounty3.png
  packages/documentation/docs/Contributing/images/open_collective_01.jpg
  packages/documentation/docs/Contributing/images/open_collective_02.jpg
  packages/documentation/docs/Contributing/intro.md
  packages/documentation/docs/Contributing/start-contributing.md
  packages/documentation/docs/Deployment/circle-ci.md
  packages/documentation/docs/Docs Contribution/md-style-guide.md
  packages/documentation/docs/Docs Contribution/running-docs-locally.md
  packages/documentation/docs/Environmental Impact/environmental-impact.md
  packages/documentation/docs/Examples/mdx.md
  packages/documentation/docs/Getting Started/recommended-tools.md
  packages/documentation/docs/Getting Started/setup.md
  packages/documentation/docs/Maintainers/Overview.md
  packages/documentation/docs/Testing/end-to-end.md
  packages/documentation/docs/Testing/images/ci-firestore-project.png
  packages/documentation/docs/Testing/overview.md
  packages/documentation/package.json
  packages/documentation/sidebars.js
  yarn.lock
Due: tslint

chore: update docs
  CONTRIBUTING.md
  docs/circle-ci.md
  docs/db-seeding.md
  docs/maintainers.md
  docs/react-router-7.md
  docs/supabase.md
  docs/team-principles.md
  docs/technical-decisions.md
  packages/documentation/docs/Getting Started/setup.md
Due: none

more doc improvements
  CONTRIBUTING.md
Due: none

Added design section
  CONTRIBUTING.md
Due: none

Fix link formatting in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

storybook to github pages
  .circleci/config.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/storybook-deploy.yml
Due: none

chore: remove docusaurus and upgrade storybook deploy node version
  .github/workflows/storybook-deploy.yml
  packages/documentation/.eslintrc.json
  packages/documentation/.gitignore
  packages/documentation/README.md
  packages/documentation/babel.config.js
  packages/documentation/docs/Contributing/start-contributing.md
  packages/documentation/docs/Contributing/team-principles.md
  packages/documentation/docs/Deployment/circle-ci.md
  packages/documentation/docs/Design/contributing-designs.md
  packages/documentation/docs/Design/contributing-feedback.md
  packages/documentation/docs/Design/images/design-contributions-0.png
  packages/documentation/docs/Design/images/design-contributions-1.png
  packages/documentation/docs/Design/images/design-contributions-2.png
  packages/documentation/docs/Design/images/design-contributions-3.png
  packages/documentation/docs/Design/our-design-system.md
  packages/documentation/docs/Getting Started/recommended-tools.md
  packages/documentation/docs/Getting Started/setup.md
  packages/documentation/docs/Maintainers/Onboarding.md
  packages/documentation/docs/Maintainers/Overview.md
  packages/documentation/docs/Security.md
  packages/documentation/docs/Testing/end-to-end.md
  packages/documentation/docs/Testing/overview.md
  packages/documentation/docs/db-seeding.md
  packages/documentation/docs/remix.md
  packages/documentation/docs/supabase.md
  packages/documentation/docs/technical-decisions.md
  packages/documentation/docusaurus.config.gh-pages.js
  packages/documentation/docusaurus.config.js
  packages/documentation/images/firestore-backup-1.png
  packages/documentation/images/firestore-backup-2.png
  packages/documentation/package.json
  packages/documentation/sidebars.js
  packages/documentation/src/css/custom.css
  packages/documentation/static/.nojekyll
  packages/documentation/static/CNAME
  packages/documentation/static/img/favicon.ico
  packages/documentation/static/img/logo.svg
  yarn.lock
Due: tslint

fix
  .github/workflows/storybook-deploy.yml
  packages/components/package.json
  packages/themes/package.json
Due: none

chore: upgrade codeql action version
  .github/workflows/codeql-analysis.yml
Due: none

chore: fix storybook deploy
  .github/workflows/storybook-deploy.yml
Due: none

fix
  .github/workflows/storybook-deploy.yml
Due: none

try fix deploy build storybook
  .github/workflows/storybook-deploy.yml
Due: none

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

remove pr labeler, upgrade storybook deploy action version
  .github/pr-labeler.config.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/storybook-deploy.yml
Due: none

datamodel update
  .snaplet/dataModel.json
Due: none

chore: upgrade dotenv and resend
  package.json
  packages/cypress/package.json
  supabase/functions/send-email/deno.json
  yarn.lock
Due: none

yarn
  yarn.lock
Due: none
