Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

deploy: 6aba85215ea6289105d1e337c27366f1c9c1c54d
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Backend Development/tests/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/826114b9.698a473a.js
  assets/js/826114b9.d2741ff5.js
  assets/js/runtime~main.3bcf7f3e.js
  assets/js/runtime~main.4580e5b3.js
  index.html
  storybook-static/project.json
Due: tslint

chore: fix merge
  src/models/index.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: add functions triggers
  functions/src/emailNotifications/index.ts
  functions/src/index.ts
Due: none

chore: add test
  functions/src/emailNotifications/createEmail.spec.ts
  functions/src/emailNotifications/createEmail.ts
Due: none

chore: add catch for empty email list
  functions/src/emailNotifications/createEmail.ts
Due: none

docs: add colour and sizing stories
  packages/components/src/Icon/Icon.stories.mdx
  packages/components/src/Icon/Icon.stories.tsx
Due: none

docs(components): fix theming in storybook
  packages/components/.storybook/preview.js
  packages/components/package.json
  yarn.lock
Due: tslint

deploy: e8b02bf37c7c6f4ebbebfb8bc9b6b8fcf04bbd26
  storybook-static/iframe.html
  storybook-static/main.5685148a.iframe.bundle.js
  storybook-static/main.f39e2888.iframe.bundle.js
  storybook-static/project.json
Due: tslint

chore(components): refactor to remove circular deps
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/CreateComment/CreateComment.tsx
  packages/components/src/MapWithDraggablePin/MapWithDraggablePin.tsx
  packages/components/src/OsmGeocoding/OsmGeocoding.tsx
  packages/components/src/OsmGeocoding/OsmGeocodingResultsList.tsx
  packages/components/src/OsmGeocoding/types.tsx
Due: none

chore(pages): refactor to resolve circular dep
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsMobile.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove unused homepage
  src/pages/Home/Home.scss
  src/pages/Home/Home.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: follow research article
  src/models/research.models.tsx
  src/models/user.models.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/common/Header/getFormattedNotifications.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(components): add support for research_update notification
  packages/components/src/NotificationItem/NotificationItem.tsx
  packages/components/src/NotificationList/NotificationList.stories.tsx
Due: none

fix: only notify if a new Update is added to a Research item
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: add new research_update notification
  functions/src/emulator/seed/content-generate.ts
Due: none

fix: add following button to ResearchDescription
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: fix misleading test fixtures
  src/stores/Research/research.store.test.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: fetch previous object prior to update
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: reduce one level of conditional nesting
  src/pages/Research/Content/ResearchDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor to improve legibility
  packages/components/src/NotificationItem/NotificationItem.tsx
Due: none

test: refactor to add assert comments
  src/stores/Research/research.store.test.ts
Due: tslint --project tsconfig.json --config tslint.json

deploy: a09365238d3d82d74bfd796f95d0f34055568533
  storybook-static/iframe.html
  storybook-static/main.375070fd.iframe.bundle.js
  storybook-static/main.5685148a.iframe.bundle.js
  storybook-static/project.json
Due: tslint

deploy: c9615331ac4b354071742b614aab357cc495f908
  storybook-static/iframe.html
  storybook-static/main.375070fd.iframe.bundle.js
  storybook-static/main.4ca4c89d.iframe.bundle.js
  storybook-static/project.json
Due: tslint

Notes added by 'git notes add'
  0b3a25feee664e2b391232af898ad166111d35b1
Due: none

fix: fail back to unknown flag for invalid country code
  packages/components/src/Username/Username.stories.tsx
  packages/components/src/Username/Username.test.tsx
  packages/components/src/Username/Username.tsx
Due: none

chore: extract country codes to seperate file
  packages/components/src/Username/TwoCharacterCountryCodes.ts
  packages/components/src/Username/Username.tsx
Due: none

deploy: 7e9d97f9f02dbaec00a8e12ed723a3b9abb95d19
  storybook-static/iframe.html
  storybook-static/main.4ca4c89d.iframe.bundle.js
  storybook-static/main.9c44bf22.iframe.bundle.js
  storybook-static/project.json
Due: tslint

deploy: 19eae12f073cc37ef60a24b9cfe119e7f4f0f393
  storybook-static/iframe.html
  storybook-static/main.30c2c7c3.iframe.bundle.js
  storybook-static/main.9c44bf22.iframe.bundle.js
  storybook-static/project.json
Due: tslint

chore: fix test
  functions/src/emailNotifications/createEmail.spec.ts
  functions/src/emailNotifications/createEmail.ts
  functions/src/emailNotifications/index.ts
  shared/models/db.ts
Due: none

chore: add schema to dexie
  src/stores/databaseV2/clients/dexie.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: change db_endpoints import
  functions/src/emailNotifications/createEmail.spec.ts
Due: none

chore: refactor to simplify typing
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove mock pin generation code
  src/stores/Maps/generatePins.tsx
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor to common method
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/stores/Maps/maps.store.ts
  src/utils/getUserCountry.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: pass flag through from User object
  packages/components/src/MapMemberCard/MapMemberCard.stories.tsx
  packages/components/src/MapMemberCard/MapMemberCard.tsx
  src/models/maps.models.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/User/content/MemberProfile.tsx
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove unused code
  package.json
  src/models/maps.models.tsx
  src/pages/Maps/Content/View/index.tsx
  src/pages/Maps/Maps.tsx
  src/stores/Maps/maps.store.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

chore: rename folder/file to match export
  src/pages/Maps/Content/MapView/Cluster.tsx
  src/pages/Maps/Content/MapView/MapView.tsx
  src/pages/Maps/Content/MapView/Popup.tsx
  src/pages/Maps/Content/MapView/Sprites.tsx
  src/pages/Maps/Content/MapView/index.css
  src/pages/Maps/Content/MapView/popup.css
  src/pages/Maps/Content/MapView/sprites.css
  src/pages/Maps/Content/index.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor docs to remove duplication
  packages/components/src/MapMemberCard/MapMemberCard.stories.tsx
Due: none

chore: apply automated formatting
  src/utils/getUserCountry.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove redundant comment
  src/pages/Maps/Content/View/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
