Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

chore: refactor DatabaseV2 out of index
  src/stores/Aggregations/aggregations.store.tsx
  src/stores/Discussions/discussionEvents.ts
  src/stores/RootStore.tsx
  src/stores/common/incrementDocViewCount.tsx
  src/stores/common/module.store.test.tsx
  src/stores/common/toggleDocSubscriberStatusByUserName.ts
  src/stores/common/toggleDocUsefulByUser.ts
  src/stores/databaseV2/AbstractDatabase.ts
  src/stores/databaseV2/DatabaseV2.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: introduce junit reporter for component tests
  .circleci/config.yml
  packages/components/.gitignore
  packages/components/package.json
Due: none

test: introduce junit reporter for function tests
  .circleci/config.yml
Due: none

chore(ci): introduce test-ci to align with packages/components
  .circleci/config.yml
  functions/package.json
Due: none

refactor: move RootStore out of index (#3275)
  src/App.tsx
  src/stores/Aggregations/aggregations.store.tsx
  src/stores/Categories/categories.store.tsx
  src/stores/Discussions/discussion.store.test.ts
  src/stores/Discussions/discussionEvents.ts
  src/stores/Discussions/discussions.store.tsx
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/maps.store.ts
  src/stores/Message/message.store.tsx
  src/stores/Question/question.store.tsx
  src/stores/QuestionCategories/questionCategories.store.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
  src/stores/ResearchCategories/researchCategories.store.tsx
  src/stores/RootStore.tsx
  src/stores/Tags/tags.store.tsx
  src/stores/User/notifications.store.ts
  src/stores/User/user.store.ts
  src/stores/common/incrementDocViewCount.tsx
  src/stores/common/module.store.test.tsx
  src/stores/common/module.store.ts
  src/stores/common/toggleDocSubscriberStatusByUserName.ts
  src/stores/common/toggleDocUsefulByUser.ts
  src/stores/databaseV2/AbstractDatabase.ts
  src/stores/databaseV2/DatabaseV2.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: introduce junit output for component and (serverless) functions (#3277)
  .circleci/config.yml
  functions/package.json
  packages/components/.gitignore
  packages/components/package.json
Due: none

deploy: 4316f291d15eeb44097e965049cfc1d8024e30df
  storybook-static/assets/GlobalStyles-6382182d.js.map
  storybook-static/project.json
Due: none

chore: remove abstract database definition
  src/stores/databaseV2/AbstractDatabase.ts
  src/stores/databaseV2/DatabaseV2.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove abstract database definition (#3279)
  src/stores/databaseV2/AbstractDatabase.ts
  src/stores/databaseV2/DatabaseV2.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: move db Init into constructor
  src/stores/databaseV2/clients/dexie.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: improve error handling around loading state
  src/common/hooks/contributorsData.ts
  src/stores/User/user.store.ts
  src/stores/common/incrementDocViewCount.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 94d1dfff1246f7ba1a210c8a7f9630199d3fbf69
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Backend Development/tests/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Maintainers/onboarding/index.html
  Maintainers/overview/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/78346f93.d480e7c8.js
  assets/js/78346f93.e967f66b.js
  assets/js/runtime~main.555676ea.js
  assets/js/runtime~main.ae49f01b.js
  index.html
  storybook-static/assets/GlobalStyles-6382182d.js.map
  storybook-static/project.json
Due: tslint

fixed research listing page error messages in console
  src/pages/Research/Content/ResearchList.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: let messages send to users unless opted out
  functions/src/emailNotifications/utils.test.ts
  functions/src/emailNotifications/utils.ts
Due: none

chore: refactor database clients
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/databaseV2/clients/firestore.tsx
  src/stores/databaseV2/utils/getQueryOptions.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor database clients (#3283)
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/databaseV2/clients/firestore.tsx
  src/stores/databaseV2/utils/getQueryOptions.ts
Due: tslint --project tsconfig.json --config tslint.json

fix:(platform): fix negative numbers on impact feature
  src/pages/User/impact/ImpactField.test.tsx
  src/pages/User/impact/ImpactField.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix error message in console when viewing Research listing page locally
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix(script): error message in console when viewing Research listing page locally
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(discussions): support admin edit/delete rights on comments
  src/stores/Discussions/discussion.store.test.ts
  src/stores/Discussions/discussions.store.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: validate unique username before submit
  src/pages/SignUp/SignUp.tsx
  src/utils/checkUserNameUnique.test.ts
  src/utils/checkUserNameUnique.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: remove unused jest statement
  src/utils/checkUserNameUnique.test.ts
Due: tslint --project tsconfig.json --config tslint.json

feat(discussions): support admin edit/delete rights on comments (#3297)
  src/stores/Discussions/discussion.store.test.ts
  src/stores/Discussions/discussions.store.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: clear create reply field after submit
  packages/components/src/CreateReply/CreateReply.tsx
Due: none

chore: add test for empty component check
  packages/components/src/CreateReply/CreateReply.test.tsx
Due: none

chore: drop unused prop in image input field
  src/common/Form/ImageInput.field.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor image input into small components
  src/common/Form/ImageInput/DeleteImage.tsx
  src/common/Form/ImageInput/ImageConverterList.tsx
  src/common/Form/ImageInput/ImageInput.tsx
  src/common/Form/ImageInput/ImageInputWrapper.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: tidy up image input further
  src/common/Form/ImageInput/ImageInput.tsx
  src/common/Form/ImageInput/getPresentFiles.ts
  src/common/Form/ImageInput/setSrc.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: separate out utils from image input
  src/common/Form/ImageInput/ImageInput.tsx
  src/common/Form/ImageInput/getPresentFiles.ts
  src/common/Form/ImageInput/setSrc.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: separate out state in image input
  src/common/Form/ImageInput/ImageInput.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: move types for no circular dependences
  src/common/Form/ImageInput/ImageInput.tsx
  src/common/Form/ImageInput/getPresentFiles.ts
  src/common/Form/ImageInput/setSrc.ts
  src/common/Form/ImageInput/types.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: fix flaky component test
  packages/components/src/CommentContainer/CommentContainer.test.tsx
Due: none

fix: broken update state call
  src/common/Form/ImageInput/ImageInput.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: lower number of e2e ci runs
  .circleci/config.yml
Due: none

chore(ci): increase resources for release step
  .circleci/config.yml
Due: none

chore: fix flaky component test (#3302)
  packages/components/src/CommentContainer/CommentContainer.test.tsx
Due: none

deploy: d37eb4ac337e4c4eac542af9689a1025b1bc527f
  storybook-static/assets/GlobalStyles-6382182d.js.map
  storybook-static/project.json
Due: none

Notes added by 'git notes add'
  74/fa2117914eaa664e3254af46099220cc46c24a
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
