Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

chore: trigger deploy
  Dockerfile
Due: none

fix: theme default
  src/modules/profile/SupportedProfileTypesFactory.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: deploy
  Dockerfile
Due: none

chore: add circleci variables to deploy
  .circleci/config.yml
Due: none

chore: trigger deploy
  .circleci/config.yml
Due: none

chore: try build secret
  .circleci/config.yml
Due: none

chore: test build secrets
  .circleci/config.yml
Due: none

chore: fix build secrets
  .circleci/config.yml
Due: none

chore: deploy theme env
  .circleci/config.yml
  src/modules/profile/SupportedProfileTypesFactory.ts
  src/routes/api.tags.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: mount secrets
  .circleci/config.yml
Due: none

chore: fix mount secrets
  .circleci/config.yml
Due: none

chore: fix deploy secrets
  .circleci/config.yml
  Dockerfile
Due: none

chore: environment variables
  src/pages/Academy/Academy.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Question/Content/Common/QuestionPostingGuidelines.tsx
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/pages/UserSettings/content/sections/Focus.section.tsx
  src/pages/common/Header/Menu/Logo/Logo.tsx
  src/root.tsx
  src/routes/api.tags.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove unused env
  .circleci/config.yml
Due: none

chore: deploy secrets
  Dockerfile
Due: none

chore: spaces
  Dockerfile
Due: none

chore: spaces
  .circleci/config.yml
Due: none

chore: trigger deploy
  src/root.tsx
  src/routes/api.tags.ts
  src/routes/api.tagstwo.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: env variables
  src/config/config.ts
  src/modules/profile/SupportedProfileTypesFactory.ts
  src/pages/Academy/Academy.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Question/Content/Common/QuestionPostingGuidelines.tsx
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/pages/UserSettings/content/sections/Focus.section.tsx
  src/pages/common/Header/Menu/Logo/Logo.tsx
  src/root.tsx
  src/stores/databaseV2/endpoints.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: update env variables from REACT_APP_ to VITE_
  .circleci/config.yml
  .github/workflows/pr-preview.yml
  Dockerfile
  packages/cypress/scripts/start.mts
  packages/cypress/src/support/db/endpoints.ts
  packages/documentation/docs/Deployment/circle-ci.md
  packages/documentation/docs/Install.md
  shared/models/db.ts
  src/config/config.ts
  src/config/constants.ts
  src/logger/index.ts
  src/modules/index.test.ts
  src/modules/index.ts
  src/modules/profile/index.ts
  src/routes/api.tags.ts
  src/routes/api.tagstwo.ts
  src/stores/databaseV2/endpoints.ts
  src/utils/helpers.ts
  vite.config.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: log env
  src/root.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: trigger deploy
  src/root.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: prune docker
  .circleci/config.yml
Due: none

chore: fix vite_branch
  .circleci/config.yml
Due: none

chore: fix vite_branch and pk academy
  .circleci/config.yml
  Dockerfile
  server.js
Due: tslint

chore: fly vars
  .env
  Dockerfile
  fly-ff.toml
Due: none

chore: trigger deploy
  fly-ff.toml
  fly-pk.toml
  fly-pp.toml
Due: none

fix: frame csp
  server.js
Due: tslint

fix: csp
  .env
  server.js
Due: tslint

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
