Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

chore(ci): do not run Cloud functions until lint stage has passed
  .circleci/config.yml
Due: none

Notes added by 'git notes add'
  51ee5ecb822a451c26808b2ab7dae268fce5fd49
Due: none

chore: disable GitHub releases for the time being
  .circleci/config.yml
Due: none

added notifications interface and functions to trigger a notification for a user and mark it as read
  src/models/user.models.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

update setup docs
  packages/documentation/docs/Getting Started/setup.md
Due: none

feat notifications: added notifications interface and functions to trigger a notification for a user and mark it as read
  src/models/user.models.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove travis
  .travis.yml
Due: none

improve code readability
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: notifications- added basic UI components for notifications
  src/components/Icons/index.tsx
  src/components/Notifications/NotificationItem.tsx
  src/components/Notifications/NotificationList.tsx
  src/models/user.models.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/Notifications/Notifications.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsModal.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

docs: switch to yarn command
  packages/documentation/docs/Backend Development/firebase-emulators.md
Due: none

docs: migrate backend functions wiki content
  packages/documentation/docs/Backend Development/overview.md
  packages/documentation/sidebars.js
Due: tslint

remove travis references
  CONTRIBUTING.md
  packages/cypress/scripts/start.ts
  src/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: alignment of tags closes #1076
  src/components/Tags/TagDisplay/TagDisplay.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix(comments): conditionally add user.location for comment flags
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: adds Security.md
  SECURITY.md
  packages/documentation/docs/Security.md
Due: none

test: reinstate loads of time consuming tests
  .circleci/config.yml
Due: none

chore: remove unused comment
  src/pages/Howto/Content/Howto/Howto.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: adds deployment job for project kamp
  .circleci/config.yml
  .firebaserc
Due: none

fix: always allow env REACT_ENV to take precedence
  src/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: replace material-ui with dedicated lib
  package.json
  src/pages/common/Header/Menu/Profile/Profile.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

nit: update contact email
  SECURITY.md
Due: none

fix: only load colours from primary theme file
  src/components/Comment/CommentHeader.tsx
  src/components/Form/Select.field.tsx
  src/components/Form/elements.ts
  src/components/ImageGallery/index.tsx
  src/components/ImageInput/ImageConverter.tsx
  src/components/ProfileModal/ProfileModal.tsx
  src/components/Text/index.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoUsefulStats.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/User/content/UserPage/UserPage.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
  src/themes/styled.theme.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: correct read permissions
  firebase.storage.rules
Due: none

feat: 🔥 removes unused component
  src/pages/Events/Content/EventsMenu/EventsMenu.scss
  src/pages/Events/Content/EventsMenu/EventsMenu.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove unused component
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoSummary/HowtoSummary.tsx
  src/pages/Howto/Content/Howto/HowtoSummary/elements.js
Due: tslint --project tsconfig.json --config tslint.json, tslint

feat: release PR
  .github/workflows/merge-to-production.yml
Due: none

chore: format markdown
  BOUNTIES.md
  CONTRIBUTING.md
  README.md
  functions/src/config/cors.md
  packages/documentation/docs/Backend Development/firebase-emulators.md
  packages/documentation/docs/Backend Development/integrations.md
  packages/documentation/docs/Backend Development/overview.md
  packages/documentation/docs/Contributing/bounties.md
  packages/documentation/docs/Contributing/docs-contribution.md
  packages/documentation/docs/Contributing/intro.md
  packages/documentation/docs/Contributing/maintainer.md
  packages/documentation/docs/Deployment/circle-ci.md
  packages/documentation/docs/Docs Contribution/md-style-guide.md
  packages/documentation/docs/Docs Contribution/running-docs-locally.md
  packages/documentation/docs/Frontend Development/overview.md
  packages/documentation/docs/Getting Started/recommended-tools.md
  packages/documentation/docs/Getting Started/setup.md
  packages/documentation/docs/Testing/end-to-end.md
  shared/README.md
Due: none

feat: load sentry DSN from env
  src/common/errors.ts
  src/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json

test: remove deprecated wait method
  src/pages/Howto/Content/Common/Howto.form.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: swap loader for logo based loading component
  src/components/FirebaseFileUploader/FirebaseFileUploader.tsx
  src/components/FirebaseFileUploader/elements.tsx
  src/components/Form/elements.ts
  src/components/Loader/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: adds logger lib
  package.json
  src/logger/index.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: use css mask to make background color dynamic
  src/assets/images/menu-current.svg
  src/pages/common/Header/Menu/MenuDesktop.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: ignore storybook static assets in eslint
  .eslintignore
Due: none

feat: switch to react specific version of sentry client
  package.json
  src/common/errors.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

feat: 🔥 remove @material-ui/core
  package.json
  yarn.lock
Due: none

docs: migrates environmental impact doc from wiki
  packages/documentation/docs/Environmental Impact/environmental-impact.md
  packages/documentation/sidebars.js
Due: tslint

chore: skip e2e on production
  .circleci/config.yml
Due: none

fix: regression in background colour
  src/components/ProfileModal/ProfileModal.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobileLink.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: adds prettier command
  .prettierignore
  package.json
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
