Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

feat: introduce EditorField
  package.json
  packages/components/src/EditorContent/EditorContent.stories.tsx
  packages/components/src/EditorContent/EditorContent.tsx
  packages/components/src/FieldEditor/FieldEditor.stories.tsx
  packages/components/src/FieldEditor/FieldEditor.tsx
  packages/components/src/index.ts
  src/modules/admin/admin.storeV2.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/stores/Admin/admin.store.ts
  src/stores/Aggregations/aggregations.store.tsx
  src/stores/Categories/categories.store.tsx
  src/stores/Events/events.store.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/maps.store.ts
  src/stores/MobileMenu/mobilemenu.store.tsx
  src/stores/Platform/platform.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/ResearchCategories/researchCategories.store.tsx
  src/stores/Tags/tags.store.tsx
  src/stores/User/notifications.store.ts
  src/stores/User/user.store.ts
  src/stores/_Template/template.store.tsx
  src/themes/app.globalStyles.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor adding inline defintion for globals
  packages/components/src/CreateComment/CreateComment.tsx
  packages/cypress/src/plugins/CyTsPreprocessor.js
  packages/cypress/src/plugins/index.js
  packages/cypress/src/webpack.config.js
  packages/documentation/babel.config.js
  packages/documentation/docusaurus.config.gh-pages.js
  packages/documentation/docusaurus.config.js
  packages/documentation/sidebars.js
  scripts/build.js
  scripts/envCheck.js
  scripts/start.js
  scripts/test.js
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
  src/pages/User/content/UserContactAndLinks.tsx
Due: tslint --project tsconfig.json --config tslint.json, tslint

chore: refactor no-useless-catch
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor no async promise executor
  src/pages/common/DevSiteHeader/DevSiteHeader.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor no-extra-boolean-cast
  packages/components/src/CreateComment/CreateComment.tsx
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
  src/pages/User/content/UserContactAndLinks.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: opt into eslint:recommended ruleset
  .eslintrc.json
Due: none

chore: add max lines per function
  .eslintrc.json
Due: none

chore: linting changes
  packages/components/src/EditorContent/EditorContent.stories.tsx
  packages/components/src/EditorContent/EditorContent.tsx
  packages/components/src/FieldEditor/FieldEditor.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove unused template store
  src/models/_template.model.tsx
  src/stores/_Template/template.store.tsx
  src/stores/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 54f248bd0dae3ee1fa4cf9ecea9d3d962516b532
  storybook-static/iframe.html
  storybook-static/main.1b3be9f0.iframe.bundle.js
  storybook-static/main.2394ce90.iframe.bundle.js
  storybook-static/project.json
Due: tslint

deploy: 74a8d58de5326c358a9fe14a1deb31cb03c54d14
  storybook-static/project.json
Due: none

deploy: fe6dd5629eba79d9949da6c55049aef1aa09a94c
  storybook-static/project.json
Due: none

feat: show label for certain social media networks
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  packages/components/src/ProfileLink/ProfileLink.stories.tsx
  packages/components/src/ProfileLink/ProfileLink.test.tsx
  packages/components/src/ProfileLink/ProfileLink.tsx
  packages/components/src/index.ts
  src/pages/User/content/ProfileLink.tsx
  src/pages/User/content/UserContactAndLinks.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: add border between image and content
  src/pages/User/content/SpaceProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): drop legacy Node 16 builds
  .circleci/config.yml
  package.json
Due: none

chore(ci): increase resource for code linting to speed up job
  .circleci/config.yml
Due: none

chore(ci): increase resources for cache installation
  .circleci/config.yml
Due: none

deploy: 325a90fd20eb87001d3bf8c9514e6ec32a6824e9
  storybook-static/iframe.html
  storybook-static/main.1b3be9f0.iframe.bundle.js
  storybook-static/main.6bbef84e.iframe.bundle.js
  storybook-static/project.json
  storybook-static/static/media/icon-bazar.1627f2b7.svg
  storybook-static/static/media/icon-discord.504a9df4.svg
  storybook-static/static/media/icon-email.67eb0635.svg
  storybook-static/static/media/icon-social-media.518c5dbd.svg
  storybook-static/static/media/icon-website.934fa312.svg
Due: tslint

Notes added by 'git notes add'
  42fe6e4e08dd71efeae59c916f4a8abfb1952a37
Due: none

chore: switch to using icon within button component
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: ignore dist
  packages/themes/.gitignore
  packages/themes/dist/common/button.d.ts
  packages/themes/dist/common/button.js
  packages/themes/dist/fixing-fashion/index.d.ts
  packages/themes/dist/fixing-fashion/index.js
  packages/themes/dist/fixing-fashion/styles.d.ts
  packages/themes/dist/fixing-fashion/styles.js
  packages/themes/dist/fonts/index.d.ts
  packages/themes/dist/fonts/index.js
  packages/themes/dist/index.d.ts
  packages/themes/dist/index.js
  packages/themes/dist/precious-plastic/index.d.ts
  packages/themes/dist/precious-plastic/index.js
  packages/themes/dist/precious-plastic/styles.d.ts
  packages/themes/dist/precious-plastic/styles.js
  packages/themes/dist/project-kamp/index.d.ts
  packages/themes/dist/project-kamp/index.js
  packages/themes/dist/project-kamp/styles.d.ts
  packages/themes/dist/project-kamp/styles.js
  packages/themes/dist/types/index.d.ts
  packages/themes/dist/types/index.js
Due: tslint

chore: remove boilerplate
  packages/themes/tsconfig.json
Due: none

chore: update workflows to build themes
  package.json
  packages/themes/package.json
  yarn.lock
Due: none

chore(ci): build themes package before building storybook
  .circleci/config.yml
  package.json
Due: none

chore(ci): build themes as part of unit test
  .circleci/config.yml
  package.json
Due: none

fix(useful-button): fix optimistic update
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Research/Content/ResearchArticle.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: docs deploy
  .github/workflows/docs-deploy.yml
Due: none

deploy: 97165a52af29bae8ad3982acb95aadbeacfab308
  storybook-static/iframe.html
  storybook-static/main.6bbef84e.iframe.bundle.js
  storybook-static/main.f39e2888.iframe.bundle.js
  storybook-static/project.json
  storybook-static/static/media/avatar_space_sm.8108bb81.svg
  storybook-static/static/media/avatar_space_sm.d9430d7f.svg
Due: tslint

chore: add themes to deploy watch
  .github/workflows/docs-deploy.yml
Due: none

feat: add shared confirm modal component
  packages/components/src/ConfirmModal/ConfirmModal.stories.tsx
  packages/components/src/ConfirmModal/ConfirmModal.tsx
  packages/components/src/index.ts
Due: none

refactor: switch comments to use confirm modal
  packages/components/src/CommentItem/CommentItem.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: switch settings links to new modal
  src/pages/Settings/content/formSections/Fields/ProfileLink.field.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: add cypress tests for confirm modal buttons
  packages/cypress/src/integration/howto/comments.spec.ts
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/research/comments.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix(#2017): autofocus tag label in admin modal
  src/pages/admin/content/AdminTags.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 0b3a0119f5ada4dc55c29679e85ef3319a7d51fb
  storybook-static/project.json
Due: none

refactor: remove react.fc from component + comment tidy
  packages/components/src/ConfirmModal/ConfirmModal.tsx
  packages/cypress/src/integration/howto/comments.spec.ts
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/research/comments.spec.ts
Due: none

Notes added by 'git notes add'
  072dfd70b454b0068508603748ee7b7275a79c40
Due: none

docs: update themes location
  packages/documentation/docs/Frontend Development/overview.md
Due: none
