Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

fix: formatting fix
  packages/cypress/src/integration/notifications.spec.ts
  src/pages/Research/Content/ResearchArticle.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: fix tests
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/tsconfig.json
  src/components/Comment/Comment.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: fix expected count
  packages/cypress/src/integration/howto/read.spec.ts
Due: none

test: reduce wait times
  packages/cypress/src/integration/notifications.spec.ts
Due: none

chore: test updates
  packages/cypress/src/integration/notificationBanner.spec.ts
  packages/cypress/src/support/custom-assertions.ts
  src/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json

test: add login test
  packages/cypress/src/support/commands.ts
Due: none

chore: add filename linting
  .eslintrc.json
  package.json
  yarn.lock
Due: none

chore: rename dockerfile
  packages/emulators-docker/Dockerfile
Due: none

feat: add docker build action
  .github/workflows/docker-emulator-build.yml
Due: none

chore: ci test
  .github/workflows/docker-emulator-build.yml
Due: none

feat: add dockerhub push
  .github/workflows/docker-emulator-build.yml
Due: none

fix: docker image name
  .github/workflows/docker-emulator-build.yml
Due: none

chore: update image tags
  .github/workflows/docker-emulator-build.yml
  packages/emulators-docker/src/common.ts
Due: none

chore: code tidying
  .github/workflows/docker-emulator-build.yml
Due: none

docs: add emulators docker docs
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  packages/documentation/docs/Backend Development/firebase-emulators.md
  packages/documentation/sidebars.js
Due: tslint

docs: update firebase-emulators docker docs
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  packages/documentation/docs/Backend Development/images/emulators-docker-frontend.png
  packages/documentation/docs/images/emulators-docker-cli.png
  packages/emulators-docker/README.md
  packages/emulators-docker/src/common.ts
  packages/emulators-docker/src/start.ts
Due: none

chore: tidy docs
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
Due: none

chore: update default repo
  packages/emulators-docker/src/common.ts
Due: none

chore: add fn timeout and seed data check
  functions/src/emulator/index.ts
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  packages/emulators-docker/Dockerfile
  packages/emulators-docker/src/start.ts
Due: none

chore: add image pull fail handler
  packages/emulators-docker/src/start.ts
Due: none

chore: additional timeout fix
  packages/emulators-docker/Dockerfile
  packages/emulators-docker/README.md
Due: none

chore: add cli groupings
  package.json
Due: none

chore: update cli colors
  package.json
  packages/emulators-docker/README.md
Due: none

fix: db user profile seeding
  functions/package.json
  functions/src/emulator/seed/users-create.ts
  packages/emulators-docker/.gitignore
  packages/emulators-docker/Dockerfile
  packages/emulators-docker/README.md
  yarn.lock
Due: none

feat: new theme for Fixing Fashion
  .circleci/config.yml
  packages/documentation/docs/Install.md
  scripts/post-cra-build.ts
  src/assets/images/themes/fixing-fashion/avatar.svg
  src/assets/images/themes/fixing-fashion/avatar_member.svg
  src/assets/images/themes/fixing-fashion/avatar_space.svg
  src/assets/images/themes/fixing-fashion/badge.svg
  src/assets/images/themes/fixing-fashion/badge_space.svg
  src/assets/images/themes/fixing-fashion/fixing-fashion-header.png
  src/assets/images/themes/fixing-fashion/public/favicon.ico
  src/assets/images/themes/fixing-fashion/public/social-image.jpg
  src/components/DevSiteHeader/DevSiteHeader.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/stores/Theme/theme.store.tsx
  src/themes/fixing-fashion/index.ts
  src/themes/fixing-fashion/styles.ts
  src/themes/index.ts
Due: tslint --project tsconfig.json --config tslint.json

deploy: 176fad7c1e2521b7c45ecc121053c7ec8f6d80c8
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/7f4ab99b.490c057d.js
  assets/js/7f4ab99b.715de981.js
  assets/js/runtime~main.316c20ad.js
  assets/js/runtime~main.b1f3e6f8.js
  blog/archive/index.html
  example.index/index.html
  index.html
  tags/index.html
Due: tslint

Notes added by 'git notes add'
  c4c1da52afee2e336c2b5178ecf49d18b1684e55
Due: none

feat: add user profile edit for admins
  src/pages/Settings/SettingsPage.tsx
  src/pages/User/User.tsx
  src/pages/User/content/index.tsx
  src/stores/User/user.store.ts
  src/utils/getLocationData.ts
Due: tslint --project tsconfig.json --config tslint.json

docs: update emulator docs
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  packages/documentation/docs/Backend Development/images/emulator-docker-remote-files.png
  packages/documentation/docs/Backend Development/images/emulators-docker-http-req.png
  packages/documentation/docs/Backend Development/images/emulators-docker-remote.png
  packages/emulators-docker/README.md
Due: none

chore: update gh action triggers
  .github/workflows/docker-emulator-build.yml
Due: none

feat: add component storybook to docs
  .github/workflows/docs-deploy.yml
  packages/documentation/.gitignore
  packages/documentation/package.json
  packages/documentation/sidebars.js
  yarn.lock
Due: tslint

chore: introduce script for creating new components
  packages/components/README.md
  packages/components/package.json
  packages/components/scripts/new-component.ts
  packages/components/scripts/templates/{componentName}.stories.mdx
  packages/components/scripts/templates/{componentName}.tsx
Due: none

docs(components): reintroduce themes for Storybook documentation
  packages/components/.storybook/preview.js
  packages/components/package.json
  yarn.lock
Due: tslint

chore: use Mustache for the new component templating flow
  packages/components/.prettierignore
  packages/components/package.json
  packages/components/scripts/new-component.ts
  packages/components/scripts/templates/{componentName}.stories.mdx.mst
  packages/components/scripts/templates/{componentName}.tsx
  packages/components/scripts/templates/{componentName}.tsx.mst
  yarn.lock
Due: none

chore: add support for additional admins in authRoute
  src/pages/common/AuthRoute.tsx
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
