Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

ci: unit test scripts
  .circleci/config.yml
  package.json
  scripts/envCheck.js
  yarn.lock
Due: tslint

chore: ci
  .circleci/config.yml
  .env-cmdrc.js
Due: tslint

chore: ci
  .env-cmdrc.js
Due: tslint

chore: update envCheck
  scripts/envCheck.js
Due: tslint

chore(deps): pin to skip latest release
  .circleci/config.yml
  commitlint.config.ts
  commitlint.format.ts
Due: none

fix: add commitlint exports
  commitlint.config.ts
  commitlint.format.ts
Due: none

chore: revert commitlint changes
  .circleci/config.yml
  commitlint.config.ts
  commitlint.format.ts
Due: none

fix: adds accessible labels to moderation buttons
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove globals in favour of local declaration
  src/mocks/Selectors.tsx
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
  src/pages/Settings/content/formSections/Fields/OpeningHoursPicker.field.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove unused mocks and components
  src/mocks/category.mock.tsx
  src/mocks/tags.mock.tsx
  src/pages/common/FilterBar/FilterBar.tsx
  src/pages/common/FilterBar/Selector.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove unused events
  src/mocks/events.mock.tsx
  src/mocks/howto.mock.tsx
  src/mocks/location.mock.tsx
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove unused mocks
  src/mocks/_template.mock.tsx
  src/mocks/projects.mock.tsx
  src/mocks/research.mocks.tsx
  src/mocks/user.mock.tsx
  src/mocks/user_pp.mock.tsx
  src/pages/Settings/content/formSections/Collection.section.tsx
  src/pages/Settings/content/formSections/Expertise.section.tsx
  src/pages/Settings/content/formSections/Workspace.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: move map store helpers closer to call site
  src/mocks/db.mock.tsx
  src/stores/Maps/generatePins.tsx
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): introduce linting to catch focused tests
  .eslintrc.json
  package.json
  yarn.lock
Due: none

chore: adopt stricter linting check
  .eslintrc.json
Due: none

chore: use theme-ui element to add support for sx prop
  packages/components/src/OsmGeocoding/OsmGeocodingResultsList.tsx
Due: none

feat: adjust wording for useful button
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
  packages/cypress/src/integration/notifications.spec.ts
Due: none

chore: only print output in failure scenario
  scripts/envCheck.js
Due: tslint

Notes added by 'git notes add'
  c636177b7d25ae00e49d6ff0a1e7673be18a6c4d
Due: none

feat: adds article call to action #2053
  packages/components/src/ArticleCallToAction/ArticleCallToAction.stories.tsx
  packages/components/src/ArticleCallToAction/ArticleCallToAction.tsx
  packages/components/src/CreateComment/CreateComment.tsx
  packages/components/src/Text/Text.stories.tsx
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
  packages/components/src/Username/Username.tsx
  packages/components/src/index.ts
  packages/components/src/types/common.ts
  src/common/isUserVerified.ts
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): increase memory resources
  .circleci/config.yml
Due: none

deploy: e6e49ab44b78189c641c773f7d9b14284ad7ce6d
  storybook-static/iframe.html
  storybook-static/main.26817282.iframe.bundle.js
  storybook-static/main.950c38dc.iframe.bundle.js
  storybook-static/project.json
Due: tslint

deploy: 8b3e8988937ddb1c865e728da03ba67ce8afa583
  storybook-static/iframe.html
  storybook-static/main.950c38dc.iframe.bundle.js
  storybook-static/main.d0186708.iframe.bundle.js
  storybook-static/project.json
Due: tslint

Notes added by 'git notes add'
  5efa1ea26ba4289c136cc6de6a4971a439b61c4d
Due: none

feat: view incrementation implemented using viewcounter
  packages/components/src/ViewsCounter/ViewsCounter.tsx
  packages/components/src/index.ts
  src/models/howto.models.tsx
  src/models/research.models.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: cleaned up props
  packages/components/src/ViewsCounter/ViewsCounter.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: session storage added to limit views from increasing
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/utils/sessionStorage.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: views incremented without _modified field being changed
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/databaseV2/DocReference.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: fixed linting and left margin
  packages/components/src/ViewsCounter/ViewsCounter.tsx
  packages/components/src/index.ts
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/databaseV2/DocReference.tsx
  src/utils/sessionStorage.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: improvements to mark as useful button
  packages/components/src/Button/Button.tsx
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
  src/themes/common/button.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: added a 0 value for no useful count
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
Due: none

chore: removed unused function
  packages/components/src/Button/Button.tsx
Due: none

test: fixed e2e tests for useful button
  packages/cypress/src/integration/notifications.spec.ts
Due: none

fix: styling
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
Due: none

fix: imports
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
Due: none

feat: changes to bg and hover bg colors
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
Due: none

chore: removed useeffect state initialization
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json
