Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

fix: csp
  server.js
Due: tslint

chore: trigger deploy
  Dockerfile
Due: none

chore: vite api url
  Dockerfile
Due: none

fix: cdn src
  server.js
Due: tslint

fix: server.js
  server.js
Due: tslint

fix: typo in 'Gallery'
  src/utils/formatImageListForGallery.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: styling issues
  packages/components/src/CommentItem/CommentItem.tsx
  src/pages/Howto/Content/Common/HowtoFieldCoverImageAlt.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: added theme favicon
  packages/themes/assets/images/themes/fixing-fashion/favicon.ico
  packages/themes/assets/images/themes/precious-plastic/favicon.ico
  packages/themes/assets/images/themes/project-kamp/favicon.ico
  packages/themes/src/fixing-fashion/index.ts
  packages/themes/src/precious-plastic/index.ts
  packages/themes/src/project-kamp/index.ts
  packages/themes/src/types/images.d.ts
  packages/themes/src/types/index.ts
Due: none

feat: added theme favicon
  index.html
  packages/themes/src/fixing-fashion/index.ts
  packages/themes/src/precious-plastic/index.ts
  packages/themes/src/project-kamp/index.ts
  packages/themes/src/types/index.ts
  src/config/config.ts
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/root.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: seo and pp academy
  packages/themes/src/fixing-fashion/index.ts
  packages/themes/src/project-kamp/index.ts
  server.js
Due: tslint

fix: seo
  src/root.tsx
  src/utils/seo.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: add noindex
  src/root.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add function for pins after user updates
  functions/src/userUpdates/hasKeyDetailsChanged.test.ts
  functions/src/userUpdates/hasKeyDetailsChanged.ts
  functions/src/userUpdates/index.ts
  functions/src/userUpdates/updateDiscussionComments.ts
  functions/src/userUpdates/updateMapPins.ts
  functions/src/userUpdates/utils.test.ts
  functions/src/userUpdates/utils.ts
Due: none

feat: add last active to user side effect updates
  functions/src/discussionUpdates/index.ts
  functions/src/questionUpdates/index.ts
  functions/src/userUpdates/index.ts
Due: none

test: fix map db pin count
  packages/cypress/src/integration/map.spec.ts
Due: none

fix: notification not being sent for updates
  functions/src/Integrations/firebase-discord.test.ts
  functions/src/Integrations/firebase-discord.ts
  functions/src/models.ts
Due: none

chore: re-add tests
  .circleci/config.yml
Due: none

fix: temp reduction in map spec coverage
  packages/cypress/src/integration/map.spec.ts
Due: none

Notes added by 'git notes add'
  16/713b23db2ddd10f5cc52134a5d8a68ba23e279
Due: none

fix: zindex of edit profile button
  src/pages/User/content/UserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: right js data copied for user info setting
  packages/cypress/src/integration/settings.spec.ts
  src/pages/UserSettings/SettingsPageUserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: circular deps
  functions/webpack.config.ts
  shared/models/common.ts
  shared/models/maps.ts
  shared/models/user.ts
Due: none

Notes added by 'git notes add'
  1f/76f8cdff6d0f2be8d2e334f424de9ade243fbc
Due: none

fix: linting
  src/pages/User/content/SpaceProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: linting
  src/common/DownloadWithDonationAsk.test.tsx
  src/config/config.ts
  src/pages/Howto/howto.service.ts
  src/stores/Research/researchEvents.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: cypress tests
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/howto/seo.spec.ts
  packages/cypress/src/integration/profile.spec.ts
  packages/cypress/src/integration/questions/read.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
Due: none

fix: contact form
  server.js
Due: tslint

feat: add default alt tags for images (#3825)
  packages/components/src/CommentItem/CommentItem.test.tsx
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/ImageGallery/ImageGallery.tsx
  src/models/howto.models.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoFieldCoverImageAlt.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/labels.ts
  src/pages/Research/Content/ResearchListItem.tsx
  src/stores/Howto/howto.store.tsx
  src/utils/formatImageListForGallery.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: set map pins to have profile link
  packages/components/src/CardProfile/CardDetailsMemberProfile.tsx
  packages/components/src/CardProfile/CardDetailsSpaceProfile.tsx
  packages/components/src/CardProfile/CardProfile.tsx
  packages/components/src/PinProfile/PinProfile.tsx
Due: none
