Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

test: set test time out to 15 seconds
  vite.config.ts
Due: none

chore: fix component generator
  packages/components/scripts/templates/{componentName}.test.tsx.mst
  packages/components/scripts/templates/{componentName}.tsx.mst
Due: none

feat: use guidelines component across app
  packages/components/src/Guidelines/Guidelines.test.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoPostingGuidelines.tsx
  src/pages/Howto/Content/Common/PostingGuidelines.tsx
  src/pages/Howto/Content/Common/index.ts
  src/pages/Question/Content/Common/PostingGuidelines.tsx
  src/pages/Question/Content/Common/QuestionForm.tsx
  src/pages/Question/Content/Common/QuestionPostingGuidelines.tsx
  src/pages/Question/Content/Common/index.ts
  src/pages/Research/Content/Common/PostingGuidelines.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/ResearchPostingGuidelines.tsx
  src/pages/Research/Content/Common/index.ts
  src/pages/UserSettings/content/PostingGuidelines.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add optional theme question guidelines url
  packages/themes/src/precious-plastic/styles.ts
  packages/themes/src/types/index.ts
Due: none

feat: add guidelines component to library
  packages/components/src/Guidelines/Guidelines.stories.tsx
  packages/components/src/Guidelines/Guidelines.test.tsx
  packages/components/src/Guidelines/Guidelines.tsx
  packages/components/src/index.ts
Due: none

chore: update test router
  packages/components/.storybook/preview.tsx
  packages/components/src/test/utils.tsx
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/PageList.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.test.tsx
  src/pages/User/user.routes.test.tsx
  src/pages/User/user.routes.tsx
  src/pages/UserSettings/SettingsPage.tsx
  src/pages/UserSettings/UserSettings.test.tsx
  src/pages/common/Header/getFormattedNotifications.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: cleanup
  src/pages/Howto/Howto.tsx
  src/pages/Research/research.routes.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: update test router (#3658)
  packages/components/.storybook/preview.tsx
  packages/components/src/test/utils.tsx
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Howto/Howto.tsx
  src/pages/PageList.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.test.tsx
  src/pages/Research/research.routes.tsx
  src/pages/User/user.routes.test.tsx
  src/pages/User/user.routes.tsx
  src/pages/UserSettings/SettingsPage.tsx
  src/pages/UserSettings/UserSettings.test.tsx
  src/pages/common/Header/getFormattedNotifications.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove unused component
  src/pages/User/contact/UserContactFieldEmail.tsx
  src/pages/User/contact/index.ts
Due: tslint --project tsconfig.json --config tslint.json

test: change routes test timeout to 15 seconds
  src/pages/Question/question.routes.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: refactor send message to a cloud function (#3648)
  functions/src/Utils/doc.utils.ts
  functions/src/index.ts
  functions/src/messages/messages.spec.ts
  functions/src/messages/messages.ts
  packages/cypress/src/integration/profile.spec.ts
  shared/models/index.ts
  shared/models/messages.ts
  src/pages/User/contact/UserContactFieldEmail.tsx
  src/pages/User/contact/UserContactForm.test.tsx
  src/pages/User/contact/UserContactForm.tsx
  src/pages/User/contact/index.ts
  src/services/message.service.ts
  src/stores/Message/message.store.test.ts
  src/stores/Message/message.store.tsx
  src/stores/RootStore.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: update counts to exclude deleted comments
  packages/components/src/ButtonShowReplies/ButtonShowReplies.tsx
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/DiscussionContainer/DiscussionContainer.tsx
  packages/components/src/DiscussionTitle/DiscussionTitle.stories.tsx
  packages/components/src/DiscussionTitle/DiscussionTitle.test.tsx
  packages/components/src/DiscussionTitle/DiscussionTitle.tsx
  src/common/DiscussionWrapper.tsx
  src/models/question.models.tsx
  src/pages/Question/QuestionPage.tsx
  src/stores/Discussions/discussionEvents.ts
  src/utils/filterNonDeletedComments.test.ts
  src/utils/filterNonDeletedComments.ts
  src/utils/nonDeletedCommentsCount.test.ts
  src/utils/nonDeletedCommentsCount.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: still display of replies for deleted comment
  packages/components/src/ButtonShowReplies/ButtonShowReplies.stories.tsx
  packages/components/src/ButtonShowReplies/ButtonShowReplies.tsx
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/CommentItem/types.ts
  packages/components/src/CommentList/CommentList.stories.tsx
  packages/components/src/CommentList/CommentList.tsx
Due: none

test: add to check for deleted comments displays
  packages/components/src/ButtonShowReplies/ButtonShowReplies.stories.tsx
  packages/components/src/CommentItem/CommentItem.stories.tsx
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/CommentList/CommentList.tsx
  packages/components/src/CreateComment/CreateComment.tsx
  packages/components/src/CreateReply/CreateReply.tsx
  packages/components/src/EditComment/EditComment.tsx
  packages/cypress/src/integration/howto/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  src/utils/filterNonDeletedComments.test.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: update store to mark comments as deleted
  src/models/discussion.models.tsx
  src/stores/Discussions/discussion.store.test.ts
  src/stores/Discussions/discussions.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  c4/f45e18f6b133d3cdcedaff9f520cb41a318cbf
Due: none

feat: always include site name on page title
  src/config/constants.ts
  src/utils/seo.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: update how-to page titles
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/howto/seo.spec.ts
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/PageList.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: update profile page titles
  packages/cypress/src/integration/profile.spec.ts
  src/pages/User/content/UserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: change login command to skip ui by default
  packages/cypress/src/support/commands.ts
Due: none

feat: update question page titles
  packages/cypress/src/integration/questions/read.spec.ts
  shared/mocks/data/questions.ts
  src/models/question.models.tsx
  src/pages/Question/QuestionPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: update research page titles
  packages/cypress/src/integration/research/read.spec.ts
  shared/mocks/data/research.ts
  src/pages/Research/Content/ResearchArticle.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add simulated webhook server
  docker-compose.yml
  functions/emulator/Dockerfile
  functions/src/config/config.ts
  package.json
  packages/simulated-webhook-receiver/Dockerfile
  packages/simulated-webhook-receiver/README.md
  packages/simulated-webhook-receiver/package.json
  packages/simulated-webhook-receiver/server.js
  yarn.lock
Due: tslint

chore: make URLs different, so debugging is easier
  functions/src/config/config.ts
Due: none

refactor: only set values for emulated site
  functions/src/config/config.ts
Due: none

chore: improve comment
  functions/src/config/config.ts
Due: none

chore: stop errors when looking for email templates in emulator
  docker-compose.yml
  functions/emulator/Dockerfile
  functions/src/Integrations/firebase-discord.ts
  functions/src/config/config.ts
Due: none

fix: unit tests
  .eslintrc.json
  package.json
  packages/components/package.json
  packages/components/src/Button/Button.tsx
  packages/components/src/DonationRequest/DonationRequest.stories.tsx
  packages/cypress/package.json
  src/common/AuthWrapper.tsx
  src/common/Form/ImageInput/ImageConverter.tsx
  src/common/Form/TagsSelect.field.tsx
  src/common/Tags/TagsSelect.tsx
  src/index.tsx
  src/pages/Question/question.routes.test.tsx
  src/pages/common/AuthRoute.tsx
  src/stores/databaseV2/CollectionReference.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
