Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

more ci
  .circleci/config.yml
Due: none

ci params
  .circleci/config.yml
Due: none

ci
  .circleci/config.yml
Due: none

ci
  cypress/support/db/firebase.ts
  cypress/support/hooks.ts
  scripts/test.e2e.js
Due: tslint --project cypress/tsconfig.json --config tslint.json, tslint

ci optimisations
  .circleci/config.yml
  scripts/test.e2e.js
Due: tslint

test tidying
  .circleci/config.yml
  cypress/integration/bugs.spec.ts
  cypress/support/db/firebase.ts
  cypress/support/hooks.ts
  scripts/test.e2e.js
Due: tslint --project cypress/tsconfig.json --config tslint.json, tslint

test idb improvements
  cypress/support/commands.ts
  cypress/support/hooks.ts
  package.json
  yarn.lock
Due: tslint --project cypress/tsconfig.json --config tslint.json

remove test service worker
  src/registerServiceWorker.ts
Due: tslint --project tsconfig.json --config tslint.json

code tidying
  .circleci/config.yml
  cypress/support/db/firebase.ts
  scripts/test.e2e.js
  src/stores/User/user.store.ts
  src/stores/databaseV2/clients/dexie.tsx
Due: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

tests - add sessionstorage for db prefix
  cypress/support/commands.ts
  cypress/support/db/endpoints.ts
  cypress/support/db/firebase.ts
  cypress/support/hooks.ts
  scripts/test.e2e.js
  src/registerServiceWorker.ts
  src/stores/databaseV2/endpoints.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

test error handling
  cypress/support/commands.ts
  cypress/support/hooks.ts
Due: tslint --project cypress/tsconfig.json --config tslint.json

fix selectOption
  cypress/integration/settings.spec.ts
Due: tslint --project cypress/tsconfig.json --config tslint.json

test tidying
  cypress/fixtures/seed/index.ts
  cypress/integration/bugs.spec.ts
  cypress/support/commands.ts
  cypress/support/db/firebase.ts
  cypress/support/hooks.ts
  scripts/test.e2e.js
Due: tslint --project cypress/tsconfig.json --config tslint.json, tslint

test db improvements
  cypress/fixtures/seed/index.ts
  cypress/integration/howto/write.spec.ts
  cypress/integration/settings.spec.ts
  cypress/support/commands.ts
  cypress/support/db/firebase.ts
  cypress/support/hooks.ts
Due: tslint --project cypress/tsconfig.json --config tslint.json

hotfix - useful button display and typings
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoUsefulStats.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

add research module listing
  src/components/Research/ResearchListItem.tsx
  src/mocks/research.mocks.tsx
  src/models/research.models.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/research.mocks.tsx
  src/pages/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

setup research update steps
  src/components/ImageGallery/index.tsx
  src/components/Research/ResearchListItem.tsx
  src/mocks/research.mocks.tsx
  src/models/research.models.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/Content/Update.tsx
  src/pages/Research/index.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

finish first research module layout
  src/components/Research/ResearchListItem.tsx
  src/mocks/research.mocks.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/Update.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

pr revision #1105
  functions/src/userUpdates/backupUser.ts
  functions/src/userUpdates/index.ts
Due: none

pr review #1110
  src/components/Research/ResearchListItem.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
Due: tslint --project tsconfig.json --config tslint.json

add research mod label
  .github/labels.yml
  .github/pr-labeler.config.yml
Due: none

add 'add research' form
  src/mocks/research.mocks.tsx
  src/models/research.models.tsx
  src/pages/Research/Content/Common/Comparisons.tsx
  src/pages/Research/Content/Common/PostingGuidelines.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/SubmitStatus.tsx
  src/pages/Research/Content/CreateResearch/Template.tsx
  src/pages/Research/Content/CreateResearch/index.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/research.routes.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

add moderation view to research
  src/components/EventCard/EventCard.tsx
  src/components/HowToCard/HowToCard.tsx
  src/components/ModerationStatusText/index.tsx
  src/components/Research/ResearchListItem.tsx
  src/components/Text/index.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
Due: tslint --project tsconfig.json --config tslint.json

setup research moderation, drafting and filtering
  src/components/ModerationStatusText/index.tsx
  src/components/Research/ResearchListItem.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/EditResearch/index.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/research.routes.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

setup research editing
  src/pages/Research/Content/EditResearch/index.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

setup update adding
  src/mocks/research.mocks.tsx
  src/models/research.models.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Research/Content/Common/Comparisons.tsx
  src/pages/Research/Content/Common/SubmitStatus.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/Content/CreateUpdate/Template.tsx
  src/pages/Research/Content/CreateUpdate/index.tsx
  src/pages/Research/Content/EditUpdate/index.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/Update.tsx
  src/pages/Research/research.routes.tsx
  src/stores/Research/research.store.tsx
  src/utils/comparisons.ts
Due: tslint --project tsconfig.json --config tslint.json

research module creating: fixes and tidying
  src/components/Form/ImageInput.field.tsx
  src/components/Research/ResearchListItem.tsx
  src/models/research.models.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/Content/EditUpdate/index.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/Update.tsx
  src/pages/Research/research.routes.tsx
  src/stores/Research/research.store.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

pr #1116 dave review
  src/mocks/db.mock.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/Content/EditUpdate/index.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/Update.tsx
  src/pages/Research/research.routes.tsx
  src/stores/Research/research.store.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

Added notification
  src/pages/Settings/content/formSections/MapPin.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

clarify prop names
  src/components/EventCard/EventCard.tsx
  src/components/HowToCard/HowToCard.tsx
  src/components/ModerationStatusText/index.tsx
  src/components/Research/ResearchListItem.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

add protected research route
  src/models/user.models.tsx
  src/pages/PageList.tsx
  src/pages/Research/index.tsx
  src/pages/admin/Admin.tsx
  src/pages/admin/content/AdminBetaTesters.tsx
  src/pages/common/Header/Menu/MenuDesktop.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
  src/stores/Admin/admin.store.ts
Due: tslint --project tsconfig.json --config tslint.json

Change Profile Tips
  src/pages/Settings/content/PostingGuidelines.tsx
Due: tslint --project tsconfig.json --config tslint.json

change functions exec order
  functions/src/userUpdates/index.ts
Due: none

add catch for no updates
  src/components/Research/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

bump verson (1.4.0)
  package.json
Due: none

Change length research module
  src/pages/Research/Content/Common/Update.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

Fix Url profile
  src/pages/Settings/content/formSections/MapPin.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

increase max upload file size
  src/components/FileInput/UppyConfig.ts
Due: tslint --project tsconfig.json --config tslint.json
