Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

fix: generate pr channel IDs in action
  .github/workflows/pr-preview.yml
Due: none

chore: update docs
  .github/workflows/pr-preview.yml
Due: none

chore: test action trigger
  .github/workflows/pr-preview.yml
Due: none

chore: revert channelId changes
  .github/workflows/pr-preview.yml
Due: none

chore: revert triggers
  .github/workflows/pr-preview.yml
Due: none

chore: fix comment
  .github/workflows/pr-preview.yml
Due: none

chore: revert condition
  .github/workflows/pr-preview.yml
Due: none

feat: add ElWithBeforeIcon under packages/**
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.tsx
  packages/components/src/index.ts
Due: none

chore: add ElWithBeforeIcon.stories.tsx
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.stories.tsx
Due: none

feat: fix imports for ElWithBeforeIcon (use new from packages/)
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/User/content/ProfileLink.tsx
  src/pages/User/content/UserStats.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: delete old ElWithBeforeIcon
  src/components/ElWithBeforeIcon/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: lint problems with prettier
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.stories.tsx
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.tsx
  packages/components/src/Loader/Loader.stories.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: lint problems with prettier
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: add support for runtime test config
  functions/scripts/set-up-environment-variables.ts
  functions/src/config/config.ts
  functions/src/seo/sitemapGenerate.ts
Due: none

test: add seo tests
  functions/src/seo/seo.test.ts
Due: none

chore: code tidying
  functions/src/seo/seo.test.ts
Due: none

chore: migrate DropdownIndicator to components
  packages/components/src/DropdownIndicator/DropdownIndicator.tsx
  packages/components/src/index.ts
  src/components/Form/Select.field.tsx
  src/components/Tags/TagsSelect.tsx
  src/pages/Howto/Category/CategoriesSelect.tsx
  src/pages/Howto/Content/HowtoList/SortSelect.tsx
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: ResearchUpdate edit button layout shift
  src/pages/Research/Content/ResearchUpdate.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: fix research update edit button layout shift
  src/pages/Research/Content/ResearchUpdate.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: fix research update edit button position
  src/pages/Research/Content/ResearchUpdate.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: seed data to shared model
  functions/src/emulator/seed/users-create.ts
  packages/cypress/src/fixtures/seed/events.json
  packages/cypress/src/fixtures/seed/howtos.json
  packages/cypress/src/fixtures/seed/index.ts
  packages/cypress/src/fixtures/seed/mappins.json
  packages/cypress/src/fixtures/seed/research.json
  packages/cypress/src/fixtures/seed/tags.json
  packages/cypress/src/fixtures/seed/users.json
  packages/cypress/src/integration/howto/seo.spec.ts
  packages/cypress/src/integration/profile.spec.ts
  packages/cypress/src/support/db/firebase.ts
  shared/index.ts
  shared/mocks/auth/index.ts
  shared/mocks/auth/users.ts
  shared/mocks/data/events.ts
  shared/mocks/data/howtos.ts
  shared/mocks/data/index.ts
  shared/mocks/data/mappins.ts
  shared/mocks/data/research.ts
  shared/mocks/data/tags.ts
  shared/mocks/data/users.ts
  shared/mocks/index.ts
  shared/models/db.ts
  shared/models/index.ts
  shared/models/user.ts
  shared/tsconfig.json
  src/models/user.models.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: introduce coverage for editable comments
  packages/components/src/CommentItem/CommentItem.tsx
  packages/cypress/src/fixtures/seed/howtos.json
  packages/cypress/src/integration/howto/read.spec.ts
Due: none

fix: adds isEditable check to comments
  packages/components/src/CommentItem/CommentItem.tsx
  packages/cypress/src/integration/howto/read.spec.ts
  src/components/CommentList/CommentList.tsx
  src/models/index.ts
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: support is editable within Research Comments
  packages/components/src/CommentItem/CommentItem.tsx
  packages/cypress/src/fixtures/seed/research.json
  packages/cypress/src/integration/notifications.spec.ts
  packages/cypress/src/integration/research/comments.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: migration moderation status message
  packages/components/src/ModerationStatus/ModerationStatus.stories.tsx
  packages/components/src/ModerationStatus/ModerationStatus.tsx
  packages/components/src/index.ts
  src/pages/Events/EventCard/EventCard.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: effc752c52599b0cc18421dcd7d5be07336365a4
  storybook-static/iframe.html
  storybook-static/main.43adfda2.iframe.bundle.js
  storybook-static/main.8ca5d4df.iframe.bundle.js
Due: tslint

refactor(ElWithBeforeIcon): prop "size" as a number
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor(ElWithBeforeIcon): replace height/width props to "size"
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.stories.tsx
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor(ElWithBeforeIcon): add types and constant with default icon size, improve styles hierarchy
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.tsx
Due: none

refactor(ElWithBeforeIcon): rename prop IconUrl to icon
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.stories.tsx
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/User/content/ProfileLink.tsx
  src/pages/User/content/UserStats.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: delete old ElWithBeforeIcon
  src/components/ElWithBeforeIcon/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: move seed data from fixtures
  packages/cypress/src/data/index.ts
  packages/cypress/src/fixtures/seed/index.ts
  packages/cypress/src/integration/howto/seo.spec.ts
  packages/cypress/src/integration/profile.spec.ts
  packages/cypress/src/support/db/firebase.ts
  shared/mocks/data/index.ts
Due: none

deploy: a37ad6f0e2abb8f95cb2caa7e09af522132304d6
  storybook-static/iframe.html
  storybook-static/main.43adfda2.iframe.bundle.js
  storybook-static/main.7f41aaee.iframe.bundle.js
Due: tslint

chore: migrate notifications to component
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  packages/components/src/NotificationItem/NotificationItem.stories.tsx
  packages/components/src/NotificationItem/NotificationItem.tsx
  packages/components/src/NotificationList/NotificationList.stories.tsx
  packages/components/src/NotificationList/NotificationList.tsx
  packages/components/src/index.ts
  src/components/Notifications/NotificationList.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsDesktop.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsMobile.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsModal.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

test: make validation less brittle
  packages/components/src/NotificationList/NotificationList.tsx
  packages/cypress/src/integration/notifications.spec.ts
Due: none

chore: introduce type for NotificationList
  packages/components/src/NotificationItem/NotificationItem.tsx
  packages/components/src/NotificationList/NotificationList.stories.tsx
  packages/components/src/NotificationList/NotificationList.tsx
  packages/components/src/index.ts
  src/pages/common/Header/Menu/Notifications/NotificationsDesktop.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsMobile.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: bd968ea55c2bf2e94b5a526686262ca2af71d072
  storybook-static/iframe.html
  storybook-static/main.6dd887b6.iframe.bundle.js
  storybook-static/main.7f41aaee.iframe.bundle.js
  storybook-static/static/media/howto-header-icon.c3d286f3.svg
  storybook-static/static/media/icon-checkmark.d014020f.svg
Due: tslint
