Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

4211 add questions to contributions (#4238)
  packages/components/src/UserStatistics/UserStatistics.tsx
  packages/cypress/src/integration/profile.spec.ts
  src/pages/User/content/ProfileDetails.tsx
  src/pages/User/content/UserCreatedDocuments.test.tsx
  src/pages/User/content/UserCreatedDocuments.tsx
  src/pages/User/content/UserCreatedDocumentsItem.tsx
  src/pages/User/content/UserProfile.tsx
  src/pages/User/types.ts
  src/routes/_.u.$id._index.tsx
  src/services/questionService.server.test.ts
  src/services/questionService.server.ts
  supabase/migrations/20250523104253_20250523_add-get-user-questions.sql
Due: tslint --project tsconfig.json --config tslint.json

chore: throw error details to UI
  packages/cypress/src/integration/news/write.spec.ts
  src/routes/api.news.ts
  src/services/newsService.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: old notifications for research update
  packages/cypress/src/integration/research/write.spec.ts
  src/routes/api.research.$id.updates.$updateId.ts
  src/routes/api.research.$id.updates.ts
  src/routes/api.research.ts
  src/services/notificationsService.server.ts
  src/services/subscribersService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: tweak email templates
  supabase/functions/send-email/_templates/components/button.tsx
  supabase/functions/send-email/_templates/components/header.tsx
  supabase/functions/send-email/_templates/components/heading.tsx
  supabase/functions/send-email/_templates/instant-notification-email.tsx
  supabase/functions/send-email/_templates/layout.tsx
Due: none

test: add more research update specs
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

Feat: Move comment actions hide modal
  packages/components/src/ActionSet/ActionSet.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/CommentDisplay/CommentDisplay.tsx
  packages/components/src/Icon/Icon.tsx
Due: none

feat: change notification logic for discussions
  packages/components/src/ActionSet/ActionSet.tsx
  packages/components/src/CommentDisplay/CommentDisplay.tsx
  packages/components/src/CommentItem/CommentItem.tsx
  packages/cypress/src/integration/news/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  packages/cypress/src/support/commandsUi.ts
  shared/mocks/data/users.ts
  src/routes/api.discussions.$sourceType.$sourceId.comments.ts
  src/services/subscribersService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: change notification logic for discussions
  packages/components/assets/icons/discussion-follow.svg
  packages/components/assets/icons/discussion-unfollow.svg
  packages/components/assets/icons/edit.svg
  packages/components/assets/icons/report.svg
  packages/components/src/ActionSet/ActionSet.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/CommentDisplay/CommentDisplay.tsx
  packages/components/src/FollowButton/FollowButton.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  packages/components/src/index.ts
  packages/components/src/utils.ts
  packages/cypress/src/integration/news/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  packages/cypress/src/support/commandsUi.ts
  shared/models/common.ts
  shared/models/research.ts
  src/common/FollowButtonAction.tsx
  src/pages/News/NewsPage.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Research/Content/ResearchArticlePage.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/common/CommentsSupabase/CollapsableCommentSection.tsx
  src/pages/common/CommentsSupabase/CommentItemSupabase.tsx
  src/services/notificationSupabaseService.server.ts
  src/test/factories/ResearchItem.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: deno.lock
  supabase/functions/send-email/deno.lock
Due: none

project form
  src/pages/Library/Content/Common/LibraryCategory.field.tsx
  src/pages/Library/Content/Page/LibraryDescription.tsx
  src/pages/Library/library.service.ts
  src/routes/api.projects.ts
  src/stores/Maps/maps.store.ts
  src/stores/common/module.store.ts
  src/test/factories/Comment.ts
  src/test/factories/Library.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: improve reset password and sign-up flow
  src/routes/_.email-confirmation.tsx
  src/routes/_.sign-up-message.tsx
  src/routes/_.update-password.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: improve reset password and sign-up flow (#4255)
  src/routes/_.email-confirmation.tsx
  src/routes/_.sign-up-message.tsx
  src/routes/_.update-password.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  03/82aed15824c85c3acb18ce924e7bbc23912a67
Due: none

feat: add intermediate step for reseting password
  src/routes/_.update-password.tsx
  supabase/functions/send-email/_templates/reset-password.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix encode
  supabase/functions/send-email/_templates/reset-password.tsx
Due: none

feat: add intermediate step for reseting password (#4256)
  src/routes/_.update-password.tsx
  supabase/functions/send-email/_templates/reset-password.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  b4/42dee73b0e5e91895fb5daf9551037b6e327cf
Due: none

wip
  shared/models/library.ts
  src/pages/Library/Content/Common/Library.form.tsx
  src/pages/Library/Content/Common/LibraryButtonPublish.tsx
  src/pages/Library/Content/Common/LibraryCoverImage.field.tsx
  src/pages/Library/Content/Common/LibraryDifficulty.field.tsx
  src/pages/Library/Content/Common/LibraryFileUpload.field.tsx
  src/pages/Library/Content/Common/LibraryStep.field.tsx
  src/pages/Library/labels.ts
  src/pages/Library/library.service.ts
  src/routes/_.library.create.tsx
  src/routes/api.projects.ts
Due: tslint --project tsconfig.json --config tslint.json

4214 - Remove not necessary config.yaml
  .ddev/config.yaml
Due: none

wip library
  src/pages/Library/Content/Common/LibraryStep.field.tsx
  src/pages/Library/Content/Common/LibraryStepsContainer.field.tsx
  src/pages/Library/Content/Page/Library.test.tsx
  src/pages/Library/Content/Page/ProjectPage.tsx
  src/pages/Library/labels.ts
  src/pages/Library/library.service.ts
  src/routes/_.library.$slug._index.tsx
  src/routes/api.documents.$type.$contentId.$docId.tsx
  src/routes/api.projects.ts
  src/services/libraryService.server.ts
  src/utils/contentType.utils.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: not showing the right user contact component
  .env
  packages/cypress/src/integration/profile.spec.ts
  src/pages/User/contact/UserContactFormAvailable.tsx
  src/pages/User/contact/UserContactNotLoggedIn.tsx
  src/pages/User/content/ProfileContact.tsx
  src/pages/User/content/UserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  74/39c3daff0ad92755b2183d30b158a41b2af046
Due: none

fix: update allowed domains
  .env
  server.js
Due: tslint

Notes added by 'git notes add'
  bf/618088bba88cc49b6aa2a074cbf2496b10ba5f
Due: none

feat(functions): display confetti on content creation and user signup (#4219)
  package.json
  src/pages/Library/Content/Common/Library.form.tsx
  src/pages/Question/Content/Common/QuestionForm.tsx
  src/pages/Research/Content/Common/ResearchForm.tsx
  src/routes/_.email-confirmation.tsx
  src/utils/fireConfetti.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

gap, border thickness and moving member history to components folder
  packages/components/src/MemberHistory/MemberHistory.test.tsx
  packages/components/src/MemberHistory/MemberHistory.tsx
  packages/components/src/index.ts
  src/pages/User/content/ProfileDetails.tsx
  src/pages/User/content/UserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

lint fixes
  packages/components/src/MemberHistory/MemberHistory.test.tsx
  src/pages/User/content/UserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

added Member History to profile and made changes for UserStatistics
  src/pages/User/content/MemberHistory.tsx
  src/pages/User/content/ProfileDetails.tsx
  src/pages/User/content/UserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

lint fixes
  src/pages/User/content/MemberHistory.tsx
  src/pages/User/content/UserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: change notification logic for discussions
  packages/components/src/ActionSet/ActionSet.tsx
  packages/components/src/CommentDisplay/CommentDisplay.tsx
  packages/components/src/CommentItem/CommentItem.tsx
  packages/cypress/src/integration/news/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  packages/cypress/src/support/commands.ts
  packages/cypress/src/support/commandsUi.ts
  shared/mocks/data/users.ts
  src/routes/api.discussions.$sourceType.$sourceId.comments.ts
  src/services/subscribersService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
