Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

chore: refactor to remove console.log
  src/pages/Settings/SettingsPage.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: enforce arrow style functions in SPA
  package.json
  src/.eslintrc.json
  yarn.lock
Due: none

chore: throw error in lint as warnings will fail build
  .eslintrc.json
Due: none

fix: handle removing first item from Contact and links
  src/models/user.models.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: add e2e coverage for editing contact and links item
  packages/cypress/src/integration/settings.spec.ts
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: remove disabled attr
  src/pages/Settings/content/formSections/Fields/ProfileLink.field.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: remove delete button from ProfileLinkField when it is the only item
  src/pages/Settings/content/formSections/Fields/ProfileLink.field.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: add linting to catch alerts
  .eslintrc.json
  packages/components/.eslintrc.json
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(notifications): transform function and template
  functions/src/emailNotifications/createEmail.spec.ts
  functions/src/emailNotifications/createEmail.ts
  functions/src/emailNotifications/template.handlebars
  functions/src/models.ts
  src/models/index.ts
  src/models/notifications.models.tsx
  src/modules/admin/pages/adminNotifications.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: added tests for research viewcounter
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  shared/mocks/data/research.ts
Due: none

fix: add default one army flag if user has not declared a country
  packages/components/src/Username/Username.tsx
Due: none

fix: add unknown flag icon
  packages/components/assets/icons/flag-unknown.svg
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  packages/components/src/Username/Username.tsx
Due: none

test(components): introduce testing framework
  packages/components/package.json
  packages/components/src/Username/Username.stories.tsx
  packages/components/src/Username/Username.test.tsx
  packages/components/src/Username/Username.tsx
  packages/components/src/tests/setup.ts
  packages/components/src/tests/utils.tsx
  packages/components/vite.config.ts
  yarn.lock
Due: none

chore(ci): add component tests
  .circleci/config.yml
  package.json
Due: none

chore: removed unused variable
  packages/cypress/src/integration/research/read.spec.ts
Due: none

Notes added by 'git notes add'
  320621de071b2950aa0ebb02f1c8cd9006954ae4
Due: none

chore: prevent console log
  src/.eslintrc.json
Due: none

chore: introduce logger instead of using console.log
  src/common/Error/handler.ts
  src/logger/index.ts
  src/modules/admin/pages/adminUsers.tsx
  src/pages/Maps/Maps.tsx
  src/pages/common/UploadedFile/FirebaseFileUploader.tsx
  src/serviceWorkerRegistration.ts
  src/stores/Admin/admin.store.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/Theme/theme.store.tsx
  src/stores/User/user.store.ts
  src/stores/databaseV2/CollectionReference.tsx
  src/stores/databaseV2/clients/dexie.tsx
  src/utils/firebase.ts
Due: tslint --project tsconfig.json --config tslint.json

deploy: 12fdec8e0cfcfe30aee45f81bdd821ed427bc843
  storybook-static/iframe.html
  storybook-static/main.5b679064.iframe.bundle.js
  storybook-static/main.be05cb0b.iframe.bundle.js
  storybook-static/project.json
Due: tslint

deploy: 49bd74944fb069523cf7bdb600fc2dd1ad6a89ba
  storybook-static/project.json
Due: none

chore: address linting failures
  packages/cypress/src/support/commands.ts
Due: none

chore: remove force:true
  packages/cypress/src/integration/howto/write.spec.ts
Due: none

chore: make no-force rule stricter
  packages/cypress/.eslintrc.json
Due: none

chore: lint fix
  src/pages/Settings/UserBadgeSettings.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 9d735d2684d37b01a038655c4e7838b324aa7c4f
  storybook-static/iframe.html
  storybook-static/main.6bf3408d.iframe.bundle.js
  storybook-static/main.be05cb0b.iframe.bundle.js
  storybook-static/project.json
Due: tslint

chore: address filename formatting
  .eslintrc.json
  .github/workflows/reset-staging-site.yml
  packages/documentation/docs/Server Maintenance/data-migration.md
  scripts/installClean.ts
  scripts/maintenance/resetStagingSite.ts
  scripts/package.json
  scripts/postCraBuild.ts
  src/pages/common/ServiceWorkerUpdateNotification/ServiceWorkerUpdateNotification.tsx
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: rename Admin components
  .eslintrc.json
  src/modules/admin/components/AdminSubheader.tsx
  src/modules/admin/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: rename AbstractDatabaseClient
  .eslintrc.json
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/databaseV2/clients/firestore.tsx
  src/stores/databaseV2/clients/rtdb.tsx
  src/stores/databaseV2/types/AbstractDatabaseClient.ts
  src/stores/databaseV2/types/index.d.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: ignore types
  .eslintrc.json
  types/.eslintrc.json
Due: none

chore: ignore service-worker
  .eslintrc.json
Due: none

chore: ignore docusauraus github
  packages/documentation/.eslintrc.json
Due: none

chore: formatting
  .eslintrc.json
Due: none

chore: explicitly name Precious Plastic user model
  .eslintrc.json
  src/models/index.ts
  src/models/maps.models.tsx
  src/models/userPreciousPlastic.models.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/Template.tsx
  src/pages/Settings/content/formSections/Collection.section.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/stores/Maps/maps.store.ts
  src/stores/User/notifications.store.ts
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

deploy: 3e1f44d8848b8f4c9dcc8680494e90a2524051ed
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Backend Development/tests/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/add03776.bee7771f.js
  assets/js/add03776.e59fbefa.js
  assets/js/runtime~main.3bcf7f3e.js
  assets/js/runtime~main.81d8c272.js
  index.html
  storybook-static/project.json
Due: tslint

chore: refactor analytics into component
  packages/components/src/CommentList/CommentList.tsx
  src/common/Analytics/GoogleAnalytics.tsx
  src/common/Analytics/index.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  af72791d634718db3729fe20d912250f1bf3f8d0
Due: none

chore: refactor to remove use of prototype built ins
  packages/components/src/Button/Button.tsx
  packages/components/src/CreateComment/CreateComment.tsx
  packages/emulators-docker/src/common.ts
  shared/messages.ts
  src/common/Form/ImageInput/ImageInput.tsx
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
  src/pages/User/content/UserContactAndLinks.tsx
  src/stores/Aggregations/aggregations.store.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/maps.store.ts
  src/stores/common/module.store.ts
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor to remove or ignore irregular white space
  packages/components/src/SiteFooter/SiteFooter.tsx
  src/stores/common/mentions/index.ts
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
