Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

chore: refactor commitlint config in ts
  commitlint.config.js
  commitlint.config.ts
Due: tslint

feat: add interactive commit util
  package.json
  yarn.lock
Due: none

fix(commitlint): husky hooks
  .husky/common.sh
  .husky/prepare-commit-msg
Due: none

feat(commitlint): add custom formatter
  commitlint.format.ts
Due: none

chore(ci): adds linting deps
  .circleci/config.yml
Due: none

chore: remove pinst
  yarn.lock
Due: none

chore: remove dev api
  functions/src/dev/index.ts
Due: none

chore: override print width
  functions/src/dev/index.ts
Due: none

refactor!: remove dev api from prod builds
  functions/src/dev/index.ts
  functions/src/index.ts
Due: none

chore: label automatically generated PRs
  .github/workflows/merge-to-production.yml
Due: none

feat: adds logflare drain
  package.json
  src/config/constants.ts
  src/logger/index.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

feat: reduce log level to support info messages being logged
  src/logger/index.ts
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): 🔥 trash package manifest for this step
  .circleci/config.yml
Due: none

docs: adds an overview for setting up a new instance
  packages/documentation/docs/Install.md
Due: none

chore: automated releases
  .circleci/config.yml
  .releaserc.json
Due: none

chore(ci): ignore wider project configuration
  .circleci/config.yml
Due: none

chore: adds context containing GITHUB_TOKEN
  .circleci/config.yml
Due: none

chore(ci): adds semantic release deps
  .releaserc.json
  package.json
  yarn.lock
Due: none

Added funding button to Github
  FUNDING.yml
Due: none

docs: update pr template to link through to commit
  .github/pull_request_template.md
Due: none

feat: increases max length for a Research introduction
  src/pages/Research/Content/Common/Research.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: apply formatting to commitlint config
  commitlint.format.ts
Due: none

chore: output original commit msg with error
  commitlint.format.ts
Due: none

feat: change email functionality
  src/pages/Settings/content/formSections/AccountSettings.section.tsx
  src/pages/Settings/content/formSections/ChangeEmail.form.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): adds job to build functions
  .circleci/config.yml
Due: none

chore: update uppy 1 -> 2
  package.json
  src/components/FileInput/FileInput.tsx
  src/components/FileInput/UppyConfig.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): cleans up .lock file
  yarn.lock
Due: none

chore(ci): flip switch to publish GitHub releases
  .releaserc.json
Due: none

style: update grouping filter desktop overlow
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): reduce overhead for release job
  .circleci/config.yml
Due: none

chore: adds community-platform
  package.json
Due: none

chore(ci): correct dependencies of build pipeline
  .circleci/config.yml
Due: none

Merge pull request #1410 from ONEARMY/docs/frontend-modules
  packages/documentation/docs/Frontend Development/modules.md
  packages/documentation/sidebars.js
Due: tslint

chore: update yarn 3.0.2 to 3.1.1 (#1442)
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore(ci): attach workspace
  .circleci/config.yml
Due: none

chore(ci): reduce resources for linting step
  .circleci/config.yml
Due: none

feat: combine desktop workshop filters to match mobile filters
  package.json
  src/pages/Maps/Content/Controls/GroupingFilter.css
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
  src/pages/Maps/Content/Controls/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): upgrade typescript to latest
  package.json
  tsconfig.json
  yarn.lock
Due: none

chore: update yarn lock
  yarn.lock
Due: none

chore: automate GitHub releases
  .circleci/config.yml
  .releaserc.json
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
