Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

fix: profileType undefined use member profile
  src/pages/User/content/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: remove tags filter from HowtoList
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: replace zero with dash on research listing
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: replace zeroes with dashes within research list item
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.test.ts
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  e5dfc7ee6acb78c627cabf6650ea9e55d197bb9c
Due: none

chore(ci): remove use of token for Firebase CLI authentication
  .circleci/config.yml
Due: none

docs: add guide on how to claim bounty
  packages/documentation/docs/Contributing/bounties.md
  packages/documentation/docs/Contributing/images/bounty1.png
  packages/documentation/docs/Contributing/images/bounty2.png
  packages/documentation/docs/Contributing/images/bounty3.png
  packages/documentation/docs/Contributing/images/open_collective_01.jpg
  packages/documentation/docs/Contributing/images/open_collective_02.jpg
Due: none

fix: used theme specific icons for fixing-fashion
  src/modules/profile/SupportedProfileTypesFactory.ts
  src/modules/profile/index.ts
  src/pages/Maps/Content/View/Cluster.tsx
  src/pages/Maps/Content/View/Sprites.tsx
  src/pages/User/workspace/Workspace.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: test profile type
  packages/cypress/src/integration/profile.spec.ts
  shared/mocks/data/users.ts
  src/pages/User/content/SpaceProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: avatar for other themes
  src/assets/images/themes/fixing-fashion/avatar_member.svg
  src/assets/images/themes/fixing-fashion/avatar_member_lg.svg
  src/assets/images/themes/fixing-fashion/avatar_member_sm.svg
  src/assets/images/themes/fixing-fashion/avatar_space_lg.svg
  src/assets/images/themes/fixing-fashion/avatar_space_sm.svg
  src/assets/images/themes/precious-plastic/avatar_member_lg.svg
  src/assets/images/themes/precious-plastic/avatar_member_sm.svg
  src/assets/images/themes/project-kamp/avatar_member_lg.svg
  src/assets/images/themes/project-kamp/avatar_member_sm.svg
  src/assets/images/themes/project-kamp/avatar_space_lg.svg
  src/assets/images/themes/project-kamp/avatar_space_sm.svg
  src/modules/profile/SupportedProfileTypesFactory.ts
  src/pages/Maps/Content/View/sprites.css
  src/themes/fixing-fashion/index.ts
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/index.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/index.ts
  src/themes/project-kamp/styles.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: enables admin users route
  src/modules/admin/admin.routes.tsx
  src/modules/admin/components/Table/Table.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: add maintainer offboarding checklist
  packages/documentation/docs/Contributing/maintainer.md
Due: none

docs: adds overview of PR flow
  packages/documentation/docs/Contributing/maintainer.md
Due: none

deploy: 8f3a2bbddf32a82979150ea0092cb114d0c2b902
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/148ff8f0.8127e2ff.js
  assets/js/148ff8f0.dfee5dd9.js
  assets/js/runtime~main.64d6c08e.js
  assets/js/runtime~main.72d267f1.js
  example.index/index.html
  index.html
  storybook-static/main.6891df21.iframe.bundle.js
Due: tslint

fix: support more username variants
  src/stores/common/mentions/index.test.ts
  src/stores/common/mentions/index.ts
Due: tslint --project tsconfig.json --config tslint.json

docs: add example of mention with word-joiner character
  packages/components/src/LinkifyText/LinkifyText.stories.tsx
Due: none

feat: handle invalid @mention
  src/stores/common/mentions/index.test.ts
  src/stores/common/mentions/index.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: preserve mentions when editing research update
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: formatting
  packages/components/src/LinkifyText/LinkifyText.stories.tsx
  src/stores/common/mentions/index.test.ts
  src/stores/common/mentions/index.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: handle add zero breaking space for non existent mentions
  src/stores/common/mentions/index.test.ts
  src/stores/common/mentions/index.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: css additions
  src/modules/admin/components/Table/HeadFilter.tsx
  src/modules/admin/components/Table/Table.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: add cypress test for category filter
  packages/cypress/src/integration/howto/read.spec.ts
  shared/mocks/data/categories.ts
  shared/mocks/data/howtos.ts
  shared/mocks/data/index.ts
Due: none

feat: introduce username component
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/InternalLink/InternalLink.stories.tsx
  packages/components/src/InternalLink/InternalLink.tsx
  packages/components/src/Username/Username.stories.tsx
  packages/components/src/Username/Username.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/events.spec.ts
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/profile.spec.ts
  src/common/AlertIncompleteProfile.tsx
  src/common/isUserVerified.ts
  src/components/VerifiedUserBadge/VerifiedUserBadge.test.skip.tsx
  src/components/VerifiedUserBadge/VerifiedUserBadge.tsx
  src/pages/Events/EventCard/EventCard.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/research.routes.test.skip.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  52a1d821943064467447c0039c45635b1d1adc56
Due: none

deploy: 01a88ebb2989ff5ea225eca078db5e1d8457e08f
  storybook-static/iframe.html
  storybook-static/main.6891df21.iframe.bundle.js
  storybook-static/main.d22557bc.iframe.bundle.js
Due: tslint

deploy: a3e6c359672df1fb0259d768bcb809a7b9c1b0e4
  storybook-static/iframe.html
  storybook-static/main.11f59cdd.iframe.bundle.js
  storybook-static/main.d22557bc.iframe.bundle.js
Due: tslint

Notes added by 'git notes add'
  d42cc2b31a6d8b2dc5c02fa71f50c14d2b8e9a03
Due: none

feat: add Apply button to map filters on mobile
  src/pages/Maps/Content/Controls/Controls.tsx
  src/pages/Maps/Content/Controls/GroupingFilterMobile.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: tests
  src/modules/profile/SupportedProfileTypesFactory.ts
  src/modules/profile/index.test.ts
  src/pages/User/workspace/Workspace.test.ts
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): introduces eslint sort rule
  .eslintrc.json
  package.json
  yarn.lock
Due: none

chore(formatting): apply sort order rule to classes
  src/common/Form/ImageInput/ImageConverter.tsx
  src/common/Form/ImageInput/ImageInput.tsx
  src/pages/Academy/ExternalEmbed/ExternalEmbed.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Events/Content/EventsListings/EventsListings.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/VirtualizedFlex/VirtualizedFlex.tsx
  src/pages/Maps/Content/Controls/GroupingFilterMobile.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Maps/Content/View/index.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/ProfileDelete.tsx
  src/pages/User/content/UserAdmin.tsx
  src/pages/admin/content/AdminBetaTesters.tsx
  src/pages/admin/content/AdminCategories.tsx
  src/pages/admin/content/AdminTags.tsx
  src/pages/admin/content/AdminUsers.tsx
  src/pages/common/UploadedFile/FirebaseFileUploader.tsx
  src/pages/common/UploadedFile/UploadedFile.tsx
  src/stores/Events/events.store.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/maps.store.ts
  src/stores/Platform/platform.store.tsx
  src/stores/Tags/tags.store.tsx
  src/stores/User/user.store.ts
  src/stores/_Template/template.store.tsx
  src/stores/common/module.store.ts
  src/stores/databaseV2/AbstractDatabase.ts
  src/stores/databaseV2/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: settings error styles
  src/pages/Settings/content/formSections/Collection.section.tsx
  src/pages/Settings/content/formSections/Expertise.section.tsx
  src/pages/Settings/content/formSections/Workspace.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: collection opening time error styling
  src/common/Form/Select.field.tsx
  src/pages/Settings/content/formSections/Fields/OpeningHoursPicker.field.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: add codeowners
  .github/CODEOWNERS
Due: none

fix: changed PlatformTheme import to relative path
  src/modules/profile/SupportedProfileTypesFactory.ts
  src/modules/profile/index.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: circular dependencies in type imports
  src/models/maps.models.tsx
  src/models/user_pp.models.tsx
  src/modules/profile/index.ts
  src/modules/profile/types.ts
  src/themes/types.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: profile type imports
  src/mocks/user_pp.mock.tsx
  src/pages/Maps/Content/Controls/transformAvailableFiltersToGroups.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/Template.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/index.tsx
  src/pages/User/workspace/Workspace.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  531b169252c370e89694606703e75e2b7ff315ac
Due: none

feat: extend the breakpoint for showing mobile filters UI
  src/pages/Maps/Content/Controls/Controls.tsx
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
  src/pages/Maps/Content/Controls/GroupingFilterMobile.tsx
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
