Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

ci
  scripts/test.e2e.js
Due: tslint

ci
  package.json
  scripts/test.e2e.js
  yarn.lock
Due: tslint

ci
  .circleci/config.yml
  scripts/test.e2e.js
Due: tslint

ci
  .circleci/config.yml
Due: none

remove cypress retries
  cypress.json
  cypress/plugins/index.js
  cypress/support/index.ts
Due: tslint --project cypress/tsconfig.json --config tslint.json, tslint

ci
  .circleci/config.yml
  package.json
  scripts/test.e2e.js
  yarn.lock
Due: tslint

Update useful star icon
  src/assets/icons/icon-star-active.svg
  src/assets/icons/icon-star-default.svg
  src/components/Icons/index.tsx
  src/components/Icons/svgs.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

Change useful count subscription to GET request
  src/pages/Howto/Content/Howto/Howto.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

Small code simplification
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

log tidying
  src/stores/databaseV2/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix new user not updated bug
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

refactor and fix howto useful stats
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoUsefulStats.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix icon
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoUsefulStats.tsx
Due: tslint --project tsconfig.json --config tslint.json

update pr preview
  .github/workflows/pr-preview.yml
Due: none

fix howto stat caching
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

update cypress file upload
  cypress/support/commands.ts
  cypress/tsconfig.json
  package.json
  yarn.lock
Due: tslint --project cypress/tsconfig.json --config tslint.json

improve ci firebase instance sharing
  cypress/support/db/endpoints.ts
  cypress/support/db/firebase.ts
  cypress/support/hooks.ts
  src/stores/databaseV2/endpoints.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json

tidy ci scripts
  scripts/test.e2e.js
Due: tslint

firebase auth fixes
  cypress/support/commands.ts
Due: tslint --project cypress/tsconfig.json --config tslint.json

fix tests
  .circleci/config.yml
  cypress/support/commands.ts
  cypress/support/db/endpoints.ts
  cypress/support/hooks.ts
  cypress/utils/test-utils.ts
  scripts/test.e2e.js
  src/stores/databaseV2/endpoints.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

Fix user last active
  functions/src/userUpdates/backupUser.ts
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

more test fixes
  cypress/support/db/firebase.ts
Due: tslint --project cypress/tsconfig.json --config tslint.json

prod test fixes and auth tidying
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

prod test fixes and auth tidying
  cypress/support/commands.ts
  cypress/support/db/endpoints.ts
  cypress/support/hooks.ts
  scripts/test.e2e.js
  src/utils/firebase.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

test improvements
  cypress/integration/events.spec.ts
  cypress/integration/howto/read.spec.ts
  cypress/integration/howto/write.spec.ts
  cypress/integration/settings.spec.ts
  cypress/support/commands.ts
  src/components/Tags/TagsSelect.tsx
  src/stores/databaseV2/endpoints.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json

re-enable testing prod build
  .circleci/config.yml
Due: none

test tidying
  cypress/integration/common.spec.ts
  cypress/integration/howto/read.spec.ts
  cypress/integration/howto/write.spec.ts
  cypress/integration/map.spec.ts
  cypress/integration/settings.spec.ts
  cypress/support/commands.ts
  cypress/support/hooks.ts
Due: tslint --project cypress/tsconfig.json --config tslint.json

update ci img
  .circleci/config.yml
Due: none

revert prod test config
  .circleci/config.yml
Due: none

more ci changes
  .circleci/config.yml
  scripts/test.e2e.js
Due: tslint

bump cypress version
  .circleci/config.yml
  package.json
  scripts/test.e2e.js
  yarn.lock
Due: tslint

fix ci yarn cache
  .circleci/config.yml
Due: none

ci browsers change
  .circleci/config.yml
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
