Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

chore(components): ignore any typing as #2096 removes it entirely
  packages/components/src/ViewsCounter/ViewsCounter.tsx
Due: none

chore(components): apply formatting to ImageGallery
  packages/components/src/ImageGallery/ImageGallery.tsx
Due: none

chore(components): refactor types
  packages/components/src/MapWithDraggablePin/MapWithDraggablePin.tsx
  packages/components/src/OsmGeocoding/OsmGeocoding.tsx
  packages/components/src/Select/Select.stories.tsx
  packages/components/src/Select/Select.tsx
  packages/components/types/theme.d.ts
Due: none

docs: adds example of ViewsCounter
  packages/components/src/ViewsCounter/ViewsCounter.stories.tsx
Due: none

chore: refactor component to remove useTheme
  packages/components/src/ViewsCounter/ViewsCounter.tsx
Due: none

docs: additional backend tests docs
  packages/documentation/docs/Backend Development/tests.md
Due: none

fix: admin notifications legacy format
  src/modules/admin/pages/adminNotifications.tsx
  src/pages/common/Header/getFormattedNotifications.tsx
  src/stores/databaseV2/DocReference.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: update md guide
  packages/documentation/docs/Docs Contribution/md-style-guide.md
Due: none

deploy: f4d6a8e365cd3e1b1da92ff286ca4a9fee5681ce
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/90603c04.4d0093b3.js
  assets/js/90603c04.8d1b7567.js
  assets/js/runtime~main.62b2579b.js
  assets/js/runtime~main.f525ef6d.js
  index.html
  storybook-static/project.json
Due: tslint

Notes added by 'git notes add'
  57c9e4ec9981161b08acece292db4fa87e871eb7
Due: none

fix: added top margin to UserContactAndLinks
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserContactAndLinks.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: added missing await in dbref set
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: removed console logs
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  154b57defee791dc2776a91a71561331ef8bc6ab
Due: none

Changed the discord link in the Join our Chat
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 6902da645130be8e6705bfa47f063612428dadf2
  storybook-static/iframe.html
  storybook-static/main.20f4836e.iframe.bundle.js
  storybook-static/main.e2531c72.iframe.bundle.js
  storybook-static/project.json
Due: tslint

fix: adds verified badge to username
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: Changed the discord link in join our chat
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: changed the discord link in join our chat
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: changed discord link in join our chat
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: adds check for verified badge
  packages/components/src/Username/Username.tsx
  src/pages/Howto/Content/Howto/Howto.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: a57c17e0dbb8f6ac2bc5626200087b8a43c14d4f
  storybook-static/iframe.html
  storybook-static/main.20f4836e.iframe.bundle.js
  storybook-static/main.6443fcd7.iframe.bundle.js
  storybook-static/project.json
Due: tslint

fix: run prettier
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove useless comments
  src/pages/Howto/Content/Howto/Howto.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove empty beforeAll
  src/pages/Howto/Content/Howto/Howto.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: remove empty test suite
  src/pages/Howto/Howto.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: align how-to-CTA
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: correct plural of step(s)
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: empty active howto when unloading component
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor analytics into component
  packages/components/src/CommentList/CommentList.tsx
  src/common/Analytics/GoogleAnalytics.tsx
  src/common/Analytics/index.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: experiment with plausible
  package.json
  public/index.html
  src/common/Analytics/index.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  ee2f5886ab0c8175e0bc64057cd42f14494d34e3
Due: none

fix: added fetching from server for views
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: added tests to check that data is fetched from server
  src/stores/Howto/howto.store.test.ts
  src/stores/Research/research.store.test.ts
  src/test/factories/Howto.ts
  src/test/factories/ResearchItem.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: fixed failing tests
  src/stores/Howto/howto.store.test.ts
  src/stores/Research/research.store.test.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: added unit test for download count incrementation
  src/stores/Howto/howto.store.test.ts
  src/stores/Research/research.store.test.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: improved test
  src/stores/Howto/howto.store.test.ts
  src/stores/Research/research.store.test.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: reverted changes to Button component
  packages/components/src/Button/Button.tsx
Due: none
