Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

4163 - Add tests, clean up and update delete account feature
  packages/components/src/ConfirmModal/ConfirmModal.tsx
  packages/components/src/ConfirmModalWithForm/ConfirmModalWithForm.stories.tsx
  packages/components/src/ConfirmModalWithForm/ConfirmModalWithForm.test.tsx
  packages/components/src/ConfirmModalWithForm/ConfirmModalWithForm.tsx
  packages/components/src/DeleteProfileModal/DeleteProfileModal.stories.tsx
  packages/components/src/DeleteProfileModal/DeleteProfileModal.tsx
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/plugins/index.ts
  src/pages/UserSettings/content/fields/DeleteAccount.field.tsx
  src/pages/UserSettings/labels.d.ts
  src/pages/UserSettings/labels.js
  src/pages/UserSettings/labels.ts
  src/routes/api.profile.delete.ts
  src/services/userService.server.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint

fix: show duplicate error
  src/common/Form/FormWrapper.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: library moderation draft and cover image upload (#4321)
  src/common/Form/FormWrapper.tsx
  src/routes/api.projects.$id.ts
  src/routes/api.projects.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  67/632b6a19812e629832a83126a3be430c165ea5
Due: none

feat: all consistent draft behaviour
  .snaplet/dataModel.json
  packages/components/src/utils.ts
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  shared/mocks/data/library.ts
  shared/models/content.ts
  shared/models/library.ts
  shared/models/news.ts
  shared/models/question.ts
  shared/models/research.ts
  src/common/Form/FormWrapper.tsx
  src/pages/Library/Content/Common/Library.form.tsx
  src/pages/News/Content/Common/NewsForm.tsx
  src/pages/Question/Content/Common/QuestionForm.tsx
  src/pages/Research/Content/Common/ResearchForm.tsx
  src/pages/Research/Content/Common/ResearchUpdateForm.tsx
  src/pages/Research/labels.ts
  src/routes/api.news.$id.ts
  src/routes/api.news.ts
  src/routes/api.questions.$id.ts
  src/routes/api.questions.ts
  src/services/newsService.ts
  src/test/factories/Library.ts
  src/test/factories/News.ts
  src/test/factories/Question.ts
  src/test/factories/ResearchItem.ts
  supabase/migrations/20250625162400_update_questions_news_is_draft.sql
Due: tslint --project tsconfig.json --config tslint.json

deploy: e215db5e45cca7ea6638846d79e8a56c235b256c
  storybook-static/project.json
Due: none

feat/Format fix
  packages/components/src/Map/Map.client.tsx
Due: none

feat: change map tiles to english only
  packages/components/src/Map/Map.client.tsx
  server.js
  src/styles/leaflet.css
Due: tslint

feat: add logged out email notifications flow
  .circleci/config.yml
  .env
  package.json
  packages/components/src/GridForm/GridForm.tsx
  packages/components/src/index.ts
  shared/models/notificationsPreferences.ts
  shared/models/other.ts
  src/pages/UserSettings/SupabaseNotificationsForm.tsx
  src/pages/UserSettings/SupabaseNotificationsViaEmail.tsx
  src/routes/_.email-preferences.tsx
  src/routes/api.notifications-preferences-via-email.$userCode.ts
  src/services/notificationEmailService.server.ts
  src/services/notificationsPreferencesViaEmailService.ts
  src/utils/tokens.server.ts
  supabase/functions/send-email/_templates/instant-notification-email.tsx
  supabase/functions/send-email/_templates/layout.tsx
  supabase/functions/send-email/index.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

chore: updated from feedback
  .circleci/config.yml
  src/pages/UserSettings/SupabaseNotificationsViaEmail.tsx
  src/routes/api.notifications-preferences-via-email.$userCode.ts
  src/services/notificationsPreferencesService.ts
  supabase/functions/send-email/_templates/email-change-new.tsx
  supabase/functions/send-email/_templates/instant-notification-email.tsx
  supabase/functions/send-email/_templates/layout.tsx
  supabase/functions/send-email/_templates/magic-link.tsx
  supabase/functions/send-email/_templates/moderation-email.tsx
  supabase/functions/send-email/_templates/reset-password.tsx
  supabase/functions/send-email/_templates/sign-up.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: email template bugs for various email clients
  shared/models/profile.ts
  supabase/functions/send-email/_templates/components/footer.tsx
  supabase/functions/send-email/_templates/instant-notification-email.tsx
  supabase/functions/send-email/_templates/layout.tsx
  supabase/functions/send-email/deno.json
  supabase/functions/send-email/index.ts
Due: none

Notes added by 'git notes add'
  8e/9f87c6eea9a4c41e321fb441a7f50a18b68669
Due: none

feat: add logged out email notifications flow (#4322)
  .circleci/config.yml
  .env
  package.json
  packages/components/src/GridForm/GridForm.tsx
  packages/components/src/index.ts
  shared/models/notificationsPreferences.ts
  shared/models/other.ts
  shared/models/profile.ts
  src/pages/UserSettings/SupabaseNotificationsForm.tsx
  src/pages/UserSettings/SupabaseNotificationsViaEmail.tsx
  src/routes/_.email-preferences.tsx
  src/routes/api.notifications-preferences-via-email.$userCode.ts
  src/services/notificationEmailService.server.ts
  src/services/notificationsPreferencesViaEmailService.ts
  src/utils/tokens.server.ts
  supabase/functions/send-email/_templates/components/footer.tsx
  supabase/functions/send-email/_templates/email-change-new.tsx
  supabase/functions/send-email/_templates/instant-notification-email.tsx
  supabase/functions/send-email/_templates/layout.tsx
  supabase/functions/send-email/_templates/magic-link.tsx
  supabase/functions/send-email/_templates/moderation-email.tsx
  supabase/functions/send-email/_templates/reset-password.tsx
  supabase/functions/send-email/_templates/sign-up.tsx
  supabase/functions/send-email/deno.json
  supabase/functions/send-email/index.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

test: try to make discussion tests less flacky
  packages/cypress/src/integration/news/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
Due: none

Notes added by 'git notes add'
  95/5cb49c371c8f47defd4bfe54f8bd08e2de077e
Due: none

feat: add preferences full unsubscribe
  shared/models/notificationsPreferences.ts
  src/pages/UserSettings/SupabaseNotifications.tsx
  src/pages/UserSettings/SupabaseNotificationsForm.tsx
  src/pages/UserSettings/SupabaseNotificationsViaEmail.tsx
  src/routes/api.notifications-preferences-via-email.$userCode.ts
  src/routes/api.notifications-preferences.ts
  src/services/notificationEmailService.server.ts
  src/services/notificationsPreferencesService.ts
  src/services/notificationsPreferencesViaEmailService.ts
  supabase/migrations/20250702155642_add_unsubscribe_to_preferences.sql
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  9d/7a2d582498e6c016c2713617d811df00e435de
Due: none

fix: complete research by author
  src/services/researchService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: complete research by author (#4325)
  src/services/researchService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  e0/2a70d83ea78d37174a6c43d6fbc21a1f036485
Due: none

wip
  package.json
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/pages/common/UserNameSelect/UserNameSelect.tsx
  src/pages/common/UserStoreWrapper.ts
  src/routes/api.profile.ts
  src/services/profileService.ts
  src/services/profilesService.ts
  src/stores/profile/profileStore.ts
  supabase/functions/send-email/deno.lock
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

feat: image transformations
  src/config/imageTransforms.ts
  src/services/libraryService.server.ts
  src/services/storageService.server.ts
  supabase/functions/send-email/deno.lock
Due: tslint --project tsconfig.json --config tslint.json

wip profile store
  functions/src/emailNotifications/createModerationEmails.ts
  functions/src/emailNotifications/createSubmissionEmails.ts
  functions/src/emailNotifications/templateHelpers.ts
  functions/src/emailNotifications/utils.test.ts
  functions/src/emailNotifications/utils.ts
  package.json
  shared/models/messages.ts
  shared/models/profile.ts
  shared/models/user.ts
  src/common/ProfileTags.tsx
  src/pages/News/NewsPage.tsx
  src/pages/User/content/ProfileDetails.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/pages/common/UserStoreWrapper.ts
  src/routes/_.tsx
  src/routes/api.profile.ts
  src/stores/User/profile.store.tsx
  src/stores/User/user.store.ts
  src/stores/profile/profileStore.ts
  src/test/factories/Message.ts
  src/utils/helpersNew.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: download image file upload
  src/routes/api.images.ts
  src/services/storageService.server.ts
  src/services/storageService.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: only notify discord on create if is not draft
  src/routes/api.news.ts
  src/routes/api.questions.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  bc/04d9d2fce6831e7cca85ce1f612305d943f8e0
Due: none

feat: add draft listing and tag on page
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/pages/News/NewsListHeader.tsx
  src/pages/News/NewsListing.tsx
  src/pages/News/NewsPage.tsx
  src/pages/News/newsContent.service.ts
  src/pages/Question/QuestionListHeader.tsx
  src/pages/Question/QuestionListing.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Question/question.service.ts
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/common/Drafts/DraftTag.tsx
  src/routes/api.news.drafts.count.ts
  src/routes/api.news.drafts.ts
  src/routes/api.projects.drafts.count.ts
  src/routes/api.questions.drafts.count.ts
  src/routes/api.questions.drafts.ts
  src/services/contentService.server.ts
  src/services/newsService.server.ts
  src/services/questionService.server.ts
  src/services/questionService.ts
  src/services/userService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: add follow button for all comment sections
  src/common/FollowButtonAction.tsx
  src/pages/Library/Content/Page/LibraryDescription.tsx
  src/pages/Library/Content/Page/ProjectPage.tsx
  src/pages/News/NewsPage.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/common/CommentsSupabase/CollapsableCommentSection.tsx
  src/pages/common/CommentsSupabase/CommentItemSupabase.tsx
  src/pages/common/CommentsSupabase/CommentSectionSupabase.tsx
Due: tslint --project tsconfig.json --config tslint.json

Added a boolen to disable the inputs
  src/pages/User/contact/UserContactFieldMessage.tsx
  src/pages/User/contact/UserContactFieldName.tsx
Due: tslint --project tsconfig.json --config tslint.json

Modified the UserContactForm to pass the boolean for the FieldMessage
  src/pages/User/contact/UserContactForm.tsx
Due: tslint --project tsconfig.json --config tslint.json

Importing the new component
  src/pages/User/content/ProfileContact.tsx
Due: tslint --project tsconfig.json --config tslint.json

New contact component for users not logged in and styles
  src/pages/User/contact/UserContactFormNotLoggedIn.tsx
  src/styles/userContactFormNotLoggedIn.ts
Due: tslint --project tsconfig.json --config tslint.json

Fix data-cy
  src/pages/User/contact/UserContactFormNotLoggedIn.tsx
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
