Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

chore: fix tests
  src/stores/Howto/howto.store.test.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: fix test
  src/stores/Howto/howto.store.test.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: styled linkify
  packages/components/package.json
  packages/components/src/ExternalLink/ExternalLink.tsx
  packages/components/src/LinkifyText/LinkifyText.tsx
  yarn.lock
Due: none

fix: mention names with underscores
  src/stores/common/mentions/index.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: update emulator seed data
  packages/emulators-docker/.gitignore
  packages/emulators-docker/Dockerfile
  packages/emulators-docker/seed_data/pp-2022-12-04.tar.gz
  packages/emulators-docker/src/common.ts
Due: none

feat: add seed content to emulators
  functions/src/Firebase/firestoreDB.ts
  functions/src/aggregations/common.aggregations.ts
  functions/src/emulator/index.ts
  functions/src/emulator/seed/content-generate.ts
  packages/emulators-docker/config/bootstrap.sh
  shared/mocks/auth/users.ts
Due: none

feat: add notifications aggregation
  functions/src/aggregations/common.aggregations.ts
  functions/src/aggregations/index.ts
  functions/src/aggregations/userNotifications.aggregations.ts
  shared/models/db.ts
  src/stores/databaseV2/clients/dexie.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: code tidying
  functions/src/aggregations/userNotifications.aggregations.ts
Due: none

chore: add emulator docker local start script
  package.json
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
Due: none

feat: add admin notifications page
  src/modules/admin/admin.routes.tsx
  src/modules/admin/pages/adminNotifications.tsx
  src/pages/common/Header/getFormattedNotifications.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 482057a91f1e552145be392b021c87e00201912d
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/23c1f925.bf7163c1.js
  assets/js/23c1f925.cd58b458.js
  assets/js/runtime~main.27ee2b2d.js
  assets/js/runtime~main.8c3b8dfd.js
  example.index/index.html
  index.html
  storybook-static/main.c6481afe.iframe.bundle.js
Due: tslint

chore: name build chunks
  src/modules/admin/admin.routes.tsx
  src/pages/Howto/Howto.tsx
  src/pages/PageList.tsx
  src/pages/Research/research.routes.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: add chunk load error handler
  src/App.tsx
  src/common/Error/ErrorBoundary.tsx
  src/common/Error/handler.ts
  src/common/Error/handlers/ChunkLoadError.tsx
  src/common/ErrorBoundary.tsx
  src/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: code tidying
  src/common/Error/ErrorBoundary.tsx
  src/common/Error/handlers/ChunkLoadError.tsx
  src/common/Error/handlers/Reloader.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: code tidying
  src/common/Error/handlers/ChunkLoadError.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: code tidying
  src/common/Error/ErrorBoundary.tsx
  src/common/Error/handlers/ChunkLoadError.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add nx workspace
  nx.json
  project.json
  yarn.lock
Due: none

refactor: build scripts
  .circleci/config.yml
  package.json
Due: none

refactor: start scripts
  .circleci/config.yml
  package.json
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  packages/documentation/docs/Backend Development/firebase-emulators.md
  project.json
  yarn.lock
Due: none

chore: code tidying
  project.json
Due: none

feat: add support for vite dev server
  commitlint.config.ts
  index.html
  package.json
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

chore: add server open
  vite.config.ts
Due: none

refactor: split vite tsconfig
  tsconfig.json
  tsconfig.vite.json
  vite.config.ts
Due: none

chore: revert notification svg update
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: code tidying
  tsconfig.json
Due: none

fix: docker emulator build triggers
  .github/workflows/docker-emulator-build.yml
Due: none

chore: make node version more explicit
  .nvmrc
  package.json
  packages/documentation/docs/Getting Started/setup.md
  scripts/preinstall.js
Due: tslint

fix: write build args to file for use in ci
  .github/workflows/docker-emulator-build.yml
  packages/emulators-docker/.gitignore
  packages/emulators-docker/src/paths.ts
  packages/emulators-docker/src/prepare.ts
Due: none

chore: test ci
  .github/workflows/docker-emulator-build.yml
Due: none

chore: ci
  packages/emulators-docker/src/prepare.ts
Due: none

chore: ci
  .github/workflows/docker-emulator-build.yml
  packages/emulators-docker/src/prepare.ts
Due: none

chore: ci
  .github/workflows/docker-emulator-build.yml
Due: none

chore: build args
  .github/workflows/docker-emulator-build.yml
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
