Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

feat(map): auto zoom levels for markers on map
  src/pages/Maps/Content/MapView/Cluster.client.tsx
  src/pages/Maps/Content/MapView/MapContainer.tsx
  src/pages/Maps/Content/MapView/MapView.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: Filter on profile type
  packages/components/src/CardProfile/CardDetailsMemberProfile.tsx
  packages/components/src/CardProfile/CardDetailsSpaceProfile.tsx
  packages/components/src/ProfileTagsList/ProfileTagsList.tsx
  packages/components/src/VisitorModal/VisitorModalHeader.test.tsx
  packages/components/src/VisitorModal/VisitorModalHeader.tsx
  packages/cypress/scripts/start.mts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commandsUi.ts
  src/common/ProfileTags.tsx
  src/pages/User/content/ProfileDetails.tsx
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/pages/UserSettings/content/sections/VisitorSection.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add new notification display style
  packages/components/package.json
  packages/components/src/NotificationListSupabase/NotificationListSupabase.tsx
  packages/components/src/NotificationsModal/NotificationsModal.stories.tsx
  packages/components/src/NotificationsModal/NotificationsModal.tsx
  packages/components/src/index.ts
  src/pages/common/Header/Menu/Notifications/NotificationsSupabase.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

feat: add email notifications for discussions
  package.json
  shared/models/other.ts
  shared/models/profile.ts
  src/repository/supabaseAdmin.server.ts
  src/routes/api.messages.tsx
  src/routes/api.notifications.ts
  src/services/notificationEmailService.server.ts
  src/services/notificationSupabaseService.server.ts
  supabase/README.md
  supabase/functions/send-email/_templates/components/box-text.tsx
  supabase/functions/send-email/_templates/components/button.tsx
  supabase/functions/send-email/_templates/components/footer.tsx
  supabase/functions/send-email/_templates/components/heading.tsx
  supabase/functions/send-email/_templates/components/hero.tsx
  supabase/functions/send-email/_templates/components/parent-box.tsx
  supabase/functions/send-email/_templates/components/plain-text.tsx
  supabase/functions/send-email/_templates/email-change-new.tsx
  supabase/functions/send-email/_templates/instant-notification-email.tsx
  supabase/functions/send-email/_templates/layout.tsx
  supabase/functions/send-email/_templates/magic-link.tsx
  supabase/functions/send-email/_templates/reset-password.tsx
  supabase/functions/send-email/_templates/sign-up.tsx
  supabase/functions/send-email/deno.json
  supabase/functions/send-email/getTenantSettings.ts
  supabase/functions/send-email/index.ts
  supabase/functions/send-email/signWebhookHeader.ts
  supabase/migrations/20250513090512_update_for_email_notifications.sql
  supabase/migrations/20250514163118_update_notifications.sql
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: reduce scope of hiding, only the form
  src/pages/User/content/ProfileContact.tsx
  src/pages/User/content/UserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add new component to show contacting availability
  src/pages/User/contact/UserContactFormAvailable.tsx
  src/pages/User/contact/index.ts
  src/pages/User/content/ProfileContact.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: formatting
  src/pages/User/content/ProfileContact.tsx
  src/pages/User/content/UserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: delete unit test for now
  src/pages/User/content/UserProfile.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

Update settings test
  packages/cypress/src/integration/settings.spec.ts
Due: none

fix: improve tests
  packages/cypress/src/integration/profile.spec.ts
  packages/cypress/src/integration/settings.spec.ts
Due: none

fix: typo
  packages/cypress/src/integration/profile.spec.ts
Due: none

fix: split test and use external user for visiting account
  packages/cypress/src/integration/profile.spec.ts
Due: none

fix: wring format
  packages/cypress/src/integration/profile.spec.ts
Due: none

fix: add context for CI
  packages/cypress/src/integration/profile.spec.ts
Due: none

Fixing Issue #4191 More clarity on comment and reply boxes
  src/pages/common/CommentsSupabase/CreateCommentSupabase.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: hsts
  .circleci/config.yml
  fly-ff.toml
  fly-pk.toml
  fly-pp.toml
Due: none

fix: hsts (#4235)
  .circleci/config.yml
  fly-ff.toml
  fly-pk.toml
  fly-pp.toml
Due: none

Notes added by 'git notes add'
  4f/18f6629b7374b931aab7f57b8e637d847776ce
Due: none

docs: Add online supabase instance instructions
  docs/supabase.md
Due: none

fix: hsts condition
  server.js
Due: tslint

fix: hsts condition (#4237)
  server.js
Due: tslint

Notes added by 'git notes add'
  03/24e48cd7953e3c463b4aba114768b9a38ea8aa
Due: none

added questions field
  src/pages/User/types.ts
Due: tslint --project tsconfig.json --config tslint.json

added question to type field
  src/pages/User/content/UserCreatedDocumentsItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

added new section for Questions
  src/pages/User/content/UserCreatedDocuments.tsx
Due: tslint --project tsconfig.json --config tslint.json

added called to getQuestionsByUser and passed into userCreatedDocs
  src/routes/_.u.$id._index.tsx
Due: tslint --project tsconfig.json --config tslint.json

added new getQuestionsByUser method
  src/services/questionService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: wrong name in test
  packages/cypress/src/integration/profile.spec.ts
Due: none

fix: linting issues
  src/pages/User/content/UserProfile.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: hide contact tab on users's own profile
  src/pages/User/content/UserProfile.test.tsx
  src/pages/User/content/UserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: tried to fix tests
  packages/cypress/src/integration/profile.spec.ts
  packages/cypress/src/integration/settings.spec.ts
Due: none
