Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

refactor: use relative paths
  functions/Dockerfile.emulator
Due: none

chore: simplify copy commands
  functions/Dockerfile.emulator
Due: none

chore: remove unused variable
  functions/Dockerfile.emulator
Due: none

chore: add back files that are needed
  functions/scripts/paths.ts
  functions/scripts/runtimeConfig/model.ts
  functions/scripts/runtimeConfig/write.ts
Due: none

chore: improve documentation
  functions/Dockerfile.emulator
Due: none

fix: make it work with old versions of compose
  docker-compose.yml
  functions/Dockerfile.emulator
Due: none

chore: fix formating
  functions/Dockerfile.emulator
Due: none

chore: fix
  docker-compose.yml
  functions/Dockerfile.emulator
  functions/data/emulator/database_export/.gitkeep
  functions/logs/firebase-debug.log
  functions/logs/firestore-debug.log
  functions/logs/pubsub-debug.log
  functions/logs/ui-debug.log
Due: none

chore: fix typo
  functions/logs/README.md
Due: none

chore: improve documentation
  packages/documentation/docs/Backend Development/firebase-emulator.md
Due: none

chore: fix formatting
  functions/Dockerfile.emulator
Due: none

chore: clarify documentation
  CONTRIBUTING.md
Due: none

chore: improve logging
  docker-compose.yml
  functions/logs/README.md
  functions/logs/database-debug.log
  functions/logs/firebase-debug.log
  functions/logs/firestore-debug.log
  functions/logs/pubsub-debug.log
  functions/logs/ui-debug.log
Due: none

chore: move emulator to folfolder
  docker-compose.yml
  functions/emulator/Dockerfile
  functions/logs/README.md
  packages/documentation/docs/Backend Development/firebase-emulator.md
Due: none

chore: remove reference to fixued issue
  CONTRIBUTING.md
Due: none

chore: move export script to own file
  functions/emulator/Dockerfile
  functions/emulator/easy-export.sh
  packages/documentation/docs/Backend Development/firebase-emulator.md
Due: none

chore: improve docs
  functions/emulator/export.js
  functions/emulator/link-logs.js
  packages/documentation/docs/Backend Development/firebase-emulator.md
Due: tslint

chore: make logging good
  docker-compose.yml
  functions/emulator/Dockerfile
  functions/emulator/easy-export.sh
  functions/emulator/export.js
  functions/emulator/link-logs.js
  functions/logs/.gitignore
  functions/logs/.gitkeep
  packages/documentation/docs/Backend Development/firebase-emulator.md
Due: tslint

feat: added testing
  functions/src/messages/messages.spec.ts
Due: none

chore: fix command and rename
  package.json
  packages/documentation/docs/Backend Development/firebase-emulator.md
Due: none

fix: lint
  functions/src/messages/messages.ts
  src/pages/User/contact/UserContactForm.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: test test test
  README.md
Due: none

fix: lint
  src/pages/User/contact/UserContactForm.tsx
  src/services/message.service.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: unit tests
  src/pages/User/contact/UserContactForm.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: try to fix chromatic step
  package.json
Due: none

chore: improve script
  scripts/postBuild.ts
Due: none

chore: improve log statement
  scripts/postBuild.ts
Due: none

chore: add log statement
  scripts/postBuild.ts
Due: none

fix: profile contact cypress test
  packages/cypress/src/integration/profile.spec.ts
Due: none

fix: display of mentions in discussion comments
  packages/cypress/src/integration/questions/discussions.spec.ts
  shared/mocks/data/discussions.ts
  src/stores/Discussions/discussions.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: imports
  src/pages/Research/Content/Common/ResearchUpdate.form.test.tsx
  src/pages/UserSettings/UserSettings.test.tsx
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: cy beforerun and afterun seed
  .circleci/config.yml
  packages/cypress/scripts/start.ts
  packages/cypress/src/plugins/index.ts
Due: none

chore: update dev dependencies
  package.json
  yarn.lock
Due: none

fix(functions): comment out notification tests in discussion specs
  packages/cypress/src/integration/howto/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
Due: none

test: time for question route to 15 seconds
  src/pages/Question/question.routes.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: increase timeout to 10 seconds
  vite.config.ts
Due: none

test: update new user details generator
  packages/cypress/src/utils/TestUtils.ts
Due: none
