Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

add stripe elements payment variant to settings page
  src/pages/UserSettings/SettingsPageAccount.tsx
  src/pages/UserSettings/content/fields/StripeIntegrationElements.tsx
  src/routes/api.stripe.ts
  src/services/stripeService.server.ts
  src/services/stripeService.ts
Due: tslint --project tsconfig.json --config tslint.json

remove tentantid needed for product - still wip for products
  src/pages/Supporter/SupporterPage.tsx
  src/pages/UserSettings/SettingsPageAccount.tsx
  src/pages/UserSettings/content/fields/StripeIntegration.tsx
  src/pages/UserSettings/content/fields/StripeIntegrationElements.tsx
  src/pages/UserSettings/content/fields/StripeIntegrationEmbedded.tsx
  src/routes/_.supporter._index.tsx
  src/routes/api.stripe.ts
  src/services/stripeService.server.ts
  src/services/stripeService.ts
Due: tslint --project tsconfig.json --config tslint.json

class refactor, optimizations, security fix
  src/routes/_.supporter._index.tsx
  src/routes/api.stripe.create-account.ts
  src/routes/api.stripe.link-account.ts
  src/routes/api.stripe.ts
  src/routes/api.stripe.webhook.ts
  src/services/stripeService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

auto-create guest account with random password after stripe payment to avoid orphaned customers
  src/pages/Supporter/SupporterContext.tsx
  src/pages/Supporter/SupporterPage.tsx
  src/pages/Supporter/ThankYouAccountForm.tsx
  src/routes/api.stripe.set-password.ts
  src/services/stripeService.ts
Due: tslint --project tsconfig.json --config tslint.json

handling existing account flow
  src/pages/Supporter/CheckoutView.tsx
  src/pages/Supporter/SupporterContext.tsx
  src/pages/Supporter/SupporterForm.tsx
  src/pages/Supporter/SupporterPage.tsx
  src/pages/Supporter/ThankYouAccountForm.tsx
  src/pages/Supporter/ThankYouLayout.tsx
  src/pages/Supporter/ThankYouLoginForm.tsx
  src/routes/_.supporter._index.tsx
  src/routes/api.stripe.create-account.ts
  src/routes/api.stripe.link-account.ts
  src/routes/api.stripe.ts
  src/services/stripeService.server.ts
  src/services/stripeService.ts
Due: tslint --project tsconfig.json --config tslint.json

more limits to admin only
  src/pages/Supporter/SupporterForm.tsx
  src/pages/Supporter/SupporterPage.tsx
  src/pages/UserSettings/SettingsPageAccount.tsx
  src/routes/_.supporter._index.tsx
  src/routes/api.stripe.create-account.ts
  src/routes/api.stripe.link-account.ts
  src/routes/api.stripe.ts
  src/routes/api.stripe.webhook.ts
  src/services/secretsService.server.ts
  src/services/stripeService.server.ts
  src/services/stripeService.ts
  supabase/migrations/20260220204336_add_stripe_customers.sql
  supabase/schemas/stripe.sql
Due: tslint --project tsconfig.json --config tslint.json

using vault for stripe secrets
  .env
  src/routes/api.stripe.ts
  src/routes/api.stripe.webhook.ts
  src/services/secretsService.server.ts
  src/services/stripeService.server.ts
  supabase/migrations/20260330052042_add_vault_secrets.sql
  supabase/schemas/stripe.sql
Due: tslint --project tsconfig.json --config tslint.json

feat: update news page styling
  src/pages/News/NewsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: tests
  .snaplet/dataModel.json
  packages/components/src/NotificationItemSupabase/NotificationItemSupabase.tsx
  packages/components/src/ProfileBadgeContentLabel/ProfileBadgeContentLabel.tsx
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/support/commands.ts
  packages/cypress/src/utils/supabaseTestsService.ts
  shared/utils/getSummaryFromMarkdown.ts
  src/.server/templates/news-email.tsx
  src/pages/News/NewsListItem.tsx
  src/routes/api.email-preview.ts
  src/services/notificationsSupabaseService.server.ts
  supabase/functions/send-email/getTenantSettings.ts
  supabase/migrations/20260413101445_change_more_news_fields_to_be_draft.sql
  supabase/migrations/20260416124537_add_notification_action_types.sql
  supabase/schemas/email_content_reach.sql
  supabase/schemas/news.sql
  supabase/schemas/notifications.sql
Due: tslint --project tsconfig.json --config tslint.json

Scope supporter status updates to current tenant
  src/repository/supabaseAdmin.server.ts
  src/routes/api.stripe.create-account.ts
  src/routes/api.stripe.link-account.ts
  src/routes/api.stripe.webhook.ts
  src/services/stripeService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: add some map pins to seed.ts (#4719)
  seed.ts
Due: none

fix category and tags comparison validation
  packages/cypress/src/integration/SignUp.spec.ts
  src/pages/common/FormFields/Category.field.tsx
  src/pages/common/Layout/ListHeader.tsx
  src/utils/comparisons.ts
Due: tslint --project tsconfig.json --config tslint.json

fix tests
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  src/pages/Library/Content/Common/LibraryForm.tsx
Due: tslint --project tsconfig.json --config tslint.json

test fixes
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/support/commandsUi.ts
Due: none

more fixes
  src/common/Form/FormWrapper.tsx
  src/pages/Library/Content/Common/LibraryForm.tsx
  src/pages/Question/Content/Common/QuestionForm.tsx
  src/pages/Research/Content/Common/ResearchForm.tsx
  src/pages/Research/Content/Common/ResearchUpdateForm.tsx
Due: tslint --project tsconfig.json --config tslint.json

more test fixes
  packages/cypress/src/integration/library/write.spec.ts
  src/pages/Library/Content/Common/LibraryForm.tsx
  src/pages/Research/Content/Common/ResearchForm.tsx
  src/pages/Research/Content/Common/ResearchUpdateForm.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  e4/cd14521d217fa372a3b5f2c5cd8284209edff6
Due: none

center images
  src/pages/News/NewsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: updated new page styling (#4718)
  src/pages/News/NewsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix tests
  src/pages/News/labels.ts
  src/pages/UserSettings/content/fields/EmailContentReachPreferenceField.tsx
  src/routes/api.notifications-preferences-via-email.$userCode.ts
  src/services/notificationsPreferencesService.ts
  src/test/services/notificationsPreferencesService.test.ts
  src/test/services/notificationsPreferencesViaEmailService.test.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  de/26f3920d43f0c428157aa3d663d0517c052ecc
Due: none

fix news UI
  src/pages/News/NewsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix news UI (#4721)
  src/pages/News/NewsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: notification comment deep link
  src/pages/common/CommentsSupabase/CollapsableCommentSection.tsx
  src/pages/common/CommentsSupabase/CommentSectionSupabase.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: notification comment deep link (#4722)
  src/pages/common/CommentsSupabase/CollapsableCommentSection.tsx
  src/pages/common/CommentsSupabase/CommentSectionSupabase.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: login state invalidation
  src/routes/_.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  2f/f682839d1d98be44c6a60d78f67c55b828fac4
Due: none

fix: login state invalidation (#4723)
  src/routes/_.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  48/91f507177ae62f81730dd2ee639cbcf063ece1
Due: none

feat: improve map module list and pin cards
  packages/components/src/CardListItem/CardListItem.tsx
  packages/components/src/CardProfile/CardDetailsMemberProfile.tsx
  packages/components/src/CardProfile/CardDetailsSpaceProfile.tsx
  packages/components/src/CardProfile/CardProfile.tsx
  packages/components/src/FlagIcon/FlagIcon.tsx
  packages/components/src/MapCardList/MapCardList.tsx
  packages/components/src/PinProfile/PinProfile.stories.tsx
  packages/components/src/PinProfile/PinProfile.tsx
  packages/components/src/ProfileTagsList/ProfileTagsList.tsx
  packages/components/src/Username/DisplayName.tsx
  src/pages/Maps/Content/MapView/MapView.tsx
  src/pages/Maps/Content/MapView/Popup.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix(map): restore multi-column layout so short cards don't leave gaps
  packages/components/src/MapCardList/MapCardList.tsx
Due: none

icons and input spacing fix
  packages/components/src/Pagination/Pagination.tsx
Due: none

Minor fix
  packages/components/src/Pagination/Pagination.tsx
Due: none

feat: pwa wip
  bun.lock
  docs/pwa-setup.md
  package.json
  public/manifest.json
  server.js
  src/entry.client.tsx
  src/root.tsx
  vite-env.d.ts
  vite.config.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint

rollback es version change
  vite.config.ts
Due: none

fix(map): address pin card review feedback
  packages/components/src/FlagIcon/FlagIcon.tsx
  packages/components/src/Username/DisplayName.tsx
  src/pages/Maps/Content/MapView/Popup.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

migration and dynamic manifest
  .snaplet/dataModel.json
  seed.ts
  shared/models/index.ts
  shared/models/tenantSettings.ts
  shared/models/webmanifest.ts
  src/routes/[manifest.webmanifest].tsx
  src/services/tenantSettingsService.server.ts
  supabase/migrations/20260421051050_pwa_icons.sql
  supabase/schemas/tenant_settings.sql
  vite.config.ts
Due: tslint --project tsconfig.json --config tslint.json

update docs
  docs/pwa-setup.md
Due: none

feat: pwa (#4725)
  .snaplet/dataModel.json
  bun.lock
  docs/pwa-setup.md
  package.json
  public/manifest.json
  seed.ts
  server.js
  shared/models/index.ts
  shared/models/tenantSettings.ts
  shared/models/webmanifest.ts
  src/entry.client.tsx
  src/root.tsx
  src/routes/[manifest.webmanifest].tsx
  src/services/tenantSettingsService.server.ts
  supabase/migrations/20260421051050_pwa_icons.sql
  supabase/schemas/tenant_settings.sql
  vite-env.d.ts
  vite.config.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint
