Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

remove feature branch from gh action
  .github/workflows/docs-deploy.yml
Due: none

update pr labeller
  .github/pr-labeler.config.yml
  .github/workflows/pr-labeler.yml
Due: none

add back users-create script
  functions/src/dev/seed/users-create.ts
Due: none

update string quotes
  cypress/support/db/firebase.ts
  src/utils/firebase.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json

add shared mock users
  shared/index.ts
  shared/users.ts
Due: none

update firebase db methods
  functions/src/Firebase/firestoreDB.ts
Due: none

update scripts
  .prettierrc
  functions/package.json
  functions/scripts/firebase/loadConfig.ts
  functions/scripts/paths.ts
  functions/scripts/precompile.ts
  functions/src/Firebase/firestoreDB.ts
Due: none

WiP - route access updates
  src/components/Auth/AuthWrapper.tsx
  src/components/DevSiteHeader/DevSiteHeader.tsx
  src/config/config.ts
  src/models/user.models.tsx
  src/pages/Howto/Howto.tsx
  src/pages/PageList.tsx
  src/pages/common/AuthRoute.tsx
  src/stores/Admin/admin.store.ts
  src/stores/User/user.store.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

chore: clean up warning output
  src/components/Comment/Comment.tsx
  src/components/ImageInput/ImageConverter.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: adds link through to Discord
  packages/documentation/docusaurus.config.gh-pages.js
  packages/documentation/docusaurus.config.js
Due: tslint

docs: update command to run documentation server locally
  packages/documentation/docs/Docs Contribution/running-docs-locally.md
Due: none

fix: yarn install script
  yarn.lock
Due: none

deploy: 005f6379c489e572b1915a9d31cf779603a9fadb
  404.html
  Backend Development/firebase-emulators/index.html
  Backend Development/overview/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Examples/mdx/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  assets/js/34451a9b.7ef535d7.js
  assets/js/34451a9b.87b18a84.js
  assets/js/main.0e19ddd8.js
  assets/js/main.0e19ddd8.js.LICENSE.txt
  assets/js/main.306daaa8.js
  assets/js/runtime~main.9c55a6df.js
  assets/js/runtime~main.ebd1f986.js
  blog/archive/index.html
  example.index/index.html
  index.html
  tags/index.html
Due: tslint

Add quicklinks section to readme
  README.md
Due: none

update dependencies
  package.json
  yarn.lock
Due: none

fix broken typing
  src/stores/Notifications/notifications.service.ts
Due: tslint --project tsconfig.json --config tslint.json

update troubleshooting docs
  packages/documentation/docs/Getting Started/setup.md
Due: none

add resource_class to ci build
  .circleci/config.yml
Due: none

deploy: f5ac3beef59a90ac7dc11756786af5f5ecdf2091
  404.html
  Backend Development/firebase-emulators/index.html
  Backend Development/overview/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Examples/mdx/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  assets/js/45036732.9cf891b1.js
  assets/js/45036732.a97f4d44.js
  assets/js/runtime~main.db29f8ed.js
  assets/js/runtime~main.ebd1f986.js
  blog/archive/index.html
  example.index/index.html
  index.html
  tags/index.html
Due: tslint

update badges
  CONTRIBUTING.md
  README.md
Due: none

update badges
  README.md
Due: none

feat: adds redirect for 404 how tos
  cypress/integration/howto/read.spec.ts
  src/pages/Howto/Content/Howto/Howto.tsx
Due: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json

chore: specify node version for local devtools
  .node-version
Due: none

chore: bump node circleci docker image
  .circleci/config.yml
Due: none

chore: include CircleCI config under DevOps label
  .github/pr-labeler.config.yml
Due: none

Fix readme typo
  README.md
Due: none

feat: adds a helpful heading message for the viewer
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

ensure seed reload
  functions/scripts/start.ts
Due: none

improve code readability
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

update yarn version
  .yarnrc.yml
Due: none

move tests to subfolder
  cypress/scripts/paths.ts
  cypress/scripts/start.ts
  cypress/src/fixtures/images/howto-intro.jpg
  cypress/src/fixtures/images/howto-step-pic1.jpg
  cypress/src/fixtures/images/howto-step-pic2.jpg
  cypress/src/fixtures/images/profile-cover-1-editied.jpg
  cypress/src/fixtures/images/profile-cover-1.jpg
  cypress/src/fixtures/images/profile-cover-2-edited.jpg
  cypress/src/fixtures/images/profile-cover-2-edited.png
  cypress/src/fixtures/images/profile-cover-2.png
  cypress/src/fixtures/seed/events.json
  cypress/src/fixtures/seed/howtos.json
  cypress/src/fixtures/seed/index.ts
  cypress/src/fixtures/seed/mappins.json
  cypress/src/fixtures/seed/tags.json
  cypress/src/fixtures/seed/users.json
  cypress/src/integration/academy.spec.ts
  cypress/src/integration/bugs.spec.ts
  cypress/src/integration/common.spec.ts
  cypress/src/integration/events.spec.ts
  cypress/src/integration/howto/read.spec.ts
  cypress/src/integration/howto/write.spec.ts
  cypress/src/integration/map.spec.ts
  cypress/src/integration/settings.spec.ts
  cypress/src/integration/sign-in.spec.ts
  cypress/src/integration/sign-up.spec.ts
  cypress/src/plugins/cy-ts-preprocessor.js
  cypress/src/plugins/index.js
  cypress/src/support/commands.ts
  cypress/src/support/custom-assertions.ts
  cypress/src/support/db/endpoints.ts
  cypress/src/support/db/firebase.ts
  cypress/src/support/hooks.ts
  cypress/src/support/index.ts
  cypress/src/utils/test-utils.ts
  cypress/src/webpack.config.js
Due: tslint --project cypress/tsconfig.json --config tslint.json, tslint

refactor test start script
  scripts/test.e2e.js
Due: tslint

update testing docs
  packages/documentation/docs/Testing/end-to-end.md
  packages/documentation/docs/Testing/overview.md
Due: none

yarn update
  .yarn/releases/yarn-2.4.1.cjs
  .yarn/releases/yarn-3.0.2.cjs
Due: none

docs update
  packages/documentation/sidebars.js
Due: tslint

update core config
  cypress/.env
  cypress/.npmrc
  cypress/cypress.json
  cypress/tsconfig.json
Due: none

update cypress version
  cypress/package.json
Due: none

add install-clean script
  package.json
  packages/documentation/docs/Getting Started/setup.md
  scripts/install-clean.ts
  scripts/package.json
  scripts/tsconfig.json
  yarn.lock
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
