Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

fix: require issue on QA build
  vite.config.ts
Due: none

test: map pin spec
  packages/cypress/src/integration/map.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/hooks.ts
  packages/cypress/src/support/seedAccounts.ts
  packages/cypress/src/support/seedQuestions.ts
  shared/mocks/data/index.ts
  shared/mocks/data/mappins.ts
  shared/mocks/data/profileTypes.ts
  shared/models/profileType.ts
  src/pages/Maps/Content/MapView/Sprites.tsx
Due: tslint --project tsconfig.json --config tslint.json

Typo in the countResult function
  src/routes/api.research.ts
Due: tslint --project tsconfig.json --config tslint.json

style: reformat file, no logic changes
  src/services/usefulService.d.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: add getVoteCount
  src/services/usefulService.ts
Due: tslint --project tsconfig.json --config tslint.json

typo: typo in editComment
  src/pages/common/CommentsSupabase/CommentSectionSupabase.tsx
  src/services/commentService.ts
Due: tslint --project tsconfig.json --config tslint.json

Run Format
  .snaplet/dataModel.json
Due: none

chore: drop more unneeded code
  functions/src/Firebase/admin.ts
  functions/src/Firebase/auth.ts
  functions/src/Firebase/firebaseSync.ts
  functions/src/Firebase/firestoreDB.ts
  functions/src/Firebase/firestoreDBExport.ts
  functions/src/Firebase/realtimeDB.spec.ts
  functions/src/Firebase/realtimeDB.ts
  functions/src/Firebase/storage.ts
  functions/src/userUpdates/backupUser.ts
  functions/src/userUpdates/index.ts
  functions/src/userUpdates/updateMapPins.ts
  functions/src/userUpdates/utils.test.ts
  functions/src/userUpdates/utils.ts
  shared/models/db.ts
Due: none

chore: keep fixing tests
  packages/cypress/src/integration/common.spec.ts
  packages/cypress/src/integration/library/discussions.spec.ts
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/news/discussions.spec.ts
  packages/cypress/src/integration/notifications.spec.ts
  packages/cypress/src/integration/profile.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commands.ts
  shared/mocks/data/discussions.ts
  shared/mocks/data/messages.ts
Due: none

chore: keep fixing tests
  packages/cypress/src/integration/map.spec.ts
  packages/cypress/src/integration/profile.spec.ts
  src/pages/User/content/UserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: double negative contact preferences
  packages/cypress/src/integration/map.spec.ts
  shared/models/profile.ts
  src/pages/UserSettings/SupabaseNotifications.tsx
  src/utils/helpers.test.ts
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

New api route for contentType vote count
  src/routes/api.useful.$contentType.$id.count.ts
Due: tslint --project tsconfig.json --config tslint.json

Import new usefulButtonLite and receiving new props from parent component
  packages/components/src/CommentDisplay/CommentDisplay.tsx
Due: none

New UsefulButtonLite (draft)
  packages/components/src/UsefulStatsButton/UsefulButtonLite.tsx
Due: none

Manipulating the CommentSection to add votes to comments
  src/pages/common/CommentsSupabase/CommentSectionSupabase.tsx
Due: tslint --project tsconfig.json --config tslint.json

Counts as props + onUsefulClick function
  src/pages/common/CommentsSupabase/CommentItemSupabase.tsx
  src/pages/common/CommentsSupabase/CommentReplySupabase.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix profile type unit tests
  src/pages/Maps/utils/filterPins.test.ts
  src/pages/Maps/utils/filterPins.ts
  src/pages/UserSettings/SettingsPageUserProfile.test.tsx
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/pages/UserSettings/content/fields/ProfileTypeRadio.field.tsx
  src/pages/UserSettings/content/sections/ProfileType.section.test.tsx
  src/pages/UserSettings/content/sections/ProfileType.section.tsx
  src/pages/UserSettings/content/sections/UserImages.section.tsx
  src/routes/api.profile-tags.ts
  src/routes/api.profile-types.ts
  src/routes/api.profile.ts
  src/services/profileTagsService.ts
Due: tslint --project tsconfig.json --config tslint.json

fix seed
  .snaplet/dataModel.json
  seed.ts
Due: none

Export onUsefulClick to avoid multiple instances of it
  src/pages/Library/Content/Page/ProjectPage.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Research/Content/ResearchArticlePage.tsx
  src/pages/common/CommentsSupabase/CommentItemSupabase.tsx
  src/pages/common/CommentsSupabase/CommentReplySupabase.tsx
  src/utils/onUsefulClick.ts
Due: tslint --project tsconfig.json --config tslint.json

npm run format
  src/pages/Question/QuestionPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

UsefulButtonLite UI
  packages/components/src/UsefulStatsButton/UsefulButtonLite.tsx
Due: none

fix: profile type rendering
  .snaplet/dataModel.json
  packages/components/src/MemberBadge/MemberBadge.tsx
  seed.ts
  seed/profilesSeed.ts
  server.js
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/services/authService.server.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint

remove unused images
  packages/themes/assets/icons/map-collection.svg
  packages/themes/assets/icons/map-community.svg
  packages/themes/assets/icons/map-machine.svg
  packages/themes/assets/icons/map-workspace.svg
  packages/themes/assets/images/badges/pt-collection-point.svg
  packages/themes/assets/images/badges/pt-local-community.svg
  packages/themes/assets/images/badges/pt-machine-shop.svg
  packages/themes/assets/images/badges/pt-workspace.svg
  packages/themes/assets/images/themes/fixing-fashion/avatar_member_lg.svg
  packages/themes/assets/images/themes/fixing-fashion/avatar_member_sm.svg
  packages/themes/assets/images/themes/fixing-fashion/avatar_space_lg.svg
  packages/themes/assets/images/themes/fixing-fashion/avatar_space_sm.svg
  packages/themes/assets/images/themes/precious-plastic/avatar_member_lg.svg
  packages/themes/assets/images/themes/precious-plastic/avatar_member_sm.svg
  packages/themes/assets/images/themes/project-kamp/avatar_member_lg.svg
  packages/themes/assets/images/themes/project-kamp/avatar_member_sm.svg
  packages/themes/assets/images/themes/project-kamp/avatar_space_lg.svg
  packages/themes/assets/images/themes/project-kamp/avatar_space_sm.svg
  packages/themes/src/fixing-fashion/index.ts
  packages/themes/src/precious-plastic/index.ts
  packages/themes/src/project-kamp/index.ts
  packages/themes/src/types/index.ts
Due: none

import from oa-shared
  src/routes/api.useful.$contentType.$id.count.ts
  src/utils/onUsefulClick.ts
Due: tslint --project tsconfig.json --config tslint.json

test: keep fixing profile types for specs
  packages/cypress/src/support/hooks.ts
  packages/cypress/src/support/seedAccounts.ts
  packages/cypress/src/support/seedQuestions.ts
  shared/mocks/data/profileTypes.ts
  src/pages/UserSettings/SettingsPageUserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: profile display with completed profile
  src/routes/api.profiles.ts
  src/services/profileService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

fix badge sizes
  packages/components/src/UserStatistics/UserStatistics.tsx
Due: none

test: keep fixing
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commandsUi.ts
  packages/cypress/src/support/seedAccounts.ts
  packages/cypress/src/support/seedMap.ts
  packages/cypress/src/support/seedQuestions.ts
  shared/mocks/data/users.ts
  src/pages/UserSettings/SettingsPage.client.tsx
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/services/authService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: map profile type
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/seedAccounts.ts
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/routes/api.settings.map.ts
  src/services/mapService.server.ts
  src/services/profileService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

fix contact
  src/pages/User/content/ProfileContact.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix contact test
  packages/cypress/src/integration/profile.spec.ts
  src/pages/User/content/ProfileContact.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: tidy-up
  packages/cypress/src/support/seedResearch.ts
  shared/mocks/data/badges.ts
  shared/mocks/data/profileTypes.ts
  shared/mocks/data/research.ts
  shared/mocks/data/researchUpdates.ts
  src/routes/api.research.ts
Due: tslint --project tsconfig.json --config tslint.json

test: tidy-up
  packages/cypress/src/support/seedResearch.ts
  shared/mocks/data/index.ts
  shared/mocks/data/research.ts
  shared/mocks/data/researchUpdates.ts
  shared/models/author.ts
  shared/models/profileBadge.ts
  src/routes/api.research.ts
  src/services/profileService.ts
  src/services/profilesService.ts
Due: tslint --project tsconfig.json --config tslint.json

fix migration
  packages/cypress/src/support/hooks.ts
  supabase/migrations/20250722145300_profile.sql
Due: none

fix
  packages/cypress/src/support/hooks.ts
Due: none

fix
  shared/models/author.ts
Due: none

fix research list data
  shared/mocks/data/research.ts
Due: none

cleanup
  shared/models/author.ts
  shared/models/profileBadge.ts
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
