Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

update cypress script paths
  cypress/scripts/paths.ts
  cypress/scripts/start.ts
Due: tslint --project cypress/tsconfig.json --config tslint.json

update docs
  packages/documentation/docs/Testing/end-to-end.md
  packages/documentation/yarn.lock
Due: none

update ci cache
  .circleci/config.yml
Due: none

code tidying
  scripts/install-clean.ts
Due: none

chore: removes unused dep
  package.json
  yarn.lock
Due: none

add example image to docs
  packages/documentation/docs/Testing/end-to-end.md
  packages/documentation/docs/Testing/images/ci-firestore-project.png
Due: none

chore: remove CI=false
  .circleci/config.yml
Due: none

add displayName to IMapPinDetail, and use that displayName in map popup
  src/mocks/maps.mock.tsx
  src/models/maps.models.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

Missing build dependencies & fixing node-sass for macOS Big Sur
  package.json
  yarn.lock
Due: none

chore: do not generate source map
  .circleci/config.yml
Due: none

fix: unload state based on URL location
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: update to align with implementation
  cypress/integration/howto/read.spec.ts
Due: tslint --project cypress/tsconfig.json --config tslint.json

chore: adds missing eslint dep
  package.json
  yarn.lock
Due: none

docs: adds Frontend Development from wiki
  packages/documentation/docs/Frontend Development/overview.md
Due: none

docs: migrate Integrations from wiki
  packages/documentation/docs/Backend Development/integrations.md
  packages/documentation/sidebars.js
Due: tslint

update setup docs
  packages/documentation/docs/Getting Started/setup.md
Due: none

deploy: a84117a3cfa6401dd4939422acbc83aca1b747cd
  404.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Backend Development/overview/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Examples/mdx/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  assets/js/0767dfa5.b0e9ab61.js
  assets/js/0767dfa5.b6483846.js
  assets/js/935f2afb.42993501.js
  assets/js/935f2afb.80eb0fa4.js
  assets/js/a6ea0780.16159f09.js
  assets/js/a6ea0780.53c50271.js
  assets/js/cbeb1cbe.611d2958.js
  assets/js/main.0e19ddd8.js
  assets/js/main.f7e43ee3.js
  assets/js/main.f7e43ee3.js.LICENSE.txt
  assets/js/runtime~main.d1d129c9.js
  assets/js/runtime~main.db29f8ed.js
  blog/archive/index.html
  example.index/index.html
  index.html
  sitemap.xml
  tags/index.html
Due: tslint

deploy: 9ceef93f77512f789e8b375fdd361d79b848331b
  404.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Backend Development/overview/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Examples/mdx/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  assets/js/826114b9.0b428349.js
  assets/js/826114b9.8e8289c1.js
  assets/js/runtime~main.0b04c3e3.js
  assets/js/runtime~main.d1d129c9.js
  blog/archive/index.html
  example.index/index.html
  index.html
  tags/index.html
Due: tslint

deploy: 1af66799f5723d89f83f5b08d19f6fc82b8e1a88
  404.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Backend Development/overview/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Examples/mdx/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/images/ci-firestore-project-5867572f45ff542d10f8b52baf1ed611.png
  assets/js/0767dfa5.31254734.js
  assets/js/0767dfa5.b0e9ab61.js
  assets/js/3bd00479.18cbe6a0.js
  assets/js/45036732.a97f4d44.js
  assets/js/45036732.c4afba05.js
  assets/js/935f2afb.80eb0fa4.js
  assets/js/935f2afb.91b51bae.js
  assets/js/cbeb1cbe.08a726f2.js
  assets/js/cbeb1cbe.611d2958.js
  assets/js/f41a819c.8d6cf60d.js
  assets/js/main.6fd02d51.js
  assets/js/main.6fd02d51.js.LICENSE.txt
  assets/js/main.f7e43ee3.js
  assets/js/runtime~main.0b04c3e3.js
  assets/js/runtime~main.eedf10e0.js
  blog/archive/index.html
  example.index/index.html
  index.html
  sitemap.xml
  tags/index.html
Due: tslint

deploy: fb53b6f8123c53f3f1378e177ba780b31b03b17b
  404.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Backend Development/overview/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Examples/mdx/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/45036732.9ff11f74.js
  assets/js/45036732.c4afba05.js
  assets/js/runtime~main.ed902a30.js
  assets/js/runtime~main.eedf10e0.js
  blog/archive/index.html
  example.index/index.html
  index.html
  tags/index.html
Due: tslint

docs: migrate backend functions wiki content
  packages/documentation/docs/Backend Development/overview.md
  packages/documentation/sidebars.js
Due: tslint

fix: use css mask to make background color dynamic
  src/assets/images/menu-current.svg
  src/pages/common/Header/Menu/MenuDesktop.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: only load colours from primary theme file
  src/components/Comment/CommentHeader.tsx
  src/components/Form/Select.field.tsx
  src/components/Form/elements.ts
  src/components/ImageGallery/index.tsx
  src/components/ImageInput/ImageConverter.tsx
  src/components/ProfileModal/ProfileModal.tsx
  src/components/Text/index.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoUsefulStats.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/User/content/UserPage/UserPage.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
  src/themes/styled.theme.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: Cypress 8 loads headless by default
  packages/cypress/scripts/start.ts
Due: none

chore: remove travis
  .travis.yml
Due: none

remove travis references
  CONTRIBUTING.md
  packages/cypress/scripts/start.ts
  src/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove parellelism from Cypress
  .circleci/config.yml
  packages/cypress/scripts/start.ts
Due: none

fix: alignment of tags closes #1076
  src/components/Tags/TagDisplay/TagDisplay.tsx
Due: tslint --project tsconfig.json --config tslint.json

further script refactoring
  functions/package.json
  functions/scripts/start.ts
  package.json
  packages/documentation/docs/Backend Development/emulator-seed-data.md
  packages/documentation/docs/Backend Development/running-emulators.md
  scripts/emulator/generate-zip.ts
  scripts/package.json
  scripts/start-emulated.ts
  yarn.lock
Due: none

test: remove deprecated method
  src/pages/Howto/Content/Common/Howto.form.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: adds test:unit to CI
  .circleci/config.yml
Due: none

chore: another attempt at running unit tests
  .circleci/config.yml
Due: none

chore: skip binary
  .circleci/config.yml
Due: none

chore: adds install step
  .circleci/config.yml
Due: none

chore: remove install step from unit test job
  .circleci/config.yml
Due: none

chore: switch to yarn cmd
  .circleci/config.yml
Due: none

chore: switch to lighter docker image
  .circleci/config.yml
Due: none
