Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

chore: update yarn 3.0.2 to 3.1.1 (#1442)
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore(ci): adds job to build functions
  .circleci/config.yml
Due: none

chore(ci): make deployment great again
  .circleci/config.yml
Due: none

feat: increases max length for a Research introduction
  src/pages/Research/Content/Common/Research.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): remove commit linting step from production
  .circleci/config.yml
Due: none

test: introduce test infrastructure to functions (#1252)
  .circleci/config.yml
  functions/.gitignore
  functions/jest.config.ts
  functions/package.json
  functions/scripts/set-up-environment-variables.ts
  functions/src/userUpdates/index.test.ts
  src/utils/firebase.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

chore: disable GitHub releases for the time being
  .circleci/config.yml
Due: none

feat: new notifications functionality available to beta-testers only
  packages/cypress/src/fixtures/seed/users.json
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsDesktop.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): fix typescript configuration
  functions/src/models.ts
  functions/src/userUpdates/index.ts
  functions/tsconfig.json
  src/components/Button/index.tsx
  src/components/ImageInput/ImageInput.tsx
  src/components/Text/index.tsx
  src/config/config.ts
  src/models/events.models.tsx
  src/models/howto.models.tsx
  src/models/user.models.tsx
  src/stores/storage.tsx
  src/themes/precious-plastic/styles.ts
  src/themes/types.tsx
  src/utils/firebase.ts
  tsconfig.json
Due: tslint --project tsconfig.json --config tslint.json

style: update grouping filter desktop overlow
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): resolve typescript project configuration
  functions/package.json
  tsconfig.src-types.json
  yarn.lock
Due: none

chore: update yarn lock
  yarn.lock
Due: none

fix: notifications modal getting closed after clicking on notification icon for the second time
  src/pages/common/Header/Menu/Notifications/NotificationsDesktop.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): remove lint commits from production
  .circleci/config.yml
Due: none

chore: remove precompile from functions build process
  .circleci/config.yml
  functions/package.json
  functions/scripts/precompile.ts
  functions/tsconfig.json
Due: none

feat: adds notifications functionality for howto useful votes and comments
  packages/cypress/src/fixtures/seed/howtos.json
  packages/cypress/src/fixtures/seed/users.json
  packages/cypress/src/integration/notifications.spec.ts
  src/assets/icons/icon-comment.svg
  src/assets/icons/icon-notification.svg
  src/assets/icons/icon-useful.svg
  src/components/Icons/index.tsx
  src/components/Notifications/NotificationItem.tsx
  src/components/Notifications/NotificationList.tsx
  src/models/user.models.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsDesktop.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsMobile.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsModal.tsx
  src/stores/MobileMenu/mobilemenu.store.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

Merge pull request #1410 from ONEARMY/docs/frontend-modules
  packages/documentation/docs/Frontend Development/modules.md
  packages/documentation/sidebars.js
Due: tslint

chore: functions build tidying
  functions/package.json
  functions/src/models.ts
  functions/tsconfig.json
  yarn.lock
Due: none

chore(deps): upgrade typescript to latest
  package.json
  tsconfig.json
  yarn.lock
Due: none

docs: update pr template to link through to commit
  .github/pull_request_template.md
Due: none

chore(ci): reinstate commit linting
  .circleci/config.yml
Due: none

chore: remove additional test logouts
  packages/cypress/src/integration/common.spec.ts
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/integration/sign-up.spec.ts
Due: none

chore: add script to make linting commits easier
  package.json
Due: none

fix: remove #feedback from global Discord link
  src/components/DiscordLink/DiscordLink.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: verified everywhere (#1479)
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentHeader.tsx
  src/components/EventCard/EventCard.tsx
  src/components/Research/ResearchListItem.tsx
  src/mocks/user.mock.tsx
  src/mocks/user_pp.mock.tsx
  src/models/user.models.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/stores/Maps/maps.store.ts
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: extract components for reuse between profile variants
  src/components/Badge/Badge.stories.mdx
  src/components/Badge/Badge.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.stories.mdx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserContactAndLinks.tsx
  src/pages/User/content/UserStats.tsx
  src/pages/User/content/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): upgrade sharp@0.30.x
  functions/package.json
  yarn.lock
Due: none

feat: add core admin module with components and routing
  packages/documentation/yarn.lock
  src/modules/admin/admin.routes.tsx
  src/modules/admin/admin.store.tsx
  src/modules/admin/components/admin-subheader.tsx
  src/modules/admin/index.tsx
  src/modules/admin/pages/admin-approvals.tsx
  src/modules/admin/pages/admin-howtos.tsx
  src/modules/admin/pages/admin-mappins.tsx
  src/modules/admin/pages/admin-research-detail.tsx
  src/modules/admin/pages/admin-research.tsx
  src/modules/admin/pages/admin-tags.tsx
  src/modules/admin/pages/admin-user-detail.tsx
  src/modules/admin/pages/admin-users.tsx
  src/pages/PageList.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: add unique ID to uploaded images
  packages/cypress/src/support/custom-assertions.ts
  src/components/ImageInput/ImageConverter.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add aggregations db endpoint
  functions/src/index.ts
  shared/db.ts
Due: none

feat: add admin link to profile dropdown
  src/components/ProfileModal/ProfileModal.tsx
  src/pages/PageList.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add user badges aggregation methods
  functions/src/Utils/data.utils.ts
  functions/src/aggregations/user.aggregations.ts
  src/stores/databaseV2/clients/dexie.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: update readme with luke 🍉
  README.md
Due: none

chore(deps): pin cypress@9.4.x
  packages/cypress/package.json
  yarn.lock
Due: none

chore: add function util index
  functions/src/Utils/index.ts
Due: none

fix: add shallow object compare defaults
  functions/src/Utils/data.utils.ts
  functions/src/aggregations/user.aggregations.ts
Due: none

refactor: improve test cleanup to logout after tests
  packages/cypress/src/support/commands.ts
  packages/cypress/src/support/hooks.ts
Due: none

fix: adds back data-cy attribute for Cypress
  src/components/Form/ImageInput.field.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add new designs for member and spaces profile
  src/assets/images/default_member.svg
  src/components/Form/ImageInput.field.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/User/User.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/ProfileLink.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserPage/UserPage.tsx
  src/pages/User/content/index.tsx
Due: tslint --project tsconfig.json --config tslint.json
