Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

fix: cleanup double submit
  src/pages/Research/Content/Common/ResearchForm.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: cleanup double submit message
  src/pages/Research/Content/Common/ResearchForm.tsx
Due: tslint --project tsconfig.json --config tslint.json

update supabase
  package.json
Due: none

update yarn lock
  yarn.lock
Due: none

Notes added by 'git notes add'
  99/1349d981d7f2695596dcfaac88b69305f53fc5
Due: none

feat: auto-zoom map on location search and profile selection
  src/pages/Maps/Content/MapView/MapView.tsx
  src/pages/Maps/Content/MapView/MapWithListHeader.tsx
  src/pages/Maps/MapContext.ts
  src/pages/Maps/Maps.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

format update
  src/pages/Maps/Maps.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix cypress
  packages/cypress/cypress.config.ts
  packages/cypress/src/plugins/index.ts
  packages/cypress/src/support/seedAccounts.ts
  packages/cypress/src/support/seedResearch.ts
  src/services/imageService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: add followed button display to content list views
  packages/cypress/src/integration/library/follow.spec.ts
  packages/cypress/src/integration/questions/follow.spec.ts
  packages/cypress/src/integration/research/follow.spec.ts
  src/common/FollowButtonAction.tsx
  src/pages/Library/Content/List/ProjectCard.tsx
  src/pages/Question/QuestionListItem.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

remove unneeded step I added
  packages/cypress/src/integration/research/follow.spec.ts
Due: none

extra styling to try and handle the gap differences betweent he followbutton and the IconCountWithTooltip, also added the actionfollowbutton display to the mobile version of the research list
  src/pages/Library/Content/List/ProjectCard.tsx
  src/pages/Question/QuestionListItem.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: update Node version requirement message to 22.18
  packages/documentation/docs/Getting Started/setup.md
Due: none

docs: update Node version requirement message to 22.18 (#4457)
  packages/documentation/docs/Getting Started/setup.md
Due: none

fix: sort pins by most recently active
  src/factories/mapPinFactory.server.ts
  src/pages/Maps/Maps.client.tsx
  src/services/mapPinsService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: sort pins by most recently active (#4459)
  src/factories/mapPinFactory.server.ts
  src/pages/Maps/Maps.client.tsx
  src/services/mapPinsService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  92/53272425c131fbee08369523e080818d4bb987
Due: none

fix: setupnodeevents
  packages/cypress/cypress.config.ts
Due: none

update snaplet seed
  .snaplet/dataModel.json
Due: none

ran lint fix
  src/pages/Question/QuestionListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: sort by most views
  src/pages/Library/Content/List/LibrarySortOptions.ts
  supabase/migrations/20251023000000_add_most_views_sort.sql
Due: tslint --project tsconfig.json --config tslint.json

fix: cover images
  src/services/imageService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: add item count to content headers
  src/pages/Library/Content/List/LibraryList.tsx
  src/pages/Library/Content/List/LibraryListHeader.tsx
  src/pages/Question/QuestionListHeader.tsx
  src/pages/Question/QuestionListing.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListHeader.tsx
  src/pages/common/Layout/ListHeader.tsx
  supabase/migrations/20251024140004_fix_get_project_count.sql
  supabase/schemas/projects.sql
Due: tslint --project tsconfig.json --config tslint.json

test: add tests for item count
  packages/cypress/src/integration/library/read.spec.ts
  packages/cypress/src/integration/questions/read.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
Due: none

fix typo
  packages/cypress/src/integration/library/read.spec.ts
Due: none

fix typo: change to lower items
  packages/cypress/src/integration/library/read.spec.ts
  packages/cypress/src/integration/questions/read.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  src/pages/common/Layout/ListHeader.tsx
Due: tslint --project tsconfig.json --config tslint.json

add change to projects.sql, diff update
  supabase/migrations/20251025145021_add_most_views_sort.sql
  supabase/schemas/projects.sql
Due: none

feat: sort library by most views (#4461)
  src/pages/Library/Content/List/LibrarySortOptions.ts
  supabase/migrations/20251025145021_add_most_views_sort.sql
  supabase/schemas/projects.sql
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  9e/ea3ec78a7b54aef9dc87dc2a4a98f2bf006663
Due: none

fix: profile seeding with images
  packages/cypress/src/support/hooks.ts
  packages/cypress/src/support/seedAccounts.ts
Due: none

dynamic zoom level based on bounding box
  src/pages/Maps/Content/MapView/MapWithListHeader.tsx
  src/pages/Maps/utils/adaptiveZoom.ts
Due: tslint --project tsconfig.json --config tslint.json

fix research media upload
  src/routes/api.research.$id.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: update supabase (#4421)
  .snaplet/dataModel.json
  package.json
  packages/cypress/cypress.config.ts
  packages/cypress/src/plugins/index.ts
  packages/cypress/src/support/hooks.ts
  packages/cypress/src/support/seedAccounts.ts
  packages/cypress/src/support/seedResearch.ts
  packages/documentation/docs/supabase.md
  src/repository/supabase.server.ts
  src/routes/api.research.$id.ts
  src/services/imageService.server.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

use fitbounds to simplify zoom level on search
  src/pages/Maps/Content/MapView/MapWithListHeader.tsx
  src/pages/Maps/MapContext.ts
  src/pages/Maps/Maps.client.tsx
  src/pages/Maps/utils/adaptiveZoom.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: auto-zoom map on location search and profile selection (#4455)
  src/pages/Maps/Content/MapView/MapView.tsx
  src/pages/Maps/Content/MapView/MapWithListHeader.tsx
  src/pages/Maps/MapContext.ts
  src/pages/Maps/Maps.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  9d/9786b74eedd7ee9ed034951bcd414a462757bb
Due: none

docs: update documentation to get build to pass
  packages/documentation/docs/remix.md
  packages/documentation/docs/supabase.md
  packages/documentation/sidebars.js
Due: tslint

feat: add a list of missing required fields to notify the user why their account isnt marked as complete
  src/pages/UserSettings/SettingsPage.client.tsx
  src/utils/isProfileComplete.test.ts
  src/utils/isProfileComplete.ts
Due: tslint --project tsconfig.json --config tslint.json

format
  src/utils/isProfileComplete.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: list of missing required fields (#4466)
  src/pages/UserSettings/SettingsPage.client.tsx
  src/utils/isProfileComplete.test.ts
  src/utils/isProfileComplete.ts
Due: tslint --project tsconfig.json --config tslint.json

docs: update documentation to get build to pass (#4463)
  packages/documentation/docs/remix.md
  packages/documentation/docs/supabase.md
  packages/documentation/sidebars.js
Due: tslint
