Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

feat: remove location search from events listing
  src/pages/Events/Content/EventsList/EventsList.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: switch to OSM within Events
  src/components/EventCard/EventCard.tsx
  src/components/Form/LocationSearch.field.tsx
  src/components/OsmGeocoding/OsmGeocoding.tsx
  src/stores/User/user.store.ts
  src/utils/getLocationData.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: remove Algolia Places
  package.json
  src/components/Form/LocationSearch.field.tsx
  src/components/LocationSearch/LocationSearch.tsx
  src/config/config.ts
  src/config/types.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

test: update to use OSM component
  packages/cypress/src/integration/events.spec.ts
Due: none

WIP: Maps page Unit tests (Issue #1378)
  .eslintrc.json
  package.json
  src/RFCMapPage/Content/MapController.test.tsx
  src/RFCMapPage/Content/MapController.tsx
  src/RFCMapPage/Content/MapControllerLeaflet.stories.tsx
  src/RFCMapPage/Content/MapControllerMock.stories.tsx
  src/RFCMapPage/Content/library/getNewState.test.tsx
  src/RFCMapPage/Content/library/getNewState.ts
  src/RFCMapPage/Content/library/legacy.maps.groupings.ts
  src/RFCMapPage/Content/library/testHelpers.ts
  src/RFCMapPage/Content/library/utils.test.tsx
  src/RFCMapPage/Content/library/utils.ts
  src/RFCMapPage/Content/view/LeafletMap/LeafletMap.stories.tsx
  src/RFCMapPage/Content/view/LeafletMap/LeafletMap.tsx
  src/RFCMapPage/Content/view/LeafletMap/MockLeafletMap.tsx
  src/RFCMapPage/Content/view/MapControls/MapControls.stories.tsx
  src/RFCMapPage/Content/view/MapControls/MapControls.test.tsx
  src/RFCMapPage/Content/view/MapControls/MapControls.tsx
  src/RFCMapPage/Content/view/filterOne/Checkbox.stories.tsx
  src/RFCMapPage/Content/view/filterOne/Checkbox.test.tsx
  src/RFCMapPage/Content/view/filterOne/Checkbox.tsx
  src/RFCMapPage/types/index.ts
  src/RFCMapPage/types/legacy.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

feat: upgrade project to node16
  .circleci/config.yml
  .github/workflows/pr-preview.yml
  .github/workflows/reset-staging-site.yml
  .gitpod.yml
  .node-version
  functions/package.json
  package.json
  yarn.lock
Due: none

chore(deps): upgrade node-sass to 6.x
  package.json
  yarn.lock
Due: none

chore: fix reference to setTimeout
  package.json
  src/components/Notification/TextNotification.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: merge merge merge
  yarn.lock
Due: none

Update implementation from @thisislawatts feedback
  src/components/ImageInput/ImageConverter.tsx
  src/utils/helpers.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

Use origin/main's lock file
  yarn.lock
Due: none

feat: add support for experimental module
  src/modules/experimental/experimental.routes.tsx
  src/modules/experimental/index.tsx
  src/modules/experimental/mapRFC/index.tsx
  src/modules/index.ts
  src/pages/PageList.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove empty function lint rule
  .eslintrc.json
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/stores/common/__mocks__/module.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: update docs
  packages/documentation/docs/Getting Started/setup.md
Due: none

deploy: f22558f35219adc386ac0887ea0ad86e91ca8546
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/45036732.216d5c19.js
  assets/js/45036732.72f0aa03.js
  assets/js/main.5adc4c8d.js
  assets/js/main.5adc4c8d.js.LICENSE.txt
  assets/js/main.d6dd3a8b.js
  assets/js/runtime~main.8715d5d2.js
  assets/js/runtime~main.9873ddc6.js
  blog/archive/index.html
  example.index/index.html
  index.html
  tags/index.html
Due: tslint

feat: upgrade to CRAv5
  functions/package.json
  package.json
  yarn.lock
Due: none

chore: refactor commitlint config in ts
  commitlint.config.js
  commitlint.config.ts
Due: tslint

feat: add interactive commit util
  package.json
  yarn.lock
Due: none

fix(commitlint): husky hooks
  .husky/common.sh
  .husky/prepare-commit-msg
Due: none

feat(commitlint): add custom formatter
  commitlint.format.ts
Due: none

chore(ci): adds linting deps
  .circleci/config.yml
Due: none

chore: remove unused component
  package.json
  src/components/Form/FlagSelect.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

wip
  package.json
  src/components/OsmGeocoding/OsmGeocoding.tsx
  src/components/OsmGeocoding/OsmGeocodingLoader.tsx
  src/components/OsmGeocoding/OsmGeocodingResultsList.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: snags raised in review
  package.json
  src/components/OsmGeocoding/OsmGeocoding.tsx
  src/components/OsmGeocoding/OsmGeocodingLoader.tsx
  src/components/OsmGeocoding/OsmGeocodingResultsList.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

chore: label automatically generated PRs
  .github/workflows/merge-to-production.yml
Due: none

feat: introduce place for UrlRedirect
  src/models/index.ts
  src/pages/Howto/Content/Howto/Howto.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/databaseV2/types/index.d.ts
Due: tslint --project tsconfig.json --config tslint.json

wip
  shared/db.ts
  src/models/url-redirect.models.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/UrlRedirects/urlredirects.store.ts
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: refactor to introduce tests
  src/pages/Howto/Content/Howto/Howto.tsx
  src/stores/UrlRedirects/urlredirects.store.test.ts
  src/stores/UrlRedirects/urlredirects.store.ts
  src/stores/common/__mocks__/module.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove dev api
  functions/src/dev/index.ts
Due: none

chore: override print width
  functions/src/dev/index.ts
Due: none

refactor!: remove dev api from prod builds
  functions/src/dev/index.ts
  functions/src/index.ts
Due: none

feat: adds logflare drain
  package.json
  src/config/constants.ts
  src/logger/index.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

feat: reduce log level to support info messages being logged
  src/logger/index.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove pinst
  package.json
  yarn.lock
Due: none

docs: add frontend module docs
  packages/documentation/docs/Frontend Development/modules.md
  packages/documentation/sidebars.js
Due: tslint

chore(ci): ignore wider project configuration
  .circleci/config.yml
Due: none

chore(ci): 🔥 trash package manifest for this step
  .circleci/config.yml
Due: none

chore: refactor to use new name
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: automated releases
  .circleci/config.yml
  .releaserc.json
Due: none

chore: adds context containing GITHUB_TOKEN
  .circleci/config.yml
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
