Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

refactor: address ElWithBeforeIcon review feedback
  packages/components/assets/icons/icon-checkmark.svg
  packages/components/src/UserStatistics/UserStatistics.test.tsx
  src/common/Form/FormWrapper.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: allow horizontal badges (#4901)
  packages/components/src/DisplayDate/DisplayDate.tsx
  packages/components/src/Username/UserBadge.tsx
Due: none

chore: research contributors cleanup
  src/components/ui/avatar.tsx
  src/pages/Research/Content/ResearchContributors.tsx
  src/styles/ui-globals.css
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  92/02b67836493fd432f61f312cc2b9b908d1a523
Due: none

fix: rounded
  src/pages/Research/Content/ResearchContributors.tsx
  src/styles/ui-globals.css
Due: tslint --project tsconfig.json --config tslint.json

feat: record signup source on profiles
  shared/models/index.ts
  shared/models/signupSource.ts
  src/routes/_.sign-up.tsx
  src/routes/api.stripe.create-account.ts
  src/services/authService.server.ts
  supabase/migrations/20260919220400_profiles-signup-source.sql
  supabase/schemas/profiles.sql
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  dd/b4f8a5f4b0f3073dfed649d4aee84e10c4a9ae
Due: none

chore: move the alert palette into the theme
  src/components/ui/alert.test.tsx
  src/components/ui/alert.tsx
  src/styles/ui-globals.css
Due: tslint --project tsconfig.json --config tslint.json

fix: When question is deleted set cursor to default over edit button
  src/pages/Admin/Questions/QuestionsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: sort import names in AdminSidebar
  src/pages/Admin/AdminSidebar.tsx
Due: tslint --project tsconfig.json --config tslint.json

Split fillSignInForm out of the signIn cypress command
  packages/cypress/src/integration/SignUpOrganisation.spec.ts
  packages/cypress/src/support/commandsUi.ts
Due: none

feat: admin questions (#4879)
  packages/cypress/src/integration/admin.spec.ts
  shared/models/question.ts
  src/pages/Admin/AdminSidebar.tsx
  src/pages/Admin/Questions/DeleteQuestionDialog.tsx
  src/pages/Admin/Questions/QuestionsPage.tsx
  src/routes/_.admin.questions.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  ff/6e6ab3a3025ac1d469ebe63eaaef0247e6fcb2
Due: none

refactor: use Tailwind scale for form heading
  src/common/Form/FormWrapper.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: use global status colour tokens for the alert variants
  src/components/ui/alert.test.tsx
  src/components/ui/alert.tsx
  src/styles/ui-globals.css
Due: tslint --project tsconfig.json --config tslint.json

Comment out the organisation sign-up link
  packages/cypress/src/integration/SignUpOrganisation.spec.ts
  src/routes/_.sign-up.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: migrate LinkifyText to platform UI
  bun.lock
  package.json
  packages/components/src/CommentBody/CommentBody.tsx
  packages/components/src/LinkifyText/LinkifyText.stories.tsx
  packages/components/src/LinkifyText/LinkifyText.tsx
  packages/components/src/index.ts
  src/components/ui/linkify-text.stories.tsx
  src/components/ui/linkify-text.test.tsx
  src/components/ui/linkify-text.tsx
  src/pages/Library/Content/Page/LibraryDescription.tsx
  src/pages/Library/Content/Page/LibraryStep.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Due: tslint --project tsconfig.json --config tslint.json

wip arbitrary tailwind values
  .oxlintrc.json
  bun.lock
  package.json
  packages/components/package.json
  src/components/ui/site-footer.tsx
  src/components/ui/tooltip.tsx
  src/pages/Library/Content/List/LibraryList.tsx
  src/pages/Supporter/SupporterCTA.tsx
  src/pages/common/Header/Menu/Notifications/Notifications.tsx
  src/routes/_.forbidden.tsx
  src/routes/_.sign-in.tsx
  src/routes/_.sign-up.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: add tailwind linting
  .circleci/config.yml
  src/common/Form/TextInput.field.tsx
  src/components/ui/avatar.stories.tsx
  src/components/ui/avatar.tsx
  src/components/ui/badge.stories.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/dialog.tsx
  src/components/ui/display-date.tsx
  src/components/ui/label.tsx
  src/components/ui/select.tsx
  src/components/ui/sheet.stories.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/site-footer.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/table.stories.tsx
  src/components/ui/table.tsx
  src/components/ui/textarea.tsx
  src/components/ui/toggle-group.tsx
  src/components/ui/tooltip.tsx
  src/pages/Admin/Categories/CategoriesPage.tsx
  src/pages/Admin/MapPins/MapPinsPage.tsx
  src/pages/Admin/Supporters/SupportersPage.tsx
  src/pages/News/FormFields/FieldRichText/ImageNodeView.tsx
  src/pages/Research/Content/ResearchContributors.tsx
  src/pages/Supporter/SupporterCTA.tsx
  src/pages/common/Header/Menu/Notifications/NotificationItem.tsx
  src/pages/common/Header/Menu/Notifications/NotificationList.tsx
  src/pages/common/Header/Menu/Notifications/Notifications.tsx
  src/routes/_.forbidden.tsx
  src/routes/_.sign-in.tsx
  src/routes/_.sign-up.tsx
  src/styles/ui-globals.css
Due: tslint --project tsconfig.json --config tslint.json

docs
  src/components/ui/README.md
Due: none

fix tailwind lint error
  src/components/ui/table.tsx
  src/pages/Admin/Questions/QuestionsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: fix tests
  packages/cypress/src/integration/admin.spec.ts
Due: none

fix: satisfy the new tailwind design lint in the alert migration
  src/components/ui/alert.stories.tsx
  src/components/ui/alert.test.tsx
  src/components/ui/alert.tsx
  src/pages/Library/Content/Common/LibraryCategoryGuidance.tsx
  src/pages/Library/Content/Page/LibraryDescription.tsx
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/styles/ui-globals.css
Due: tslint --project tsconfig.json --config tslint.json

chore: fix more tests
  packages/cypress/src/integration/admin.spec.ts
Due: none

fix(ui): use spinner size token
  src/components/ui/spinner.tsx
Due: tslint --project tsconfig.json --config tslint.json

Update link styles in LinkifyText component
  src/components/ui/linkify-text.tsx
Due: tslint --project tsconfig.json --config tslint.json

[UI Migration] DownloadCounter (#4905): - create new download-counter in components/ui - remove old DownloadCounter
  packages/components/src/DownloadCounter/DownloadCounter.stories.tsx
  packages/components/src/DownloadCounter/DownloadCounter.test.tsx
  packages/components/src/DownloadCounter/DownloadCounter.tsx
  packages/components/src/index.ts
  src/common/DownloadWrapper.tsx
  src/components/ui/download-counter.stories.tsx
  src/components/ui/download-counter.test.tsx
  src/components/ui/download-counter.tsx
Due: tslint --project tsconfig.json --config tslint.json

[UI Migration] DownloadCounter (#4905): - set type of 'total' to number
  src/components/ui/download-counter.test.tsx
  src/components/ui/download-counter.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: allow multiple gaTrackingIds
  src/common/Analytics/GoogleAnalytics.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix tests
  packages/cypress/src/integration/admin.spec.ts
Due: none

Notes added by 'git notes add'
  54/93bc62fc3a7d10c22f441f24edb3a46139ba46
Due: none

fix: CSP page views and duplicate page views
  server.js
  src/common/Analytics/GoogleAnalytics.tsx
Due: tslint --project tsconfig.json --config tslint.json, tslint

Notes added by 'git notes add'
  5a/f8ce244f57fd9d4bb04e2a0b05efe3d51ff643
Due: none

refactor: remove ElWithBeforeIcon (#4899)
  packages/components/assets/icons/icon-checkmark.svg
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.stories.tsx
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.tsx
  packages/components/src/UserStatistics/UserStatistics.stories.tsx
  packages/components/src/UserStatistics/UserStatistics.tsx
  packages/components/src/index.ts
  src/common/Form/FormWrapper.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: research update sorting
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.stories.tsx
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.test.tsx
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.tsx
  packages/components/src/ResearchEditorOverview/__snapshots__/ResearchEditorOverview.test.tsx.snap
  packages/components/src/index.ts
  shared/models/research.ts
  src/components/ui/card.stories.tsx
  src/components/ui/card.tsx
  src/components/ui/icons/check.svg
  src/components/ui/icons/icons.stories.tsx
  src/pages/Research/Content/Common/ResearchEditorOverview.test.tsx
  src/pages/Research/Content/Common/ResearchEditorOverview.tsx
  src/pages/Research/Content/Common/ResearchForm.tsx
  src/pages/Research/Content/Common/ResearchUpdateForm.tsx
  src/pages/Research/Content/ResearchArticlePage.tsx
  src/pages/Research/research.service.ts
  src/routes/api.research.$id.updates.order.ts
  src/services/researchService.server.ts
  src/styles/ui-globals.css
  src/test/models/research.test.ts
  supabase/migrations/20260925120000_research_updates_order.sql
  supabase/schemas/research.sql
Due: tslint --project tsconfig.json --config tslint.json

fix: replace npx with bunx in db-seeding.md
  docs/db-seeding.md
Due: none

icons
  src/components/ui/icons/check.svg
  src/components/ui/icons/icons.stories.tsx
  src/pages/Research/Content/Common/ResearchEditorOverview.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: research update sorting (#4919)
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.stories.tsx
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.test.tsx
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.tsx
  packages/components/src/ResearchEditorOverview/__snapshots__/ResearchEditorOverview.test.tsx.snap
  packages/components/src/index.ts
  shared/models/research.ts
  src/components/ui/card.stories.tsx
  src/components/ui/card.tsx
  src/pages/Research/Content/Common/ResearchEditorOverview.test.tsx
  src/pages/Research/Content/Common/ResearchEditorOverview.tsx
  src/pages/Research/Content/Common/ResearchForm.tsx
  src/pages/Research/Content/Common/ResearchUpdateForm.tsx
  src/pages/Research/Content/ResearchArticlePage.tsx
  src/pages/Research/research.service.ts
  src/routes/api.research.$id.updates.order.ts
  src/services/researchService.server.ts
  src/styles/ui-globals.css
  src/test/models/research.test.ts
  supabase/migrations/20260925120000_research_updates_order.sql
  supabase/schemas/research.sql
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  bf/b47a7fdac1dabe88393a60b73bed90a9466e0e
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
