Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

fix: yet another email template typo
  src/.server/templates/Layout.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: messaging for all users unless config set
  .circleci/config.yml
  .env
  Dockerfile
  packages/cypress/src/integration/profile.spec.ts
  src/config/config.ts
  src/config/constants.ts
  src/pages/User/content/ProfileContact.tsx
  src/pages/User/content/UserProfile.tsx
  src/pages/UserSettings/SettingsPageUserProfile.test.tsx
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/pages/UserSettings/content/sections/PublicContact.section.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: yet another email template typo (#4157)
  src/.server/templates/Layout.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  d6/58b05d285c4768b8c49a15f0c019974fb10824
Due: none

patreon
  packages/cypress/src/support/seedAccounts.ts
  shared/models/comment.ts
  shared/models/patreonSettings.ts
  src/models/question.model.ts
  src/routes/api.discussions.$sourceId.comments.ts
  src/routes/api.patreon.ts
  src/routes/api.questions.ts
  src/services/authService.server.ts
  src/services/patreonService.server.ts
  src/services/questionService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

updated patreon migration
  supabase/migrations/20250312063008_patreon.sql
Due: none

lint
  src/routes/api.patreon.ts
  src/services/patreonService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

patreon integration ui
  src/pages/UserSettings/content/fields/PatreonIntegration.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix build
  src/test/factories/Question.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: UserStatistics spacing on profiles
  src/pages/User/content/ProfileDetails.tsx
  src/pages/User/content/UserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: duplicate profiles
  src/routes/_.sign-up.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: drop links as a required user field
  packages/cypress/src/support/commandsUi.ts
  shared/models/user.ts
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/pages/UserSettings/content/fields/ProfileLink.field.tsx
  src/pages/UserSettings/content/sections/UserInfos.section.tsx
  src/pages/UserSettings/labels.ts
  src/services/userService.server.ts
  src/stores/User/user.store.ts
  src/utils/isProfileComplete.test.ts
  src/utils/isProfileComplete.ts
Due: tslint --project tsconfig.json --config tslint.json

refactor: drop unused user store function
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  85/068b63042ab9208256813167ac942e69db3a52
Due: none

test: change domain for test emails
  packages/cypress/src/integration/SignUp.spec.ts
  packages/cypress/src/support/seedAccounts.ts
  packages/cypress/src/utils/TestUtils.ts
Due: none

fix: showing logged out users contact option
  src/pages/User/content/ProfileContact.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: block incomplete users from adding content
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commandsUi.ts
  packages/themes/src/common/button.ts
  src/common/UserAction.test.tsx
  src/common/UserAction.tsx
  src/pages/Library/Content/List/LibraryListHeader.tsx
  src/pages/Library/labels.ts
  src/pages/Question/QuestionListHeader.tsx
  src/pages/Question/labels.ts
  src/pages/Research/Content/ResearchListHeader.tsx
  src/pages/Research/labels.ts
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/pages/common/CommentsSupabase/CreateCommentSupabase.tsx
  src/routes/_.questions.create.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: migrate patreon to supabase (#4153)
  .circleci/config.yml
  functions/src/Integrations/index.ts
  functions/src/Integrations/patreon.spec.ts
  functions/src/Integrations/patreon.ts
  packages/cypress/src/support/seedAccounts.ts
  shared/models/comment.ts
  shared/models/index.ts
  shared/models/patreonSettings.ts
  src/models/profile.model.ts
  src/models/question.model.ts
  src/pages/Patreon/Patreon.tsx
  src/pages/UserSettings/SettingsPageAccount.tsx
  src/pages/UserSettings/content/fields/PatreonIntegration.test.tsx
  src/pages/UserSettings/content/fields/PatreonIntegration.tsx
  src/routes/_.patreon.tsx
  src/routes/api.discussions.$sourceId.comments.ts
  src/routes/api.patreon.ts
  src/routes/api.questions.ts
  src/services/authService.server.ts
  src/services/patreonService.server.ts
  src/services/patreonService.ts
  src/services/questionService.server.ts
  src/stores/User/user.store.test.tsx
  src/stores/User/user.store.ts
  src/test/factories/Question.ts
  supabase/migrations/20250312063008_patreon.sql
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  86/ec281dd1b9a88ce3e119886ccbb6e303ac11a3
Due: none

chore: added patreon error logging
  src/services/patreonService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: more patreon logging
  src/services/patreonService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: patreon url origin
  src/routes/_.patreon.tsx
  src/services/patreonService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: patreon image cors
  server.js
Due: tslint

Notes added by 'git notes add'
  ed/34d21e412a309e68e9fd5535ee90a4768e0eaa
Due: none

settings cypress test and using card instead of alert
  packages/cypress/src/integration/settings.spec.ts
  src/pages/UserSettings/SettingsPageMapPin.tsx
Due: tslint --project tsconfig.json --config tslint.json

lint fix
  src/pages/UserSettings/SettingsPageMapPin.tsx
Due: tslint --project tsconfig.json --config tslint.json

fixing test case
  packages/cypress/src/integration/settings.spec.ts
Due: none

test fix 2
  packages/cypress/src/integration/settings.spec.ts
Due: none

fixing test 3
  packages/cypress/src/integration/settings.spec.ts
Due: none

fixing test 4 y changing not.be.visible to not.exist
  packages/cypress/src/integration/settings.spec.ts
Due: none

refactor: update reset password form message
  packages/cypress/src/integration/SignIn.spec.ts
  src/routes/_.reset-password.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: final tweaks
  packages/cypress/src/integration/SignIn.spec.ts
  src/routes/_.reset-password.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: block incomplete profile users from adding map pin (#4144)
  packages/cypress/src/integration/settings.spec.ts
  src/pages/UserSettings/SettingsPageMapPin.test.tsx
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/pages/UserSettings/labels.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: showing logged out users contact option
  src/pages/User/content/ProfileContact.tsx
  src/pages/UserSettings/SettingsPageUserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
