Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

fix: tests
  src/common/DiscussionWrapper.test.tsx
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Question/question.routes.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: lint
  .eslintrc.json
  package.json
  yarn.lock
Due: none

fix: lint do not report warnings
  package.json
Due: none

fix: prettier
  functions/src/emailNotifications/createModerationEmails.spec.ts
  functions/src/emailNotifications/utils.ts
  functions/src/emulator/seed/data-clean.ts
  functions/src/seo/render/render.spec.ts
  package.json
  shared/models/notifications.ts
  src/common/Form/TagsSelect.field.tsx
  src/common/Tags/TagsSelect.tsx
  src/config/constants.ts
  src/modules/profile/types.ts
  src/pages/Maps/Content/Controls/transformAvailableFiltersToGroups.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Question/question.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/module.store.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: lint
  functions/src/emailNotifications/createSubmissionEmails.spec.ts
  packages/themes/src/types/index.ts
  src/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: storybook snapshots; build
  package.json
  packages/components/src/BlockedRoute/BlockedRoute.stories.tsx
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.stories.tsx
  packages/components/src/ResearchEditorOverview/__snapshots__/ResearchEditorOverview.test.tsx.snap
  packages/components/src/UserStatistics/UserStatistics.stories.tsx
  packages/components/src/VideoPlayer/VideoPlayer.stories.tsx
  src/common/Form/ImageInput/ImageConverterList.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/common/MainLayout/index.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: functions
  functions/src/emailNotifications/templates.ts
Due: none

chore: add log statement
  scripts/postBuild.ts
Due: none

chore: improve log statement
  scripts/postBuild.ts
Due: none

chore: improve script
  scripts/postBuild.ts
Due: none

feat: add simulated webhook server
  docker-compose.yml
  functions/emulator/Dockerfile
  functions/src/config/config.ts
  package.json
  packages/simulated-webhook-receiver/Dockerfile
  packages/simulated-webhook-receiver/README.md
  packages/simulated-webhook-receiver/package.json
  packages/simulated-webhook-receiver/server.js
  yarn.lock
Due: tslint

chore: stop errors when looking for email templates in emulator
  docker-compose.yml
  functions/emulator/Dockerfile
  functions/src/Integrations/firebase-discord.ts
  functions/src/config/config.ts
Due: none

chore: improve comment
  functions/src/config/config.ts
Due: none

chore: make URLs different, so debugging is easier
  functions/src/config/config.ts
Due: none

refactor: only set values for emulated site
  functions/src/config/config.ts
Due: none

Notes added by 'git notes add'
  46/0b1cec383211e38b5494b7fb4f8654e65b7acc
Due: none

fix: merge
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/researchHelpers.test.ts
  src/pages/Research/researchHelpers.ts
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: add cypress tests; feat: also display drafts for admins;
  packages/cypress/src/integration/research/researchDraftUpdate.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/researchHelpers.test.ts
  src/pages/Research/researchHelpers.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: lint
  packages/cypress/src/integration/research/researchDraftUpdate.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/researchHelpers.test.ts
  src/pages/Research/researchHelpers.ts
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: cypress tests
  packages/components/src/Icon/svgs.tsx
  packages/cypress/src/integration/research/researchDraftUpdate.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

fix: hide member mappins for precious plastic
  src/stores/Maps/filter.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: remove snapshot html check
  functions/src/emailNotifications/createNotificationEmails.spec.ts
Due: none

Notes added by 'git notes add'
  3d/1e3b818fed2bb8d7fd35c1114123e40011c01b
Due: none

fix(functions): fix requested changes
  functions/src/discussionUpdates/index.ts
  packages/cypress/src/integration/howto/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
Due: none

fix: firestore indexes
  firestore.indexes.json
Due: none

Notes added by 'git notes add'
  0b/693c2522d2034ed74391a95a8f3c9f5021ff70
Due: none

fix: let chromatic pass with unapproved ui changes
  package.json
Due: none

feat: make a webhook for when a question is accepted
  functions/src/Integrations/firebase-slack.ts
  functions/src/Integrations/index.ts
Due: none

refactor: group exports by topic for easier understanding
  functions/src/Integrations/index.ts
Due: none

chore: cleanup code because questions are not moderated
  functions/src/Integrations/firebase-slack.ts
Due: none

chore: use the discord webhook url in the slack file
  functions/src/Integrations/firebase-slack.ts
Due: none

chore: move code to discord file
  functions/src/Integrations/firebase-discord.ts
  functions/src/Integrations/firebase-slack.ts
  functions/src/Integrations/index.ts
Due: none

Notes added by 'git notes add'
  02/1b2ae7df86a1a959a1df66a5da774b1f364130
Due: none

chore: make format match other discord webhooks
  functions/src/Integrations/firebase-discord.ts
Due: none

fix: allow admins to delete comments
  src/common/DiscussionWrapper.test.tsx
  src/common/transformToUserComments.ts
  src/pages/Question/question.routes.test.tsx
Due: tslint --project tsconfig.json --config tslint.json
