Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

feat: add feedback route
  src/pages/common/StickyButton.tsx
  src/routes/_.feedback.tsx
  supabase/functions/send-email/_templates/layout.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add research update notifications
  .snaplet/dataModel.json
  packages/components/src/utils.ts
  packages/cypress/src/integration/research/write.spec.ts
  packages/cypress/src/support/commands.ts
  seed.ts
  shared/models/notificationsPreferences.ts
  shared/models/profile.ts
  src/pages/UserSettings/SupabaseNotifications.tsx
  src/pages/common/CommentsSupabase/CommentSectionSupabase.tsx
  src/routes/_.sign-in.tsx
  src/routes/api.discussions.$sourceType.$sourceId.comments.ts
  src/routes/api.messages.tsx
  src/routes/api.news.$id.ts
  src/routes/api.news.ts
  src/routes/api.notifications-preferences.ts
  src/routes/api.notifications.$id.read.ts
  src/routes/api.notifications.all.read.ts
  src/routes/api.research.$id.status.ts
  src/routes/api.research.$id.ts
  src/routes/api.research.$id.updates.$updateId.ts
  src/routes/api.research.$id.updates.ts
  src/services/notificationEmailService.server.ts
  src/services/notificationSupabaseService.server.ts
  src/services/notificationsPreferencesService.ts
  supabase/functions/send-email/_templates/instant-notification-email.tsx
  supabase/functions/send-email/index.ts
  supabase/migrations/20250617151457_update_notification_preferences.sql
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  94/b7b380ffeb7720e3c6c597dc002966300b55b2
Due: none

fix: library form step image validation
  src/pages/Library/Content/Common/LibraryStep.field.tsx
  src/pages/Library/Content/Common/LibraryStepsContainer.field.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: library form step image validation (#4308)
  src/pages/Library/Content/Common/LibraryStep.field.tsx
  src/pages/Library/Content/Common/LibraryStepsContainer.field.tsx
Due: tslint --project tsconfig.json --config tslint.json

4163 - Move user functions to userService.servet.ts
  src/pages/UserSettings/content/fields/DeleteAccount.field.tsx
  src/routes/api.profile.delete.ts
  src/services/userService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  ee/a7b3d7f27b7cd8e550e1ecd992d6762fa58259
Due: none

fix: minor project ui issues
  packages/components/src/ModerationStatus/ModerationStatus.tsx
  shared/models/library.ts
  shared/models/moderation.ts
  src/pages/Library/Content/List/LibraryList.tsx
  src/pages/Library/Content/List/ProjectCard.tsx
  src/pages/Library/Content/Page/Library.test.tsx
  src/pages/Library/Content/Page/LibraryDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: refactor reset password flow
  src/routes/_.update-password.tsx
  supabase/functions/send-email/_templates/reset-password.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: reduce library flakiness
  packages/cypress/src/integration/library/write.spec.ts
Due: none

fix
  src/routes/_.update-password.tsx
Due: tslint --project tsconfig.json --config tslint.json

4163 - Refactor modal
  packages/components/src/ButtonShowReplies/ButtonShowReplies.tsx
  packages/components/src/CategoryVerticalList/CategoryVerticalList.tsx
  packages/components/src/ConfirmModalWithForm/ConfirmModalWithForm.stories.tsx
  packages/components/src/ConfirmModalWithForm/ConfirmModalWithForm.test.tsx
  packages/components/src/ConfirmModalWithForm/ConfirmModalWithForm.tsx
  packages/components/src/DeleteProfileModal/DeleteProfileModal.stories.tsx
  packages/components/src/DeleteProfileModal/DeleteProfileModal.test.tsx
  packages/components/src/DeleteProfileModal/DeleteProfileModal.tsx
  packages/components/src/index.ts
  src/pages/UserSettings/content/fields/DeleteAccount.field.tsx
  src/pages/UserSettings/labels.d.ts
  src/pages/UserSettings/labels.js
  src/pages/UserSettings/labels.ts
  src/routes/api.profile.delete.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint

Notes added by 'git notes add'
  c1/48a2c32d19d4fb6e0d8a599ddd10bdf9c55916
Due: none

fix: image and video field validation
  src/pages/Library/Content/Common/LibraryStep.field.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: hide comment thread subscribe icon
  src/common/FollowButtonAction.tsx
  src/pages/common/CommentsSupabase/CommentItemSupabase.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: drop library banner
  src/common/Alerts/Alerts.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: refactor reset password flow (#4309)
  src/routes/_.update-password.tsx
  supabase/functions/send-email/_templates/reset-password.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  bc/22aff5f24c6fb755e9b6e7828968bbfc572401
Due: none

feat: all consistent draft behaviour
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  shared/models/content.ts
  shared/models/library.ts
  shared/models/news.ts
  shared/models/question.ts
  src/common/Form/FormWrapper.tsx
  src/pages/Library/Content/Common/Library.form.tsx
  src/pages/News/Content/Common/NewsForm.tsx
  src/pages/Question/Content/Common/QuestionForm.tsx
  src/pages/Research/Content/Common/ResearchForm.tsx
  src/pages/Research/labels.ts
  src/routes/api.news.$id.ts
  src/routes/api.news.ts
  src/routes/api.questions.$id.ts
  src/routes/api.questions.ts
  src/services/newsService.ts
  supabase/migrations/20250625162400_update_questions_news_is_draft.sql
Due: tslint --project tsconfig.json --config tslint.json

fix: delete steps
  src/routes/api.projects.$id.ts
  src/services/libraryService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: delete steps (#4317)
  src/routes/api.projects.$id.ts
  src/services/libraryService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  a4/70f53529d0b0cb9c28897c72296647175cc12b
Due: none

fix: redirect previous slugs to latest content
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/routes/api.news.$id.ts
  src/routes/api.projects.$id.ts
  src/routes/api.questions.$id.ts
  src/routes/api.research.$id.ts
  src/services/contentService.server.ts
  src/services/newsService.server.ts
  src/services/questionService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: client side validation to all content forms
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/common/Form/ErrorsContainer.test.tsx
  src/common/Form/ErrorsContainer.tsx
  src/common/Form/FormWrapper.tsx
  src/pages/Library/Content/Common/Library.form.tsx
  src/pages/Library/Content/Common/LibraryTags.field.tsx
  src/pages/Library/Content/utils/transformLibraryErrors.ts
  src/pages/News/Content/Common/FormFields/NewsBodyField.tsx
  src/pages/News/Content/Common/NewsForm.tsx
  src/pages/Question/Content/Common/QuestionForm.tsx
  src/pages/Research/Content/Common/ResearchForm.tsx
  src/pages/Research/Content/Common/ResearchUpdateForm.tsx
  src/pages/Research/labels.ts
  src/pages/UserSettings/content/SettingsFormNotifications.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  dd/2a8953798af536b3292aab2d465b0b41b15416
Due: none

feat: changing map language to english
  packages/components/src/Map/Map.client.tsx
  server.js
Due: tslint

fix: removing sentry
  server.js
Due: tslint

fix: removing space
  server.js
Due: tslint

feat: map container bg color match
  packages/components/src/Map/Map.client.tsx
  src/styles/leaflet.css
Due: none

transform image steps and add landscape image size
  src/config/imageTransforms.ts
  src/services/libraryService.server.ts
  src/services/researchService.server.ts
  src/utils/formatImageListForGallery.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: moderation empty state; fix: project image upload;
  src/routes/api.projects.$id.ts
  src/routes/api.projects.ts
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
