Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

add cypress tag
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
Due: tslint --project tsconfig.json --config tslint.json

migrate Header animation for mobile format to framer
  src/pages/common/Header/Header.tsx
Due: tslint --project tsconfig.json --config tslint.json

migrate Howto form to use framer-motion instead of react-pose
  src/pages/Howto/Content/Common/Howto.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

remove depreceated package react-pose
  package.json
  yarn.lock
Due: none

remove self comment
  src/pages/Howto/Content/Common/Howto.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

remove useless logs
  src/pages/Howto/Content/Common/Howto.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix minor indent
  src/components/Animations/FadeInOut.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix indent #2
  src/pages/Howto/Content/Common/Howto.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

added link to user profile for comments
  src/components/Comment/CommentHeader.tsx
Due: tslint --project tsconfig.json --config tslint.json

add comments editing
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentHeader.tsx
  src/models/howto.models.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

increase edit comment modal size
  src/components/Comment/Comment.tsx
  src/components/Modal/Modal.tsx
Due: tslint --project tsconfig.json --config tslint.json

add bounties docs
  CONTRIBUTING.md
Due: none

bounty docs
  BOUNTIES.md
Due: none

add firebase deploy to circleci
  .circleci/config.yml
Due: none

ci filters
  .circleci/config.yml
Due: none

ci
  .circleci/config.yml
Due: none

ci params
  .circleci/config.yml
Due: none

add cross-origin support for images
  .circleci/config.yml
  src/components/ImageGallery/index.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/common/UploadedFile/ImagePreview.tsx
Due: tslint --project tsconfig.json --config tslint.json

crossorigin changes
  public/index.html
  src/components/ImageGallery/index.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/common/UploadedFile/ImagePreview.tsx
Due: tslint --project tsconfig.json --config tslint.json

update service worker cors
  src/service-worker.ts
Due: tslint --project tsconfig.json --config tslint.json

update fetch options
  functions/src/config/cors.md
  src/service-worker.ts
Due: tslint --project tsconfig.json --config tslint.json

workflows update
  .circleci/config.yml
Due: none

ci approval step
  .circleci/config.yml
Due: none

slack notification test
  .circleci/config.yml
Due: none

test slack ci
  .circleci/config.yml
Due: none

custom deployment message
  .circleci/config.yml
Due: none

add deploy success message
  .circleci/config.yml
Due: none

ci application credentials and contexts
  .circleci/config.yml
Due: none

add circle-ci deployment docs
  packages/documentation/docs/Deployment/circle-ci.md
  packages/documentation/sidebars.js
Due: tslint

build fix
  .circleci/config.yml
  package.json
  yarn.lock
Due: none

build testing
  .circleci/config.yml
  package.json
  yarn.lock
Due: none

yarn cache clear
  .circleci/config.yml
Due: none
