Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

docs: drop recommendation for mdx plugin as no longer using mdx
  packages/components/README.md
Due: none

feat: migrate to documented components
  packages/components/src/FieldTextarea/FieldTextarea.stories.tsx
  packages/components/src/FieldTextarea/FieldTextarea.tsx
  packages/components/src/Input/Input.stories.tsx
  packages/components/src/Textarea/Textarea.stories.tsx
  src/components/Form/Fields.tsx
  src/components/Form/elements.ts
  src/components/OsmGeocoding/OsmGeocoding.tsx
  src/components/SearchInput/index.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/admin/content/AdminBetaTesters.tsx
  src/pages/admin/content/AdminCategories.tsx
  src/pages/admin/content/AdminTags.tsx
  src/pages/admin/content/AdminUsers.tsx
  src/themes/precious-plastic/styles.ts
  src/themes/types.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: apply liberal typing within stories
  packages/components/src/FieldInput/FieldInput.stories.tsx
  packages/components/src/FieldTextarea/FieldTextarea.stories.tsx
Due: none

feat: use FieldInput
  src/components/Form/Fields.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Password/ForgotPassword.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Settings/content/ProfileDelete.tsx
  src/pages/Settings/content/formSections/ChangeEmail.form.tsx
  src/pages/Settings/content/formSections/ChangePassword.form.tsx
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/ResendSignUpMessage.tsx
  src/pages/SignUp/SignUp.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: introduce FieldDatepicker component
  package.json
  packages/components/src/FieldDatepicker/FieldDatepicker.stories.tsx
  packages/components/src/FieldDatepicker/FieldDatepicker.tsx
  packages/components/src/index.ts
  src/components/Form/Fields.tsx
  src/components/Form/elements.ts
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/themes/precious-plastic/styles.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

feat: introduce FieldTextarea
  packages/components/src/FieldTextarea/FieldTextarea.stories.tsx
  packages/components/src/FieldTextarea/FieldTextarea.tsx
  packages/components/src/index.ts
  src/components/Comment/CommentTextArea.tsx
  src/components/Form/Fields.tsx
  src/components/Form/elements.ts
  src/components/FormEditComment/FormEditComment.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Settings/content/formSections/MemberMapPin.section.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  src/themes/precious-plastic/styles.ts
  src/themes/types.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: introduce FieldInput
  packages/components/src/FieldInput/FieldInput.stories.tsx
  packages/components/src/FieldInput/FieldInput.tsx
  packages/components/src/FieldTextarea/FieldTextarea.tsx
  packages/components/src/index.ts
  src/components/Form/Fields.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: remove ErrorMessage component
  src/components/Form/ImageInput.field.tsx
  src/components/Form/Select.field.tsx
  src/components/Form/elements.ts
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor to remove generic Fields and elements file
  src/components/Category/CategoriesSelect.tsx
  src/components/Form/FieldContainer.ts
  src/components/Form/Fields.tsx
  src/components/Form/FileInput.field.tsx
  src/components/Form/ImageInput.field.tsx
  src/components/Form/LocationSearch.field.tsx
  src/components/Form/README.md
  src/components/Form/Select.field.tsx
  src/components/Form/types.ts
  src/components/Tags/TagsSelect.tsx
  src/pages/Howto/Content/HowtoList/SortSelect.tsx
  src/pages/Settings/content/formSections/Fields/CustomCheckbox.field.tsx
  src/pages/Settings/content/formSections/Fields/CustomRadio.field.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: fix data propagation
  packages/cypress/src/integration/events.spec.ts
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add country dropdown in profile settings
  package.json
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/formSections/MemberMapPin.section.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: fix member map pin and country dropdown relation
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/formSections/MemberMapPin.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: modify SelectField placeholder
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: add test for location dropdown and member map pin
  packages/cypress/src/integration/settings.spec.ts
Due: none

fix: add form styles to all themes
  src/components/FormEditComment/FormEditComment.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/project-kamp/styles.ts
Due: tslint --project tsconfig.json --config tslint.json

deploy: 4fd7c3c6817789d56518162cb6653711a9f0b18c
  storybook-static/2.ef679972.iframe.bundle.js
  storybook-static/iframe.html
  storybook-static/main.268e9df1.iframe.bundle.js
  storybook-static/main.e3ed678a.iframe.bundle.js
  storybook-static/runtime~main.3c1ad18b.iframe.bundle.js
  storybook-static/runtime~main.55c4f2a2.iframe.bundle.js
  storybook-static/vendors~main.223811c5.iframe.bundle.js
  storybook-static/vendors~main.223811c5.iframe.bundle.js.LICENSE.txt
  storybook-static/vendors~main.223811c5.iframe.bundle.js.map
  storybook-static/vendors~main.907491ec.iframe.bundle.js
  storybook-static/vendors~main.907491ec.iframe.bundle.js.map
Due: tslint

test: create new event 2 days from now
  packages/cypress/src/integration/events.spec.ts
Due: none

fix: form style declaration
  src/themes/fixing-fashion/styles.ts
  src/themes/types.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: disallow duplicate imports
  .eslintrc.json
  package.json
  yarn.lock
Due: none

chore: remove linting rule from root project
  .eslintrc.json
Due: none

feat: drop Avatar component
  packages/components/src/MemberBadge/MemberBadge.stories.tsx
  packages/components/src/MemberBadge/MemberBadge.tsx
  src/components/Avatar/index.tsx
  src/components/Comment/CommentTextArea.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/themes/precious-plastic/styles.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: ignore a few more directories to speed lint up
  packages/components/.eslintignore
Due: none

docs: update FE docs to match current technologies
  packages/components/README.md
  packages/documentation/docs/Frontend Development/overview.md
Due: none

chore: add new component to index
  packages/components/scripts/newComponent.ts
Due: none

chore: enforce default export ban, ignoring stories as they require default export
  packages/components/.eslintrc.json
Due: none

chore(scripts): remove extra > char
  packages/components/scripts/templates/{componentName}.stories.tsx.mst
Due: none

chore(ci): lint components
  .circleci/config.yml
  packages/components/package.json
Due: none

chore: refactor to clarify naming
  packages/components/scripts/newComponent.ts
Due: none

deploy: 5a71a5048988092bd7c509d48ac200beed7c73f4
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/826114b9.8871359d.js
  assets/js/826114b9.cfe80f2a.js
  assets/js/runtime~main.2136a2b5.js
  assets/js/runtime~main.cf2f7b07.js
  example.index/index.html
  index.html
  storybook-static/iframe.html
  storybook-static/main.28813725.iframe.bundle.js
  storybook-static/main.e3ed678a.iframe.bundle.js
Due: tslint

fix: load academy content for Fixing Fashion
  src/themes/fixing-fashion/index.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove legacy app-engine code
  .eslintignore
  functions-cron/.gcloudignore
  functions-cron/.gitignore
  functions-cron/LICENSE
  functions-cron/README.md
  functions-cron/app.js
  functions-cron/app.yaml
  functions-cron/cron.yaml
  functions-cron/package.json
  tsconfig.json
Due: tslint

refactor: pub-sub tasks
  functions/README.md
  functions/src/exports/tasks.ts
  functions/src/index.ts
  functions/src/scheduled/tasks.ts
Due: none

chore: move howto categories under Howto section
  src/pages/Howto/Category/CategoriesSelect.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: move DevSiteHeader out to global element
  src/pages/common/DevSiteHeader/DevSiteHeader.tsx
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: drop DiscordLink as it is not a valid component
  src/components/DiscordLink/DiscordLink.stories.mdx
  src/components/DiscordLink/DiscordLink.tsx
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: move EventCard into pages/Events
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Events/EventCard/EventCard.tsx
  src/pages/Events/EventCard/event.card.stories.mdx
Due: tslint --project tsconfig.json --config tslint.json

chore: move GoogleAnalytics out to global component
  src/pages/common/GoogleAnalytics/index.tsx
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: move ExternalEmbed into Academy
  src/pages/Academy/Academy.tsx
  src/pages/Academy/ExternalEmbed/ExternalEmbed.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: move VirtualizedFlex out to howto section
  src/pages/Howto/Category/CategoriesSelect.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/VirtualizedFlex/VirtualizedFlex.tsx
Due: tslint --project tsconfig.json --config tslint.json
