Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

fix: support incorrectly sized images
  src/pages/User/content/MemberProfile.stories.mdx
  src/pages/User/content/MemberProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: tidy export
  functions/src/aggregations/common.aggregations.ts
Due: none

fix: sign-up spec auth timeout
  packages/cypress/src/integration/sign-up.spec.ts
Due: none

refactor: use verified aggregation
  src/components/Comment/Comment.tsx
  src/mocks/user.mock.tsx
  src/mocks/user_pp.mock.tsx
  src/models/user.models.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: fix lint issues
  src/modules/admin/pages/admin-approvals.tsx
  src/modules/admin/pages/admin-howtos.tsx
  src/modules/admin/pages/admin-mappins.tsx
  src/modules/admin/pages/admin-research-detail.tsx
  src/modules/admin/pages/admin-research.tsx
  src/modules/admin/pages/admin-tags.tsx
  src/modules/admin/pages/admin-user-detail.tsx
  src/modules/admin/pages/admin-users.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: added better key for UserPage
  src/pages/User/User.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add deep obj diffs
  functions/src/Utils/data.utils.ts
Due: none

feat: refactor MemberProfile component
  packages/storybook/.storybook/preview.js
  src/components/Button/button.stories.mdx
  src/components/DiscordLink/DiscordLink.stories.mdx
  src/components/EventCard/event.card.stories.mdx
  src/components/Heading/heading.stories.mdx
  src/components/Icons/FlagIcon/FlagIcon.tsx
  src/components/Icons/icon.stories.mdx
  src/components/MapWithDraggablePin/MapWithDraggablePin.stories.mdx
  src/components/OsmGeocoding/OsmGeocoding.stories.mdx
  src/components/SiteFooter/SiteFooter.stories.mdx
  src/components/Text/text.stories.mdx
  src/pages/User/content/MemberProfile.stories.mdx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/UserStats.tsx
  src/pages/User/content/index.tsx
Due: tslint --project tsconfig.json --config tslint.json, tslint

chore: update imports
  functions/src/models.ts
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: move classes into their own files
  .eslintrc.json
  src/stores/databaseV2/AbstractDatabase.ts
  src/stores/databaseV2/CollectionReference.tsx
  src/stores/databaseV2/DocReference.tsx
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/databaseV2/clients/firestore.tsx
  src/stores/databaseV2/clients/rtdb.tsx
  src/stores/databaseV2/index.tsx
  src/stores/databaseV2/types/AbstractDBClient.ts
  src/stores/databaseV2/types/index.d.ts
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): Upgrade Cypress to 9.5.0
  packages/cypress/package.json
  yarn.lock
Due: none

style: update howto list tag wrap
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: aggregation handlers
  functions/src/aggregations/common.aggregations.ts
  functions/src/aggregations/user.aggregations.ts
Due: none

chore(deps): bump firebase@8.10.1
  package.json
  yarn.lock
Due: none

feat: add user vote aggregator
  functions/src/aggregations/user.aggregations.ts
Due: none

chore(ci): persist screenshots from failed tests
  .circleci/config.yml
Due: none

chore: reduce calls to fetch verified users
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: common stores import
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/ResearchList.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): share caches across all branches
  .circleci/config.yml
Due: none

feat: add userHowtoVote aggregation bindings
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: prevent 0 count being shown
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add data util tests
  functions/src/Utils/data.utils.test.ts
Due: none

feat: wip add howto and user aggregations
  functions/src/aggregations/howto.aggregations.ts
  functions/src/aggregations/index.ts
  functions/src/aggregations/user.aggregations.ts
Due: none

feat: add common aggregator methods
  functions/src/aggregations/common.aggregations.ts
Due: none

style: add override to make fullwidth
  src/modules/admin/components/admin-subheader.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: tidy test code
  functions/src/Utils/data.utils.test.ts
Due: none

fix: fetch count each time HowtoList is mounted
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add redirect to authRoute
  src/modules/admin/index.tsx
  src/pages/common/AuthRoute.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: stub out user common store
  src/pages/Research/research.routes.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: ensure consistent column size
  src/pages/User/content/MemberProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: add admin module to unit test
  src/modules/index.test.ts
  src/modules/index.ts
Due: tslint --project tsconfig.json --config tslint.json

style: update subheader font
  src/modules/admin/components/admin-subheader.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: add data util tests
  functions/src/Utils/data.utils.test.ts
Due: none

fix: track updates to props in HowToUsefulStats
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoUsefulStats.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add useful count to howto card
  functions/src/stats/index.ts
  src/models/howto.models.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: added keys to how-tos and profiles * this fixed components not reloading when clicking on links.
  src/pages/Howto/Howto.tsx
  src/pages/User/User.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: sort rules alphabetically
  .eslintrc.json
Due: none

test: update data tests
  functions/src/Utils/data.utils.test.ts
Due: none

fix: event list bindings
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore(docs): format markdown
  CONTRIBUTING.md
  packages/documentation/docs/Install.md
Due: none
