Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

chore: add filename linting
  .eslintrc.json
  package.json
  yarn.lock
Due: none

chore: rename components
  packages/components/package.json
  packages/components/scripts/newComponent.ts
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  shared/index.ts
  shared/mocks/authUsers.ts
  yarn.lock
Due: none

chore: introduce all contributors
  .all-contributorsrc
Due: none

chore: adds maintainers back
  .all-contributorsrc
  README.md
  package.json
  yarn.lock
Due: none

chore: expand job trigger to include components
  .github/workflows/docs-deploy.yml
Due: none

chore: move SiteFooter to components
  packages/components/src/SiteFooter/SiteFooter.stories.tsx
  packages/components/src/SiteFooter/SiteFooter.tsx
  packages/components/src/index.ts
  src/components/SiteFooter/SiteFooter.stories.mdx
  src/pages/common/GlobalSiteFooter/GlobalSiteFooter.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: make yarn v3 requirement explicit
  CONTRIBUTING.md
  packages/documentation/docs/Getting Started/setup.md
Due: none

feat: removes collapsible behaviour from settings
  src/pages/Settings/content/formSections/AccountSettings.section.tsx
  src/pages/Settings/content/formSections/Collection.section.tsx
  src/pages/Settings/content/formSections/Expertise.section.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/Settings/content/formSections/MemberMapPin.section.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/Settings/content/formSections/Workspace.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  src/pages/Settings/content/formSections/elements.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: configure user ProfileTypes based on environmental-variables
  packages/documentation/docs/Install.md
  src/assets/images/badges/pt-space.svg
  src/components/Avatar/index.tsx
  src/config/config.ts
  src/config/constants.ts
  src/logger/index.ts
  src/mocks/user_pp.mock.tsx
  src/models/maps.models.tsx
  src/models/user_pp.models.tsx
  src/modules/index.ts
  src/modules/profile/SupportedProfileTypesFactory.ts
  src/modules/profile/index.test.ts
  src/modules/profile/index.ts
  src/modules/profile/types.ts
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/Template.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/index.tsx
  src/pages/User/workspace/Workspace.tsx
  src/stores/Theme/theme.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: remove service-worker caching for index
  src/service-worker.ts
Due: tslint --project tsconfig.json --config tslint.json

deploy: 013f5f599933d517a89e45ea56208d531e70f4ad
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/7f4ab99b.9128f8b5.js
  assets/js/7f4ab99b.cda3258b.js
  assets/js/runtime~main.6e559869.js
  assets/js/runtime~main.f8ff50cd.js
  example.index/index.html
  index.html
  storybook-static/iframe.html
  storybook-static/main.67da4c0f.iframe.bundle.js
  storybook-static/main.f27bd280.iframe.bundle.js
Due: tslint

fix: alignment of moderation text
  src/components/EventCard/EventCard.tsx
  src/components/ModerationStatusText/ModerationStatustext.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: update yarn lock
  yarn.lock
Due: none

chore: revert text change
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
Due: none

chore: fix typo
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
Due: none

deploy: ef2cb513c598fbda6c7e3615631ce0c64bf520c3
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/23c1f925.39864c4d.js
  assets/js/23c1f925.8d2a5e29.js
  assets/js/runtime~main.2136a2b5.js
  assets/js/runtime~main.f8ff50cd.js
  example.index/index.html
  index.html
Due: tslint

docs: re-add fork step in requirements
  CONTRIBUTING.md
Due: none

fix: use relative imports to ensure loading outside of root tsconfig.json
  src/models/maps.models.tsx
  src/models/user_pp.models.tsx
  src/modules/profile/index.ts
Due: tslint --project tsconfig.json --config tslint.json

test: switch to Network first strategy
  src/service-worker.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove contributors from spell check
  README.md
Due: none

fix: make member profiles responsive
  src/pages/User/content/MemberProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

Allow notification icon to dim on click
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: how-to authors can add external link for download-files
  packages/components/src/Icon/ExternalUrl.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/types.ts
  src/components/Links/index.tsx
  src/models/howto.models.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: how-to authors can add external link for download-file
  packages/components/src/Icon/ExternalUrl.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/types.ts
  packages/cypress/src/integration/howto/write.spec.ts
  src/models/howto.models.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/DownloadExternal/DownloadExternal.tsx
  src/stores/Howto/howto.store.tsx
  src/utils/validators.ts
Due: tslint --project tsconfig.json --config tslint.json

deploy: 52238310b350ff4e646ab8af02b460144996b4fe
  storybook-static/iframe.html
  storybook-static/main.9728ff1f.iframe.bundle.js
  storybook-static/main.b2bc78bb.iframe.bundle.js
  storybook-static/static/media/link-target-blank.454f71c3.svg
Due: tslint

docs: remove unnecessary checkbox
  .github/pull_request_template.md
Due: none

docs: add requirement for unit tests
  packages/documentation/docs/Testing/overview.md
Due: none

feat: drop duplicate Link component
  src/components/Comment/CommentHeader.tsx
  src/components/Comment/CommentTextArea.tsx
  src/components/EventCard/EventCard.tsx
  src/components/Links/LinkTargetBlank/LinkTargetBlank.tsx
  src/components/Links/index.tsx
  src/components/NotificationBanner/NotificationBanner.tsx
  src/components/Notifications/NotificationItem.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Password/ForgotPasswordMessage.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Settings/content/PostingGuidelines.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/SignUp/SignUpMessage.tsx
  src/pages/User/content/UserAdmin.tsx
  src/pages/User/content/UserStats.tsx
  src/pages/admin/Admin.tsx
  src/pages/common/Breadcrumb/Breadcrumb.tsx
  src/pages/common/FilterBar/FilterBar.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobileExternalLink.tsx
  src/pages/common/Header/Menu/Profile/ProfileButtonItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: outline on slider images
  src/components/ImageGallery/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor component
  src/components/ImageGallery/ImageGallery.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: extend theme to define heading styles
  packages/components/src/Heading/Heading.stories.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
  src/themes/types.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 1b866beec32623a1b6df169055b9c00f1c428ead
  storybook-static/iframe.html
  storybook-static/main.268e9df1.iframe.bundle.js
  storybook-static/main.b2bc78bb.iframe.bundle.js
  storybook-static/vendors~main.907491ec.iframe.bundle.js
  storybook-static/vendors~main.907491ec.iframe.bundle.js.LICENSE.txt
  storybook-static/vendors~main.907491ec.iframe.bundle.js.map
  storybook-static/vendors~main.a829d121.iframe.bundle.js
  storybook-static/vendors~main.a829d121.iframe.bundle.js.map
Due: tslint

fix: open links in new tab from how-to and research updates
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: create event page layout
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: adds script to run spell checker
  package.json
  yarn.lock
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
