Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

chore: ignore storybook static assets in eslint
  .eslintignore
Due: none

chore: remove empty function
  functions/src/exports/api.ts
  functions/src/index.ts
Due: none

chore: adds Security.md
  SECURITY.md
  packages/documentation/docs/Security.md
Due: none

nit: update contact email
  SECURITY.md
Due: none

feat: adds Security link to doc nav
  packages/documentation/sidebars.js
Due: tslint

chore: refactor sidebar.js to use declarative format
  packages/documentation/sidebars.js
Due: tslint

deploy: fc589ae5e085c63eb00232b6354888e5f0922ea4
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Examples/mdx/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/13ba39d3.e45e4124.js
  assets/js/5f2b48b5.2042a711.js
  assets/js/5f2b48b5.4a46ce45.js
  assets/js/935f2afb.6cc41bdf.js
  assets/js/935f2afb.f00643e4.js
  assets/js/main.abf1dec3.js
  assets/js/main.abf1dec3.js.LICENSE.txt
  assets/js/main.c579b18b.js
  assets/js/runtime~main.02f8e7d6.js
  assets/js/runtime~main.ed982bac.js
  blog/archive/index.html
  example.index/index.html
  index.html
  sitemap.xml
  tags/index.html
Due: tslint

docs: migrates environmental impact doc from wiki
  packages/documentation/docs/Environmental Impact/environmental-impact.md
  packages/documentation/sidebars.js
Due: tslint

docs: adjust formatting of resources list
  CONTRIBUTING.md
Due: none

fix: remove unhelpful logging
  src/common/errors.ts
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

deploy: 14c7165f671e9c8f9c5ee56fda532ede5b546dd5
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/13ba39d3.e45e4124.js
  assets/js/13ba39d3.e8ee5ff5.js
  assets/js/2fd59926.b0277421.js
  assets/js/5f2b48b5.4a46ce45.js
  assets/js/5f2b48b5.6503f6b0.js
  assets/js/935f2afb.59057dfc.js
  assets/js/935f2afb.6cc41bdf.js
  assets/js/main.abf1dec3.js
  assets/js/main.d6dd3a8b.js
  assets/js/main.d6dd3a8b.js.LICENSE.txt
  assets/js/runtime~main.02f8e7d6.js
  assets/js/runtime~main.a526810d.js
  blog/archive/index.html
  example.index/index.html
  index.html
  sitemap.xml
  tags/index.html
Due: tslint

fix: bump the project version
  package.json
Due: none

chore: skip e2e on production
  .circleci/config.yml
Due: none

chore: adds deployment job for project kamp
  .circleci/config.yml
  .firebaserc
Due: none

fix: regression in background colour
  src/components/ProfileModal/ProfileModal.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobileLink.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: dependency chain for production release
  .circleci/config.yml
Due: none

chore: skip unit tests on the production branch
  .circleci/config.yml
Due: none

feat: release PR
  .github/workflows/merge-to-production.yml
Due: none

test: reinstate loads of time consuming tests
  .circleci/config.yml
Due: none

chore: add debug output
  .circleci/config.yml
Due: none

fix: correct read permissions
  firebase.storage.rules
Due: none

chore: increase size of CI resource
  .circleci/config.yml
Due: none

chore: remove unused component
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoSummary/HowtoSummary.tsx
  src/pages/Howto/Content/Howto/HowtoSummary/elements.js
Due: tslint --project tsconfig.json --config tslint.json, tslint

fix: remove usage of material-ui buttons
  src/pages/Events/Content/EventsMenu/EventsMenu.tsx
  src/pages/common/UploadedFile/ImagePreview.tsx
  src/pages/common/UploadedFile/UploadedFile.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: removes documentation referencing deprecated material-ui
  packages/documentation/docs/Frontend Development/overview.md
  src/components/_Template/Template.tsx
  src/pages/_Template/Content/ExampleNumberDisplay/ExampleNumberDisplay.tsx
  src/pages/_Template/Template.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove unused comment
  src/pages/Howto/Content/Howto/Howto.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: replace material-ui with dedicated lib
  package.json
  src/pages/common/Header/Menu/Profile/Profile.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: swap loader for logo based loading component
  src/components/FirebaseFileUploader/FirebaseFileUploader.tsx
  src/components/FirebaseFileUploader/elements.tsx
  src/components/Form/elements.ts
  src/components/Loader/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: 🔥 removes unused component
  src/pages/Events/Content/EventsMenu/EventsMenu.scss
  src/pages/Events/Content/EventsMenu/EventsMenu.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: 🔥 remove @material-ui/core
  package.json
  yarn.lock
Due: none

chore: adds project kamp production target
  .circleci/config.yml
  .firebaserc
Due: none

docs: extend pr template to include developer experience option
  .github/pull_request_template.md
Due: none

chore: fetch version number from git sha
  .circleci/config.yml
  src/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: update version (1.6.2)
  package.json
Due: none

chore: revert back sentry/browser to sentry/react
  package.json
  src/common/ErrorBoundary.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

deploy: b8eddc9238aeb36b8ac1f20c68302e7a7631cded
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/826114b9.d39f15d2.js
  assets/js/826114b9.dc631f93.js
  assets/js/runtime~main.9873ddc6.js
  assets/js/runtime~main.a526810d.js
  blog/archive/index.html
  example.index/index.html
  index.html
  tags/index.html
Due: tslint

chore: introduce build_and_deploy job
  .circleci/config.yml
Due: none

chore: adds workspace plguin
  .circleci/config.yml
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
Due: none

test: skip eslint in build
  .circleci/config.yml
Due: none
