Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

Allow username changes and add cross-tenant choose-username flow
  shared/models/profile.ts
  src/routes/_.choose-username.tsx
  src/routes/_.sign-in.tsx
  src/routes/api.profile.ts
  src/services/profileService.server.ts
  src/services/profileService.ts
  supabase/migrations/20260208055245_profile_unique_username_tenant_id.sql
  supabase/schemas/profiles.sql
Due: tslint --project tsconfig.json --config tslint.json

remove username from signup email, fetch username for other emails
  shared/models/other.ts
  supabase/functions/send-email/_templates/sign-up.tsx
  supabase/functions/send-email/index.ts
Due: none

fixing lint/build errors for the branch
  src/routes/_.library.$slug.edit.tsx
  src/routes/_.sign-in.tsx
  src/routes/api.profile.ts
  src/services/profileService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

Keep get_user_email_by_username fallback, remove ensureProfile duplication, use email fallback in send-email
  src/routes/_.sign-in.tsx
  src/routes/api.messages.tsx
  src/services/profileService.server.ts
  supabase/functions/send-email/index.ts
  supabase/migrations/20260316031506_remove_username_from_user_metadata.sql
  supabase/schemas/common.sql
Due: tslint --project tsconfig.json --config tslint.json

.
  src/services/profileService.server.ts
  supabase/migrations/20260127054801_remove_get_user_email_by_username.sql
Due: tslint --project tsconfig.json --config tslint.json

collapse migration into one
  supabase/migrations/20260127054801_remove_get_user_email_by_username.sql
  supabase/migrations/20260309143743_remove_username_from_user_metadata.sql
Due: none

get username with id
  src/routes/_.research.$slug._index.tsx
  src/routes/api.projects.ts
Due: tslint --project tsconfig.json --config tslint.json

remove username requirement, lock comments until username is set
  .snaplet/dataModel.json
  packages/components/src/Username/DisplayName.tsx
  packages/components/src/Username/Username.tsx
  shared/models/author.ts
  shared/models/profile.ts
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/pages/UserSettings/content/sections/UserInfos.section.tsx
  src/pages/UserSettings/labels.ts
  src/routes/_.choose-username.tsx
  src/routes/_.sign-in.tsx
  src/routes/_.sign-up.tsx
  src/routes/api.profile.ts
  src/services/authService.server.ts
  src/services/profileService.ts
  src/stores/Profile/profile.store.tsx
  supabase/migrations/20260316232131_remove_username_not_null.sql
  supabase/schemas/profiles.sql
Due: tslint --project tsconfig.json --config tslint.json

snaplet file
  .snaplet/dataModel.json
Due: none

fix local typescript errors
  src/pages/User/contact/UserContactForm.tsx
  src/pages/User/content/ProfileDetails.tsx
  src/pages/common/UserNameSelect/UserNameSelect.tsx
  src/routes/api.research.$id.ts
  src/routes/api.research.$id.updates.ts
  src/services/researchService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

fix datamodel
  .snaplet/dataModel.json
Due: none

fix: use correct data-cy selector for ConfirmModal in delete E2E tests
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
Due: none

update integration tests, re-implement username length check
  packages/cypress/src/integration/SignUp.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commandsUi.ts
  src/pages/UserSettings/content/sections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix(comments): prevent iOS zoom on comment textarea
  src/pages/common/CommentsSupabase/CreateCommentSupabase.css
Due: none

fix(comments): align mobile comment typography and improve readability
  packages/components/src/CommentBody/CommentBody.tsx
  src/pages/common/CommentsSupabase/CreateCommentSupabase.css
Due: none

fix: news editor image upload
  packages/components/src/FieldMarkdown/AddImage.tsx
  packages/components/src/FieldMarkdown/FieldMarkdown.stories.tsx
  packages/components/src/FieldMarkdown/FieldMarkdown.tsx
  packages/components/src/FieldMarkdown/style.css
  src/pages/News/Content/Common/FormFields/NewsBodyField.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix files test
  packages/cypress/src/integration/library/write.spec.ts
Due: none

fix: library sort steps for form
  shared/models/library.ts
Due: none

fix project images
  packages/cypress/src/integration/library/write.spec.ts
  src/routes/api.projects.$id.ts
  src/routes/api.projects.ts
Due: tslint --project tsconfig.json --config tslint.json

fix research title disabled issue and description too short
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

fix tests
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

more test fixes
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

fix
  packages/cypress/src/integration/research/write.spec.ts
Due: none

image sorting improvements
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/pages/Question/Content/Common/FormFields/QuestionImages.field.tsx
  src/pages/Research/Content/CreateResearch/Form/ResearchImagesField.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: optimize images on upload
  bun.lock
  package.json
  src/services/storageService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

fix test
  packages/cypress/src/integration/research/write.spec.ts
Due: none

chore: rollback hono compress
  bun.lock
  package.json
  server.js
Due: tslint

chore: rollback hono compress (#4679)
  bun.lock
  package.json
  server.js
Due: tslint

fix: prevent iOS zoom on comment textarea (#4661)
  packages/components/src/CommentBody/CommentBody.tsx
  src/pages/common/CommentsSupabase/CreateCommentSupabase.css
Due: none

make loaders grey
  src/pages/News/Content/Common/FormFields/NewsImageField.tsx
  src/pages/Question/Content/Common/FormFields/QuestionImages.field.tsx
  src/pages/Research/Content/CreateResearch/Form/ResearchImagesField.tsx
  src/pages/UserSettings/content/sections/UserImages.section.tsx
  src/pages/common/FormFields/FilesFields.tsx
  src/pages/common/FormFields/ImageField.tsx
  src/pages/common/FormFields/StepImageField.tsx
Due: tslint --project tsconfig.json --config tslint.json

fixes
  src/pages/Library/Content/Common/LibraryForm.tsx
  src/pages/Library/Content/Common/LibraryStep.field.tsx
  src/pages/common/FormFields/StepImagesField.tsx
  src/pages/common/FormFields/index.ts
  src/routes/_.library.$slug.edit.tsx
  src/routes/api.documents.$type.$contentId.$docId.tsx
  src/services/storageService.server.ts
  supabase/migrations/20260322000000_add_get_storage_object_path.sql
  supabase/schemas/common.sql
Due: tslint --project tsconfig.json --config tslint.json

remove console log
  src/routes/api.documents.$type.$contentId.$docId.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  d0/6275bc1b607e1426899924f5cb34a33ae2f19b
Due: none

fix: mobile images gap and spinner center
  src/pages/Question/Content/Common/FormFields/QuestionImages.field.tsx
  src/pages/Research/Content/CreateResearch/Form/ResearchImagesField.tsx
  src/pages/common/FormFields/FormFieldWrapper.tsx
  src/pages/common/FormFields/ImageInputFieldWrapper.tsx
  src/pages/common/FormFields/StepImagesField.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix tests
  packages/cypress/src/integration/library/write.spec.ts
Due: none

fix
  packages/cypress/src/integration/library/write.spec.ts
Due: none
