Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

chore: move ScrollToTop out of components
  src/common/ScrollToTop.tsx
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: introduce FileInformation
  packages/components/src/FileInformation/FileInformation.stories.tsx
  packages/components/src/FileInformation/FileInformation.tsx
  packages/components/src/index.ts
  src/components/FileInfo/FileDetails.tsx
  src/components/FileInfo/FileInfo.tsx
  src/components/FileInput/FileInput.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: filter out malformed tags
  src/pages/Events/Content/EventsListings/EventsListings.tsx
  src/pages/Events/EventCard/EventCard.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove unused component
  src/components/ModerationStatusText/ModerationStatustext.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: rename to common/AlertIncompleteProfile
  src/common/AlertIncompleteProfile.tsx
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 212ac5c5f3b52ccad60accc5164eebc38555d56b
  storybook-static/iframe.html
  storybook-static/main.056dd12b.iframe.bundle.js
  storybook-static/main.fd865f76.iframe.bundle.js
  storybook-static/vendors~main.0a69d8ef.iframe.bundle.js
  storybook-static/vendors~main.0a69d8ef.iframe.bundle.js.map
  storybook-static/vendors~main.d0f05005.iframe.bundle.js
  storybook-static/vendors~main.d0f05005.iframe.bundle.js.LICENSE.txt
  storybook-static/vendors~main.d0f05005.iframe.bundle.js.map
Due: tslint

chore(ci): update labels to reflect new domains
  .circleci/config.yml
Due: none

feat: moves app components out to package
  packages/components/package.json
  packages/components/src/MapWithDraggablePin/MapWithDraggablePin.stories.tsx
  packages/components/src/MapWithDraggablePin/MapWithDraggablePin.tsx
  packages/components/src/OsmGeocoding/OsmGeocoding.stories.tsx
  packages/components/src/OsmGeocoding/OsmGeocoding.tsx
  packages/components/src/OsmGeocoding/OsmGeocodingLoader.tsx
  packages/components/src/OsmGeocoding/OsmGeocodingResultsList.tsx
  packages/components/src/index.ts
  src/components/Form/LocationSearch.field.tsx
  src/components/MapWithDraggablePin/MapWithDraggablePin.stories.mdx
  src/components/OsmGeocoding/OsmGeocodingLoader.tsx
  src/components/OsmGeocoding/OsmGeocodingResultsList.tsx
  src/pages/Maps/Content/Controls/Controls.tsx
  src/pages/Settings/content/formSections/MemberMapPin.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  ce867cbce24ad48e21590a4f8f8e5d1d76b555d5
Due: none

deploy: cd3d50c6bddeb6e150c20de1fbe8dd46f35ecc2f
  storybook-static/iframe.html
  storybook-static/main.ca2c294e.iframe.bundle.js
  storybook-static/main.fd865f76.iframe.bundle.js
Due: tslint

fix: import path
  src/pages/Research/Content/ResearchList.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: ccbd88eb5ed892005571d047ba4a461721cbfc79
  storybook-static/iframe.html
  storybook-static/main.2b8272f4.iframe.bundle.js
  storybook-static/main.ca2c294e.iframe.bundle.js
  storybook-static/static/media/icon-comment.6b4486eb.svg
  storybook-static/vendors~main.7022ddbc.iframe.bundle.js
  storybook-static/vendors~main.7022ddbc.iframe.bundle.js.LICENSE.txt
  storybook-static/vendors~main.7022ddbc.iframe.bundle.js.map
  storybook-static/vendors~main.d0f05005.iframe.bundle.js.map
Due: tslint

Notes added by 'git notes add'
  faf2bbb2c583dde4224b48ff0eb6943254ef56ba
Due: none

feat: updates design of 404 page
  src/assets/images/404error.png
  src/pages/NotFound/NotFound.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: move FirebaseFileUploader relative to reference
  src/pages/common/UploadedFile/FirebaseFileUploader.tsx
  src/pages/common/UploadedFile/UploadedFile.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: update selectors and text matchers
  packages/cypress/src/integration/common.spec.ts
  src/pages/NotFound/NotFound.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor to function component
  src/pages/NotFound/NotFound.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: c6181f678b671e3a530c1ff2d2a5ea8aac2ee202
  storybook-static/iframe.html
  storybook-static/main.21ba8ddc.iframe.bundle.js
  storybook-static/main.2b8272f4.iframe.bundle.js
  storybook-static/static/media/layers-2x.8f2c4d11.png
  storybook-static/static/media/layers.416d9136.png
  storybook-static/static/media/map-marker.3ada3d47.png
  storybook-static/static/media/marker-icon.2b3e1faf.png
  storybook-static/vendors~main.7022ddbc.iframe.bundle.js
  storybook-static/vendors~main.7022ddbc.iframe.bundle.js.map
  storybook-static/vendors~main.e290ecab.iframe.bundle.js
  storybook-static/vendors~main.e290ecab.iframe.bundle.js.LICENSE.txt
  storybook-static/vendors~main.e290ecab.iframe.bundle.js.map
Due: tslint

wip
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/filters.test.ts
  src/stores/common/filters.ts
  src/stores/common/module.store.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: refactor parseMentions
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/parseMentions.test.ts
  src/stores/common/parseMentions.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: adds TextNotification component
  packages/components/src/TextNotification/TextNotification.stories.tsx
  packages/components/src/TextNotification/TextNotification.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/sign-in.spec.ts
  src/components/Notification/TextNotification.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/FormSubmitResult.tsx
  src/pages/SignIn/SignIn.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove unused component FormEditComment
  src/components/FormEditComment/FormEditComment.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: remove .only
  src/stores/common/parseMentions.test.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: introduce @mention to howto and research items
  packages/components/package.json
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/LinkifyText/LinkifyText.stories.tsx
  packages/components/src/LinkifyText/LinkifyText.tsx
  packages/components/types/ReactLinkify.d.ts
  src/pages/Howto/Content/Howto/Howto.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/mentions/index.test.ts
  src/stores/common/mentions/index.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

deploy: daeafc0ca57802413a47afda95cba6dbe212c7c4
  storybook-static/iframe.html
  storybook-static/main.21ba8ddc.iframe.bundle.js
  storybook-static/main.e375c9fa.iframe.bundle.js
  storybook-static/vendors~main.32032f5c.iframe.bundle.js
  storybook-static/vendors~main.32032f5c.iframe.bundle.js.LICENSE.txt
  storybook-static/vendors~main.32032f5c.iframe.bundle.js.map
  storybook-static/vendors~main.e290ecab.iframe.bundle.js
  storybook-static/vendors~main.e290ecab.iframe.bundle.js.map
Due: tslint

fix: tighten Regex pattern
  src/stores/common/mentions/index.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  e6ebf907b16e88a257d3d44d6bb0ad3a8c60c126
Due: none

chore: remove unused FadeInOut
  src/components/Animations/FadeInOut.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: switch to sticky
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Settings/SettingsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add option for digital events
  src/assets/icons/icon-laptop.png
  src/components/Form/Checkbox.tsx
  src/mocks/events.mock.tsx
  src/models/events.models.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Events/Content/EventsCreate/Template.tsx
  src/pages/Events/EventCard/EventCard.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: download button margin
  packages/components/src/FileInformation/FileInformation.tsx
Due: none

chore: wire in user notifications store
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/common/Header/Header.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add markAllNotificationsNotified to notifications store
  src/models/user.models.tsx
  src/stores/User/notifications.store.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: notifications list marks items as notified when rendered
  packages/components/src/NotificationList/NotificationList.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsDesktop.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsMobile.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor notifications from user store into separate user notifications
  src/stores/User/notifications.store.ts
  src/stores/User/user.store.ts
  src/stores/common/module.store.ts
  src/stores/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: rename getUserNotifications -> getUnreadNotifications, add getUnnotifiedNotifications
  src/pages/common/Header/Header.tsx
  src/stores/User/notifications.store.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: add notification_settings to IUse
  src/models/user.models.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: d80192bc07b6bc75d4de40f05586335b49199996
  storybook-static/iframe.html
  storybook-static/main.9bc7a364.iframe.bundle.js
  storybook-static/main.e375c9fa.iframe.bundle.js
  storybook-static/vendors~main.32032f5c.iframe.bundle.js
  storybook-static/vendors~main.32032f5c.iframe.bundle.js.map
  storybook-static/vendors~main.d26c6f2d.iframe.bundle.js
  storybook-static/vendors~main.d26c6f2d.iframe.bundle.js.LICENSE.txt
  storybook-static/vendors~main.d26c6f2d.iframe.bundle.js.map
Due: tslint

deploy: a90905e0459fce172e3a3ea25b5db9f4725a9c03
  storybook-static/iframe.html
  storybook-static/main.6ec61f18.iframe.bundle.js
  storybook-static/main.9bc7a364.iframe.bundle.js
Due: tslint

Update FileInformation.tsx
  packages/components/src/FileInformation/FileInformation.tsx
Due: none
