Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

chore: remove legacy seed extract scripts
  functions/package.json
  functions/scripts/emulator/seed.ts
Due: none

fix: support webpack build of shared
  functions/webpack.config.ts
Due: none

refactor: seed functions
  functions/src/Firebase/firestoreDB.ts
  functions/src/dev/index.ts
  functions/src/dev/seed/clean-seed-data.ts
  functions/src/dev/seed/data-clean.ts
  functions/src/dev/seed/users-create.ts
  shared/mocks/auth-users.ts
  yarn.lock
Due: none

chore: add export
  shared/index.ts
Due: none

feat: add initial export
  packages/emulators-docker/.gitignore
  packages/emulators-docker/DOCKERFILE
  packages/emulators-docker/src/build.ts
Due: none

docs: update readme
  packages/emulators-docker/README.md
Due: none

docs: improve module add docs
  packages/documentation/docs/Frontend Development/modules.md
Due: none

feat: add core admin module with components and routing
  packages/documentation/yarn.lock
  src/modules/admin/admin.routes.tsx
  src/modules/admin/admin.store.tsx
  src/modules/admin/components/admin-subheader.tsx
  src/modules/admin/index.tsx
  src/modules/admin/pages/admin-approvals.tsx
  src/modules/admin/pages/admin-howtos.tsx
  src/modules/admin/pages/admin-mappins.tsx
  src/modules/admin/pages/admin-research-detail.tsx
  src/modules/admin/pages/admin-research.tsx
  src/modules/admin/pages/admin-tags.tsx
  src/modules/admin/pages/admin-user-detail.tsx
  src/modules/admin/pages/admin-users.tsx
  src/pages/PageList.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: add admin module to unit test
  src/modules/index.test.ts
  src/modules/index.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: fix lint issues
  src/modules/admin/pages/admin-approvals.tsx
  src/modules/admin/pages/admin-howtos.tsx
  src/modules/admin/pages/admin-mappins.tsx
  src/modules/admin/pages/admin-research-detail.tsx
  src/modules/admin/pages/admin-research.tsx
  src/modules/admin/pages/admin-tags.tsx
  src/modules/admin/pages/admin-user-detail.tsx
  src/modules/admin/pages/admin-users.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add redirect to authRoute
  src/modules/admin/index.tsx
  src/pages/common/AuthRoute.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: allow auth wrapper without role to check logged in
  src/components/Auth/AuthWrapper.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add admin link to profile dropdown
  src/components/ProfileModal/ProfileModal.tsx
  src/pages/PageList.tsx
Due: tslint --project tsconfig.json --config tslint.json

style: add override to make fullwidth
  src/modules/admin/components/admin-subheader.tsx
Due: tslint --project tsconfig.json --config tslint.json

style: update subheader font
  src/modules/admin/components/admin-subheader.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 783ca614d2e91df7414f5b52029fbee7e01ee3c6
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/ace855dd.69bd0b82.js
  assets/js/ace855dd.9e38e1a5.js
  assets/js/runtime~main.02f9302d.js
  assets/js/runtime~main.64968388.js
  blog/archive/index.html
  example.index/index.html
  index.html
  tags/index.html
Due: tslint

feat: add aggregations store and update methods
  src/stores/Aggregations/aggregations.store.tsx
  src/stores/common/module.store.ts
  src/stores/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: update user store to retrieve data from aggregations store
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: code tidying
  src/stores/Aggregations/aggregations.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add comments to research module
  src/components/Comment/Comment.tsx
  src/models/research.models.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Research/Content/Update.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: make ResearchComments only available to beta-testers
  src/components/Comment/Comment.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Research/Content/Update.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: verified user badge
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentHeader.tsx
  src/components/EventCard/EventCard.tsx
  src/components/Research/ResearchListItem.tsx
  src/components/VerifiedUserBadge/VerifiedUserBadge.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: wip
  package.json
  packages/components/package.json
  packages/components/tsconfig.json
  yarn.lock
Due: none

chore: include oa-components build in start cmd
  package.json
Due: none

chore(ci): run yarn link to prep
  .circleci/config.yml
  package.json
  src/components/AdminContact/AdminContact.tsx
  tsconfig.json
Due: tslint --project tsconfig.json --config tslint.json

chore: output original commit msg with error
  commitlint.format.ts
Due: none

chore: apply formatting to commitlint config
  commitlint.format.ts
Due: none

feat: combine desktop workshop filters to match mobile filters
  package.json
  src/pages/Maps/Content/Controls/GroupingFilter.css
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
  src/pages/Maps/Content/Controls/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): cleans up .lock file
  yarn.lock
Due: none

chore(ci): correct dependencies of build pipeline
  .circleci/config.yml
Due: none

feat: removes legacy mail function (#1448)
  functions/src/Integrations/firebase-email.ts
  functions/src/Integrations/index.ts
Due: none

chore(ci): revert to a simple check
  .circleci/config.yml
Due: none

Added funding button to Github
  FUNDING.yml
Due: none

chore(ci): do not run Cloud functions until lint stage has passed
  .circleci/config.yml
Due: none

feat: change email functionality
  src/pages/Settings/content/formSections/AccountSettings.section.tsx
  src/pages/Settings/content/formSections/ChangeEmail.form.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): reduce overhead for release job
  .circleci/config.yml
Due: none

chore: update uppy 1 -> 2
  package.json
  src/components/FileInput/FileInput.tsx
  src/components/FileInput/UppyConfig.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json
