Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

chore: update yarn lock
  packages/documentation/yarn.lock
Due: none

chore: add ts-node dep
  packages/components/package.json
  yarn.lock
Due: none

fix: component template
  packages/components/README.md
  packages/components/scripts/new-component.ts
  packages/components/scripts/templates/{componentName}.stories.mdx.mst
Due: none

chore: revert import
  packages/components/scripts/templates/{componentName}.stories.mdx.mst
Due: none

chore: simplify template
  packages/components/scripts/templates/{componentName}.stories.mdx.mst
Due: none

chore: fix template
  packages/components/scripts/templates/{componentName}.stories.mdx.mst
Due: none

fix: documentation deps
  package.json
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  packages/documentation/docs/Backend Development/firebase-emulators.md
  packages/documentation/package.json
  packages/documentation/yarn.lock
  yarn.lock
Due: none

chore: update deps
  package.json
  packages/documentation/package.json
  packages/documentation/yarn.lock
  yarn.lock
Due: none

chore: update yarn cache
  .circleci/config.yml
Due: none

chore: single quotes
  .circleci/config.yml
Due: none

chore: revert json quotes
  .circleci/config.yml
Due: none

chore: fix checksum
  .circleci/config.yml
Due: none

chore: update lock file
  yarn.lock
Due: none

chore: revert react type version
  package.json
  yarn.lock
Due: none

chore(ci): only deploy fixing fashion from master
  .circleci/config.yml
Due: none

chore: fix doc links
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  packages/documentation/docs/Backend Development/firebase-emulators.md
Due: none

fix: svgr resolution
  package.json
  yarn.lock
Due: none

chore: rename components
  packages/components/package.json
  packages/components/scripts/newComponent.ts
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  shared/index.ts
  shared/mocks/authUsers.ts
  yarn.lock
Due: none

chore: update react-ga to v4
  package.json
  src/components/CommentList/CommentList.tsx
  src/components/GoogleAnalytics/index.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

feat: increase character limit comment
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentTextArea.tsx
  src/components/Comment/constants.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: limit error handler
  src/common/ErrorBoundary.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: add functions build wait for docker emulator
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  packages/emulators-docker/src/start.ts
Due: none

chore: code tidying
  packages/emulators-docker/README.md
  packages/emulators-docker/src/start.ts
Due: none

refactor: userAdmin component
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserAdmin.tsx
  src/pages/User/content/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: update seed data
  packages/cypress/src/fixtures/seed/users.json
Due: none

test: add profile spec tests
  packages/cypress/src/fixtures/seed/index.ts
  packages/cypress/src/integration/profile.spec.ts
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: fix test
  packages/cypress/src/integration/profile.spec.ts
  src/pages/User/content/SpaceProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: local user update
  src/components/NotificationBanner/NotificationBanner.tsx
  src/pages/Settings/SettingsPage.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

deploy: bd8995f3c7edc911f9ea2d69b5c2bf06887ebf19
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/23c1f925.d5ebffc9.js
  assets/js/23c1f925.d86358be.js
  assets/js/runtime~main.20fb8c4a.js
  assets/js/runtime~main.d3fd76c0.js
  example.index/index.html
  index.html
  storybook-static/main.43bb7c4e.iframe.bundle.js
Due: tslint

chore: align colours and namespaces when using concurrently
  package.json
Due: none

feat: mocks AuthWrapper
  packages/components/.storybook/main.js
  packages/components/package.json
  packages/components/src/__mocks__/AuthWrapper.mock.tsx
  yarn.lock
Due: tslint

feat: refactor to remove aggregations dependency from comments
  src/components/Comment/Comment.stories.mdx
  src/components/Comment/CommentHeader.tsx
  src/models/howto.models.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: automatically create links in comment content
  src/components/Comment/Comment.stories.mdx
  src/components/Comment/Comment.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: load badges from theme
  src/components/Badge/Badge.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
  src/themes/types.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: introduces new MemberBadge component
  packages/components/src/MemberBadge/MemberBadge.stories.mdx
  packages/components/src/MemberBadge/MemberBadge.tsx
  packages/components/src/index.ts
  src/components/Badge/Badge.stories.mdx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: import Button, broken on GCF
  functions/package.json
  functions/src/server-side-render.js
  functions/src/ssr/pages/_app.tsx
  functions/src/ssr/pages/_document.tsx
  functions/src/ssr/pages/seo/how-to/[slug]/index.tsx
  packages/components/src/FlagIcon/FlagIcon.tsx
  packages/components/src/index.ts
  src/service-worker.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json, tslint

feat: load data from Firestore
  functions/package.json
  functions/src/ssr/pages/seo/how-to/[slug]/index.tsx
  yarn.lock
Due: none

feat: handle not found errors and fetch research
  functions/src/ssr/pages/seo/how-to/[slug]/index.tsx
  functions/src/ssr/pages/seo/research/[slug]/index.tsx
Due: none
