Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

fix: fix error when the user doesnt mount the seed folder
  functions/Dockerfile.emulator
Due: none

chore: cast to any to avoid type errors
  functions/scripts/start.ts
Due: none

refactor: use relative paths
  functions/Dockerfile.emulator
Due: none

chore: improve comment
  functions/Dockerfile.emulator
Due: none

fix(functions): changed IDiscussionComment to IComment
  functions/src/discussionUpdates/index.ts
  functions/src/models.ts
  src/common/transformToUserComments.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: profile tabs
  packages/components/src/TabbedContent/TabbedContent.tsx
Due: none

fix: remove usage of decorators
  src/pages/Howto/Content/Howto/Howto.tsx
  src/stores/Categories/categories.store.tsx
  src/stores/Discussions/discussions.store.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/maps.store.ts
  src/stores/Message/message.store.tsx
  src/stores/Question/question.store.tsx
  src/stores/QuestionCategories/questionCategories.store.tsx
  src/stores/ResearchCategories/researchCategories.store.tsx
  src/stores/Tags/tags.store.tsx
  src/stores/Theme/theme.store.tsx
  src/stores/User/notifications.store.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: notifications icon color
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: inline svg url
  packages/components/src/GlobalStyles/GlobalStyles.tsx
  packages/components/src/MoreContainer/MoreContainer.tsx
  packages/themes/src/common/index.ts
  packages/themes/src/types/index.ts
  src/pages/User/content/MemberProfile.tsx
  src/pages/common/Header/Menu/MenuDesktop.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobileLink.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: inline svg
  packages/components/src/MoreContainer/MoreContainer.tsx
  src/pages/common/Header/Menu/MenuDesktop.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: more inline urls
  packages/components/src/Username/Username.tsx
  packages/themes/src/fonts/index.ts
  src/common/Form/ImageInput/ImageConverter.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: fonts
  packages/themes/src/fonts/index.ts
Due: none

fix: wrong question store logic on slug check
  src/stores/Question/question.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  59/2489aaa72d04774a9d2f4ca1ad8213fcdce4c4
Due: none

fix: make it work with old versions of compose
  docker-compose.yml
  functions/Dockerfile.emulator
Due: none

fix(functions): addressed change requests
  functions/src/Utils/db.utils.test.ts
  functions/src/discussionUpdates/index.test.ts
Due: none

fix: packages/components/package.json to reduce vulnerabilities
  packages/components/package.json
Due: none

test: update jest max test time to 10 seconds
  jest.config.ts
Due: none

feat(functions): prevent duplicate notifications
  functions/src/discussionUpdates/index.ts
Due: none

chore: clarify documentation
  CONTRIBUTING.md
Due: none

chore: improve logging
  docker-compose.yml
  functions/logs/README.md
  functions/logs/database-debug.log
  functions/logs/firebase-debug.log
  functions/logs/firestore-debug.log
  functions/logs/pubsub-debug.log
  functions/logs/ui-debug.log
Due: none

fix: filter out undefined tags in list
  packages/components/src/Tag/Tag.tsx
  packages/components/src/TagList/TagList.tsx
Due: none

Notes added by 'git notes add'
  6e/1bad13a1ef239b310ce4239700ba011801cf85
Due: none

chore: fix typo
  functions/logs/README.md
Due: none

chore: fix formatting
  functions/Dockerfile.emulator
Due: none

chore: fix
  docker-compose.yml
  functions/Dockerfile.emulator
  functions/data/emulator/database_export/.gitkeep
  functions/logs/firebase-debug.log
  functions/logs/firestore-debug.log
  functions/logs/pubsub-debug.log
  functions/logs/ui-debug.log
Due: none

chore: fix formating
  functions/Dockerfile.emulator
Due: none

chore: improve documentation
  packages/documentation/docs/Backend Development/firebase-emulator.md
Due: none

chore: move emulator to folfolder
  docker-compose.yml
  functions/emulator/Dockerfile
  functions/logs/README.md
  packages/documentation/docs/Backend Development/firebase-emulator.md
Due: none

chore: move export script to own file
  functions/emulator/Dockerfile
  functions/emulator/easy-export.sh
  packages/documentation/docs/Backend Development/firebase-emulator.md
Due: none

chore: make logging good
  docker-compose.yml
  functions/emulator/Dockerfile
  functions/emulator/easy-export.sh
  functions/emulator/export.js
  functions/emulator/link-logs.js
  functions/logs/.gitignore
  functions/logs/.gitkeep
  packages/documentation/docs/Backend Development/firebase-emulator.md
Due: tslint

chore: improve docs
  functions/emulator/export.js
  functions/emulator/link-logs.js
  packages/documentation/docs/Backend Development/firebase-emulator.md
Due: tslint

chore: remove reference to fixued issue
  CONTRIBUTING.md
Due: none

feat: add placeholder admin module
  src/pages/Admin/Content/Dashboard/index.tsx
  src/pages/Admin/index.tsx
  src/pages/Admin/routes.tsx
  src/pages/PageList.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: add admin option to menu
  src/pages/Admin/index.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/pages/common/Header/Menu/ProfileModal/ProfileModal.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: show some metadata on the page
  src/pages/Admin/Content/Dashboard/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(functions): move discord webhook logic to seperate file
  functions/src/Integrations/firebase-discord.ts
  functions/src/howtoUpdates/index.ts
  functions/src/index.ts
  functions/src/mapPinUpdates/index.ts
  functions/src/models.ts
  src/models/discordWebhook.model.tsx
  src/models/index.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: use the timestamp for when content changed
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json
