Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

fix: lint issues
  packages/components/src/EditComment/EditComment.test.tsx
  packages/components/src/EditComment/EditComment.tsx
Due: none

Notes added by 'git notes add'
  ee/318a0bdd9ab50957257dd12a66101630e4a127
Due: none

fix: lint issue
  packages/components/src/EditComment/EditComment.test.tsx
Due: none

fix: minor changes
  packages/components/src/EditComment/EditComment.test.tsx
Due: none

fix(security-rules): unblock v3 categories
  firestore.rules
Due: none

fix: removed _archived collection query
  src/stores/databaseV2/CollectionReference.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  a8/963043e1ab5ee74a5ca1fd6d4079b2c91ab72b
Due: none

feat(functions): add functions to manage user.stats.userCreatedQuestions
  functions/src/index.ts
  functions/src/models.ts
  functions/src/questionUpdates/index.test.ts
  functions/src/questionUpdates/index.ts
Due: none

fix(functions): add userCreatedQuestions to user.stats model
  src/models/user.models.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(functions): add functions to manage user.stats.userCreatedComments
  functions/src/discussionUpdates/index.test.ts
  functions/src/discussionUpdates/index.ts
  functions/src/index.ts
  src/models/user.models.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: drop comment functions from research store
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add generic discussion wrapper
  src/common/DiscussionWrapper.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: use discussion wrapper for questions
  src/pages/Question/QuestionDiscussion.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: use discussion wrapper for research
  src/common/DiscussionWrapper.tsx
  src/common/HideDiscussionContainer.tsx
  src/pages/Question/QuestionDiscussion.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchComments.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Research/Content/ResearchUpdateDiscussion.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add research notification to discussion
  src/common/DiscussionWrapper.tsx
  src/models/discussion.models.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Research/Content/ResearchUpdateDiscussion.tsx
  src/stores/Discussions/discussionEvents.ts
  src/stores/Discussions/discussions.store.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: fix or drop due to changed responsibilities
  src/common/DiscussionWrapper.tsx
  src/common/transformToUserComments.ts
  src/models/discussion.models.tsx
  src/pages/Question/QuestionPage.test.tsx
  src/pages/Question/question.routes.test.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/stores/Research/research.store.test.ts
  src/test/factories/Discussion.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: drop comments from research model
  src/models/research.models.tsx
  src/pages/Research/Content/ResearchUpdateDiscussion.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: setting discussion metadata for research
  src/stores/Discussions/discussionEvents.ts
  src/stores/Discussions/discussions.store.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: update research comment specs
  packages/cypress/src/integration/research/comments.spec.ts
  shared/mocks/data/discussions.ts
Due: none

test: update data mocks
  shared/mocks/data/discussions.ts
  shared/mocks/data/research.ts
Due: none

test: refactor and increase discussions coverage
  packages/cypress/src/integration/notifications.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/questions/read.spec.ts
  packages/cypress/src/integration/research/comments.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  shared/mocks/data/discussions.ts
  shared/mocks/data/research.ts
Due: none

fix: cy variable naming in generic component
  packages/cypress/src/integration/research/discussions.spec.ts
  src/common/HideDiscussionContainer.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: update discussion wrapper for readability
  src/common/DiscussionWrapper.tsx
  src/models/discussion.models.tsx
  src/stores/Discussions/discussions.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: remove un-used plugin file
  packages/cypress/src/plugins/CyTsPreprocessor.js
Due: tslint

Notes added by 'git notes add'
  1f/cc143e780656128a04553a774f712a3cbe24bc
Due: none

fix: remove test due to rules change
  packages/cypress/src/integration/questions/read.spec.ts
Due: none

refactor: load more
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Question/QuestionListing.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: update profileGuidelinesURL for PP
  packages/themes/src/precious-plastic/styles.ts
Due: none

test: add some unit test coverage
  packages/components/src/Loader/Loader.tsx
  src/common/DiscussionWrapper.test.tsx
  src/common/DiscussionWrapper.tsx
  src/common/HideDiscussionContainer.test.tsx
  src/stores/Discussions/discussion.store.test.ts
  src/test/factories/Discussion.ts
Due: tslint --project tsconfig.json --config tslint.json

test: add wait time for how to comments spec
  packages/cypress/src/integration/howto/comments.spec.ts
Due: none

test: add for breadcrumbs
  packages/components/src/Breadcrumbs/BreadcrumbsItem.tsx
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/questions/read.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  shared/mocks/data/howtos.ts
  shared/mocks/data/research.ts
  shared/mocks/data/researchCategories.ts
Due: none

test: add expectations to research tests
  packages/cypress/src/integration/research/write.spec.ts
Due: none

Notes added by 'git notes add'
  8b/6f3ee56159e1cdf61968926d2bf671379d4e13
Due: none

refactor: remove outdated comment
  packages/cypress/cypress.config.ts
Due: none

fix(functions): remove debugging residue
  functions/src/questionUpdates/index.ts
Due: none

fix: button, error message test cases
  packages/components/src/EditComment/EditComment.test.tsx
  packages/components/src/EditComment/EditComment.tsx
Due: none

refactor: remove cypress webpack config
  packages/cypress/package.json
  packages/cypress/src/plugins/index.js
  packages/cypress/src/webpack.config.js
  yarn.lock
Due: tslint
