Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

fix: restricting modal to viewport width; fix: closing modal on click outside.
  packages/components/src/CommentDisplay/CommentDisplay.tsx
  packages/components/src/ConfirmModal/ConfirmModal.tsx
  packages/components/src/DonationRequestModal/DonationRequestModal.tsx
  packages/components/src/FieldMarkdown/AddImage.tsx
  packages/components/src/ImageInput/ImageInput.tsx
  packages/components/src/ImageInput/ImageInputV2.tsx
  packages/components/src/Modal/Modal.tsx
  packages/components/src/VisitorModal/VisitorModal.tsx
  src/pages/Library/Content/Common/LibraryStep.field.tsx
  src/pages/Maps/Content/MapView/MapWithListHeader.tsx
  src/pages/common/CommentsSupabase/CommentItemSupabase.tsx
  src/pages/common/CommentsSupabase/CommentReplySupabase.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix modal
  packages/components/src/Modal/Modal.stories.tsx
  packages/components/src/Modal/Modal.tsx
Due: none

feat: react optimizations, dialogs, following label (#4605)
  packages/components/src/CommentDisplay/CommentDisplay.tsx
  packages/components/src/ConfirmModal/ConfirmModal.tsx
  packages/components/src/DonationRequestModal/DonationRequestModal.tsx
  packages/components/src/EditComment/EditComment.tsx
  packages/components/src/FieldMarkdown/AddImage.tsx
  packages/components/src/GlobalStyles/GlobalStyles.tsx
  packages/components/src/ImageInput/ImageInput.tsx
  packages/components/src/ImageInput/ImageInputV2.tsx
  packages/components/src/Modal/Modal.stories.tsx
  packages/components/src/Modal/Modal.tsx
  packages/components/src/MoreContainer/MoreContainer.tsx
  packages/components/src/SiteFooter/SiteFooter.tsx
  packages/components/src/VisitorModal/VisitorModal.tsx
  packages/components/src/test/setup.ts
  src/pages/Library/Content/Common/LibraryStep.field.tsx
  src/pages/Library/Content/Page/ProjectPage.tsx
  src/pages/Maps/Content/MapView/MapWithListHeader.tsx
  src/pages/Research/Content/Common/ResearchUpdateForm.tsx
  src/pages/Research/Content/ResearchArticlePage.tsx
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/pages/UserSettings/SupabaseNotificationsForm.tsx
  src/pages/UserSettings/content/elements.tsx
  src/pages/UserSettings/content/fields/ProfileTypeRadio.field.tsx
  src/pages/UserSettings/content/sections/ProfileTags.section.tsx
  src/pages/UserSettings/content/sections/ProfileType.section.tsx
  src/pages/UserSettings/content/sections/UserInfos.section.tsx
  src/pages/common/CommentsSupabase/CommentItemSupabase.tsx
  src/pages/common/CommentsSupabase/CommentReplySupabase.tsx
  src/root.tsx
  src/routes/_.academy.$.tsx
  src/test/setup.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  c0/228096156df85c661e378a249a37da52a1218d
Due: none

create subscription store. migrate comments. create useful store.
  docs/technical-decisions.md
  packages/components/src/CommentBody/CommentBody.tsx
  packages/components/src/CommentDisplay/CommentDisplay.stories.tsx
  packages/components/src/CommentDisplay/CommentDisplay.test.tsx
  packages/components/src/CommentDisplay/CommentDisplay.tsx
  packages/components/src/ContentStatistics/ContentStatistics.tsx
  packages/components/src/FollowButton/FollowButton.stories.tsx
  packages/components/src/FollowButton/FollowButton.tsx
  packages/components/src/FollowIcon/FollowIcon.stories.tsx
  packages/components/src/FollowIcon/FollowIcon.tsx
  packages/components/src/UsefulStatsButton/UsefulButtonLite.test.tsx
  packages/components/src/UsefulStatsButton/UsefulButtonLite.tsx
  packages/components/src/index.ts
  src/common/FollowButtonAction.tsx
  src/pages/Library/Content/Page/LibraryDescription.tsx
  src/pages/Library/Content/Page/ProjectPage.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Research/Content/ResearchArticlePage.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchEngagementSection.tsx
  src/pages/Research/Content/ResearchFooter.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/common/CommentsSupabase/CommentItemSupabase.tsx
  src/pages/common/CommentsSupabase/CommentReplySupabase.tsx
  src/pages/common/CommentsSupabase/CommentSectionSupabase.tsx
  src/routes/_.tsx
  src/stores/Subscription/subscription.store.test.ts
  src/stores/Subscription/subscription.store.tsx
  src/stores/Subscription/useSubscription.tsx
  src/stores/UsefulVote/useUsefulVote.tsx
  src/stores/UsefulVote/usefulVote.store.tsx
  src/utils/onUsefulClick.ts
Due: tslint --project tsconfig.json --config tslint.json

remove unused discussion follow icons
  packages/components/assets/icons/discussion-follow.svg
  packages/components/assets/icons/discussion-unfollow.svg
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
Due: none

fix: dialogs, add scroll
  packages/components/src/Modal/Modal.tsx
  packages/themes/src/common/commonStyles.ts
  src/common/DownloadWrapper.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix snapshot
  packages/components/src/ResearchEditorOverview/__snapshots__/ResearchEditorOverview.test.tsx.snap
Due: none

fix: news embed videos
  shared/utils/markdown.ts
Due: none

docs: add biome settings
  CONTRIBUTING.md
Due: none

fix: impact for update
  src/pages/UserSettings/content/sections/ImpactYear.section.tsx
  src/routes/api.settings.impact.ts
  src/services/profileService.ts
  src/stores/Profile/profile.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: impact for update (#4612)
  src/pages/UserSettings/content/sections/ImpactYear.section.tsx
  src/routes/api.settings.impact.ts
  src/services/profileService.ts
  src/stores/Profile/profile.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  ba/2b35a33ade40adfd5c2d96fb4c871715726c75
Due: none

fix unit tests
  src/pages/News/NewsPage.test.tsx
  src/pages/Question/QuestionPage.test.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix unit tests
  packages/components/src/CommentDisplay/CommentDisplay.test.tsx
Due: none

feat: using lint-staged with biome to auto-fix syntax errors, otherwise biome just notifies of syntax errors only
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

feat: using lint-staged so biome can auto-fix syntax errors on commit when using husky (#4614)
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

fix tests
  packages/cypress/src/integration/library/discussions.spec.ts
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/news/discussions.spec.ts
  packages/cypress/src/integration/news/read.spec.ts
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/questions/read.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

fix tests
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/follow.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

more test fixes
  packages/components/src/FollowButton/FollowButton.tsx
  packages/cypress/src/integration/research/follow.spec.ts
Due: none

add test back
  packages/cypress/src/integration/research/follow.spec.ts
Due: none

fix
  src/pages/common/CommentsSupabase/CommentSectionSupabase.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix
  src/pages/common/CommentsSupabase/CommentReplySupabase.tsx
Due: tslint --project tsconfig.json --config tslint.json

more fixes
  packages/cypress/src/integration/library/write.spec.ts
  src/pages/common/CommentsSupabase/CommentItemSupabase.tsx
  src/pages/common/CommentsSupabase/CommentReplySupabase.tsx
Due: tslint --project tsconfig.json --config tslint.json

more fixes
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/follow.spec.ts
Due: none

better buttons
  packages/components/src/FollowButton/FollowButton.tsx
  packages/cypress/src/integration/research/follow.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

feat: update profile contributions display
  .snaplet/dataModel.json
  packages/components/src/UserStatistics/UserStatistics.tsx
  packages/cypress/src/integration/library/read.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/pages/User/content/UserCreatedDocuments.tsx
  src/pages/User/content/UserCreatedDocumentsItem.tsx
  src/services/libraryService.server.ts
  src/services/profileService.ts
  src/services/questionService.server.test.ts
  src/services/questionService.server.ts
  src/services/researchService.server.ts
  supabase/migrations/20260118140428_update_user_doc_gets.sql
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  74/58d8209cc4f31ddab3c2b7b49975d0513c623e
Due: none

fix: update schema
  .snaplet/dataModel.json
  supabase/schemas/projects.sql
  supabase/schemas/questions.sql
  supabase/schemas/research.sql
Due: none

Notes added by 'git notes add'
  3c/b6b2e380a740d720d55a3157fd199f4269c0df
Due: none

chore: remove unused environment variables
  .circleci/config.yml
  .env
  Dockerfile.preview
  server.js
  src/config/config.ts
  src/config/constants.ts
  src/logger/index.ts
  src/pages/common/Header/Menu/Logo/Logo.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint

chore: fix build errors
  src/pages/User/content/UserCreatedDocuments.tsx
  src/services/libraryService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: add typescript build check
  package.json
Due: none

fix test
  src/utils/helpers.test.ts
Due: tslint --project tsconfig.json --config tslint.json

clean
  package.json
Due: none

try
  package.json
Due: none

chore: cleanup unused env variables (#4617)
  .circleci/config.yml
  .env
  Dockerfile.preview
  server.js
  src/config/config.ts
  src/config/constants.ts
  src/logger/index.ts
  src/pages/common/Header/Menu/Logo/Logo.tsx
  src/utils/helpers.test.ts
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint
