Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

chore: fix build errors (#4616)
  package.json
  src/pages/User/content/UserCreatedDocuments.tsx
  src/services/libraryService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

wip
  .circleci/config.yml
  .env
  packages/cypress/src/integration/profile.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  shared/models/other.ts
  src/config/config.ts
  src/config/constants.ts
  src/pages/User/content/ProfileContact.tsx
  src/pages/UserSettings/SettingsPage.client.tsx
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/pages/UserSettings/SupabaseNotificationsForm.tsx
  src/pages/common/GlobalSiteFooter/GlobalSiteFooter.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/MenuDesktop.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
  src/pages/common/TenantContext.ts
  src/routes/_.questions.tsx
  src/routes/_.tsx
  src/routes/api.messages.tsx
  src/services/tenantSettingsService.server.ts
  src/utils/helpers.ts
  supabase/schemas/tenant_settings.sql
Due: tslint --project tsconfig.json --config tslint.json

wip
  .env
  packages/cypress/src/fixtures/library.ts
  packages/cypress/src/fixtures/question.ts
  packages/cypress/src/fixtures/searchResults.ts
  packages/cypress/src/fixtures/settings.ts
  shared/mocks/data/discussions.ts
  src/modules/index.test.ts
  src/modules/index.ts
  src/pages/PageList.tsx
  src/routes/[robots.txt].tsx
  src/routes/api.messages.tsx
  src/services/tenantSettingsService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

sql migrations
  supabase/migrations/20260216125228_more_tenant_settings.sql
  supabase/schemas/projects.sql
  supabase/schemas/questions.sql
  supabase/schemas/tenant_settings.sql
Due: none

Added the paginations icons for left right
  packages/components/assets/icons/double-arrow-left.svg
  packages/components/assets/icons/double-arrow-right.svg
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  packages/components/src/PaginationIcons/PaginationIcons.stories.tsx
  packages/components/src/PaginationIcons/PaginationIcons.tsx
  packages/components/src/PaginationIcons/PagintationIcons.test.tsx
  packages/components/src/index.ts
Due: none

add published_at to questions, research, news, projects
  .snaplet/dataModel.json
  packages/components/src/utils.ts
  shared/models/library.ts
  shared/models/news.ts
  shared/models/question.ts
  shared/models/research.ts
  src/pages/News/NewsListItem.tsx
  src/pages/News/NewsPage.tsx
  src/pages/Question/QuestionListItem.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/common/UserNameTag/UserNameTag.tsx
  src/routes/api.news.$id.ts
  src/routes/api.news.ts
  src/routes/api.projects.$id.ts
  src/routes/api.projects.ts
  src/routes/api.questions.$id.ts
  src/routes/api.questions.ts
  src/routes/api.research.$id.ts
  src/routes/api.research.$id.updates.$updateId.ts
  src/routes/api.research.$id.updates.ts
  src/routes/api.research.ts
  src/services/libraryService.server.ts
  src/services/newsService.server.ts
  src/services/questionService.server.ts
  src/services/researchService.server.ts
  supabase/migrations/20260125192927_add_published_at.sql
  supabase/schemas/news.sql
  supabase/schemas/projects.sql
  supabase/schemas/questions.sql
  supabase/schemas/research.sql
Due: tslint --project tsconfig.json --config tslint.json

test issue
  packages/cypress/cypress.config.ts
  packages/cypress/src/utils/supabaseTestsService.ts
Due: none

fix: news pagination & header UI (#4592)
  src/pages/Library/Content/List/LibraryListHeader.tsx
  src/pages/Question/QuestionListHeader.tsx
  src/pages/common/Layout/ListHeader.tsx
Due: tslint --project tsconfig.json --config tslint.json

sort by published at
  src/routes/api.news.ts
  src/routes/api.questions.ts
  supabase/migrations/20260210221354_fix_published_at_sorting.sql
  supabase/schemas/projects.sql
  supabase/schemas/research.sql
Due: tslint --project tsconfig.json --config tslint.json

datamodel and cleanup
  .snaplet/dataModel.json
  src/routes/api.news.$id.ts
  src/routes/api.projects.$id.ts
  src/routes/api.questions.$id.ts
  src/routes/api.research.$id.ts
  src/routes/api.research.$id.updates.$updateId.ts
Due: tslint --project tsconfig.json --config tslint.json

seed publishedAt
  packages/cypress/src/utils/supabaseTestsService.ts
  src/test/factories/Library.ts
  src/test/factories/News.ts
  src/test/factories/Question.ts
  src/test/factories/ResearchItem.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: published_at display and sorting
  packages/components/src/DisplayDate/DisplayDate.tsx
  src/pages/News/NewsListItem.tsx
  src/pages/News/NewsPage.tsx
  src/pages/Question/QuestionListItem.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/common/UserNameTag/UserNameTag.tsx
  src/routes/api.news.$id.ts
  src/routes/api.projects.$id.ts
  src/routes/api.questions.$id.ts
  src/routes/api.research.$id.ts
  src/routes/api.research.$id.updates.$updateId.ts
  src/services/researchService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

spacing
  src/pages/common/UserNameTag/UserNameTag.tsx
Due: tslint --project tsconfig.json --config tslint.json

show both published and edit date
  packages/components/src/DisplayDate/DisplayDate.test.tsx
  packages/components/src/DisplayDate/DisplayDate.tsx
Due: none

published by default but still going to pass it in
  src/pages/Library/Content/Page/LibraryDescription.tsx
  src/pages/News/NewsListItem.tsx
  src/pages/News/NewsPage.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Due: tslint --project tsconfig.json --config tslint.json

only passing published in for news
  src/pages/News/NewsListItem.tsx
  src/pages/News/NewsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

limit publishedAction to specific values
  packages/components/src/DisplayDate/DisplayDate.tsx
Due: none

fix contactable
  src/pages/User/content/UserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

library header and academy
  .circleci/config.yml
  .env
  src/pages/Academy/Academy.tsx
  src/pages/Library/Content/List/LibraryListHeader.tsx
Due: tslint --project tsconfig.json --config tslint.json

profile guidelines
  .circleci/config.yml
  .env
  src/pages/UserSettings/content/sections/ProfileType.section.tsx
  src/routes/api.upgrade-badges.ts
Due: tslint --project tsconfig.json --config tslint.json

question guidelines
  .circleci/config.yml
  .env
  src/pages/Question/Content/Common/QuestionPostingGuidelines.tsx
Due: tslint --project tsconfig.json --config tslint.json

patreon
  .circleci/config.yml
  Dockerfile.preview
  shared/models/config.ts
  shared/models/index.ts
  src/config/config.ts
  src/config/constants.ts
  src/pages/UserSettings/content/fields/PatreonIntegration.tsx
  src/routes/_.forbidden.tsx
  src/routes/_.patreon.tsx
  src/routes/api.messages.tsx
  src/routes/api.patreon.ts
  src/services/patreonService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

supported modules
  .circleci/config.yml
  biome.json
  src/config/constants.ts
  src/modules/index.test.ts
  src/modules/index.ts
  src/pages/PageList.tsx
  src/pages/UserSettings/SettingsPage.client.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/MenuDesktop.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/pages/common/Header/Menu/ProfileModal/ProfileModal.tsx
  src/routes/[robots.txt].tsx
  src/routes/_.news.tsx
  src/routes/_.questions.tsx
Due: tslint --project tsconfig.json --config tslint.json

tests
  src/modules/index.test.ts
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/UserSettings/SettingsPageMapPin.test.tsx
  src/pages/UserSettings/SettingsPageUserProfile.test.tsx
  src/pages/UserSettings/content/fields/PatreonIntegration.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix seed
  .snaplet/dataModel.json
  seed.ts
  supabase/migrations/20260216125228_more_tenant_settings.sql
  supabase/schemas/tenant_settings.sql
Due: none

fix seed
  seed.ts
Due: none

fix
  packages/cypress/cypress.config.ts
  packages/cypress/src/fixtures/searchResults.ts‎
Due: none

fix
  packages/cypress/src/fixtures/searchResults.ts
Due: none

fix
  src/pages/Academy/ExternalEmbed/ExternalEmbed.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix commits only with test/spec/stories (non-checked) files from failing
  package.json
Due: none

fix: prevents commits only with test/spec/stories (non-checked) files from failing (#4620)
  package.json
Due: none

fix: pagination test cases
  packages/components/src/PaginationIcons/PagintationIcons.test.tsx
Due: none

fix: missing display of useful for contributions
  src/pages/User/content/UserCreatedDocumentsItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add news notifications
  packages/cypress/src/integration/news/write.spec.ts
  shared/models/profile.ts
  src/routes/api.news.$id.ts
  src/routes/api.news.ts
  src/services/broadcastCoordinationService.server.ts
  src/services/notificationEmailService.server.ts
  src/services/notificationsSupabaseService.server.ts
  supabase/migrations/20260221093904_add_news_notifications.sql
Due: tslint --project tsconfig.json --config tslint.json

added stripe package, added details in .env for the .env.local file
  .env
  package.json
  yarn.lock
Due: none

add stripe subscription UI to settings page
  src/pages/UserSettings/SettingsPageAccount.tsx
  src/pages/UserSettings/content/fields/StripeIntegration.tsx
  src/services/stripeService.ts
Due: tslint --project tsconfig.json --config tslint.json

add stripe embedded checkout backend and CSP config
  .env
  package.json
  server.js
  src/routes/api.stripe.ts
  src/services/stripeService.server.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json, tslint

limit test strip components to admins
  src/pages/UserSettings/SettingsPageAccount.tsx
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
