Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

feat: improve search result ordering
  src/pages/common/SortFilterHeader/SortFilterHeader.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/FilterSorterDecorator/FilterSorterDecorator.ts
Due: tslint --project tsconfig.json --config tslint.json

style: lint
  src/pages/common/SortFilterHeader/SortFilterHeader.tsx
  src/stores/utils.ts
Due: tslint --project tsconfig.json --config tslint.json

test: correct question.routes.test.tsx
  src/pages/Question/QuestionListing.tsx
  src/pages/Question/question.routes.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: edit research step
  src/pages/Research/Content/EditUpdate/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: remove coloured border from research list item on mobile
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

test(platform): add basic research status tests
  packages/cypress/src/integration/research/read.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: packages/documentation/package.json to reduce vulnerabilities
  packages/documentation/package.json
Due: none

chore: formatting
  src/pages/Question/QuestionComments.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: packages/emulators-docker/package.json to reduce vulnerabilities
  packages/emulators-docker/package.json
Due: none

fix: functions/package.json to reduce vulnerabilities
  functions/package.json
  yarn.lock
Due: none

Notes added by 'git notes add'
  62/d78d7367662108d944e8f5c557bcde78bb2854
Due: none

fix: handle empty images
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/user.routes.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: remove unnecessary border radius property
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  2c/c19a8ea8738bb6bc20f1a851182c50d2beb29b
Due: none

fix: remove image compression from uploads
  package.json
  src/common/Form/ImageInput/ImageConverter.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: handle misconfigured CDN parameter
  src/utils/cdnImageUrl.test.ts
  src/utils/cdnImageUrl.ts
Due: tslint --project tsconfig.json --config tslint.json

docs: detail usage of REACT_APP_CDN_URL
  packages/documentation/docs/Install.md
Due: none

chore: apply formatting
  packages/documentation/docs/Install.md
  src/utils/cdnImageUrl.test.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: handle a few different misconfiguration variants
  src/utils/cdnImageUrl.test.ts
  src/utils/cdnImageUrl.ts
Due: tslint --project tsconfig.json --config tslint.json

deploy: cffa88c293a296150931f8775ddf0917569f6649
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Backend Development/tests/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Maintainers/onboarding/index.html
  Maintainers/overview/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/7f4ab99b.0584fcdb.js
  assets/js/7f4ab99b.c5de648d.js
  assets/js/runtime~main.107cd2f7.js
  assets/js/runtime~main.ae49f01b.js
  index.html
  storybook-static/project.json
Due: tslint

chore(deps): upgrade firebase-tools to v13
  functions/package.json
  packages/security-rules/package.json
  yarn.lock
Due: none

chore(ci): remove cache warmup step
  .circleci/config.yml
Due: none

Notes added by 'git notes add'
  3f/a34b7e410f24c2b908e7d71ce0cb9464c4c235
Due: none

feat: add Latest Comments, and Least Comments to FilterSorterDecorator
  src/stores/common/FilterSorterDecorator/FilterSorterDecorator.ts
  src/stores/common/FilterSorterDecorator/FitlerSorterDecorator.test.ts
Due: tslint --project tsconfig.json --config tslint.json

refactor: convert discussion store to a service
  src/pages/Question/QuestionPage.tsx
  src/pages/Question/index.tsx
  src/services/discussions.service.ts
Due: tslint --project tsconfig.json --config tslint.json

refactor: move research status colour logic to helper
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

refactor: remove new filter options to be added in another pr
  src/stores/Question/question.store.tsx
  src/stores/common/FilterSorterDecorator/FilterSorterDecorator.ts
Due: tslint --project tsconfig.json --config tslint.json

refactor: remove utils.ts and instead perform static checking of properties
  src/pages/common/SortFilterHeader/SortFilterHeader.tsx
  src/stores/utils.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: change impact to display even when null
  src/pages/User/impact/Impact.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: temporary show impact data to owners only
  packages/cypress/src/integration/profile.spec.ts
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/impact/Impact.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add 2020 as an impact year
  src/models/user.models.tsx
  src/pages/User/impact/constants.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  8a/eee4bba75dce6c0bf8bee40e16f8a297c4e9f6
Due: none

chore: drop state use from follow button
  packages/components/src/FollowButton/FollowButton.tsx
Due: none

chore: drop redundant follow button testing
  packages/cypress/src/integration/research/follow.spec.ts
Due: none

feat: add sorting by latest comment and by least amount of comments
  src/pages/Research/Content/ResearchListItem.tsx
  src/stores/common/FilterSorterDecorator/FilterSorterDecorator.test.ts
  src/stores/common/FilterSorterDecorator/FilterSorterDecorator.ts
  src/utils/helpers.test.ts
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: remove auth wrapper from impact setting
  src/pages/UserSettings/SettingsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: fix tier number
  functions/src/Integrations/patreon.spec.ts
  functions/src/Integrations/patreon.ts
Due: none

Notes added by 'git notes add'
  c3/886f29e75f5dfbc50880fc54ae5caeac9034dc
Due: none

feat(patreon): add message for patreon users who do not support the project
  src/pages/UserSettings/SettingsPage.tsx
  src/pages/UserSettings/content/formSections/PatreonIntegration.test.tsx
  src/pages/UserSettings/content/formSections/PatreonIntegration.tsx
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
