Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

feat: add visual character limit to map pin
  src/pages/UserSettings/content/formSections/MemberMapPin.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: increase timeout for security-rules
  packages/security-rules/vite.config.mts
Due: none

fix(maps): delete workspaceType if not a workspace
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  24/a9d8782f0283e17e5f00090f95bc8aff72f825
Due: none

fix(maps): added test to validate behavior
  src/stores/User/user.store.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: typo and moderation comments shape
  functions/src/emailNotifications/development/entry-server.mjs
  functions/src/emailNotifications/templates/how-to-needs-improvements.html
  functions/src/emailNotifications/templates/map-pin-needs-improvements.html
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: update tests
  functions/src/emailNotifications/createModerationEmails.spec.ts
Due: none

refactor(emails): move moderation emails to templates
  functions/src/emailNotifications/__snapshots__/createModerationEmails.spec.ts.snap
  functions/src/emailNotifications/__snapshots__/createSubmissionEmails.spec.ts.snap
  functions/src/emailNotifications/createModerationEmails.spec.ts
  functions/src/emailNotifications/createSubmissionEmails.spec.ts
  functions/src/emailNotifications/development/entry-server.mjs
  functions/src/emailNotifications/templates.ts
  functions/src/emailNotifications/templates/how-to-approval.html
  functions/src/emailNotifications/templates/how-to-submission.html
  functions/src/emailNotifications/templates/index.ts
  functions/src/emailNotifications/templates/map-pin-approval.html
  functions/src/emailNotifications/templates/map-pin-submission.html
Due: none

test: add cypress test and add links to login
  packages/cypress/src/integration/unsubscribe.spec.ts
  shared/mocks/data/users.ts
  src/pages/Unsubscribe/Unsubscribe.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(emails): add unsubscribe page
  src/pages/PageList.tsx
  src/pages/Unsubscribe/Unsubscribe.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: fix import and store fn
  src/pages/Unsubscribe/Unsubscribe.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

refactor: integrate unsubscribe token
  functions/src/emailNotifications/createNotificationEmails.ts
  functions/src/emailNotifications/templates.ts
  src/models/user.models.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: use unsubscribe token on frontend
  src/pages/Unsubscribe/Unsubscribe.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

test: update integration test
  packages/cypress/src/integration/unsubscribe.spec.ts
  shared/mocks/data/users.ts
Due: none

test: update snap
  functions/src/emailNotifications/__snapshots__/createNotificationEmails.spec.ts.snap
  functions/src/emailNotifications/createNotificationEmails.spec.ts
  functions/src/emailNotifications/templates.ts
Due: none

fix(deps): switch to using native lazy loading image
  package.json
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  65/04cb7ecf4d513b1075292b6f7c89f74155732b
Due: none

fix: introduce test coverage for map
  src/pages/Maps/Maps.test.tsx
  src/pages/Maps/Maps.tsx
  src/pages/Maps/utils/geolocation.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor directory to match exports
  src/pages/Maps/Content/MapView/Cluster.tsx
  src/pages/Maps/Content/MapView/MapView.tsx
  src/pages/Maps/Content/MapView/Popup.tsx
  src/pages/Maps/Content/MapView/Sprites.tsx
  src/pages/Maps/Content/MapView/index.css
  src/pages/Maps/Content/MapView/popup.css
  src/pages/Maps/Content/MapView/sprites.css
  src/pages/Maps/Content/index.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove unused code
  src/pages/Maps/Content/MapView/Sprites.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: add clarification around access required to Firebase projects
  extensions/README.md
Due: none

Notes added by 'git notes add'
  22/30e61e57c953018aae1317ac6cdb7b90c4b601
Due: none

feat: upgrade project to run node v20
  .circleci/config.yml
  .gitpod.yml
  .node-version
  .nvmrc
  CONTRIBUTING.md
  functions/package.json
  package.json
  packages/documentation/docs/Getting Started/setup.md
  scripts/envCheck.js
  yarn.lock
Due: tslint

chore(functions): upgrade to nodejs20
  firebase.json
  functions/package.json
Due: none

fix(functions): upgrade firebase-tools@12.1.0
  functions/package.json
  yarn.lock
Due: none

chore(ci): configure firebase extensions
  .circleci/config.yml
Due: none

fix(functions): upgrade firebase-tools@12.4.5
  functions/package.json
  yarn.lock
Due: none

fix(functions): upgrade firebase-tools@12.4.6
  functions/package.json
  yarn.lock
Due: none

feat: upgrade all functions to 512mb
  functions/src/Integrations/firebase-discord.ts
  functions/src/Integrations/firebase-slack.ts
  functions/src/admin/getUserEmail.ts
  functions/src/aggregations/howto.aggregations.ts
  functions/src/aggregations/research.aggregations.ts
  functions/src/aggregations/user.aggregations.ts
  functions/src/aggregations/userNotifications.aggregations.ts
  functions/src/database/updates.ts
  functions/src/emailNotifications/createSubmissionEmails.ts
  functions/src/emailNotifications/index.ts
  functions/src/emailNotifications/supporterBadgeEmails.ts
  functions/src/emailNotifications/verifiedBadgeEmails.ts
  functions/src/logging/logging.ts
  functions/src/scheduled/tasks.ts
  functions/src/seo/index.ts
  functions/src/seo/render/request-handler.ts
  functions/src/seo/sitemap/sitemapProxy.ts
  functions/src/userUpdates/index.ts
Due: none

fix: remove runWith from type reference
  functions/src/logging/logging.ts
  functions/src/seo/render/request-handler.ts
  functions/src/seo/sitemap/sitemapProxy.ts
Due: none

fix(functions): remove runWith from namespaced function references
  functions/src/admin/getUserEmail.ts
  functions/src/database/updates.ts
  functions/src/emailNotifications/index.ts
Due: none

fix(functions): add memory param to few missed functions
  functions/src/logging/logging.ts
  functions/src/seo/index.ts
Due: none

feat: adds stats to header of how-to and research
  packages/components/src/HowToStatistics/HowToStatistics.stories.tsx
  packages/components/src/HowToStatistics/HowToStatistics.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/ResearchStatistics/ResearchStatistics.stories.tsx
  packages/components/src/ResearchStatistics/ResearchStatistics.tsx
  packages/components/src/index.ts
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: adds e2e tests for statistics
  packages/components/src/HowToStatistics/HowToStatistics.tsx
  packages/components/src/ResearchStatistics/ResearchStatistics.tsx
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
Due: none

feat(packages): add ContentStatistics block
  packages/components/src/ContentStatistics/ContentStatistics.stories.tsx
  packages/components/src/ContentStatistics/ContentStatistics.test.tsx
  packages/components/src/ContentStatistics/ContentStatistics.tsx
  packages/components/src/index.ts
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
