Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

fix: update docs to match current supabase terminology (#4871)
  docs/supabase.md
Due: none

feat: create questions page and route files
  src/pages/Admin/Questions/QuestionsPage.tsx
  src/routes/_.admin.questions.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add questions tab to admin sidebar
  src/pages/Admin/AdminSidebar.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(admin): add map pins overview page (#4857)
  src/pages/Admin/AdminSidebar.tsx
  src/pages/Admin/MapPins/MapPinsPage.test.tsx
  src/pages/Admin/MapPins/MapPinsPage.tsx
  src/routes/_.admin.map-pins.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add admin banner management
  src/pages/Admin/AdminSidebar.tsx
  src/pages/Admin/Banners/BannersPage.tsx
  src/pages/Admin/Banners/DeleteBannerDialog.tsx
  src/pages/common/banner.service.ts
  src/routes/_.admin.banners.tsx
  src/routes/api.admin.banners.$id.ts
  src/routes/api.admin.banners.ts
  src/routes/api.banner.ts
  src/services/bannerService.server.test.ts
  src/services/bannerService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: add admin questions route
  src/routes/_.admin.questions.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(admin): add profile type column to map pins table
  src/pages/Admin/MapPins/MapPinsPage.test.tsx
  src/pages/Admin/MapPins/MapPinsPage.tsx
  src/routes/_.admin.map-pins.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: user uploaded images overriden
  src/routes/api.admin.images.$path.ts
  src/services/storageService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

improve file name
  src/services/storageService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: add small vertical margin to images in the news editor, page and email
  src/.server/templates/renderTiptapEmail.tsx
  src/pages/News/FormFields/FieldRichText/ImageNodeView.tsx
  src/utils/renderNewsBodyHtml.test.ts
  src/utils/renderTiptapHtml.ts
  src/utils/tiptapExtensions.ts
Due: tslint --project tsconfig.json --config tslint.json

better random string
  src/services/storageService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: user uploaded images with same names get overridden (#4876)
  src/.server/templates/renderTiptapEmail.tsx
  src/pages/News/FormFields/FieldRichText/ImageNodeView.tsx
  src/routes/api.admin.images.$path.ts
  src/services/storageService.server.ts
  src/utils/renderNewsBodyHtml.test.ts
  src/utils/renderTiptapHtml.ts
  src/utils/tiptapExtensions.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  07/2e471c9a5fd2548caad80aca27f0d5c5f7f6e8
Due: none

fix: replace npx with bunx in package.json
  package.json
Due: none

refactor(ui): move the avatar into the shared component library
  src/components/ui/avatar.stories.tsx
  src/components/ui/avatar.tsx
  src/pages/Research/Content/ResearchContributors.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: update remakes section copy (#4874)
  src/pages/Library/Content/Page/Remakes/RemakesSection.test.tsx
  src/pages/Library/Content/Page/Remakes/RemakesSection.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: update remakes section copy (#4874) (#4878)
  src/pages/Library/Content/Page/Remakes/RemakesSection.test.tsx
  src/pages/Library/Content/Page/Remakes/RemakesSection.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: replace npx with bunx in package.json (#4877)
  package.json
Due: none

feat(admin): add map pins overview page (#4857) (#4872)
  src/pages/Admin/AdminSidebar.tsx
  src/pages/Admin/MapPins/MapPinsPage.test.tsx
  src/pages/Admin/MapPins/MapPinsPage.tsx
  src/routes/_.admin.map-pins.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  46/f8608551a640fd5b4b32e1939d0969c7da7d1d
Due: none

use vault instead of env secret
  .circleci/config.yml
  .env
  Dockerfile
  packages/cypress/.env
  src/components/ui/turnstile.stories.tsx
  src/components/ui/turnstile.tsx
  src/routes/_.reset-password.tsx
  src/routes/_.sign-in.tsx
  src/routes/_.sign-up.tsx
  src/routes/api.account.change-email.tsx
  src/routes/api.account.change-password.tsx
  src/routes/api.account.delete.tsx
  src/services/secretsService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

turnstile fallback
  src/components/ui/turnstile.stories.tsx
  src/components/ui/turnstile.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add QuestionsPage component
  src/pages/Admin/Questions/QuestionsPage.tsx
  src/routes/_.admin.questions.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add created by cell to questions page
  src/pages/Admin/Questions/QuestionsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add moderation cell to table on questions page
  src/pages/Admin/Questions/QuestionsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add moderation property to question class
  shared/models/question.ts
Due: none

feat: add relevent fields to table on questionspage
  src/pages/Admin/Questions/QuestionsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add createdBy property to Question class
  shared/models/question.ts
Due: none

feat: add total_views to db selection
  src/routes/_.admin.questions.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: order questions by date published
  src/routes/_.admin.questions.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add views to questions table
  src/pages/Admin/Questions/QuestionsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: use display_name for created_by cell
  shared/models/question.ts
  src/pages/Admin/Questions/QuestionsPage.tsx
  src/routes/_.admin.questions.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add link to question live page
  src/pages/Admin/Questions/QuestionsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: add signup captcha (#4868)
  .env
  server.js
  shared/messages.ts
  src/common/Form/TextInput.field.tsx
  src/components/ui/turnstile.stories.tsx
  src/components/ui/turnstile.tsx
  src/routes/_.reset-password.tsx
  src/routes/_.sign-in.tsx
  src/routes/_.sign-up.tsx
  src/routes/api.account.change-email.tsx
  src/routes/api.account.change-password.tsx
  src/routes/api.account.delete.tsx
  src/services/secretsService.server.ts
  supabase/config.toml
Due: tslint --project tsconfig.json --config tslint.json, tslint

fix: membership sign-up
  src/pages/Supporter/ThankYouAccountForm.tsx
  src/pages/Supporter/ThankYouLoginForm.tsx
  src/routes/api.stripe.create-account.ts
  src/routes/api.stripe.link-account.ts
  src/routes/api.stripe.set-password.ts
  src/routes/api.stripe.sign-in.ts
  src/services/stripeService.ts
  src/services/supporterSignInTicket.server.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: remove impossible supporter test
  packages/cypress/src/integration/supporter.spec.ts
Due: none

Notes added by 'git notes add'
  00/29599a283da0bc88cc2b131bcf753b3ce3a5b9
Due: none

chore: drop image resizing
  src/pages/News/FormFields/FieldRichText/ImageBubbleMenu.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: drop image rezising
  src/.server/templates/renderTiptapEmail.tsx
  src/pages/News/FormFields/FieldRichText/FieldRichText.tsx
  src/pages/News/FormFields/FieldRichText/ImageNodeView.tsx
  src/utils/renderTiptapHtml.ts
  src/utils/tiptapExtensions.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: drop image resize feature (#4880)
  src/.server/templates/renderTiptapEmail.tsx
  src/pages/News/FormFields/FieldRichText/FieldRichText.tsx
  src/pages/News/FormFields/FieldRichText/ImageBubbleMenu.tsx
  src/pages/News/FormFields/FieldRichText/ImageNodeView.tsx
  src/utils/renderTiptapHtml.ts
  src/utils/tiptapExtensions.ts
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
