Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

feat: add alt tag to CommentItem avatar
  packages/components/src/CommentItem/CommentItem.test.tsx
  packages/components/src/CommentItem/CommentItem.tsx
Due: none

feat: add default alt tag to ResearchListItem
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: discussion count on research updates
  shared/mocks/data/research.ts
  src/models/research.models.tsx
  src/stores/Discussions/discussionEvents.test.ts
  src/stores/Discussions/discussionEvents.ts
  src/test/factories/ResearchItem.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: update displayname field
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commandsUi.ts
  src/pages/UserSettings/content/sections/UserInfos.section.tsx
  src/pages/UserSettings/labels.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: add (disabled) username field
  packages/themes/src/common/commonStyles.ts
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/pages/UserSettings/content/sections/UserInfos.section.tsx
  src/pages/UserSettings/labels.ts
Due: tslint --project tsconfig.json --config tslint.json

feat(research): changed max length of research description from 1000 to 3000
  src/pages/Research/constants.ts
Due: tslint --project tsconfig.json --config tslint.json

fix(docs): fix backend emulator link
  CONTRIBUTING.md
Due: none

fix: package tests
  package.json
  packages/components/package.json
  packages/components/src/CommentItem/CommentItem.stories.tsx
  packages/components/src/ResearchEditorOverview/__snapshots__/ResearchEditorOverview.test.tsx.snap
  packages/components/src/test/utils.tsx
  src/config/devSiteConfig.ts
  src/pages/Question/question.routes.test.tsx
  src/pages/UserSettings/content/formSections/UserProfile.section.tsx
  vite.config.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: storybook components
  packages/components/.storybook/preview.tsx
Due: none

fix: unit tests
  package.json
  packages/components/src/CommentItem/CommentItem.stories.tsx
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Question/question.routes.test.tsx
  src/pages/Research/research.routes.test.tsx
  src/pages/UserSettings/content/sections/UserInfos.section.tsx
  src/stores/Discussions/discussions.store.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: howto tests
  src/pages/Howto/Content/Howto/Howto.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: server.js
  src/server.js
Due: tslint

fix: lint?
  .prettierignore
  package.json
Due: none

fix: lint
  src/server.js
Due: tslint

fix: build
  src/pages/Research/Content/ResearchArticle.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: e2e
  src/server.js
Due: tslint

feat(research): changed max length of research description from 1000 to 3000 (#3823)
  src/pages/Research/constants.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  d2/1a3885634ffc369bd8a5f90efa876146f5e733
Due: none

Notes added by 'git notes add'
  ff/ba130bf58d5fbd17fb2d620b0806dfc6be6126
Due: none

feat: add alt tag to HowTo cover image
  src/models/howto.models.tsx
  src/pages/Howto/Content/Common/HowToFieldCoverImageAlt.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/labels.ts
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add alt tag to ImageGallery in HowTo Step
  packages/components/src/ImageGallery/ImageGallery.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/utils/formatImageListForGallery.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: code styles
  packages/components/src/CommentItem/CommentItem.test.tsx
  src/pages/Howto/Content/Common/HowToFieldCoverImageAlt.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: update profile contact setting display
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/pages/UserSettings/content/sections/PublicContact.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: drop unused date picker field
  packages/components/src/FieldDatepicker/FieldDatepicker.stories.tsx
  packages/components/src/FieldDatepicker/FieldDatepicker.tsx
  packages/components/src/index.ts
Due: none

feat: update impact label
  src/pages/UserSettings/labels.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: tweak user setting form stylings
  packages/components/src/CharacterCount/CharacterCount.tsx
  packages/components/src/FieldInput/FieldInput.tsx
  packages/components/src/FieldTextarea/FieldTextarea.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormTab.tsx
  src/common/Form/ImageInput.field.tsx
  src/common/Form/Select.field.tsx
  src/pages/UserSettings/SettingsPageAccount.tsx
  src/pages/UserSettings/SettingsPageImpact.tsx
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/pages/UserSettings/SettingsPageNotifications.tsx
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/pages/UserSettings/content/elements.tsx
  src/pages/UserSettings/content/fields/CustomCheckbox.field.tsx
  src/pages/UserSettings/content/fields/CustomRadio.field.tsx
  src/pages/UserSettings/content/sections/Collection.section.tsx
  src/pages/UserSettings/content/sections/Expertise.section.tsx
  src/pages/UserSettings/content/sections/Focus.section.tsx
  src/pages/UserSettings/content/sections/PublicContact.section.tsx
  src/pages/UserSettings/content/sections/UserImages.section.tsx
  src/pages/UserSettings/content/sections/UserInfos.section.tsx
  src/pages/UserSettings/content/sections/Workspace.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: replace delete icon
  packages/components/assets/icons/delete.svg
Due: none

Notes added by 'git notes add'
  0e/f54b6a7a9aff93754ed1634aa762996d136290
Due: none

fix: use flex instead of grid
  src/pages/Question/QuestionListItem.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: new-component script
  packages/components/package.json
  packages/components/scripts/newComponent.ts
Due: none

chore: refactor research and question list item
  packages/components/src/Category/Category.tsx
  packages/components/src/IconCountGroup/IconCountGroup.stories.tsx
  packages/components/src/IconCountGroup/IconCountGroup.tsx
  packages/components/src/ModerationStatus/ModerationStatus.tsx
  packages/components/src/ResponsiveCard/ResponsiveCard.stories.tsx
  packages/components/src/ResponsiveCard/ResponsiveCard.tsx
  packages/components/src/index.ts
  src/pages/Question/QuestionListItem.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: image size
  packages/components/src/ResponsiveCard/ResponsiveCard.tsx
Due: none

feat: card refactor
  packages/components/src/IconCountGroup/IconCountGroup.tsx
  packages/components/src/ResponsiveCard/ResponsiveCard.tsx
  src/pages/Question/QuestionListItem.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/researchHelpers.ts
  src/utils/cdnImageUrl.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: card refactor
  packages/components/src/ResponsiveCard/ResponsiveCard.tsx
Due: none

feat: card story
  packages/components/src/ResponsiveCard/ResponsiveCard.stories.tsx
Due: none
