Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

chore: move ProfileModal alongside sibling components
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/pages/common/Header/Menu/ProfileModal/ProfileModal.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add lazy loading for content images
  src/components/Comment/CommentHeader.tsx
  src/components/ImageGallery/ImageGallery.tsx
  src/components/VerifiedUserBadge/VerifiedUserBadge.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add lazy loading to all image components
  packages/components/src/MemberBadge/MemberBadge.tsx
  src/components/Avatar/index.tsx
  src/components/DropdownIndicator/index.tsx
  src/components/ImageGallery/ImageGallery.tsx
  src/components/Loader/index.tsx
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
  src/pages/Maps/Content/Controls/GroupingFilterMobile.tsx
  src/pages/Maps/Content/Controls/index.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Settings/content/formSections/Fields/CustomCheckbox.field.tsx
  src/pages/Settings/content/formSections/Fields/CustomRadio.field.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserStats.tsx
  src/pages/common/Header/Menu/Logo/Logo.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: d77ac9cf231e3e7e24157c33c750a5c2ff5f370b
  storybook-static/iframe.html
  storybook-static/main.03f0f150.iframe.bundle.js
  storybook-static/main.28813725.iframe.bundle.js
  storybook-static/vendors~main.223811c5.iframe.bundle.js
  storybook-static/vendors~main.223811c5.iframe.bundle.js.map
  storybook-static/vendors~main.6e19488c.iframe.bundle.js
  storybook-static/vendors~main.6e19488c.iframe.bundle.js.LICENSE.txt
  storybook-static/vendors~main.6e19488c.iframe.bundle.js.map
Due: tslint

feat: add seo tag update methods
  public/index.html
  src/utils/seo.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: add default seo values
  src/utils/seo.ts
Due: tslint --project tsconfig.json --config tslint.json

refactor: replace theme-ui links with react router
  src/components/Comment/CommentHeader.tsx
  src/components/Comment/CommentTextArea.tsx
  src/components/DiscordLink/DiscordLink.tsx
  src/components/EventCard/EventCard.tsx
  src/components/NotificationBanner/NotificationBanner.tsx
  src/components/Notifications/NotificationItem.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Howto/Content/Common/PostingGuidelines.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/DownloadExternal/DownloadExternal.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Password/ForgotPasswordMessage.tsx
  src/pages/Research/Content/Common/PostingGuidelines.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Settings/content/PostingGuidelines.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/SignUp/SignUpMessage.tsx
  src/pages/User/content/ProfileLink.tsx
  src/pages/User/content/UserAdmin.tsx
  src/pages/User/content/UserStats.tsx
  src/pages/admin/Admin.tsx
  src/pages/common/Breadcrumb/Breadcrumb.tsx
  src/pages/common/FilterBar/FilterBar.tsx
  src/pages/common/Header/Menu/Logo/Logo.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobileExternalLink.tsx
  src/pages/common/Header/Menu/Profile/ProfileButtonItem.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: link colors
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/User/content/UserStats.tsx
  src/pages/common/Breadcrumb/Breadcrumb.tsx
  src/pages/common/Header/Menu/Logo/Logo.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: code tidying
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add seo howto and router updates
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/index.tsx
  src/utils/seo.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 7cc932b050c895c011180ad2691ab7f1540171d7
  storybook-static/iframe.html
  storybook-static/main.03f0f150.iframe.bundle.js
  storybook-static/main.38d2b4c2.iframe.bundle.js
  storybook-static/static/media/map-collection.ea1ca710.svg
  storybook-static/static/media/map-community.a6b07be3.svg
  storybook-static/static/media/map-machine.4ac72f8b.svg
  storybook-static/static/media/map-member.ca25df93.svg
  storybook-static/static/media/map-workspace.ed4745b4.svg
Due: tslint

fix: set publish event button to full width
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add ExternalLink component
  packages/components/src/ExternalLink/ExternalLink.stories.tsx
  packages/components/src/ExternalLink/ExternalLink.tsx
  packages/components/src/index.ts
Due: none

feat: add lint rules to prevent import of theme-ui link
  .eslintrc.json
  packages/components/src/ExternalLink/ExternalLink.tsx
Due: none

refactor: legacy external links
  packages/components/src/SiteFooter/SiteFooter.tsx
  src/components/FileInfo/FileInfo.tsx
  src/pages/Events/EventCard/EventCard.tsx
  src/pages/Howto/Content/Common/PostingGuidelines.tsx
  src/pages/Howto/DownloadExternal/DownloadExternal.tsx
  src/pages/Research/Content/Common/PostingGuidelines.tsx
  src/pages/Settings/content/PostingGuidelines.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/SignUp/SignUpMessage.tsx
  src/pages/User/content/ProfileLink.tsx
  src/pages/common/UploadedFile/UploadedFile.tsx
  src/pages/index.tsx
  src/pages/policy/privacy.tsx
  src/pages/policy/terms.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: restrict components import via packages path
  .eslintrc.json
Due: none

chore: refactor legacy links
  src/components/MapWithDraggablePin/MapWithDraggablePin.tsx
  src/pages/Maps/Content/View/index.tsx
  src/pages/NotFound/NotFound.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: fix import
  packages/components/src/SiteFooter/SiteFooter.tsx
Due: none

deploy: 2c2ca4dce03f5ca79e9af0c69a3dc8f88ae1bac3
  storybook-static/iframe.html
  storybook-static/main.38d2b4c2.iframe.bundle.js
  storybook-static/main.e266c0f1.iframe.bundle.js
  storybook-static/vendors~main.5d21f5fe.iframe.bundle.js
  storybook-static/vendors~main.5d21f5fe.iframe.bundle.js.LICENSE.txt
  storybook-static/vendors~main.5d21f5fe.iframe.bundle.js.map
  storybook-static/vendors~main.6e19488c.iframe.bundle.js
  storybook-static/vendors~main.6e19488c.iframe.bundle.js.map
Due: tslint

test: add howto seo spec
  packages/cypress/src/integration/howto/seo.spec.ts
Due: none

feat: added download counter to howto
  src/components/FileInfo/FileInfo.tsx
  src/models/howto.models.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: fixed styling of download counter
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: fixed linting
  src/models/howto.models.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: 12 hour cooldown implemented for file download counter
  src/components/FileInfo/FileInfo.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: cooldown implemented for every individual howto file download
  src/components/FileInfo/FileInfo.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/utils.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: refactored howto store increment download count function
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove rogue console log
  src/components/FileInfo/FileInfo.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: removed unused filecontainer
  src/components/FileInfo/FileInfo.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: removed unsued styled component inside of fileinfo
  src/components/FileInfo/FileInfo.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: added urls to theme styles for dynamic urls when clicking on guidelines
  src/pages/Settings/content/PostingGuidelines.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
  src/themes/types.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: correct badges show when editing profile and profile picture can be saved without error
  src/modules/profile/SupportedProfileTypesFactory.ts
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/themes/fixing-fashion/styles.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: removed incorrect lowdetail badge
  src/themes/fixing-fashion/styles.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: profile settings for fixing fashion
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/project-kamp/styles.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: download counter now can also increment old howto's
  src/models/howto.models.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/downloadCooldown.ts
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: total_downloads property only added to howto model if file present
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: upgrade cypress to the latest version
  packages/cypress/package.json
  yarn.lock
Due: none

chore(ci): bump action to use latest version of node action
  .github/workflows/reset-staging-site.yml
Due: none

feat: extract create comment component
  packages/components/package.json
  packages/components/src/CommentItem/CommentItem.stories.tsx
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/CreateComment/CreateComment.stories.tsx
  packages/components/src/CreateComment/CreateComment.tsx
  packages/components/src/EditComment/EditComment.stories.tsx
  packages/components/src/EditComment/EditComment.tsx
  packages/components/src/FieldTextarea/FieldTextarea.stories.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  packages/components/src/MemberBadge/MemberBadge.tsx
  packages/components/src/Modal/Modal.stories.tsx
  packages/components/src/Modal/Modal.tsx
  packages/components/src/index.ts
  packages/components/tsconfig.json
  packages/components/types/ReactLinkify.d.ts
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentTextArea.tsx
  src/components/CommentList/CommentList.tsx
  src/components/Modal/Modal.tsx
  src/constants.ts
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/Content/Common/SubmitStatus.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Maps/Content/Controls/index.tsx
  src/pages/Research/Content/Common/SubmitStatus.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Settings/content/ProfileDelete.tsx
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
  src/pages/Settings/content/formSections/Fields/OpeningHoursPicker.field.tsx
  src/pages/admin/content/AdminCategories.tsx
  src/pages/admin/content/AdminTags.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
  src/themes/types.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

chore: align react-router-* versions
  packages/components/package.json
  yarn.lock
Due: none

fix: add fallback for potentially undefined property
  src/components/Notifications/NotificationItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
