Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

deploy: c6bfde7dc67c67cbf3f7f2f06852528cf1db15be
  storybook-static/iframe.html
  storybook-static/main.642398de.iframe.bundle.js
  storybook-static/main.6443fcd7.iframe.bundle.js
  storybook-static/project.json
Due: tslint

Notes added by 'git notes add'
  d29b1677800735e3271c4a0ccfce544bff145f0b
Due: none

fix: correct action for removing useful mark
  src/pages/Research/Content/ResearchArticle.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: confirmation tests
  packages/cypress/src/integration/settings.spec.ts
Due: none

fix(components): check for valid country code
  packages/components/package.json
  packages/components/src/Username/Username.tsx
  yarn.lock
Due: none

feat: makes country required field
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: update discord link to be consistent
  README.md
  packages/documentation/docs/Contributing/start-contributing.md
  packages/documentation/docs/Design/our-design-system.md
  packages/documentation/docusaurus.config.gh-pages.js
  packages/documentation/docusaurus.config.js
  src/constants.ts
  src/pages/Settings/content/PostingGuidelines.tsx
Due: tslint --project tsconfig.json --config tslint.json, tslint

docs: remove mention of defunct monthly dev call
  packages/documentation/docs/Contributing/bounties.md
Due: none

chore: apply formatting
  packages/documentation/docs/Contributing/start-contributing.md
  src/pages/Settings/content/PostingGuidelines.tsx
Due: tslint --project tsconfig.json --config tslint.json

Update overview.md
  packages/documentation/docs/Frontend Development/overview.md
Due: none

deploy: 029e3b7a582c6d0e50181d3194bf12b6fdcac563
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Backend Development/tests/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/826114b9.37352085.js
  assets/js/826114b9.698a473a.js
  assets/js/runtime~main.1dbe4c43.js
  assets/js/runtime~main.81d8c272.js
  index.html
  storybook-static/project.json
Due: tslint

chore: fix formatting
  packages/documentation/docs/Frontend Development/overview.md
Due: none

deploy: e2727c9ea7ec9c3e149ce9885fc66f9caf138c45
  storybook-static/project.json
Due: none

test: capture window:confirm behaviour
  packages/cypress/src/integration/settings.spec.ts
Due: none

chore: apply formatting
  packages/cypress/src/integration/settings.spec.ts
Due: none

feat: supports contributors on research item #2006
  packages/components/src/ArticleCallToAction/ArticleCallToAction.tsx
  src/models/research.models.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
  src/test/factories/ResearchItem.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: use ternary rather than conditional
  packages/components/src/ArticleCallToAction/ArticleCallToAction.tsx
Due: none

test: switch to query via testId
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/stores/Research/research.store.test.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor to move user notifications into store
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: notify contributors #2143
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  fab73d911374d450b9054cbc13f31ec7628e4bf1
Due: none

feat: adds supporter badge
  packages/components/assets/icons/supporter.svg
  packages/components/src/Icon/Icon.stories.tsx
  src/common/AlertIncompleteProfile.tsx
  src/models/user.models.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/UserStats.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: adds story showcasing all available icons
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
Due: none

chore: remove unrelated change
  src/pages/User/content/MemberProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 683a7d695a38e24f929d21b17d378b237f533a20
  storybook-static/iframe.html
  storybook-static/main.642398de.iframe.bundle.js
  storybook-static/main.a158260f.iframe.bundle.js
  storybook-static/project.json
  storybook-static/static/media/supporter.4da65ee5.svg
Due: tslint

chore: refactor to introduce UserSettings page
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/UserSettings.tsx
  src/pages/Settings/index.tsx
  src/pages/User/User.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: adds admin panel to edit user badges
  src/pages/Settings/UserBadgeSettings.tsx
  src/pages/Settings/UserSettings.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor class name to match file path
  src/pages/Settings/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix(styling): add red background
  src/pages/Settings/UserBadgeSettings.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor to introduce null pathway
  src/pages/Settings/UserSettings.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: filter by support badge type on admin page
  src/modules/admin/pages/adminUsers.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: add coverage to user badges
  src/pages/Settings/UserSettings.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor
  src/pages/Settings/UserBadgeSettings.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: styling problems plastic collection
  src/pages/Settings/content/formSections/Collection.section.tsx
  src/pages/Settings/content/formSections/Fields/CustomCheckbox.field.tsx
  src/pages/Settings/content/formSections/Fields/CustomRadio.field.tsx
  src/pages/Settings/content/formSections/Fields/OpeningHoursPicker.field.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: removed console log
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: removed unecessary spacing
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: move initialization boolean inside component
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: moved boolean initialization inside reasearch description
  src/pages/Research/Content/ResearchDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: added cypress end to end testing for views
  packages/components/src/ViewsCounter/ViewsCounter.tsx
  packages/cypress/src/integration/howto/read.spec.ts
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
