Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

chore: clear yarn cache
  .circleci/config.yml
Due: none

chore: update ci order
  .circleci/config.yml
Due: none

chore: add warmup ci task
  .circleci/config.yml
Due: none

chore: ci
  .circleci/config.yml
Due: none

fix: update deploy script
  .circleci/config.yml
Due: none

Notes added by 'git notes add'
  e638dbedbf41d9b9113ddfddcd10b153f640ae68
Due: none

chore: restrict notification settings to beta-testers
  src/pages/Settings/SettingsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: adds test for underscore username edgecase
  src/stores/common/mentions/index.test.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: review changes
  shared/models/db.ts
  src/models/researchCategories.model.ts
  src/pages/Howto/Category/CategoriesSelect.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/stores/databaseV2/clients/dexie.tsx
Due: tslint --project tsconfig.json --config tslint.json

:docs Update onboarding documentation
  packages/documentation/docs/Contributing/start-contributing.md
Due: none

clean table
  packages/documentation/docs/Contributing/start-contributing.md
Due: none

docs: update onboarding documentation
  packages/documentation/docs/Contributing/start-contributing.md
Due: none

chore: clean table
  packages/documentation/docs/Contributing/start-contributing.md
Due: none

chore: fix typo
  packages/documentation/docs/Contributing/start-contributing.md
Due: none

chore: update docs yarn lock
  packages/documentation/yarn.lock
Due: none

chore(components): refactor Buttons to remove unnecessary variants
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/CommentList/CommentList.tsx
  packages/components/src/MapMemberCard/MapMemberCard.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Events/EventCard/EventCard.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Password/ForgotPassword.tsx
  src/pages/Password/ForgotPasswordMessage.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/ProfileDelete.tsx
  src/pages/Settings/content/formSections/ChangeEmail.form.tsx
  src/pages/Settings/content/formSections/ChangePassword.form.tsx
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
  src/pages/Settings/content/formSections/Fields/OpeningHoursPicker.field.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/ResendSignUpMessage.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/common/Header/Menu/Profile/ProfileButtonItem.tsx
  src/pages/common/Header/Menu/Profile/ProfileButtons.tsx
  src/themes/common/button.ts
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
Due: tslint --project tsconfig.json --config tslint.json

deploy: f6d5abff60f0fed5c25bc915194f977763ca5ba8
  storybook-static/iframe.html
  storybook-static/main.6aacdf78.iframe.bundle.js
  storybook-static/main.cf324c4d.iframe.bundle.js
Due: tslint

Notes added by 'git notes add'
  9682e425c65b6643650fbaa10ca60044bebc5ff2
Due: none

fix: use standard button icon for Discord link
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: adds link to Patreon in footer
  packages/components/src/SiteFooter/SiteFooter.tsx
Due: none

deploy: 6d10ad6dc4ed6a46136c52d911b44b717981ba2b
  storybook-static/iframe.html
  storybook-static/main.6aacdf78.iframe.bundle.js
  storybook-static/main.9ccd41fe.iframe.bundle.js
Due: tslint

fix: override blue border of subtle button variant
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
Due: none

deploy: 9b3f18a8d368e23c48be323ac46af08ccb284b29
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/main.038202b1.js
  assets/js/main.9c6d4464.js
  assets/js/main.9c6d4464.js.LICENSE.txt
  example.index/index.html
  index.html
  storybook-static/iframe.html
  storybook-static/main.9ccd41fe.iframe.bundle.js
  storybook-static/main.def1cdda.iframe.bundle.js
Due: tslint

feat: loading news from WordPress instance
  src/pages/News/News.tsx
  src/pages/PageList.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: support individual articles
  src/pages/News/Content/NewsArticle.tsx
  src/pages/News/Content/NewsListing.tsx
  src/pages/News/News.tsx
  src/pages/PageList.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: switch to secondary variant
  src/pages/Maps/Content/Controls/Controls.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: previousSlugs
  src/mocks/howto.mock.tsx
  src/models/howto.models.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/databaseV2/clients/dexie.tsx
  src/test/factories/Howto.ts
Due: tslint --project tsconfig.json --config tslint.json

Update md-style-guide.md
  packages/documentation/docs/Docs Contribution/md-style-guide.md
Due: none

feat: previousSlugs created in edit mode
  src/models/howto.models.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: adds accessible labels to moderation buttons
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): pin to skip latest release
  .circleci/config.yml
  commitlint.config.ts
  commitlint.format.ts
Due: none

refactor: move preinstall to healthcheck script
  package.json
  scripts/healthcheck.js
  scripts/preinstall.js
Due: tslint

deploy: b1fd96152459dbd21660635fd8a8a1e804393a05
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/45036732.23385d06.js
  assets/js/45036732.cf4b6274.js
  assets/js/runtime~main.2e2abee8.js
  assets/js/runtime~main.edad87d5.js
  example.index/index.html
  index.html
  storybook-static/main.def1cdda.iframe.bundle.js
Due: tslint

chore: update node 16 to node 18
  .circleci/config.yml
  .github/workflows/pr-preview.yml
  .github/workflows/reset-staging-site.yml
  .gitpod.yml
  .node-version
  .nvmrc
  CONTRIBUTING.md
  functions/package.json
  package.json
  packages/documentation/docs/Getting Started/setup.md
  packages/emulators-docker/Dockerfile
  packages/emulators-docker/README.md
  scripts/healthcheck.js
  yarn.lock
Due: tslint

fix: node 18 react-script changes
  package.json
Due: none

feat: previousSlugs with full history
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: upgrade functions webpack version
  functions/package.json
  functions/webpack.config.ts
Due: none

feat: add node-version specific env
  .env-cmdrc.js
  .gitignore
  package.json
  yarn.lock
Due: tslint
