Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

feat: added debugcache step
  .circleci/config.yml
Due: none

feat: add orb cypress
  .circleci/config.yml
Due: none

feat: remove debug from the steps
  .circleci/config.yml
Due: none

feat: add docker to test_e2e again
  .circleci/config.yml
Due: none

feat: workaround to cypress install
  .circleci/config.yml
  package.json
Due: none

feat: fix to call install_cypress
  .circleci/config.yml
Due: none

feat: change research updates to use id for anchor
  functions/src/Integrations/firebase-discord.test.ts
  functions/src/Integrations/firebase-discord.ts
  packages/components/assets/icons/hyperlink.svg
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  src/common/DiscussionWrapper.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchLinkToUpdate.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Research/Content/helper.test.tsx
  src/pages/Research/Content/helper.ts
  src/stores/Discussions/discussions.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  51/959ad9447c569f1790a3785f5a63f793426592
Due: none

fix: scrolling comments and updates on research
  src/pages/Research/Content/ResearchArticle.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: create command ui checkCommentItem
  packages/cypress/src/integration/howto/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  packages/cypress/src/support/commandsUi.ts
Due: none

refactor: add new cy commands addLastComment editLast deleteLast addReplytoFirstComment
  packages/cypress/src/integration/howto/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  packages/cypress/src/support/commandsUi.ts
Due: none

refactor: add steps to check comment after deletion
  packages/cypress/src/integration/research/discussions.spec.ts
Due: none

refactor: clarify deleteLast and add better assertion after edit
  packages/cypress/src/integration/howto/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  packages/cypress/src/support/commandsUi.ts
Due: none

refactor: yarn format
  packages/cypress/src/integration/research/discussions.spec.ts
  packages/cypress/src/support/commandsUi.ts
Due: none

refactor: cy discussion address comments
  packages/cypress/src/integration/howto/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  packages/cypress/src/support/commands.ts
  packages/cypress/src/support/commandsUi.ts
Due: none

refactor: cy research discussion typo
  packages/cypress/src/integration/research/discussions.spec.ts
Due: none

Notes added by 'git notes add'
  aa/a09c602cec1de4a75831193b240e39e052824a
Due: none

tests: dry-up e2e discussion specs (#3781)
  packages/cypress/src/integration/howto/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  packages/cypress/src/support/commands.ts
  packages/cypress/src/support/commandsUi.ts
Due: none

feat: move cy to devDep and add env var to not install cy
  .circleci/config.yml
  packages/cypress/package.json
Due: none

chore: tidy button hover effects
  packages/themes/src/common/button.ts
Due: none

feat: add optional style prop to loader
  packages/components/src/Loader/Loader.tsx
Due: none

feat: move map pin to separate settings tab
  packages/components/src/ConfirmModal/ConfirmModal.tsx
  packages/components/src/Loader/Loader.tsx
  packages/components/src/MapWithPin/MapWithPin.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormWrapper.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commandsUi.ts
  src/pages/UserSettings/SettingsPage.tsx
  src/pages/UserSettings/content/formSections/SettingsFormNotifications.tsx
  src/pages/UserSettings/content/formSections/SettingsMapPin.section.tsx
  src/pages/UserSettings/content/formSections/SettingsMapPinSection.tsx
  src/pages/UserSettings/content/formSections/UserProfile.section.tsx
  src/pages/UserSettings/labels.ts
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: anchoring into impact settings
  src/pages/User/impact/ImpactMissing.tsx
  src/pages/UserSettings/SettingsPage.tsx
  src/pages/UserSettings/content/formSections/Impact/ImpactYear.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: drop not needed map spec
  src/pages/UserSettings/content/formSections/UserProfile.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: move patreon to profile settings
  packages/components/assets/icons/patreon.svg
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  src/pages/UserSettings/content/formSections/AccountSettings.section.tsx
  src/pages/UserSettings/content/formSections/PatreonIntegration.test.tsx
  src/pages/UserSettings/content/formSections/PatreonIntegration.tsx
  src/pages/UserSettings/content/formSections/UserProfile.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: move email notification setting to own tab
  packages/components/src/SettingsFormWrapper/SettingsFormTab.tsx
  packages/cypress/src/integration/settings.spec.ts
  src/pages/UserSettings/SettingsPage.tsx
  src/pages/UserSettings/content/formSections/EmailNotifications.section.tsx
  src/pages/UserSettings/content/formSections/SettingsNotifications.section.tsx
  src/pages/UserSettings/content/formSections/UserProfile.section.tsx
  src/pages/UserSettings/labels.ts
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: map setting erroring when deleting a pin
  src/pages/UserSettings/content/formSections/SettingsMapPin.section.tsx
  src/stores/Maps/maps.store.test.ts
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: add cache browser
  .circleci/config.yml
Due: none

feat: add name and right path to chrome
  .circleci/config.yml
Due: none

feat: change version
  .circleci/config.yml
Due: none

fix: prod & dev builds scripts
  package.json
  src/server.js
  yarn.lock
Due: tslint

chore: pass configuration into method
  scripts/postBuild.ts
Due: none
