Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

chore(patreon): update preview deploy with patreon env variable
  .github/workflows/pr-preview.yml
Due: none

chore: remove change to pr-preview
  .github/workflows/pr-preview.yml
Due: none

chore(patreon): add beta wrapper
  src/pages/UserSettings/SettingsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(patreon): use identity endpoint and display thumbnail when integrated
  functions/src/Integrations/patreon.ts
  src/models/user.models.tsx
  src/pages/Patreon/Patreon.tsx
  src/pages/UserSettings/SettingsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix(patreon): write access code to user_integration collection
  firestore.rules
  functions/src/Integrations/patreon.ts
  packages/documentation/docs/Backend Development/integrations.md
  shared/models/db.ts
  src/stores/databaseV2/clients/dexie.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(patreon): refine security rules
  firestore.rules
  packages/security-rules/tests/general.spec.ts
  src/pages/UserSettings/SettingsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: nits
  functions/src/Integrations/patreon.ts
  packages/security-rules/tests/general.spec.ts
Due: none

fix: updating error text.
  src/common/Error/handlers/ChunkLoadError.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: package.json to reduce vulnerabilities
  package.json
Due: none

fix: packages/emulators-docker/package.json to reduce vulnerabilities
  packages/emulators-docker/package.json
Due: none

fix: gitignore
  .gitignore
Due: none

feat: add firestore function adding question fields commentCount and latestCommentDate
  functions/src/questions/index.ts
Due: none

fix: added function memory and document id
  functions/src/questions/index.ts
Due: none

fix: select component highlights focused element on keyboard navigation
  packages/components/src/Select/Select.tsx
Due: none

[QuestionListing] Search #2969
  src/pages/Question/QuestionListing.tsx
  src/stores/Question/question.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: remove unnecessary useEffect dependency
  src/pages/Question/QuestionEdit.tsx
  src/pages/Question/QuestionListing.tsx
  src/pages/Question/QuestionPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor question form component
  src/pages/Question/Content/Common/QuestionForm.tsx
  src/pages/Question/QuestionCreate.tsx
  src/pages/Question/QuestionEdit.tsx
  src/pages/Question/labels.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: fix QuestionEdit redirect
  src/pages/Question/QuestionEdit.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(question): select tags
  src/models/question.models.tsx
  src/models/tags.model.tsx
  src/pages/Question/Content/Common/QuestionForm.tsx
  src/pages/Question/QuestionCreate.tsx
  src/pages/Question/QuestionEdit.tsx
  src/pages/Question/labels.ts
  src/pages/Question/question.routes.test.tsx
  src/stores/Tags/tags.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(question): remove votedUsefulBy from question model
  src/models/question.models.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(question): remove unused line
  src/pages/Question/QuestionPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add user setting to update impact
  packages/cypress/src/integration/settings.spec.ts
  shared/mocks/data/users.ts
  src/models/user.models.tsx
  src/pages/User/contact/UserContactError.tsx
  src/pages/User/impact/Impact.test.tsx
  src/pages/User/impact/Impact.tsx
  src/pages/User/impact/ImpactEmoji.tsx
  src/pages/User/impact/ImpactField.tsx
  src/pages/User/impact/ImpactItem.tsx
  src/pages/User/impact/ImpactMissing.tsx
  src/pages/User/impact/labels.ts
  src/pages/UserSettings/SettingsPage.tsx
  src/pages/UserSettings/content/formSections/Impact/Impact.section.tsx
  src/pages/UserSettings/content/formSections/Impact/ImpactQuestion.field.tsx
  src/pages/UserSettings/content/formSections/Impact/ImpactYear.field.tsx
  src/pages/UserSettings/content/formSections/Impact/ImpactYear.section.tsx
  src/pages/UserSettings/content/formSections/Impact/ImpactYearDisplay.field.tsx
  src/pages/UserSettings/content/formSections/Impact/impactQuestions.ts
  src/pages/UserSettings/content/formSections/Impact/utils.test.ts
  src/pages/UserSettings/content/formSections/Impact/utils.ts
  src/pages/UserSettings/content/formSections/SettingsErrors.tsx
  src/pages/UserSettings/labels.ts
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: drop unwanted no console overrides
  src/pages/User/contact/UserContactError.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/stores/databaseV2/clients/dexie.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  f5/d7f99a0cdda5141739823bfe9d06d94d94249b
Due: none

fix: functions/package.json to reduce vulnerabilities
  functions/package.json
  yarn.lock
Due: none

fix: scripts/package.json to reduce vulnerabilities
  scripts/package.json
  yarn.lock
Due: none

Notes added by 'git notes add'
  b5/8fec149659adc54dc391a78111288de8f39ed4
Due: none

feat(question): add username and Ask-On date
  src/models/question.models.tsx
  src/pages/Question/QuestionPage.tsx
  src/stores/Question/question.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: update arrow design for impact buttons
  packages/components/assets/icons/icon-arrow-down.svg
  packages/components/assets/icons/icon-arrow-up.svg
  packages/components/src/Select/DropdownIndicator.tsx
  src/assets/icons/icon-arrow-down.svg
  src/assets/icons/icon-arrow-up.svg
  src/pages/UserSettings/content/formSections/Impact/Impact.section.tsx
  src/pages/UserSettings/labels.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: update tab styling
  packages/components/src/TabbedContent/TabbedContent.tsx
  src/pages/User/contact/UserContactFieldEmail.tsx
  src/pages/User/contact/UserContactFieldMessage.tsx
  src/pages/User/contact/UserContactFieldName.tsx
  src/pages/User/impact/ImpactField.tsx
  src/pages/User/impact/ImpactItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: move user info up on settings page
  src/pages/UserSettings/SettingsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: functions/package.json to reduce vulnerabilities
  functions/package.json
Due: none

fix: updating error text on error handler
  src/common/Error/handlers/ChunkLoadError.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: fix link to public figma file
  packages/documentation/docs/Design/our-design-system.md
Due: none

deploy: 786f601cda1385bf9159d0c00c8ff06505ba1f36
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Backend Development/tests/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Maintainers/onboarding/index.html
  Maintainers/overview/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/935f2afb.cf356c14.js
  assets/js/935f2afb.f8cacab8.js
  assets/js/cbeb1cbe.3a018c52.js
  assets/js/cbeb1cbe.5a35eca3.js
  assets/js/runtime~main.1cd7b6f1.js
  assets/js/runtime~main.9450fba5.js
  index.html
  storybook-static/assets/GlobalStyles-1d26314a.js.map
  storybook-static/project.json
Due: tslint

chore: remove duplicate import
  src/pages/UserSettings/SettingsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 1e48a1d535d178123fbf9502b8e4784af42017b9
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Backend Development/tests/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Maintainers/onboarding/index.html
  Maintainers/overview/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/389897fc.03608435.js
  assets/js/389897fc.7c0771e5.js
  assets/js/runtime~main.9450fba5.js
  assets/js/runtime~main.c72464fa.js
  index.html
  storybook-static/assets/GlobalStyles-1d26314a.js.map
  storybook-static/project.json
Due: tslint
