Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

feat: add new designs for member and spaces profile
  src/assets/images/default_member.svg
  src/components/Form/ImageInput.field.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/User/User.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/ProfileLink.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserPage/UserPage.tsx
  src/pages/User/content/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): persist screenshots from failed tests
  .circleci/config.yml
Due: none

fix: adds back data-cy attribute for Cypress
  src/components/Form/ImageInput.field.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: refactor MemberProfile component
  packages/storybook/.storybook/preview.js
  src/components/Button/button.stories.mdx
  src/components/DiscordLink/DiscordLink.stories.mdx
  src/components/EventCard/event.card.stories.mdx
  src/components/Heading/heading.stories.mdx
  src/components/Icons/FlagIcon/FlagIcon.tsx
  src/components/Icons/icon.stories.mdx
  src/components/MapWithDraggablePin/MapWithDraggablePin.stories.mdx
  src/components/OsmGeocoding/OsmGeocoding.stories.mdx
  src/components/SiteFooter/SiteFooter.stories.mdx
  src/components/Text/text.stories.mdx
  src/pages/User/content/MemberProfile.stories.mdx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/UserStats.tsx
  src/pages/User/content/index.tsx
Due: tslint --project tsconfig.json --config tslint.json, tslint

fix: extract components for reuse between profile variants
  src/components/Badge/Badge.stories.mdx
  src/components/Badge/Badge.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.stories.mdx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserContactAndLinks.tsx
  src/pages/User/content/UserStats.tsx
  src/pages/User/content/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: removed unused code
  src/pages/User/content/SpaceProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: support incorrectly sized images
  src/pages/User/content/MemberProfile.stories.mdx
  src/pages/User/content/MemberProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: update readme with luke 🍉
  README.md
Due: none

feat: add useful count to howto card
  functions/src/stats/index.ts
  src/models/howto.models.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add userHowtoVote aggregation bindings
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

refactor: remove legacy howto stats
  functions/src/stats/index.ts
  src/models/howto.models.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: add userVotedHowtos default value
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: update imports
  functions/src/models.ts
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

style: update howto list tag wrap
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: fetch count each time HowtoList is mounted
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): upgrade sharp@0.30.x
  functions/package.json
  yarn.lock
Due: none

fix: prevent 0 count being shown
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: track updates to props in HowToUsefulStats
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoUsefulStats.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): inject SHA at appropriate step
  .circleci/config.yml
Due: none

fix: remove #feedback from global Discord link
  src/components/DiscordLink/DiscordLink.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add docker build image
  packages/emulators-docker/DOCKERFILE
Due: none

feat: add workspace
  packages/emulators-docker/package.json
  yarn.lock
Due: none

docs: add readme
  packages/emulators-docker/README.md
Due: none

feat: add start scripts
  packages/emulators-docker/.gitignore
  packages/emulators-docker/src/common.ts
  packages/emulators-docker/src/paths.ts
  packages/emulators-docker/src/start.ts
  packages/emulators-docker/tsconfig.json
Due: none

feat: add build scripts
  packages/emulators-docker/DOCKERFILE
  packages/emulators-docker/src/build.ts
  packages/emulators-docker/src/common.ts
Due: none

chore: update readme
  packages/emulators-docker/README.md
Due: none

chore: update comments
  packages/emulators-docker/src/build.ts
Due: none

chore: code tidying
  packages/emulators-docker/.gitignore
  packages/emulators-docker/DOCKERFILE
  packages/emulators-docker/README.md
  packages/emulators-docker/src/build.ts
Due: none

chore: update docs
  packages/emulators-docker/README.md
Due: none

fix: ensure consistent column size
  src/pages/User/content/MemberProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add support for seed data
  packages/emulators-docker/.gitignore
  packages/emulators-docker/DOCKERFILE
  packages/emulators-docker/import/.gitkeep
  packages/emulators-docker/src/build.ts
  packages/emulators-docker/src/start.ts
Due: none

fix: credential generation
  packages/emulators-docker/DOCKERFILE
  packages/emulators-docker/README.md
  packages/emulators-docker/src/build.ts
  packages/emulators-docker/src/start.ts
Due: none

feat: add frontend binding
  package.json
  src/stores/databaseV2/index.tsx
Due: tslint --project tsconfig.json --config tslint.json
