Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

fix test integrations for db refactor
  cypress/support/db/endpoints.ts
  cypress/support/db/firebase.ts
  scripts/test.e2e.js
  yarn.lock
Due: tslint --project cypress/tsconfig.json --config tslint.json, tslint

Update how-to _modified field to show new flag on how-to lists when user updates his country.
  functions/src/Integrations/user-triggers.ts
Due: none

remove user stats migration function
  functions/README.md
  functions/src/index.ts
Due: none

bump cache number and travis node version
  .travis.yml
  functions/README.md
  src/stores/databaseV2/clients/dexie.tsx
Due: tslint --project tsconfig.json --config tslint.json

bump v1.3 in package.json
  package.json
Due: none

add db delete methods
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/databaseV2/clients/firestore.tsx
  src/stores/databaseV2/clients/rtdb.tsx
  src/stores/databaseV2/index.tsx
  src/stores/databaseV2/types/index.d.ts
Due: tslint --project tsconfig.json --config tslint.json

update comment
  src/stores/databaseV2/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

add serverCache delete
  src/stores/databaseV2/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

code tidying
  src/stores/databaseV2/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

add db endpoints
  functions/src/models.ts
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/databaseV2/endpoints.ts
Due: tslint --project tsconfig.json --config tslint.json

update mobx, add better global store bindings
  package.json
  src/index.tsx
  src/stores/common/module.store.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

add research module core
  src/pages/PageList.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/index.tsx
  src/pages/Research/research.mocks.tsx
  src/pages/Research/research.models.tsx
  src/pages/Research/research.routes.tsx
  src/pages/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

upgrade all other mobx stores
  src/stores/Admin/admin.store.ts
  src/stores/Events/events.store.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/maps.store.ts
  src/stores/MobileMenu/mobilemenu.store.tsx
  src/stores/Platform/platform.store.tsx
  src/stores/Tags/tags.store.tsx
  src/stores/User/user.store.ts
  src/stores/_Template/template.store.tsx
  src/stores/common/module.store.ts
Due: tslint --project tsconfig.json --config tslint.json

fix version
  package.json
Due: none

remove dh integrations
  src/hacks/DaveHakkensNL.hacks.tsx
  src/pages/Settings/content/formSections/ImportDH.form.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/common/Login/Login.form.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

more dh auth removals
  firebase.json
  functions/src/exports/tasks.ts
  src/pages/SignIn/SignIn.tsx
  src/pages/common/Login/Login.form.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

remove legacy login code
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/pages/common/Login/Login.tsx
  src/pages/common/Login/ResetPW.form.tsx
  src/pages/common/Login/SignUp.form.tsx
  src/pages/common/Login/elements.js
Due: tslint --project tsconfig.json --config tslint.json, tslint

fix package json version
  package.json
Due: none

Enable Following "My pin" link on map
  src/pages/Maps/Content/Controls/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

Fix social media icon on profile page
  src/pages/User/content/UserPage/ProfileLink.tsx
  src/pages/User/content/UserPage/UserPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

Pass tests
  src/pages/User/content/UserPage/ProfileLink.tsx
Due: tslint --project tsconfig.json --config tslint.json

#676 Received a broken How-to page when opening a unknown how-to
  community-platform.iml
  src/pages/Howto/Content/Howto/Howto.tsx
Due: tslint --project tsconfig.json --config tslint.json

#651 The sign-in page is accessible to logged-in users
  debug.log
  src/pages/SignIn/SignIn.tsx
Due: tslint --project tsconfig.json --config tslint.json

Delete community-platform.iml
  community-platform.iml
Due: none

add .log files to gitignore
  .gitignore
Due: none

Delete debug.log
  debug.log
Due: none

add social icon comment
  src/pages/User/content/UserPage/ProfileLink.tsx
Due: tslint --project tsconfig.json --config tslint.json

Update index.tsx
  src/pages/Maps/Content/Controls/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

code tidying
  src/pages/Maps/Content/Controls/index.tsx
  src/pages/Maps/Maps.tsx
Due: tslint --project tsconfig.json --config tslint.json

add back hashlink map pin routing
  src/pages/Maps/Content/Controls/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

#679 Inconsistent behavior for the anonymous when opening /events/create
  cypress/integration/bugs.spec.ts
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Events/Events.tsx
Due: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json

#683 Cannot open /events/create as logged-in users
  src/pages/SignIn/SignIn.tsx
  src/pages/common/AuthRoute.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

#1066 Capitalization across Community Platform
  src/components/Form/Fields.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

#946 delete map pin when profileType is change to member
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

#796 Map profile card issues
  src/pages/Maps/Content/View/Popup.tsx
Due: tslint --project tsconfig.json --config tslint.json

Add useful button
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

Complete UI of useful button
  functions/package.json
  functions/yarn.lock
Due: none

Complete UI of useful button
  src/models/howto.models.tsx
  src/models/user.models.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

Fix building errors caused by new useful fields
  functions/package.json
  functions/src/userStats/index.ts
  functions/src/userStats/migration.ts
  functions/yarn.lock
  src/mocks/howto.mock.tsx
  src/models/user.models.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

Add "useful" Store & DB interaction
  functions/src/userStats/index.ts
  functions/src/userStats/migration.ts
  src/mocks/user.mock.tsx
  src/mocks/user_pp.mock.tsx
  src/models/user.models.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json
