Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

fix: ux improvements
  src/pages/Research/Content/Common/Update.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: switch to unordered list
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: change header to Research overview
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(components): add ResearchEditorOverview component
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.stories.tsx
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.tsx
  packages/components/src/index.ts
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: fills out the default story
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.stories.tsx
Due: none

fix: add object validation and tests
  packages/components/package.json
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.stories.tsx
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.test.tsx
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.tsx
  packages/components/src/ResearchEditorOverview/__snapshots__/ResearchEditorOverview.test.tsx.snap
  yarn.lock
Due: none

feat(notifications): transform function and template
  functions/src/emailNotifications/createEmail.spec.ts
  functions/src/emailNotifications/createEmail.ts
  functions/src/emailNotifications/template.handlebars
  functions/src/models.ts
  src/models/index.ts
  src/models/notifications.models.tsx
  src/modules/admin/pages/adminNotifications.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: change db_endpoints import
  functions/src/emailNotifications/createEmail.spec.ts
Due: none

chore: fix test
  functions/src/emailNotifications/createEmail.spec.ts
  functions/src/emailNotifications/createEmail.ts
  functions/src/emailNotifications/index.ts
  shared/models/db.ts
Due: none

chore: add test
  functions/src/emailNotifications/createEmail.spec.ts
  functions/src/emailNotifications/createEmail.ts
Due: none

chore: add functions triggers
  functions/src/emailNotifications/index.ts
  functions/src/index.ts
Due: none

chore: add schema to dexie
  src/stores/databaseV2/clients/dexie.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: add catch for empty email list
  functions/src/emailNotifications/createEmail.ts
Due: none

fix: review comments
  functions/src/emailNotifications/createEmail.ts
Due: none

fix: create email bug
  functions/src/emailNotifications/createEmail.spec.ts
  functions/src/emailNotifications/createEmail.ts
Due: none

chore(components): upgrade storybook v7
  .yarnrc.yml
  packages/components/.babelrc.json
  packages/components/.eslintrc.json
  packages/components/.storybook/main.js
  packages/components/.storybook/main.ts
  packages/components/.storybook/preview.js
  packages/components/.storybook/preview.tsx
  packages/components/package.json
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.tsx
  packages/components/src/MapWithDraggablePin/MapWithDraggablePin.tsx
  packages/components/src/MoreContainer/MoreContainer.tsx
  packages/components/src/UserStatistics/UserStatistics.tsx
  packages/components/src/welcome.mdx
  packages/themes/tsconfig.json
  yarn.lock
Due: tslint

chore(deps): upgrade theme-ui@0.15.7
  package.json
  packages/components/package.json
  yarn.lock
Due: none

chore(deps): drop unused dep
  packages/components/package.json
  yarn.lock
Due: none

Notes added by 'git notes add'
  b5da109a7d476256b66a0f59b6ba9c2e95912878
Due: none

feat(Howto.form): added current character count indicator
  packages/components/src/FieldInput/FieldInput.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: fix spelling of CI
  .circleci/config.yml
Due: none

fix(AdminTags.tsx): change categories separator
  src/pages/admin/content/AdminTags.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  cad6f19d8e458c000632c4ce21519b4cb1957806
Due: none

fix: only show placeholder when adding
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.tsx
  packages/components/src/index.ts
  src/pages/Research/Content/Common/Update.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix(email-notifs): update template and function
  functions/src/emailNotifications/createEmail.spec.ts
  functions/src/emailNotifications/createEmail.ts
  functions/src/emailNotifications/template.handlebars
Due: none

chore: add tolerance parameter
  packages/cypress/src/support/CustomAssertations.ts
Due: none

fix: add tolerance to viewport test
  packages/cypress/src/integration/research/comments.spec.ts
  packages/cypress/src/support/CustomAssertations.ts
Due: none

fix: improve cypress test reliability
  packages/cypress/src/fixtures/searchResults.ts
  packages/cypress/src/integration/events.spec.ts
  packages/cypress/src/integration/notificationBanner.spec.ts
  packages/cypress/src/integration/research/comments.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/CustomAssertations.ts
  packages/cypress/src/support/commands.ts
Due: none

chore: add wait to allow full render
  packages/cypress/src/support/commands.ts
Due: none

chore: remove wait
  packages/cypress/src/support/commands.ts
Due: none

feat: add character count to research
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/constants.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: make theme aware
  src/pages/Research/Content/Common/Research.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: allcontributors doesnt skip ci
  .all-contributorsrc
Due: none

chore: convert userpage functional component
  src/pages/User/User.tsx
  src/pages/User/content/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add useful count to profile
  packages/components/src/UserStatistics/UserStatistics.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/index.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

test: add snapshot testing
  packages/components/src/UserStatistics/UserStatistics.stories.tsx
  packages/components/src/UserStatistics/UserStatistics.test.tsx
  packages/components/src/UserStatistics/UserStatistics.tsx
  packages/components/src/UserStatistics/__snapshots__/UserStatistics.test.tsx.snap
  src/models/user.models.tsx
  src/pages/User/content/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
