Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

feat: it works locally with theming! 😱
  functions/src/ssr/pages/_app.tsx
  functions/src/ssr/pages/seo/research/[slug]/index.tsx
  packages/components/src/FlagIcon/FlagIcon.tsx
  packages/components/src/index.ts
Due: none

test: making some addition changes
  functions/package.json
  functions/src/ssr/components/SiteFooter.tsx
  functions/src/ssr/pages/_app.tsx
  functions/src/ssr/pages/seo/how-to/[slug]/index.tsx
  functions/src/ssr/pages/seo/research/[slug]/index.tsx
Due: none

chore: apply formatting
  functions/src/index.ts
  functions/src/ssr/pages/_app.tsx
  functions/src/ssr/pages/_document.tsx
  functions/src/ssr/pages/seo/how-to/[slug]/index.tsx
  functions/src/ssr/pages/seo/research/[slug]/index.tsx
  functions/src/ssr/tsconfig.json
  packages/components/src/FlagIcon/FlagIcon.tsx
  packages/components/src/index.ts
  src/common/ErrorBoundary.tsx
  src/components/Auth/AuthWrapper.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: match folder name to component name
  packages/components/.storybook/main.js
  packages/components/src/__mocks__/AuthWrapper.mock.tsx
  src/components/AuthWrapper/AuthWrapper.tsx
  src/components/Comment/Comment.tsx
  src/components/ProfileModal/ProfileModal.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/User/content/index.tsx
  src/pages/admin/Admin.tsx
  src/pages/admin/content/AdminBetaTesters.tsx
  src/pages/admin/content/AdminUsers.tsx
  src/pages/common/AuthRoute.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/MenuDesktop.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
Due: tslint --project tsconfig.json --config tslint.json, tslint

chore: rename file to match folder
  src/components/Avatar/Avatar.tsx
  src/components/Comment/CommentTextArea.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): adjust order of Release generation
  .circleci/config.yml
Due: none

fix: address browser console output
  packages/components/.storybook/preview.js
  packages/components/src/Button/Button.stories.mdx
  packages/components/src/__mocks__/AuthWrapper.mock.tsx
  src/components/EventCard/EventCard.stories.mdx
  src/components/Text/text.stories.mdx
  src/stores/Theme/theme.store.tsx
Due: tslint --project tsconfig.json --config tslint.json, tslint

Notes added by 'git notes add'
  1795002a686b2626f80621249067551a90d7f6c5
Due: none

feat: adding categories
  shared/db.ts
  src/models/categories.model.tsx
  src/pages/admin/Admin.tsx
  src/pages/admin/content/AdminCategories.tsx
  src/stores/Categories/categories.store.tsx
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: apply formatting
  src/models/categories.model.tsx
  src/pages/admin/content/AdminCategories.tsx
  src/stores/Categories/categories.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: increment CACHE_NUMBER
  src/stores/databaseV2/clients/dexie.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: call super.init
  src/stores/Categories/categories.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: tidy up references to NEW_TAG
  src/pages/admin/content/AdminCategories.tsx
  src/stores/Categories/categories.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: make member profiles responsive
  src/pages/User/content/MemberProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: only release on master
  .circleci/config.yml
Due: none

bug fixed
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: change url path
  packages/cypress/src/integration/profile.spec.ts
  src/pages/User/User.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: update admin edit link
  src/pages/User/content/UserAdmin.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: add back tests
  packages/cypress/src/integration/profile.spec.ts
Due: none

fix: images in steps reduced in height
  src/components/ImageGallery/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

Update index.tsx
  src/components/ImageGallery/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: reduced image height in steps
  src/components/ImageGallery/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: adding category for howto
  src/components/Category/CategoriesSelect.tsx
  src/components/VirtualizedFlex/VirtualizedFlex.tsx
  src/models/howto.models.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/admin/content/AdminCategories.tsx
  src/stores/Categories/categories.store.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: fix events page bad styling
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Events/Content/EventsCreate/PostingGuidelines.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: adds design contribution docs
  packages/documentation/docs/Design/contributing-designs.md
  packages/documentation/docs/Design/contributing-feedback.md
  packages/documentation/docs/Design/images/design-contributions-0.png
  packages/documentation/docs/Design/images/design-contributions-1.png
  packages/documentation/docs/Design/images/design-contributions-2.png
  packages/documentation/docs/Design/images/design-contributions-3.png
  packages/documentation/docs/Design/our-design-system.md
  packages/documentation/sidebars.js
Due: tslint

docs: simplify sentence structure and remove Just
  CONTRIBUTING.md
Due: none

fix : updated events page bad styling fix
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Events/Content/EventsCreate/PostingGuidelines.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: introduce check for spelling within documentation
  .circleci/config.yml
  .cspell.json
Due: none

chore: extend accepted words and address spelling mistakes
  .cspell.json
  .github/ISSUE_TEMPLATE/bug_report.md
  BOUNTIES.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  packages/components/README.md
  packages/components/tsconfig.json
  packages/cypress/src/support/index.ts
  packages/documentation/data-migration.md
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  packages/documentation/docs/Backend Development/firebase-emulators.md
  packages/documentation/docs/Backend Development/integrations.md
  packages/documentation/docs/Backend Development/overview.md
  packages/documentation/docs/Contributing/bounties.md
  packages/documentation/docs/Contributing/maintainer.md
  packages/documentation/docs/Deployment/circle-ci.md
  packages/documentation/docs/Docs Contribution/md-style-guide.md
  packages/documentation/docs/Examples/mdx.md
  packages/documentation/docs/Frontend Development/modules.md
  packages/documentation/docs/Frontend Development/overview.md
  packages/documentation/docs/Server Maintenance/data-migration.md
  packages/documentation/docs/Server Maintenance/manual-backups.md
  packages/documentation/docs/Testing/end-to-end.md
  packages/documentation/firestore-backup.md
  packages/emulators-docker/README.md
  src/stores/Notifications/notifications.service.ts
  src/themes/fonts/README.md
Due: tslint --project tsconfig.json --config tslint.json

docs: extend dictionary to include maintainer usernames
  .cspell.json
  packages/documentation/docs/Design/contributing-designs.md
  packages/documentation/docs/Design/contributing-feedback.md
Due: none

docs: use CSF for documenting components
  packages/components/.eslintrc.json
  packages/components/.storybook/main.js
  packages/components/.storybook/preview.js
  packages/components/package.json
  packages/components/src/Button/Button.stories.mdx
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/MemberBadge/MemberBadge.stories.mdx
  packages/components/src/MemberBadge/MemberBadge.stories.tsx
  packages/components/src/MemberBadge/MemberBadge.tsx
  src/components/EventCard/event.card.stories.mdx
  yarn.lock
Due: tslint

chore: remove unused export
  src/components/Form/elements.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: restructure Form components to use a single export per file
  src/components/FileInputField/FileInputField.tsx
  src/components/Form/DatePicker.field.tsx
  src/components/Form/Fields.tsx
  src/components/Form/HiddenInput.field.tsx
  src/components/Form/ImageInput.field.tsx
  src/components/Form/Input.field.tsx
  src/components/Form/LocationSearch.field.tsx
  src/components/Form/Select.field.tsx
  src/components/Form/TextArea.field.tsx
  src/components/Form/types.tsx
  src/components/FormEditComment/FormEditComment.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Password/ForgotPassword.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Settings/content/ProfileDelete.tsx
  src/pages/Settings/content/formSections/ChangeEmail.form.tsx
  src/pages/Settings/content/formSections/ChangePassword.form.tsx
  src/pages/Settings/content/formSections/Fields/CustomCheckbox.field.tsx
  src/pages/Settings/content/formSections/Fields/CustomRadio.field.tsx
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
  src/pages/Settings/content/formSections/MemberMapPin.section.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/ResendSignUpMessage.tsx
  src/pages/SignUp/SignUp.tsx
  src/utils/processInputModifiers.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: move FileInputField files into common folder
  src/components/FileInputField/FileInputField.tsx
  src/components/FileInputField/UppyConfig.ts
  src/components/Form/FileInput.field.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: update new-component file to use csf
  packages/components/README.md
  packages/components/scripts/new-component.ts
  packages/components/scripts/templates/{componentName}.stories.mdx.mst
  packages/components/scripts/templates/{componentName}.stories.tsx.mst
Due: none

chore: ensure build argument is called
  packages/components/package.json
Due: none

chore: drop empty component
  src/components/Typography.tsx
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
