Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

fix: broken svgs
  src/assets/icons/map-collection-verified.svg
  src/assets/icons/map-community-verified.svg
  src/assets/icons/map-machine-verified.svg
  src/assets/icons/map-workspace-verified.svg
Due: none

feat: update reat-scripts
  package.json
  yarn.lock
Due: none

fix: comment out incompatible pino-logflare integration
  src/logger/index.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: process polyfill issue
  .env-cmdrc.js
  shared/models/db.ts
  yarn.lock
Due: tslint

chore: remove legacy ignore
  config/.gitignore
Due: none

fix: window process refs
  shared/models/db.ts
Due: none

chore: update storybook to use webpack 5
  packages/components/.storybook/main.js
  packages/components/package.json
  yarn.lock
Due: tslint

docs: update md-style-guide.md
  packages/documentation/docs/Docs Contribution/md-style-guide.md
Due: none

docs: update md-style-guide
  packages/documentation/docs/Docs Contribution/md-style-guide.md
Due: none

fix: emulators docker node 18
  packages/emulators-docker/Dockerfile
Due: none

fix: emulator build caching and size reduction
  packages/emulators-docker/Dockerfile
Due: none

chore: code tidying
  packages/emulators-docker/Dockerfile
Due: none

chore: code tidying
  .env-cmdrc.js
  package.json
Due: tslint

fix: cypress updates and fix
  packages/cypress/cypress.config.js
  packages/cypress/cypress.json
  packages/cypress/package.json
  packages/cypress/scripts/start.ts
  packages/cypress/src/integration/howto/read.spec.ts
Due: tslint

chore: env fixes
  .env-cmdrc.js
  package.json
  shared/models/db.ts
  yarn.lock
Due: tslint

fix: process polyfill
  packages/cypress/src/support/db/endpoints.ts
  src/stores/databaseV2/endpoints.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: apply craco webpack overrides
  craco.config.ts
  package.json
  yarn.lock
Due: none

fix: cypress tests
  packages/cypress/cypress.config.ts
  packages/cypress/src/integration/sign-in.spec.ts
  packages/cypress/src/support/db/endpoints.ts
  shared/models/db.ts
  src/stores/databaseV2/endpoints.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: add pino-logflare back into project
  src/logger/index.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: reduce sourcemap warnings
  craco.config.ts
  src/assets/css/slick.min.css
Due: none

chore: code tidying
  craco.config.ts
  functions/webpack.config.ts
Due: none

feat: add ci support for docker matrix
  .circleci/config.yml
Due: none

chore: ci
  .circleci/config.yml
Due: none

chore: add ci test for alt node versions
  .circleci/config.yml
Due: none

chore: code tidying
  .circleci/config.yml
Due: none

chore: reduce circleci image size
  .circleci/config.yml
  .env-cmdrc.js
Due: tslint

chore: add envCheck and update ci env
  .circleci/config.yml
  .env-cmdrc.js
  packages/documentation/docs/Getting Started/setup.md
  scripts/envCheck.js
  scripts/healthcheck.js
Due: tslint

chore: update unit env
  .env-cmdrc.js
  package.json
Due: tslint

chore: ci
  .circleci/config.yml
  .env-cmdrc.js
Due: tslint

chore: ci
  .env-cmdrc.js
Due: tslint

ci: try to limit unit test memory leaks
  .circleci/config.yml
Due: none

chore: fix typo
  .circleci/config.yml
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
