Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

docs: update troubleshooting permissions
  packages/documentation/docs/Install.md
Due: none

fix: return sitemap as file
  firebase.json
  functions/src/seo/sitemap/sitemapProxy.ts
Due: none

fix: seo sitemap how-to typo
  functions/src/seo/sitemap/sitemapGenerate.ts
Due: none

chore: migrated loader to packages
  packages/components/src/Loader/Loader.stories.tsx
  packages/components/src/Loader/Loader.tsx
  packages/components/src/index.ts
  src/components/FirebaseFileUploader/FirebaseFileUploader.tsx
  src/components/Loader/index.tsx
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Research/Content/CreateUpdate/index.tsx
  src/pages/Research/Content/EditResearch/index.tsx
  src/pages/Research/Content/EditUpdate/index.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/User/content/index.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
  src/themes/types.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: removed default export for Loader component
  packages/components/src/Loader/Loader.tsx
Due: none

fix: seo function typo
  firebase.json
Due: none

chore: seo render tidying
  .firebaserc
  functions/src/seo/index.ts
  functions/src/seo/render/request-handler.ts
Due: none

chore: code tidying
  functions/src/seo/render/request-handler.ts
Due: none

chore: update comments
  functions/src/seo/render/request-handler.ts
Due: none

feat: add seo tags for research items
  src/models/research.models.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(functions): add additional logging to inspect config
  functions/src/seo/index.ts
Due: none

fix: lint format seorender function
  functions/src/seo/index.ts
Due: none

chore: revert downgrade of ci firebase-tools
  .circleci/config.yml
Due: none

deploy: 7c71888695fbd8087941f4e2bc706330598e5d72
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/7f4ab99b.89876d2a.js
  assets/js/7f4ab99b.c552b8d1.js
  assets/js/runtime~main.867aea96.js
  assets/js/runtime~main.bd92a980.js
  example.index/index.html
  index.html
Due: tslint

deploy: b28390a863534f1ea6819e0ff6e31fdaa04509be
  storybook-static/iframe.html
  storybook-static/main.990d4eb4.iframe.bundle.js
  storybook-static/main.f4d49212.iframe.bundle.js
  storybook-static/static/media/fixing-fashion-header.f121ee17.png
  storybook-static/static/media/precious-plastic-logo-official.47df8e74.svg
  storybook-static/static/media/project-kamp-header.f5217073.png
Due: tslint

chore: prevent additions to the src/components directory
  .husky/pre-commit
Due: none

deploy: a1ef76ee1009cfdae259f3a76816fa10b20ba498
  storybook-static/iframe.html
  storybook-static/main.d211ef98.iframe.bundle.js
  storybook-static/main.f4d49212.iframe.bundle.js
Due: tslint

chore: update refactored loader component
  src/modules/admin/pages/admin-users.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove double scroll bars
  src/modules/admin/components/Table/Table.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: tidy admin user search header
  src/modules/admin/components/Header.tsx
  src/modules/admin/components/adminUserSearch.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: limit calls to initialise fuse search
  src/modules/admin/pages/admin-users.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: use memberBadge component instead of code
  src/modules/admin/pages/admin-users.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: integrate table css with styled system
  src/modules/admin/components/Table/Table.tsx
  src/modules/admin/components/Table/TableHead.tsx
  src/modules/admin/pages/admin-users.css
Due: tslint --project tsconfig.json --config tslint.json

chore: remove png and jpg badges
  src/assets/images/badges/pt-collection-point.jpg
  src/assets/images/badges/pt-local-community.jpg
  src/assets/images/badges/pt-machine-shop.jpg
  src/assets/images/badges/pt-member.jpg
  src/assets/images/badges/pt-workspace.jpg
  src/assets/images/badges/pt_collection_point.png
  src/assets/images/badges/pt_community_point.png
Due: none

refactor: remove custom user edit pages
  src/modules/admin/admin.routes.tsx
  src/modules/admin/components/userDetails/CommunitySelector.tsx
  src/modules/admin/components/userDetails/InfoSection.tsx
  src/modules/admin/pages/admin-user-detail.tsx
  src/pages/PageList.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: improve table type defs
  src/modules/admin/components/Table/Table.tsx
  src/modules/admin/components/admin-subheader.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: tidy admin user row render functions
  src/modules/admin/pages/admin-users.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: table filter methods and bindings
  src/models/user.models.tsx
  src/modules/admin/components/Table/HeadFilter.tsx
  src/modules/admin/components/Table/Table.tsx
  src/modules/admin/pages/admin-users.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove additional db method
  src/stores/databaseV2/CollectionReference.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: user query
  src/modules/admin/pages/admin-users.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: correction of github name
  CONTRIBUTING.md
Due: none

fix: location icon color fix
  src/pages/User/content/UserStats.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: reduced how-to heading padding for mobile
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: removed external links from mobile menu
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: flex layout for mobiles
  src/components/ImageGallery/ImageGallery.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 397273f3bb353832a4156427bdcfeb200282b9a6
  storybook-static/2.80e44c99.iframe.bundle.js
  storybook-static/2.ef679972.iframe.bundle.js
  storybook-static/3.cc7e62f7.iframe.bundle.js
  storybook-static/iframe.html
  storybook-static/main.d211ef98.iframe.bundle.js
  storybook-static/main.ebbd3e00.iframe.bundle.js
  storybook-static/runtime~main.c2f686db.iframe.bundle.js
  storybook-static/runtime~main.f90561ff.iframe.bundle.js
  storybook-static/vendors~main.22dd8d77.iframe.bundle.js
  storybook-static/vendors~main.22dd8d77.iframe.bundle.js.map
  storybook-static/vendors~main.2cd07238.iframe.bundle.js
  storybook-static/vendors~main.2cd07238.iframe.bundle.js.LICENSE.txt
  storybook-static/vendors~main.2cd07238.iframe.bundle.js.map
Due: tslint

chore(ci): debug semantic-release cmd
  .circleci/config.yml
Due: none

chore(ci): skip requirements for semantic-release cmd to speedup debug
  .circleci/config.yml
Due: none

chore(ci): skip ci check
  .releaserc.json
Due: none

chore(ci): reinstate semantic-release
  .circleci/config.yml
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
