Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

feat: card refactor
  src/utils/cdnImageUrl.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: card refactor
  src/pages/Research/researchHelpers.ts
Due: tslint --project tsconfig.json --config tslint.json

refactor: add primary content item
  packages/components/src/IconCountGroup/IconCountGroup.tsx
  packages/components/src/PrimaryContentListItem/PrimaryContentListItem.stories.tsx
  packages/components/src/PrimaryContentListItem/PrimaryContentListItem.tsx
  packages/components/src/ResponsiveCard/ResponsiveCard.tsx
  packages/components/src/index.ts
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Question/QuestionListItem.tsx
  src/pages/Question/QuestionListing.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/common/ContentAuthorTimestamp/ContentAuthorTimestamp.tsx
  src/pages/common/UserNameTag/UserNameTag.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: show unsubscribed on notification setting
  src/models/user.models.tsx
  src/pages/UserSettings/SettingsPageNotifications.test.tsx
  src/pages/UserSettings/SettingsPageNotifications.tsx
  src/pages/UserSettings/content/sections/EmailNotifications.section.tsx
  src/stores/User/user.store.test.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove post-build
  .circleci/config.yml
  package.json
  scripts/package.json
  scripts/postBuild.ts
  server.js
  src/config/config.ts
  src/root.tsx
Due: tslint --project tsconfig.json --config tslint.json, tslint

fix: lint
  server.js
Due: tslint

chore: setup sentry with remix
  package.json
  src/entry.client.tsx
  src/entry.server.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: circle ci cypress
  server.js
  src/common/Error/handler.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint

fix: ci?
  packages/cypress/scripts/start.mts
Due: none

fix: countries
  src/pages/UserSettings/content/sections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: cleanup
  packages/cypress/scripts/start.mts
Due: none

Notes added by 'git notes add'
  3b/54bc29df01fc06a604930425efd090d56a15dc
Due: none

fix: map
  packages/components/src/Select/DropdownIndicator.tsx
  src/pages/UserSettings/content/sections/UserInfos.section.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/Logo/Logo.tsx
  src/root.tsx
  src/routes/_.map.tsx
  src/routes/_.settings.$.tsx
  src/styles/leaflet.css
Due: tslint --project tsconfig.json --config tslint.json

chore: remove themeStore
  .env
  .gitignore
  packages/themes/src/fixing-fashion/index.ts
  packages/themes/src/fixing-fashion/styles.ts
  packages/themes/src/precious-plastic/index.ts
  packages/themes/src/precious-plastic/styles.ts
  packages/themes/src/project-kamp/index.ts
  packages/themes/src/project-kamp/styles.ts
  packages/themes/src/types/index.ts
  public/assets/img/precious-plastic/donation-banner.jpg
  src/common/DownloadWithDonationAsk.test.tsx
  src/common/DownloadWithDonationAsk.tsx
  src/modules/profile/SupportedProfileTypesFactory.ts
  src/modules/profile/index.ts
  src/pages/Academy/Academy.test.tsx
  src/pages/Academy/Academy.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Maps/Content/MapView/Cluster.client.tsx
  src/pages/Maps/Content/MapView/Sprites.tsx
  src/pages/Maps/Maps.test.tsx
  src/pages/Question/Content/Common/QuestionPostingGuidelines.tsx
  src/pages/User/user.routes.test.tsx
  src/pages/User/workspace/Workspace.tsx
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/pages/UserSettings/content/sections/Focus.section.tsx
  src/pages/common/DevSiteHeader/DevSiteHeader.tsx
  src/pages/common/Header/Menu/Logo/Logo.tsx
  src/root.tsx
  src/routes/_.tsx
  src/stores/RootStore.tsx
  src/stores/Theme/theme.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: unit tests
  .env
Due: none

chore: remove __OA_COMMUNITY_PLATFORM_CONFIGURATION
  index.html
  public/index.html
  src/config/types.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: update wording
  packages/components/src/CommentItem/CommentItem.tsx
  src/pages/Howto/Content/Common/HowToFieldCoverImageAlt.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/utils/formatImageListForGallery.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: rename HowToFieldCoverImageAlt.tsx to HowtoFieldCoverImageAlt.tsx
  src/pages/Howto/Content/Common/HowtoFieldCoverImageAlt.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: update Howto.form.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: local cypress
  .env
  packages/cypress/scripts/start.mts
  packages/cypress/src/integration/howto/write.spec.ts
Due: none

fix: questions tests
  packages/cypress/src/integration/questions/write.spec.ts
  vite.config.ts
Due: none

refactor: shared component for rendering a map
  packages/components/src/Map/Map.stories.tsx
  packages/components/src/Map/Map.tsx
  packages/components/src/Map/index.css
  packages/components/src/MapMemberCard/MapMemberCard.tsx
  packages/components/src/MapWithPin/MapWithPin.tsx
  packages/components/src/index.ts
  src/pages/Maps/Content/MapView/MapView.tsx
  src/pages/Maps/Content/MapView/Popup.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: config to map api for dev environment
  src/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: page link given to feedback button
  packages/cypress/src/integration/common.spec.ts
  src/pages/common/StickyButton.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  3e/e18a340322d050e4cd0b5fa2c51a274d62378d
Due: none

chore: updated csp policy
  server.js
Due: tslint

chore: remix server CSP and startup
  .env
  package.json
  packages/themes/assets/fonts/README.md
  public/index.html
  server.js
  src/utils/seo.tsx
  vite.config.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint

fix: handle cypress errors
  packages/cypress/src/support/rules.ts
Due: none

chore: add @mui/base to remix server libs
  packages/cypress/src/support/rules.ts
  vite.config.ts
Due: none

fix: added mui to remix ssr
  vite.config.ts
Due: none

fix: cypress
  packages/components/src/TabbedContent/TabbedContent.tsx
  packages/cypress/package.json
  packages/cypress/scripts/start.mts
Due: none

fix: discussion test
  packages/cypress/src/integration/research/discussions.spec.ts
Due: none

feat: add banner component
  packages/components/src/Banner/Banner.stories.tsx
  packages/components/src/Banner/Banner.test.tsx
  packages/components/src/Banner/Banner.tsx
  packages/components/src/index.ts
  packages/themes/src/fixing-fashion/styles.ts
  packages/themes/src/precious-plastic/styles.ts
  packages/themes/src/project-kamp/styles.ts
  src/common/Alerts/AlertIncompleteProfile.tsx
  src/common/Alerts/AlertProfileVerification.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: move some map related typing to shared
  package.json
  packages/components/src/CreateComment/CreateComment.tsx
  packages/components/src/MemberBadge/MemberBadge.tsx
  packages/themes/src/types/index.ts
  shared/models/maps.ts
  shared/models/user.ts
  src/models/maps.models.tsx
  src/models/userPreciousPlastic.models.tsx
  src/modules/profile/SupportedProfileTypesFactory.ts
  src/modules/profile/types.ts
  src/pages/Maps/Content/Controls/transformAvailableFiltersToGroups.tsx
  src/pages/Maps/Content/Controls/transformSpecialistWorkspaceTypeToWorkspace.tsx
  src/pages/Maps/Content/MapView/MapView.tsx
  src/pages/Maps/Maps.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserProfile.tsx
  src/pages/User/workspace/Workspace.tsx
  src/pages/UserSettings/SettingsPage.tsx
  src/pages/UserSettings/SettingsPageImpact.test.tsx
  src/pages/UserSettings/SettingsPageMapPin.test.tsx
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/pages/UserSettings/SettingsPageUserProfile.test.tsx
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/pages/UserSettings/content/sections/Focus.section.tsx
  src/pages/UserSettings/content/sections/UserInfos.section.tsx
  src/stores/Maps/maps.store.ts
  src/test/factories/MapPin.ts
  src/test/factories/User.ts
  src/utils/getLocationData.ts
  src/utils/isProfileComplete.test.ts
  src/utils/isProfileComplete.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: drop unused map store function
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
