Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

fix claims username
  src/routes/_.library.$slug.edit.tsx
  src/services/storageService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

check added for reset when initial state isnt loaded yet, this is to try and fix the test failing
  src/pages/Maps/Maps.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

boundary check
  src/pages/Maps/Maps.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: improve pin click behavior (#4478)
  src/pages/Maps/Content/MapView/Cluster.client.tsx
  src/pages/Maps/Content/MapView/MapView.tsx
  src/pages/Maps/Content/MapView/MapWithListHeader.tsx
  src/pages/Maps/Content/MapView/Popup.client.tsx
  src/pages/Maps/MapContext.ts
  src/pages/Maps/Maps.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  b3/bba20cabb94b7d2b55691f030c42813946b097
Due: none

Notes added by 'git notes add'
  69/69f9299d97078ef2d339659f71e663a7380a49
Due: none

remix upgrade
  package.json
  src/entry.server.tsx
  vite.config.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: correct imports
  src/pages/Research/Content/Common/ResearchForm.tsx
  src/pages/Research/Content/Common/ResearchUpdateForm.tsx
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/routes/_.library.$slug.edit.tsx
  src/routes/_.research.$slug.edit-update.$updateId.tsx
  src/routes/api.images.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remix update
  package.json
  packages/components/package.json
  packages/components/src/DownloadWithDonationAsk/DownloadWithDonationAsk.test.tsx
  src/common/DownloadWrapper.test.tsx
  src/common/DownloadWrapper.tsx
  src/common/Form/FileInput/FileDisplay.tsx
  src/pages/User/content/UserProfile.tsx
  src/pages/common/Breadcrumbs/Breadcrumbs.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

e18e fixes
  .lintstagedrc.js
  package.json
Due: tslint

try fix tests
  packages/components/src/Button/Button.tsx
  packages/components/src/DisplayDate/DisplayDate.tsx
  packages/components/src/DisplayDate/display-date.css
  packages/cypress/src/support/seedAccounts.ts
  yarn.lock
Due: none

upgrade to react19
  package.json
  packages/components/package.json
  packages/documentation/package.json
  src/pages/Maps/Content/MapView/ButtonZoomIn.client.tsx
  src/pages/Maps/Content/MapView/MapView.tsx
  src/root.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix component tests
  package.json
  packages/components/package.json
  packages/components/src/Accordion/Accordion.test.tsx
  packages/components/src/ImageGallery/ImageGallery.test.tsx
  packages/components/src/UsefulStatsButton/UsefulButtonLite.test.tsx
  packages/components/src/UserStatistics/UserStatistics.test.tsx
  packages/components/src/test/utils.tsx
  src/pages/Question/QuestionPage.test.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix lint
  packages/components/src/SettingsFormWrapper/SettingsFormTabList.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormWrapper.tsx
  src/routes/api.discussions.$sourceType.$sourceId.comments.ts
Due: tslint --project tsconfig.json --config tslint.json

fix lint
  .prettierignore
Due: none

try fix
  package.json
Due: none

fix: storybook
  packages/components/package.json
  yarn.lock
Due: none

fix build ci
  package.json
Due: none

fix: update pin moderation on profile type update
  src/services/profileService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

optimization
  src/services/profileService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

try fix and debug
  .circleci/config.yml
Due: none

debug
  .circleci/config.yml
Due: none

remove debug
  .circleci/config.yml
Due: none

try fix for running cypress seeding server-side
  packages/cypress/cypress.config.ts
  packages/cypress/src/utils/TestUtils.ts
Due: none

fix cypress test seeding
  packages/cypress/cypress.config.ts
  packages/cypress/package.json
  packages/cypress/src/support/hooks.ts
  packages/cypress/src/support/seedAccounts.ts
  packages/cypress/src/support/seedBadges.ts
  packages/cypress/src/support/seedDiscussions.ts
  packages/cypress/src/support/seedLibrary.ts
  packages/cypress/src/support/seedMap.ts
  packages/cypress/src/support/seedNews.ts
  packages/cypress/src/support/seedQuestions.ts
  packages/cypress/src/support/seedResearch.ts
  packages/cypress/src/utils/TestUtils.ts
  packages/cypress/src/utils/supabaseTestsService.ts
  packages/cypress/tsconfig.json
  yarn.lock
Due: none

fix: update pin moderation on profile type update (#4489)
  .circleci/config.yml
  packages/cypress/cypress.config.ts
  packages/cypress/package.json
  packages/cypress/src/support/hooks.ts
  packages/cypress/src/support/seedAccounts.ts
  packages/cypress/src/support/seedBadges.ts
  packages/cypress/src/support/seedDiscussions.ts
  packages/cypress/src/support/seedLibrary.ts
  packages/cypress/src/support/seedMap.ts
  packages/cypress/src/support/seedNews.ts
  packages/cypress/src/support/seedQuestions.ts
  packages/cypress/src/support/seedResearch.ts
  packages/cypress/src/utils/TestUtils.ts
  packages/cypress/src/utils/supabaseTestsService.ts
  packages/cypress/tsconfig.json
  src/services/profileService.server.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  21/d2a083d980c957845404214d4f28953a86d35b
Due: none

chore: remove auto-runs - we haven't had flaky tests issues.
  .circleci/config.yml
Due: none

add gitignore
  .gitignore
Due: none

fix package version
  packages/components/.storybook/preview.tsx
  packages/components/package.json
  packages/components/src/test/utils.tsx
  remix.env.d.ts
  src/entry.server.tsx
  src/pages/Library/Content/Page/Library.test.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix build directory
  react-router.config.ts
Due: none

fix cypress run
  package.json
  yarn.lock
Due: none

fix: generate server build
  package.json
  react-router.config.ts
Due: none

fix test remove debug
  .circleci/config.yml
  packages/cypress/src/integration/questions/write.spec.ts
Due: none

fix test
  packages/components/src/FieldTextarea/FieldTextarea.tsx
  packages/cypress/src/integration/questions/write.spec.ts
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
