Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

chore(ci): include architecture in the cache key
  .circleci/config.yml
Due: none

chore(ci): introduce Install dependencies job
  .circleci/config.yml
Due: none

chore(ci): remove cmd
  .circleci/config.yml
Due: none

chore(ci): extend directories cached
  .circleci/config.yml
Due: none

chore(ci): run yarn verbose after cache restored
  .circleci/config.yml
Due: none

chore(ci): make all jobs dependent on install step
  .circleci/config.yml
Due: none

test: remove testsuite where all tests were skipped
  src/pages/Howto/Content/Common/Howto.form.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): adds back build:components
  .circleci/config.yml
Due: none

chore(deps): switch to loading icons from @react-icons/all-files
  packages/components/package.json
  packages/components/src/Icon/Icon.tsx
  yarn.lock
Due: none

chore(deps): remove react-icons
  package.json
  yarn.lock
Due: none

chore(ci): skip v2 release
  .releaserc.json
Due: none

chore: deps ugprade commitlint
  package.json
  yarn.lock
Due: none

fix: test verifying closing notifications modal
  packages/cypress/src/integration/notifications.spec.ts
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsModal.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: enable github releases
  .circleci/config.yml
Due: none

chore: remove unused VersionNumber component
  src/components/VersionNumber/VersionNumber.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  6858d0e4bb70f6bcd77861f95f8a855eb1971c00
Due: none

chore(deps): update caniuse
  yarn.lock
Due: none

Notes added by 'git notes add'
  ae132c5a110471a96d95eb197b956a5d3532764f
Due: none

chore(deps): adds prop-types
  package.json
  yarn.lock
Due: none

chore(deps): introduce new packages
  package.json
  yarn.lock
Due: none

Add country flag to research username
  src/models/research.models.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: introduces overview of Components package
  packages/components/README.md
  packages/components/package.json
Due: none

chore(deps): upgrade prettier and extend matching for all files
  .eslintrc.json
  .prettierignore
  package.json
  tsconfig.prod.json
  yarn.lock
Due: none

chore(docs): relock dependencies
  packages/documentation/yarn.lock
Due: none

deploy: 479bd8df85fb128f3278083c3f0eb27d32666ad7
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/files/index-da0c95b6dca9b088ef0b39dc639ecedf.ts
  assets/files/start-274aa9c4a140753669d548b49f09195e.ts
  assets/js/a6ea0780.224e9716.js
  assets/js/a6ea0780.c4a75fb3.js
  assets/js/ace855dd.69bd0b82.js
  assets/js/ace855dd.7d539033.js
  assets/js/runtime~main.02f9302d.js
  assets/js/runtime~main.571ea631.js
  blog/archive/index.html
  example.index/index.html
  index.html
  tags/index.html
Due: tslint

chore: suppress unactionable log messages
  .yarnrc.yml
Due: none

Notes added by 'git notes add'
  9991ae31955a162e2aaa3c3dcb2d6666f9d06ae5
Due: none

chore: rename individual Research article component
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Research/research.routes.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: make research comments available to all users
  src/pages/Research/Content/ResearchUpdate.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add username to profiles
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  1466e2a10ff3a6f5e7c68560a179bfb66e686def
Due: none

docs: clarify setup steps and order for new Platform deployment
  packages/documentation/docs/Install.md
Due: none

fix: center align text in full width buttons
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: prevent redirect of static assets
  firebase.json
Due: none

deploy: 12ed3c70f29b7f120d970bdcc0cd2c6a1d8d1277
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/7f4ab99b.715de981.js
  assets/js/7f4ab99b.acae02a0.js
  assets/js/runtime~main.316c20ad.js
  assets/js/runtime~main.571ea631.js
  blog/archive/index.html
  example.index/index.html
  index.html
  tags/index.html
Due: tslint

chore: fix button import
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
