Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

chore: refactor to prevent duplicates appearing
  src/pages/Research/Content/Common/Update.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: named research collaborators can access research
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/Content/EditResearch/index.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/research.routes.test.tsx
  src/stores/common/module.store.ts
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

chore(styling): left username above heading
  src/pages/Research/Content/ResearchUpdate.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove sketchy junk
  src/pages/Research/Content/Common/Update.form.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: move out of fn to remove rerender warnings
  src/pages/Research/Content/Common/Research.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove console.log
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: verify that collaborators are shown for ResearchUpgrade
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: persist collaborators onto Research Updates
  src/models/research.models.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: restore missing assertations
  src/pages/Research/Content/ResearchArticle.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: move function to bottom of file
  src/pages/Research/research.routes.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove error throwing
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: da03b4bf8dee58ccd96e2de1e41c77fdbecb513f
  storybook-static/iframe.html
  storybook-static/main.817ca52d.iframe.bundle.js
  storybook-static/main.d229d6e3.iframe.bundle.js
  storybook-static/project.json
Due: tslint

test: stub openstreetmap endpoint
  packages/cypress/src/integration/events.spec.ts
Due: none

chore: refactor for readability
  packages/cypress/src/fixtures/json/events-location.json
  packages/cypress/src/integration/events.spec.ts
Due: none

test: stub out osm in notification banner
  packages/cypress/src/fixtures/json/notifications-banner-location.json
  packages/cypress/src/integration/events.spec.ts
  packages/cypress/src/integration/notificationBanner.spec.ts
Due: none

test: explicitly navigate to events
  packages/cypress/src/integration/events.spec.ts
Due: none

chore(ci): move Playwright inline with Cypress
  .circleci/config.yml
Due: none

test: switch to fixtures for geocoding results
  packages/cypress/src/fixtures/json/settings-singapo.json
  packages/cypress/src/integration/events.spec.ts
  packages/cypress/src/integration/settings.spec.ts
Due: none

chore: apply formatting
  packages/cypress/src/integration/settings.spec.ts
Due: none

test: skip blocking tests
  packages/cypress/src/integration/events.spec.ts
Due: none

test: skip test which fails consistently only in CI env
  packages/cypress/src/integration/events.spec.ts
Due: none

chore: apply formatting
  tests/settings.spec.ts
Due: none

Notes added by 'git notes add'
  d8c0be50424b27ff011748331cb691c6a4c1541f
Due: none

Notes added by 'git notes add'
  712ac1c9dda872ac6bd0592c94beee3c9dee0f30
Due: none

feat(components): add UserStatistics block
  packages/components/src/UserStatistics/UserStatistics.stories.tsx
  packages/components/src/UserStatistics/UserStatistics.tsx
  packages/components/src/index.ts
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserStats.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: gradual failure
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 30885cff5dca07db4e9ff757cd1ef190b5067236
  storybook-static/iframe.html
  storybook-static/main.29ea0b66.iframe.bundle.js
  storybook-static/main.817ca52d.iframe.bundle.js
  storybook-static/project.json
  storybook-static/static/media/icon-events.5d0e39e1.svg
  storybook-static/static/media/icon-how-to.c3d286f3.svg
Due: tslint

test: restore skipped create event test flow
  packages/cypress/src/integration/events.spec.ts
Due: none

chore: adds test template to components creation
  packages/components/scripts/newComponent.ts
  packages/components/scripts/templates/{componentName}.test.tsx.mst
Due: none

feat(components): adds DownloadFiles
  packages/components/src/DownloadFiles/DownloadFiles.stories.tsx
  packages/components/src/DownloadFiles/DownloadFiles.test.tsx
  packages/components/src/DownloadFiles/DownloadFiles.tsx
  packages/components/src/index.ts
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/DownloadExternal/DownloadExternal.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 16574a1bfe55da3e51ab495fdf6b4b93fa0fe8b0
  storybook-static/project.json
Due: none

deploy: f4bb1cbc956bf4be3d9f04e942b8705c1f37326a
  storybook-static/iframe.html
  storybook-static/main.11196948.iframe.bundle.js
  storybook-static/main.11196948.iframe.bundle.js.LICENSE.txt
  storybook-static/main.29ea0b66.iframe.bundle.js
  storybook-static/project.json
Due: tslint

Revert "Revert "fix: map page missing flags""
  package.json
  packages/components/src/MapMemberCard/MapMemberCard.stories.tsx
  packages/components/src/MapMemberCard/MapMemberCard.tsx
  src/models/maps.models.tsx
  src/pages/Maps/Content/MapView/Cluster.tsx
  src/pages/Maps/Content/MapView/MapView.tsx
  src/pages/Maps/Content/MapView/Popup.tsx
  src/pages/Maps/Content/MapView/Sprites.tsx
  src/pages/Maps/Content/MapView/index.css
  src/pages/Maps/Content/MapView/popup.css
  src/pages/Maps/Content/MapView/sprites.css
  src/pages/Maps/Content/index.ts
  src/pages/Maps/Maps.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/stores/Maps/generatePins.tsx
  src/stores/Maps/maps.store.ts
  src/utils/getUserCountry.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: pass flag through from User object
  packages/components/src/MapMemberCard/MapMemberCard.stories.tsx
  packages/components/src/MapMemberCard/MapMemberCard.tsx
  src/models/maps.models.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/stores/Maps/generatePins.tsx
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

refactor(AdminTags): refactor code in admin tags
  src/pages/admin/content/AdminTags.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 8458f9a948f32c0eab3e94beebc49b11ed54c709
  storybook-static/iframe.html
  storybook-static/main.11196948.iframe.bundle.js
  storybook-static/main.54b86e78.iframe.bundle.js
  storybook-static/main.54b86e78.iframe.bundle.js.LICENSE.txt
  storybook-static/project.json
Due: tslint

fix: track changes to prop on ImageInput
  src/common/Form/ImageInput/ImageInput.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: adds quick navigation for Research
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove unused
  src/common/Form/ImageInput/ImageInput.tsx
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
