Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

chore: adjust caching strategy
  .circleci/config.yml
Due: none

chore: dropping install step from build job
  .circleci/config.yml
Due: none

chore: include packages node_modules
  .circleci/config.yml
Due: none

chore: remove install from e2e runners
  .circleci/config.yml
Due: none

test: remove hoisting limit
  .yarnrc.yml
Due: none

test: switch to default pnp method
  .yarnrc.yml
Due: none

chore: adjust cache to ignore node_modules
  .circleci/config.yml
Due: none

chore: adds yarn/unplugged to align with documentation
  .circleci/config.yml
Due: none

chore: switch to yarn to run build script
  .circleci/config.yml
Due: none

chore: test with yarn install --immutable
  .circleci/config.yml
Due: none

chore: bump husky to latest
  package.json
  yarn.lock
Due: none

fix: adds missing lodash dep
  package.json
  yarn.lock
Due: none

chore: add pnp.cjs as we want to follow the paved path in yarn
  .gitignore
  .pnp.cjs
Due: none

chore: adds install step back to e2e
  .circleci/config.yml
Due: none

chore: attempt to reinstall dep
  .pnp.cjs
  package.json
  yarn.lock
Due: none

test: adds unit tests to CI pipeline
  .circleci/config.yml
Due: none

test: remove deprecated wait method
  src/pages/Howto/Content/Common/Howto.form.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: update ui to pass tests
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: init verifiedUsers with empty array
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

docs: switch to yarn command
  packages/documentation/docs/Backend Development/firebase-emulators.md
Due: none

chore: use smaller image for build step
  .circleci/config.yml
Due: none

deploy: 467650fc8d150ca466b1886c767978898cc71169
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Backend Development/overview/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Examples/mdx/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/826114b9.0b428349.js
  assets/js/826114b9.e5ab340a.js
  assets/js/935f2afb.91b51bae.js
  assets/js/935f2afb.f00643e4.js
  assets/js/a6656452.ae2d0c7c.js
  assets/js/a6656452.c300ca2d.js
  assets/js/a6ea0780.53c50271.js
  assets/js/a6ea0780.c7be7722.js
  assets/js/main.6fd02d51.js
  assets/js/main.c579b18b.js
  assets/js/main.c579b18b.js.LICENSE.txt
  assets/js/runtime~main.589acb2d.js
  assets/js/runtime~main.ed902a30.js
  blog/archive/index.html
  example.index/index.html
  index.html
  sitemap.xml
  tags/index.html
Due: tslint

deploy: 3ced95723d581b71b7dd90c5b999097aa91065cc
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Examples/mdx/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/a6ea0780.1fd1aef2.js
  assets/js/a6ea0780.c7be7722.js
  assets/js/runtime~main.589acb2d.js
  assets/js/runtime~main.f907fe35.js
  blog/archive/index.html
  example.index/index.html
  index.html
  tags/index.html
Due: tslint

feat: adds gitpod config
  .gitpod.yml
Due: none

chore: tweak node image
  .gitpod.yml
Due: none

chore: define onOpen behaviour
  .gitpod.yml
Due: none

docs: attempt to add link out to GitPod
  README.md
Due: none

chore: testing out prebuilds
  .gitpod.yml
Due: none

fix: formatting of URL, closes #1256
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
  src/utils/formatters.test.ts
  src/utils/formatters.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: adds gitpod config
  .gitpod.yml
  README.md
Due: none

feat: adds logger lib
  package.json
  src/logger/index.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

feat: move all console.logs to use logger
  src/components/Comment/Comment.tsx
  src/components/FirebaseFileUploader/FirebaseFileUploader.tsx
  src/components/_Template/Template.tsx
  src/config/config.ts
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Maps/Content/View/Sprites.tsx
  src/pages/Password/ForgotPassword.tsx
  src/pages/SignUp/ResendSignUpMessage.tsx
  src/pages/User/content/UserPage/UserPage.tsx
  src/pages/common/FilterBar/FilterBar.tsx
  src/pages/common/SWUpdateNotification/SWUpdateNotification.tsx
  src/pages/common/UploadedFile/UploadedFile.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/maps.store.ts
  src/stores/Research/research.store.tsx
  src/stores/User/user.store.ts
  src/stores/common/module.store.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: load log level from the environment
  .env
  src/logger/index.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: adds prettier command
  .prettierignore
  package.json
Due: none

chore: format markdown
  BOUNTIES.md
  CONTRIBUTING.md
  README.md
  functions/src/config/cors.md
  packages/documentation/docs/Backend Development/firebase-emulators.md
  packages/documentation/docs/Backend Development/integrations.md
  packages/documentation/docs/Backend Development/overview.md
  packages/documentation/docs/Contributing/bounties.md
  packages/documentation/docs/Contributing/docs-contribution.md
  packages/documentation/docs/Contributing/intro.md
  packages/documentation/docs/Contributing/maintainer.md
  packages/documentation/docs/Deployment/circle-ci.md
  packages/documentation/docs/Docs Contribution/md-style-guide.md
  packages/documentation/docs/Docs Contribution/running-docs-locally.md
  packages/documentation/docs/Frontend Development/overview.md
  packages/documentation/docs/Getting Started/recommended-tools.md
  packages/documentation/docs/Getting Started/setup.md
  packages/documentation/docs/Testing/end-to-end.md
  shared/README.md
Due: none

chore: adjust lint cmd to validate prettier in markdown
  package.json
Due: none

deploy: 2ec2316a805bd29e3374f9dc46f550412237b42c
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Examples/mdx/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/0767dfa5.31254734.js
  assets/js/0767dfa5.c75f93d2.js
  assets/js/148ff8f0.6b39d06b.js
  assets/js/148ff8f0.ddd47658.js
  assets/js/242bc96d.0b4feb98.js
  assets/js/242bc96d.23e286ef.js
  assets/js/45036732.72f0aa03.js
  assets/js/45036732.9ff11f74.js
  assets/js/826114b9.d39f15d2.js
  assets/js/826114b9.e5ab340a.js
  assets/js/90603c04.1bc0f55c.js
  assets/js/90603c04.1f099afe.js
  assets/js/f41a819c.663394f0.js
  assets/js/f41a819c.8d6cf60d.js
  assets/js/runtime~main.ed982bac.js
  assets/js/runtime~main.f907fe35.js
  blog/archive/index.html
  example.index/index.html
  index.html
  tags/index.html
Due: tslint

feat: load sentry DSN from env
  src/common/errors.ts
  src/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: switch to react specific version of sentry client
  package.json
  src/common/errors.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: always allow env REACT_ENV to take precedence
  src/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
