Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

Fix #974 Extra infromation on Profile
  functions/src/Integrations/user-stats.ts
  functions/src/index.ts
  src/models/user.models.tsx
  src/pages/User/content/UserPage/UserPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

Fix #972 Add country flags at username
  src/components/HowToCard/HowToCard.tsx
  src/mocks/howto.mock.tsx
  src/models/howto.models.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

Added missing text for User Stats (How-to: , Events:)
  src/pages/User/content/UserPage/UserPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

Profile extra info in correct order and in single line
  src/components/ElWithBeforeIcon/index.tsx
  src/pages/User/content/UserPage/UserPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

Right color for pin link in profile extras
  src/pages/User/content/UserPage/UserPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: height of how-to cover-image
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

User _stats renamed to stats for #974
  functions/src/Integrations/user-stats.ts
  src/models/user.models.tsx
  src/pages/User/content/UserPage/UserPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

remove mr props from ElWithBeforeIcon component & align icons and text in user stats box
  src/components/ElWithBeforeIcon/index.tsx
  src/pages/User/content/UserPage/UserPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

Improved count functions for stats
  functions/src/Integrations/user-stats.ts
Due: none

Added firestore trigger to update when user changes location
  functions/src/Integrations/user-triggers.ts
  functions/src/index.ts
Due: none

Removed underscore (_) from _creatorCountry
  src/components/HowToCard/HowToCard.tsx
  src/mocks/howto.mock.tsx
  src/models/howto.models.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

add create event button for non logged in users
  src/pages/Events/Content/EventsList/EventsList.tsx
Due: tslint --project tsconfig.json --config tslint.json

Remove missing underscore (_) from _creatorCountry
  functions/src/Integrations/user-triggers.ts
Due: none

Added missing const om declaration of firebase trigger for Flags
  functions/src/Integrations/user-triggers.ts
Due: none

remove unknown var e
  functions/src/Integrations/user-triggers.ts
  src/pages/Maps/Content/Controls/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

Change css rotate to transform: rotate()
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

Fix style of HowTo flags
  src/components/HowToCard/HowToCard.tsx
  src/components/Icons/FlagIcon/FlagIcon.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

Make error more identifiable by using console.error instead of console.log
  functions/src/Integrations/user-stats.ts
Due: none

fix type & lint errors in user-stats.ts
  functions/src/Integrations/user-stats.ts
Due: none

update app name in manifest.json - update to v1.2.2
  package.json
  public/manifest.json
Due: none

fix test
  cypress/integration/events.spec.ts
  src/pages/Events/Content/EventsList/EventsList.tsx
Due: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json

Fix use of delta for counting user stats
  functions/src/Integrations/user-stats.ts
Due: none

Improve stats efficiency by using querySnapshot.size instead of counting
  functions/src/Integrations/user-stats.ts
Due: none

style
  functions/src/Integrations/user-stats.ts
Due: none

add migration script
  functions/src/userStats/migration.ts
Due: none

code refactoring and tidying
  functions/src/Integrations/user-stats.ts
  functions/src/index.ts
  functions/src/models.ts
  functions/src/userStats/index.ts
  functions/src/userStats/user-triggers.ts
  src/models/user.models.tsx
Due: tslint --project tsconfig.json --config tslint.json

add comments
  functions/src/userStats/migration.ts
Due: none

update frontend bindings
  src/pages/User/content/UserPage/UserPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor userUpdate functions
  functions/src/Integrations/firebase-userBackup.ts
  functions/src/models.ts
  functions/src/userStats/user-triggers.ts
  functions/src/userUpdates/backupUser.ts
  functions/src/userUpdates/index.ts
Due: none

code tidying
  functions/src/index.ts
  functions/src/userStats/index.ts
  functions/src/userStats/migration.ts
Due: none

deprecate unused functions
  functions/src/_deprecated/DaveHakkensNL/BPMember.model.ts
  functions/src/_deprecated/DaveHakkensNL/avatarMigrate.ts
  functions/src/_deprecated/DaveHakkensNL/dataMigrate.ts
  functions/src/_deprecated/DaveHakkensNL/index.ts
  functions/src/_deprecated/DaveHakkensNL/login.ts
  functions/src/_deprecated/Readme.md
  functions/src/_deprecated/upgrades/dbV1Upgrade.ts
  functions/src/_deprecated/upgrades/dbv2Upgrade.ts
  functions/src/_deprecated/upgrades/dbv2UserFix.ts
Due: none

refactor db endpoints to allow single endpoint changes
  firestore.rules.WiP
  functions/src/Firebase/firebaseSync.ts
  functions/src/Integrations/firebase-email.ts
  functions/src/exports/tasks.ts
  functions/src/index.ts
  functions/src/models.ts
  functions/src/userStats/index.ts
  functions/src/userStats/migration.ts
  functions/src/userUpdates/index.ts
  src/models/common.models.tsx
  src/models/index.ts
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/databaseV2/config.ts
  src/stores/databaseV2/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

Fix flexbox cross-browser issue for step images
  src/pages/Howto/Content/Howto/Step/Step.tsx
Due: tslint --project tsconfig.json --config tslint.json

fully remove deprecations
  functions/src/_deprecated/DaveHakkensNL/BPMember.model.ts
  functions/src/_deprecated/DaveHakkensNL/avatarMigrate.ts
  functions/src/_deprecated/DaveHakkensNL/dataMigrate.ts
  functions/src/_deprecated/DaveHakkensNL/index.ts
  functions/src/_deprecated/DaveHakkensNL/login.ts
  functions/src/_deprecated/Readme.md
  functions/src/_deprecated/upgrades/dbV1Upgrade.ts
  functions/src/_deprecated/upgrades/dbv2Upgrade.ts
  functions/src/_deprecated/upgrades/dbv2UserFix.ts
Due: none

update deps
  functions/.gitignore
  functions/package.json
  functions/yarn.lock
Due: none

functions db mapping and emulators
  .firebaserc
  firebase.json
  functions/src/Firebase/firebaseSync.ts
  functions/src/Firebase/firestoreDB.ts
  functions/src/exports/tasks.ts
  functions/src/models.ts
  functions/src/userStats/index.ts
  src/stores/databaseV2/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor to store stat meta
  functions/README.md
  functions/package.json
  functions/src/Firebase/firestoreDB.ts
  functions/src/models.ts
  functions/src/userStats/index.ts
  functions/src/userStats/migration.ts
  src/models/user.models.tsx
  src/pages/User/content/UserPage/UserPage.tsx
  src/stores/databaseV2/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

type tidying
  functions/src/exports/api.ts
  functions/src/models.ts
  functions/src/userStats/migration.ts
  functions/src/userUpdates/index.ts
  src/models/common.models.tsx
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/databaseV2/clients/rtdb.tsx
  src/stores/databaseV2/endpoints.ts
  src/stores/databaseV2/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix display logic for stats
  src/pages/User/content/UserPage/UserPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

add id to display component attrs for debugging
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
