Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

fix
  packages/components/src/FieldInput/FieldInput.tsx
  packages/components/src/FieldTextarea/FieldTextarea.tsx
Due: none

fix
  packages/cypress/src/integration/questions/write.spec.ts
Due: none

re-add autorun
  .circleci/config.yml
Due: none

fix: send email tenant settings
  supabase/functions/send-email/_templates/instant-notification-email.tsx
  supabase/functions/send-email/_templates/moderation-email.tsx
  supabase/functions/send-email/getTenantSettings.ts
Due: none

fix: send email tenant settings (#4490)
  supabase/functions/send-email/_templates/instant-notification-email.tsx
  supabase/functions/send-email/_templates/moderation-email.tsx
  supabase/functions/send-email/getTenantSettings.ts
Due: none

fix: flaky tests
  packages/cypress/src/integration/map.spec.ts
  packages/cypress/src/integration/news/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

fix: flaky tests (#4492)
  packages/cypress/src/integration/map.spec.ts
  packages/cypress/src/integration/news/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

fix: more flaky tests
  packages/cypress/src/integration/research/write.spec.ts
Due: none

fix: more flaky tests (#4495)
  packages/cypress/src/integration/research/write.spec.ts
Due: none

chore: simplify PR template
  .github/pull_request_template.md
Due: none

feat: track badge assignment
  .snaplet/dataModel.json
  package.json
  supabase/migrations/20251119072930_track_badges.sql
  supabase/schemas/profiles.sql
Due: none

useful voters implemented
  packages/components/src/ContentStatistics/ContentStatistics.tsx
  packages/components/src/ContentStatistics/ContentStatisticsList.tsx
  packages/components/src/ContentStatistics/type.ts
  packages/components/src/UsefulVotersList/UsefulVotersList.tsx
  packages/components/src/index.ts
  shared/models/profile.ts
  src/pages/Library/Content/Page/LibraryDescription.tsx
  src/pages/Question/QuestionPage.tsx
  src/routes/api.useful.$contentType.$contentId.users.ts
  src/services/usefulService.ts
Due: tslint --project tsconfig.json --config tslint.json

auto height on modal
  packages/components/src/UsefulVotersList/UsefulVotersList.tsx
Due: none

conditional render useful link to modal
  packages/components/src/ContentStatistics/ContentStatistics.stories.tsx
  packages/components/src/ContentStatistics/ContentStatisticsList.tsx
  packages/components/src/ContentStatistics/type.ts
  src/pages/Question/QuestionPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

use useId for codeql issue
  packages/components/src/FollowButton/FollowButton.tsx
  packages/components/src/IconCountWithTooltip/IconCountWithTooltip.tsx
  packages/components/src/InformationTooltip/InformationTooltip.tsx
  packages/components/src/UsefulStatsButton/UsefulButtonLite.tsx
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
  packages/components/src/Username/UserBadge.tsx
Due: none

chore: configure husky to run formatter on pre-commit
  .husky/pre-commit
  .lintstagedrc.js
Due: tslint

chore: install husky
  package.json
  yarn.lock
Due: none

chore: configure husky to run formatter on pre-commit
  .lintstagedrc.js
Due: tslint

fix after merge conflict
  .lintstagedrc.js
Due: tslint

feat:comment sort component with tests
  packages/components/src/CommentsTitle/CommentsTitle.tsx
  packages/components/src/Select/Select.tsx
  packages/cypress/src/integration/library/discussions.spec.ts
  packages/cypress/src/integration/news/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  src/pages/common/CommentsSupabase/CommentSectionSupabase.tsx
  src/pages/common/CommentsSupabase/CommentSort.tsx
  src/pages/common/CommentsSupabase/CommentSortOptions.ts
Due: tslint --project tsconfig.json --config tslint.json

merge conflicts
  packages/components/src/Select/Select.tsx
  packages/cypress/src/integration/library/discussions.spec.ts
  packages/cypress/src/integration/news/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  src/pages/common/CommentsSupabase/CommentSectionSupabase.tsx
  src/pages/common/CommentsSupabase/CommentSort.tsx
  src/pages/common/CommentsSupabase/CommentSortOptions.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: add husky for pre-commit formatting (#4499)
  .husky/pre-commit
  .lintstagedrc.js
  package.json
  yarn.lock
Due: tslint

update research test
  packages/cypress/src/integration/research/discussions.spec.ts
Due: none

formatting
  packages/components/src/ContentStatistics/ContentStatistics.tsx
  packages/components/src/ContentStatistics/ContentStatisticsList.tsx
  packages/components/src/ContentStatistics/type.ts
  packages/components/src/UsefulVotersList/UsefulVotersList.tsx
  packages/components/src/index.ts
  shared/models/profile.ts
  src/pages/Library/Content/List/LibraryListHeader.tsx
  src/pages/Library/Content/Page/LibraryDescription.tsx
  src/pages/Question/QuestionListHeader.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/common/Layout/ListHeader.tsx
  src/routes/api.useful.$contentType.$contentId.users.ts
  src/services/usefulService.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: comment sort by newest, oldest and most useful (#4497)
  packages/components/src/CommentsTitle/CommentsTitle.tsx
  packages/components/src/Select/Select.tsx
  packages/cypress/src/integration/library/discussions.spec.ts
  packages/cypress/src/integration/news/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  src/pages/common/CommentsSupabase/CommentSectionSupabase.tsx
  src/pages/common/CommentsSupabase/CommentSort.tsx
  src/pages/common/CommentsSupabase/CommentSortOptions.ts
Due: tslint --project tsconfig.json --config tslint.json

make modal generic
  packages/components/src/ContentStatistics/ContentStatistics.tsx
  packages/components/src/ContentStatistics/type.ts
  packages/components/src/ProfileList/ProfileList.tsx
  packages/components/src/index.ts
  shared/models/profile.ts
  src/pages/Question/QuestionPage.tsx
  src/pages/common/Layout/ListHeader.tsx
  src/routes/api.useful.$contentType.$contentId.users.ts
  src/services/usefulService.ts
Due: tslint --project tsconfig.json --config tslint.json

rrefactor
  packages/components/src/ContentStatistics/ContentStatistics.tsx
Due: none

remove loading state
  packages/components/src/ContentStatistics/ContentStatistics.tsx
  packages/components/src/ContentStatistics/ContentStatisticsList.tsx
Due: none

move create useful statistic into util file
  packages/components/src/ContentStatistics/ContentStatistics.tsx
  packages/components/src/ContentStatistics/ContentStatisticsList.tsx
  packages/components/src/ContentStatistics/types.ts
  packages/components/src/index.ts
  src/pages/Question/QuestionPage.tsx
  src/routes/api.useful.$contentType.$contentId.users.ts
  src/utils/statistics.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix import
  src/pages/Question/QuestionPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: copy link to comment
  packages/components/assets/icons/copy-link.svg
  packages/components/src/ActionSet/ActionSet.tsx
  packages/components/src/CommentDisplay/CommentDisplay.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  src/pages/common/CommentsSupabase/CommentItemSupabase.tsx
  src/pages/common/CommentsSupabase/CommentReplySupabase.tsx
  src/pages/common/CommentsSupabase/useCopyCommentLink.ts
Due: tslint --project tsconfig.json --config tslint.json

small refactor
  packages/components/src/CommentDisplay/CommentDisplay.tsx
Due: none

feat: copy link to comment (#4500)
  packages/components/assets/icons/copy-link.svg
  packages/components/src/ActionSet/ActionSet.tsx
  packages/components/src/CommentDisplay/CommentDisplay.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  src/pages/common/CommentsSupabase/CommentItemSupabase.tsx
  src/pages/common/CommentsSupabase/CommentReplySupabase.tsx
  src/pages/common/CommentsSupabase/useCopyCommentLink.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: flaky tests
  packages/cypress/src/integration/library/discussions.spec.ts
  packages/cypress/src/integration/map.spec.ts
  packages/cypress/src/integration/news/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
Due: none

fix
  packages/cypress/src/integration/news/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
Due: none

fix: flaky tests (#4501)
  packages/cypress/src/integration/library/discussions.spec.ts
  packages/cypress/src/integration/map.spec.ts
  packages/cypress/src/integration/news/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
