Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

Notes added by 'git notes add'
  58/bb2fbbe9d4aa7cea8c0b5bf2ed613fa425bff8
Due: none

fix: prevent scroll bar overflow
  packages/components/src/ProfileList/ProfileList.tsx
Due: none

feat: show who marked content as useful (#4502)
  packages/components/src/ContentStatistics/ContentStatistics.stories.tsx
  packages/components/src/ContentStatistics/ContentStatistics.tsx
  packages/components/src/ContentStatistics/ContentStatisticsList.tsx
  packages/components/src/ContentStatistics/types.ts
  packages/components/src/ProfileList/ProfileList.stories.tsx
  packages/components/src/ProfileList/ProfileList.test.tsx
  packages/components/src/ProfileList/ProfileList.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/profileList.spec.ts
  packages/cypress/src/utils/supabaseTestsService.ts
  shared/models/profile.ts
  src/pages/Library/Content/Page/LibraryDescription.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/routes/api.useful.$contentType.$contentId.users.ts
  src/services/usefulService.ts
  src/utils/statistics.tsx
Due: tslint --project tsconfig.json --config tslint.json

use user_id instead of username
  src/routes/api.donation-settings.$profileId.ts
Due: tslint --project tsconfig.json --config tslint.json

fix snapshots
  packages/components/src/ResearchEditorOverview/__snapshots__/ResearchEditorOverview.test.tsx.snap
Due: none

Notes added by 'git notes add'
  4f/16cecd2d74e14bc4e5389bf3d27314907c3cb7
Due: none

fix
  shared/models/author.ts
  src/pages/Library/Content/Page/LibraryDescription.tsx
  src/pages/User/content/ProfileDetails.tsx
  src/services/libraryService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

fix build
  packages/components/src/Username/Username.tsx
  shared/models/author.ts
Due: none

fix
  shared/models/author.ts
Due: none

updating some spacing
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix
  src/routes/api.donation-settings.$profileId.ts
Due: tslint --project tsconfig.json --config tslint.json

remove old donations config
  .circleci/config.yml
  .env
  src/common/DonationRequestModalContainer.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix fetch cover image
  src/routes/api.donation-settings.$profileId.ts
Due: tslint --project tsconfig.json --config tslint.json

fix font-size
  src/pages/Library/Content/Page/LibraryDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

change donate button label
  src/pages/Library/Content/Page/LibraryDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

prevent blue selected background when showIconOnly
  packages/components/src/Button/Button.tsx
Due: none

update counts for sort without needing refresh
  src/pages/common/CommentsSupabase/CommentItemSupabase.tsx
  src/pages/common/CommentsSupabase/CommentSectionSupabase.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add followed icon display to research content list views (#4456)
  packages/components/src/Button/Button.tsx
  packages/cypress/src/integration/research/follow.spec.ts
  src/common/FollowButtonAction.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: profile location display, improve UX of user statistics on hover
  packages/components/src/UserStatistics/UserStatistics.tsx
Due: none

fix
  packages/components/src/UserStatistics/UserStatistics.tsx
Due: none

chore: remove plausible
  server.js
  src/common/Analytics/GoogleAnalytics.tsx
  src/root.tsx
Due: tslint --project tsconfig.json --config tslint.json, tslint

Notes added by 'git notes add'
  19/46778c265460d979dc31c5b98ae2e3d14a3cd3
Due: none

Fix: Comment sort display responsiveness (#4504)
  packages/cypress/src/integration/library/discussions.spec.ts
  packages/cypress/src/integration/news/discussions.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  src/pages/common/CommentsSupabase/CommentItemSupabase.tsx
  src/pages/common/CommentsSupabase/CommentSectionSupabase.tsx
  src/pages/common/CommentsSupabase/CommentSort.tsx
Due: tslint --project tsconfig.json --config tslint.json

use icon only for follow button if showIconOnly
  packages/components/src/Button/Button.tsx
  packages/components/src/FollowButton/FollowButton.tsx
Due: none

fix: use icon only for follow button if showIconOnly (#4517)
  packages/components/src/Button/Button.tsx
  packages/components/src/FollowButton/FollowButton.tsx
Due: none

Notes added by 'git notes add'
  54/08b9b72fd39044d3dc999127378f6a3f644a37
Due: none

feat: remove counter from useful button
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
Due: none

fix: remove votedUsefulCount prop from UsefulStatsButton
  packages/components/src/ArticleCallToActionSupabase/ArticleCallToActionSupabase.stories.tsx
  packages/components/src/UsefulStatsButton/UsefulStatsButton.stories.tsx
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
  packages/components/src/UserEngagementWrapper/UserEngagementWrapper.stories.tsx
Due: none

fix: set follow button font to 14px
  packages/components/src/FollowButton/FollowButton.tsx
Due: none

hide dontion goal
  .snaplet/dataModel.json
  packages/components/src/DonationRequestModal/DonationRequestModal.tsx
  server.js
  src/pages/Library/Content/Page/LibraryDescription.tsx
  src/pages/Library/Content/Page/ProjectPage.tsx
  src/pages/Research/Content/ResearchArticlePage.tsx
  src/services/researchService.server.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint

fix: sort pins by most recently active
  src/pages/Maps/Maps.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix flaky test
  packages/cypress/src/integration/profileList.spec.ts
Due: none

fix: sort pins by most recently active (#4519)
  packages/cypress/src/integration/profileList.spec.ts
  src/pages/Maps/Maps.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  95/49013a415b9a6777f47f4780c2458537c09472
Due: none

feat: map settings improvements
  .circleci/config.yml
  .env
  packages/components/src/MapWithPin/MapWithPin.client.tsx
  packages/components/src/OsmGeocoding/types.tsx
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/pages/UserSettings/labels.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: trim whitespace in comments
  packages/components/src/CommentBody/CommentBody.tsx
Due: none

feat: trim whitespace in comments (#4521)
  packages/components/src/CommentBody/CommentBody.tsx
Due: none

fix flaky test
  packages/cypress/src/integration/news/discussions.spec.ts
Due: none

improve map pin UX
  packages/components/src/CardProfile/CardDetailsSpaceProfile.tsx
  src/pages/UserSettings/SettingsPageMapPin.tsx
Due: tslint --project tsconfig.json --config tslint.json
