Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

Notes added by 'git notes add'
  e3/e615b9e12ee230d1752ebb0d77c21f294ecfb4
Due: none

test: click on last create button
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

test: only click visible element
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

feat: show content amount (#4462)
  packages/cypress/src/integration/library/read.spec.ts
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/questions/read.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/pages/Library/Content/List/LibraryList.tsx
  src/pages/Library/Content/List/LibraryListHeader.tsx
  src/pages/Question/QuestionListHeader.tsx
  src/pages/Question/QuestionListing.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListHeader.tsx
  src/pages/common/Layout/ListHeader.tsx
  supabase/migrations/20251024140004_fix_get_project_count.sql
  supabase/schemas/projects.sql
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  e9/43990902d501554bd9a8c73414f6036e3da691
Due: none

feat: add plausible
  src/root.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add plausible (#4468)
  src/root.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  32/da467cfcc5e97b878234e9cbfb7f6eaa528e6f
Due: none

feat: add favicon
  packages/themes/src/fixing-fashion/index.ts
  packages/themes/src/precious-plastic/index.ts
  packages/themes/src/project-kamp/index.ts
  packages/themes/src/types/index.ts
  src/root.tsx
  src/routes/api.favicon.ts
  supabase/migrations/20251031045802_add_favicon.sql
  supabase/schemas/tenant_settings.sql
Due: tslint --project tsconfig.json --config tslint.json

fix: prod check
  src/root.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  2a/c69f3685802e25d20d73cdfdd75ef2b86b6c36
Due: none

feat: tentative fix for showing favicon on search engine results (#4469)
  packages/themes/src/fixing-fashion/index.ts
  packages/themes/src/precious-plastic/index.ts
  packages/themes/src/project-kamp/index.ts
  packages/themes/src/types/index.ts
  src/root.tsx
  src/routes/api.favicon.ts
  supabase/migrations/20251031045802_add_favicon.sql
  supabase/schemas/tenant_settings.sql
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  63/052bfa2a24351eb05ed3804516b723b1e37db3
Due: none

chore: upgrade vitest v2
  package.json
  packages/components/package.json
  yarn.lock
Due: none

chore: upgrade vite and vitest
  package.json
  packages/components/package.json
  packages/components/src/CategoryHorizonalList/CategoryHorizonalList.test.tsx
  packages/components/src/ContentStatistics/ContentStatistics.test.tsx
  packages/components/src/IconCountWithTooltip/IconCountWithTooltip.test.tsx
  packages/components/src/ResearchEditorOverview/__snapshots__/ResearchEditorOverview.test.tsx.snap
  packages/components/vite.config.ts
  src/pages/UserSettings/SettingsPageImpact.test.tsx
  vite.config.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

chore: upgrade vite and vitest (#4470)
  package.json
  packages/components/package.json
  packages/components/src/CategoryHorizonalList/CategoryHorizonalList.test.tsx
  packages/components/src/ContentStatistics/ContentStatistics.test.tsx
  packages/components/src/IconCountWithTooltip/IconCountWithTooltip.test.tsx
  packages/components/src/ResearchEditorOverview/__snapshots__/ResearchEditorOverview.test.tsx.snap
  packages/components/vite.config.ts
  src/pages/UserSettings/SettingsPageImpact.test.tsx
  vite.config.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: plausible csp and tracking navigation changes
  server.js
  src/common/Analytics/GoogleAnalytics.tsx
Due: tslint --project tsconfig.json --config tslint.json, tslint

Notes added by 'git notes add'
  48/6b511f6b6d548a5e1835ec644c9a48d89b70cd
Due: none

fix: fixing some seeding issues around buckets and unneeded auth
  seed.config.ts
  seed.ts
Due: none

fix: fixing seeding issues - storage buckets and auth (#4471)
  seed.config.ts
  seed.ts
Due: none

fix tests
  .vscode/launch.json
  src/routes/_.news.$slug._index.tsx
  src/routes/_.news.$slug.edit.tsx
  src/routes/_.news.create.tsx
  src/routes/api.discussions.$sourceId.comments.$id.ts
  src/routes/api.discussions.$sourceType.$sourceId.comments.ts
  src/routes/api.messages.tsx
  src/routes/api.notifications-preferences.ts
  src/routes/api.profile.ts
  src/routes/api.projects.ts
  src/test/routes/api.notifications-preferences.test.ts
  src/test/utils/supabaseClientMock.ts
Due: tslint --project tsconfig.json --config tslint.json

fix session
  .eslintrc.json
  src/.eslintrc.json
  src/pages/UserSettings/content/sections/ChangeEmail.form.tsx
  src/pages/common/Drafts/useDraftsSupabase.tsx
  src/pages/common/SessionContext.ts
  src/routes/_.tsx
  src/routes/api.discussions.$sourceType.$sourceId.comments.ts
  src/stores/Profile/profile.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: filter filters
  src/pages/Maps/Content/MemberTypeVerticalList/MemberTypeVerticalList.client.tsx
  src/pages/Maps/MapContext.ts
  src/pages/Maps/MapFilterList.tsx
  src/pages/Maps/Maps.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: just pan on pin click
  src/pages/Maps/Content/MapView/Cluster.client.tsx
  src/pages/Maps/Content/MapView/MapView.tsx
  src/pages/Maps/MapContext.ts
  src/pages/Maps/Maps.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

remove default profile zoom, use cluster ref to determine if it needs to zoom on profile click
  src/pages/Maps/Content/MapView/Cluster.client.tsx
  src/pages/Maps/Content/MapView/MapView.tsx
  src/pages/Maps/Content/MapView/MapWithListHeader.tsx
  src/pages/Maps/MapContext.ts
  src/pages/Maps/Maps.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: zoom to separate clustered pins on profile selection
  src/pages/Maps/Content/MapView/Cluster.client.tsx
  src/pages/Maps/Content/MapView/MapView.tsx
  src/pages/Maps/MapContext.ts
  src/pages/Maps/Maps.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

removed redundant pins filter list I added previously, use correctly filtered list
  src/pages/Maps/MapContext.ts
  src/pages/Maps/MapFilterList.tsx
  src/pages/Maps/Maps.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

clear selected pin if scrolled off screen.
  src/pages/Maps/Content/MapView/Popup.client.tsx
  src/pages/Maps/Maps.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: filter map filters (#4477)
  src/pages/Maps/Content/MemberTypeVerticalList/MemberTypeVerticalList.client.tsx
  src/pages/Maps/MapFilterList.tsx
Due: tslint --project tsconfig.json --config tslint.json

remove length check to close popup consistenty
  src/pages/Maps/Maps.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  65/f4b28ba8396d8bdbc8b4cda128d9c30ab3e7cb
Due: none

last commit - just some cleanup to remove redundancy
  src/pages/Maps/Maps.client.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: tidy-up content description components
  packages/components/src/AuthorDisplay/AuthorDisplay.tsx
  packages/components/src/AuthorTag/AuthorTag.tsx
  packages/components/src/Breadcrumbs/Breadcrumbs.tsx
  packages/components/src/Category/Category.tsx
  packages/components/src/ContentStatistics/ContentStatistics.stories.tsx
  packages/components/src/ContentStatistics/ContentStatistics.tsx
  packages/components/src/NotificationItemSupabase/NotificationItemSupabase.tsx
  packages/components/src/Username/Username.tsx
  packages/components/src/index.ts
  src/common/HideDiscussionContainer.tsx
  src/factories/commentFactory.server.ts
  src/pages/Library/Content/Page/Library.test.tsx
  src/pages/Library/Content/Page/LibraryDescription.tsx
  src/pages/Library/Content/Page/ProjectPage.tsx
  src/pages/News/NewsPage.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticlePage.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/researchHelpers.ts
  src/pages/common/Breadcrumbs/Breadcrumbs.tsx
  src/routes/_.library.$slug._index.tsx
  src/routes/_.questions.$slug._index.tsx
  src/routes/_.research.$slug._index.tsx
  src/routes/api.questions.ts
  src/routes/api.research.drafts.ts
  src/services/libraryService.server.ts
  src/services/questionService.server.ts
  src/services/researchService.server.ts
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: no notifications displaying when one errors
  src/routes/api.notifications.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  02/8f5ca6ca911a848936874e4c4df0c70c1b6d4c
Due: none

fix profile loading
  seed.ts
  src/routes/api.research.ts
  src/stores/Profile/profile.store.tsx
Due: tslint --project tsconfig.json --config tslint.json
