Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

get username with id
  src/routes/_.research.$slug._index.tsx
  src/routes/api.projects.ts
Due: tslint --project tsconfig.json --config tslint.json

Allow username changes and add cross-tenant choose-username flow
  shared/models/profile.ts
  src/routes/_.choose-username.tsx
  src/routes/_.sign-in.tsx
  src/routes/api.profile.ts
  src/services/profileService.server.ts
  src/services/profileService.ts
  supabase/migrations/20260208055245_profile_unique_username_tenant_id.sql
  supabase/schemas/profiles.sql
Due: tslint --project tsconfig.json --config tslint.json

remove username from signup email, fetch username for other emails
  shared/models/other.ts
  supabase/functions/send-email/_templates/sign-up.tsx
  supabase/functions/send-email/index.ts
Due: none

fix: enable partial word search in questions module
  src/routes/api.questions.ts
  supabase/migrations/20260309135320_questions_search_rpc.sql
Due: tslint --project tsconfig.json --config tslint.json

fix: show author badge on mobile comment avatars
  packages/components/src/CommentDisplay/CommentDisplay.tsx
Due: none

fixing lint/build errors for the branch
  src/routes/_.library.$slug.edit.tsx
  src/routes/_.sign-in.tsx
  src/routes/api.profile.ts
  src/services/profileService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

collapse migration into one
  supabase/migrations/20260127054801_remove_get_user_email_by_username.sql
  supabase/migrations/20260309143743_remove_username_from_user_metadata.sql
Due: none

fix: update CommentDisplay test for dual mobile/desktop avatar
  packages/components/src/CommentDisplay/CommentDisplay.test.tsx
Due: none

fix: show author badge on mobile comment avatars (#4664)
  packages/components/src/CommentDisplay/CommentDisplay.test.tsx
  packages/components/src/CommentDisplay/CommentDisplay.tsx
Due: none

Notes added by 'git notes add'
  c7/f00ac6ce476b918667a208be5914d974bd2a32
Due: none

feat: image and file uploads
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  server.js
  shared/models/filesForm.ts
  shared/models/imageForm.ts
  shared/models/index.ts
  shared/models/library.ts
  shared/models/media.ts
  shared/models/research.ts
  src/common/Form/FileInput.field.tsx
  src/common/Form/FileInput/FileInput.tsx
  src/common/Form/FileInput/UppyConfig.ts
  src/common/Form/FileInput/UppyConfigAdmin.ts
  src/pages/Library/Content/Common/Library.form.test.tsx
  src/pages/Library/Content/Common/LibraryForm.tsx
  src/pages/Library/Content/Common/LibraryStep.field.test.tsx
  src/pages/Library/Content/Common/LibraryStep.field.tsx
  src/pages/Library/Content/Common/LibraryStepsContainer.field.tsx
  src/pages/Library/library.service.ts
  src/pages/Research/Content/Common/ResearchForm.tsx
  src/pages/Research/Content/Common/ResearchUpdateForm.tsx
  src/pages/Research/Content/CreateResearch/Form/ResearchImagesField.tsx
  src/pages/Research/research.service.ts
  src/pages/common/FormFields/FilesFields.tsx
  src/pages/common/FormFields/ImageField.tsx
  src/pages/common/FormFields/StepImageField.tsx
  src/pages/common/FormFields/index.ts
  src/routes/_.library.$slug.edit.tsx
  src/routes/_.library.create.tsx
  src/routes/api.documents.ts
  src/routes/api.projects.$id.ts
  src/routes/api.projects.ts
  src/routes/api.research.$id.updates.$updateId.ts
  src/services/libraryService.server.ts
  src/services/storageService.server.ts
  src/services/storageService.ts
  src/test/factories/Library.ts
  src/test/factories/ResearchItem.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint

check images exist before publishing
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

wip
  bun.lock
  package.json
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  server.js
  shared/models/common.ts
  shared/models/library.ts
  shared/models/news.ts
  shared/models/question.ts
  shared/models/research.ts
  src/pages/Library/Content/Common/LibraryForm.tsx
  src/pages/News/Content/Common/NewsForm.test.tsx
  src/pages/Question/Content/Common/FormFields/QuestionImages.field.tsx
  src/pages/Question/Content/Common/QuestionForm.tsx
  src/pages/Research/Content/Common/ResearchForm.tsx
  src/pages/Research/Content/Common/ResearchUpdateForm.tsx
  src/pages/Research/Content/CreateResearch/Form/ResearchImagesField.tsx
  src/pages/Research/research.service.ts
  src/pages/common/FormFields/ImageField.tsx
  src/routes/_.research.$slug._index.tsx
  src/routes/api.news.$id.ts
  src/routes/api.news.ts
  src/routes/api.projects.$id.ts
  src/routes/api.projects.ts
  src/routes/api.research.$id.ts
  src/routes/api.research.ts
  src/services/newsService.ts
  src/services/questionService.ts
  src/test/setup.ts
  src/utils/httpException.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint

form improvements
  shared/mocks/data/users.ts
  shared/models/library.ts
  shared/models/news.ts
  shared/models/profile.ts
  shared/models/question.ts
  shared/models/research.ts
  src/factories/profileFactory.server.ts
  src/pages/Library/Content/Common/LibraryForm.tsx
  src/pages/Library/library.service.ts
  src/pages/Research/research.service.ts
  src/pages/UserSettings/SettingsPageUserProfile.test.tsx
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/routes/api.news.$id.ts
  src/routes/api.news.ts
  src/routes/api.notifications.ts
  src/routes/api.profile.ts
  src/routes/api.projects.$id.ts
  src/routes/api.projects.ts
  src/routes/api.questions.$id.ts
  src/routes/api.questions.ts
  src/routes/api.research.$id.ts
  src/routes/api.research.$id.updates.$updateId.ts
  src/routes/api.research.$id.updates.ts
  src/routes/api.research.ts
  src/services/formDataHelper.ts
  src/services/libraryService.server.ts
  src/services/newsService.ts
  src/services/profileService.server.ts
  src/services/profileService.ts
  src/services/questionService.ts
  src/test/factories/Library.ts
  src/test/factories/User.ts
  src/test/factories/supabaseNotification.ts
Due: tslint --project tsconfig.json --config tslint.json

fix
  packages/components/src/utils.ts
Due: none

fix
  shared/models/library.ts
Due: none

fix tsconfigs
  packages/components/tsconfig.json
  packages/themes/tsconfig.json
  shared/tsconfig.json
Due: none

fix profile save, error display
  packages/components/src/index.ts
  shared/models/profile.ts
  src/pages/Library/library.service.ts
  src/pages/Question/Content/Common/FormFields/QuestionImages.field.tsx
  src/pages/Research/research.service.ts
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/pages/UserSettings/content/sections/UserImages.section.tsx
  src/pages/UserSettings/content/sections/UserInfos.section.tsx
  src/routes/api.news.$id.ts
  src/routes/api.news.ts
  src/routes/api.profile.ts
  src/routes/api.projects.$id.ts
  src/routes/api.projects.ts
  src/routes/api.questions.$id.ts
  src/routes/api.questions.ts
  src/routes/api.research.$id.ts
  src/routes/api.research.ts
  src/services/formDataHelper.ts
  src/services/newsService.ts
  src/services/profileService.server.ts
  src/services/profileService.ts
  src/services/questionService.ts
  src/utils/httpException.ts
Due: tslint --project tsconfig.json --config tslint.json

fix test
  src/pages/UserSettings/SettingsPageUserProfile.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix question images
  src/pages/Library/Content/Common/LibraryForm.tsx
  src/pages/News/Content/Common/NewsForm.tsx
  src/pages/Question/Content/Common/FormFields/QuestionImages.field.tsx
  src/pages/Question/Content/Common/QuestionForm.tsx
  src/pages/Research/Content/Common/ResearchForm.tsx
  src/pages/Research/Content/Common/ResearchUpdateForm.tsx
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/routes/api.news.$id.ts
  src/routes/api.news.ts
  src/routes/api.profile.ts
  src/routes/api.projects.$id.ts
  src/routes/api.projects.ts
  src/routes/api.questions.$id.ts
  src/routes/api.questions.ts
  src/routes/api.research.$id.ts
  src/routes/api.research.ts
Due: tslint --project tsconfig.json --config tslint.json

more fixes
  src/pages/Question/Content/Common/FormFields/QuestionImages.field.tsx
  src/pages/common/FormFields/StepImageField.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix profile cypress test
  src/pages/UserSettings/content/sections/UserImages.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix library tests
  src/pages/Library/Content/Common/LibraryStep.field.tsx
  src/pages/Library/labels.ts
  src/pages/common/FormFields/ImageField.tsx
Due: tslint --project tsconfig.json --config tslint.json

more fixes
  packages/components/src/FieldMarkdown/AddImage.tsx
  shared/models/research.ts
  src/pages/News/Content/Common/FormFields/NewsImageField.tsx
  src/pages/Question/Content/Common/FormFields/QuestionImages.field.tsx
  src/pages/Research/Content/Common/ResearchForm.tsx
  src/pages/Research/Content/CreateResearch/Form/ResearchImagesField.tsx
  src/pages/Research/research.service.ts
  src/pages/common/FormFields/ImageField.tsx
  src/pages/common/FormFields/StepImageField.tsx
  src/routes/_.questions.$slug._index.tsx
  src/routes/_.research.$slug._index.tsx
  src/routes/api.discussions.$sourceType.$sourceId.comments.ts
  src/routes/api.images.ts
  src/routes/api.messages.tsx
  src/routes/api.news.$id.ts
  src/routes/api.news.ts
  src/routes/api.projects.$id.ts
  src/routes/api.projects.ts
  src/routes/api.questions.$id.ts
  src/routes/api.questions.ts
  src/routes/api.research.$id.ts
  src/routes/api.research.$id.updates.ts
  src/routes/api.research.ts
  src/routes/api.settings.impact.ts
  src/services/storageService.server.ts
  src/services/storageService.ts
Due: tslint --project tsconfig.json --config tslint.json

fix build
  src/test/factories/ResearchItem.ts
Due: tslint --project tsconfig.json --config tslint.json

some test fixes
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/routes/api.projects.$id.ts
  src/routes/api.projects.ts
Due: tslint --project tsconfig.json --config tslint.json

add image errors
  packages/components/src/ImageInput/ImageInputV2.tsx
  packages/cypress/src/integration/settings.spec.ts
  src/pages/News/Content/Common/FormFields/NewsImageField.tsx
  src/pages/Question/Content/Common/FormFields/QuestionImages.field.tsx
  src/pages/Research/Content/CreateResearch/Form/ResearchImagesField.tsx
  src/pages/UserSettings/content/sections/UserImages.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix news draft
  src/pages/News/Content/Common/NewsForm.tsx
  src/routes/api.news.$id.ts
  src/routes/api.news.ts
Due: tslint --project tsconfig.json --config tslint.json

fix library spec
  packages/cypress/src/integration/library/write.spec.ts
Due: none

chore: update hono
  package.json
Due: none

chore: update hono (#4670)
  package.json
Due: none

wip
  server.js
Due: tslint

chore: add bun compress
  bun.lock
  package.json
  server.js
Due: tslint

chore: add bun compress (#4671)
  bun.lock
  package.json
  server.js
Due: tslint

restrict upload size
  server.js
  src/routes/api.documents.ts
  src/routes/api.images.ts
  src/services/storageService.server.ts
  src/services/storageService.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint

fix news test
  packages/cypress/src/integration/news/write.spec.ts
Due: none

fixes
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/common/Form/FileInput/FileDisplay.tsx
  src/routes/api.projects.$id.ts
  src/routes/api.projects.ts
  src/routes/api.research.$id.ts
  src/routes/api.research.$id.updates.$updateId.ts
  src/routes/api.research.$id.updates.ts
Due: tslint --project tsconfig.json --config tslint.json

fix file upload tests
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

try fix
  packages/cypress/src/integration/news/write.spec.ts
Due: none
