Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

chore: update functions webpack
  functions/package.json
  package.json
  packages/components/package.json
  yarn.lock
Due: none

fix: function build
  functions/webpack.config.ts
  shared/models/db.ts
  src/config/config.ts
  src/config/constants.ts
  src/logger/index.ts
  src/modules/index.ts
  src/modules/profile/index.ts
  src/stores/Theme/theme.store.tsx
  src/stores/databaseV2/endpoints.ts
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: build
  .circleci/config.yml
  .github/workflows/docker-emulator-build.yml
  .github/workflows/pr-preview.yml
  functions/package.json
  functions/webpack.config.ts
  packages/cypress/scripts/start.ts
  packages/cypress/src/support/db/endpoints.ts
  packages/documentation/docs/Deployment/circle-ci.md
  packages/documentation/docs/Install.md
  shared/models/notifications.ts
  src/modules/index.test.ts
  src/stores/databaseV2/endpoints.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix: user notification item
  shared/models/notifications.ts
Due: none

fix: functions build
  functions/package.json
  functions/scripts/start.ts
  functions/tsconfig.json
  functions/webpack.config.ts
  yarn.lock
Due: none

fix: add junit to functions
  functions/package.json
  yarn.lock
Due: none

fix: cypress
  functions/package.json
  packages/components/tsconfig.json
  packages/cypress/cypress.config.ts
  packages/cypress/package.json
  packages/cypress/scripts/paths.js
  packages/cypress/scripts/paths.ts
  packages/cypress/scripts/start.js
  packages/cypress/scripts/start.ts
  packages/cypress/src/support/db/endpoints.ts
  packages/cypress/src/utils/TestUtils.js
  packages/cypress/tsconfig.json
  scripts/postCraBuild.ts
  vite.config.ts
  yarn.lock
Due: tslint

fix: lint
  packages/cypress/.gitignore
  packages/cypress/scripts/paths.js
  packages/cypress/scripts/start.js
  packages/cypress/src/utils/TestUtils.js
Due: tslint

fix: build
  packages/components/package.json
  packages/components/tsconfig.json
  packages/cypress/tsconfig.json
Due: none

fix: cypress
  packages/cypress/package.json
  packages/cypress/scripts/start.mts
  packages/cypress/tsconfig.json
Due: none

fix: postbuild
  packages/components/package.json
  packages/cypress/package.json
  scripts/package.json
  scripts/postBuild.ts
Due: none

fix: scripts esm
  scripts/package.json
  scripts/postBuild.ts
Due: none

fix: try fix cypress
  package.json
  packages/cypress/package.json
  scripts/package.json
  scripts/postBuild.mts
  scripts/tsconfig.json
  yarn.lock
Due: none

fix: try fix post build
  scripts/package.json
  scripts/postBuild.ts
  scripts/tsconfig.json
Due: none

fix: cypress port
  packages/cypress/scripts/start.mts
  packages/documentation/docs/Testing/end-to-end.md
  src/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: cypress port
  package.json
  packages/cypress/cypress.config.ts
  packages/cypress/scripts/start.mts
  packages/cypress/src/support/commands.ts
  packages/documentation/docs/Testing/end-to-end.md
  scripts/package.json
  src/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: cypress login
  packages/cypress/cypress.config.ts
  packages/cypress/scripts/start.mts
  packages/cypress/src/support/commands.ts
  src/pages/SignIn/SignIn.tsx
  src/stores/User/user.store.ts
  vite.config.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: research cypress tests
  src/pages/Research/Content/Common/SubmitStatus.tsx
  src/pages/Research/Content/EditResearch/index.tsx
  src/pages/Research/Content/EditUpdate/index.tsx
  src/pages/Research/Content/ResearchUpdateDiscussion.tsx
  src/stores/Research/research.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: rename function for convention
  functions/src/userUpdates/updateDiscussionComments.ts
Due: none

fix: chromatic as separate ci step
  .circleci/config.yml
Due: none

Notes added by 'git notes add'
  9e/5582a3b28a7ebb218257ea047d9783a278c430
Due: none

feat(functions): move notification logic from discussion store to firebase functions
  functions/src/Utils/db.utils.ts
  functions/src/Utils/index.ts
  functions/src/discussionUpdates/index.test.ts
  functions/src/discussionUpdates/index.ts
  functions/src/models.ts
  src/stores/Discussions/discussions.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: import fixes
  packages/components/src/Breadcrumbs/Breadcrumbs.test.tsx
  packages/components/src/ButtonShowReplies/ButtonShowReplies.test.tsx
  packages/components/src/CreateComment/CreateComment.test.tsx
  packages/components/src/CreateReply/CreateReply.test.tsx
  packages/components/src/DiscussionContainer/DiscussionContainer.test.tsx
  packages/components/src/DiscussionTitle/DiscussionTitle.test.tsx
  packages/components/src/DonationRequestModal/DonationRequestModal.test.tsx
  packages/components/src/DownloadButton/DownloadButton.test.tsx
  packages/components/src/DownloadCounter/DownloadCounter.test.tsx
  packages/components/src/DownloadFileFromLink/DownloadFileFromLink.test.tsx
  packages/components/src/EditComment/EditComment.test.tsx
  packages/components/src/MapMemberCard/MapMemberCard.test.tsx
  packages/components/src/ProfileLink/ProfileLink.test.tsx
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.test.tsx
  packages/components/src/TabbedContent/TabbedContent.test.tsx
  packages/components/src/TagList/TagList.test.tsx
  packages/components/src/UserEngagementWrapper/UserEngagementWrapper.test.tsx
  packages/components/src/Username/Username.test.tsx
  packages/components/src/VideoPlayer/VideoPlayer.test.tsx
  packages/cypress/src/support/db/endpoints.ts
  src/pages/Howto/howto.service.test.ts
  src/pages/Question/question.service.test.ts
  src/pages/Research/research.service.test.ts
  src/pages/UserSettings/content/formSections/PatreonIntegration.test.tsx
  src/stores/databaseV2/endpoints.ts
  src/utils/searchHelper.test.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: build after merge
  packages/components/src/CommentItem/CommentItem.test.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: commentItem test
  packages/components/src/CommentItem/CommentItem.test.tsx
Due: none

fix: question form submitting not instantly set
  src/pages/Question/Content/Common/QuestionForm.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix(functions): removed old tests
  src/stores/Discussions/discussion.store.test.ts
Due: tslint --project tsconfig.json --config tslint.json

fix(functions): fixed lint issues due to merge
  src/stores/Discussions/discussions.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: commit folder so no error is generated when using legacy emulator
  functions/data/emulated/.gitkeep
Due: none

chore: import correct types
  functions/scripts/start.ts
Due: none

chore: add back files that are needed
  functions/scripts/paths.ts
  functions/scripts/runtimeConfig/model.ts
  functions/scripts/runtimeConfig/write.ts
Due: none

chore: remove unused variable
  functions/Dockerfile.emulator
Due: none

chore: yarn run format
  functions/scripts/set-up-environment-variables.ts
Due: none

chore: simplify copy commands
  functions/Dockerfile.emulator
Due: none

chore: undelete file, it is needed for the CI
  functions/scripts/set-up-environment-variables.ts
Due: none

chore: make options more clear
  CONTRIBUTING.md
Due: none

chore: check if stats is undefined
  functions/scripts/start.ts
Due: none

chore: improve documentation
  functions/Dockerfile.emulator
Due: none
