Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

fixes
  packages/cypress/src/integration/research/write.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commandsUi.ts
Due: none

chore: update db seed data model file
  .snaplet/dataModel.json
Due: none

chore: run formatting
  biome.json
  packages/components/src/Breadcrumbs/Breadcrumbs.tsx
  packages/components/src/ConfirmModal/ConfirmModal.tsx
  packages/components/src/DonationRequestModal/DonationRequestModal.tsx
  packages/components/src/FieldCheckbox/FieldCheckbox.tsx
  packages/components/src/FieldMarkdown/style.css
  packages/components/src/FollowButton/FollowButton.tsx
  packages/components/src/ImageGallery/ImageGallery.tsx
  packages/components/src/SiteFooter/SiteFooter.tsx
  packages/components/src/UsefulStatsButton/UsefulButtonLite.tsx
  shared/mocks/data/discussions.ts
  shared/utils/markdown.ts
  src/common/DownloadWrapper.tsx
  src/common/PageHeader.tsx
  src/modules/index.ts
  src/pages/Library/Content/Page/ProjectPage.tsx
  src/pages/PageList.tsx
  src/pages/Research/Content/ResearchArticlePage.tsx
  src/pages/Research/Content/ResearchEngagementSection.tsx
  src/pages/Research/Content/ResearchFooter.tsx
  src/pages/Research/Content/ResearchLinkToUpdate.tsx
  src/pages/User/content/ProfileContact.tsx
  src/pages/UserSettings/SupabaseNotificationsForm.tsx
  src/pages/UserSettings/content/elements.tsx
  src/pages/UserSettings/content/fields/PatreonIntegration.tsx
  src/pages/UserSettings/content/fields/ProfileTypeRadio.field.tsx
  src/pages/UserSettings/content/sections/ImpactYear.section.tsx
  src/pages/UserSettings/content/sections/ProfileTags.section.tsx
  src/pages/common/CommentsSupabase/CommentItemSupabase.tsx
  src/pages/common/CommentsSupabase/CommentSectionSupabase.tsx
  src/pages/common/GlobalSiteFooter/GlobalSiteFooter.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
  src/routes/_.forbidden.tsx
  src/routes/api.upgrade-badges.ts
  src/services/patreonService.server.ts
  src/stores/Subscription/subscription.store.tsx
  src/stores/UsefulVote/useUsefulVote.tsx
  src/stores/UsefulVote/usefulVote.store.tsx
  src/utils/helpers.ts
  vite.config.ts
Due: tslint --project tsconfig.json --config tslint.json

fix
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commandsUi.ts
  src/common/Toast/CustomToast.tsx
Due: tslint --project tsconfig.json --config tslint.json

fixes
  packages/cypress/src/integration/SignUp.spec.ts
  packages/cypress/src/support/commandsUi.ts
Due: none

chore: rerun seed after upgrading supabase cli
  .snaplet/dataModel.json
Due: none

chore: fix build errors
  packages/components/src/ProfileList/ProfileList.tsx
  packages/components/src/Username/Username.tsx
  src/utils/statistics.tsx
Due: tslint --project tsconfig.json --config tslint.json

more fixes
  packages/cypress/src/integration/SignUp.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

chore: add some map pins to seed.ts
  seed.ts
Due: none

feat: add news email preview
  packages/components/src/DisplayDate/DisplayDate.tsx
  packages/components/src/NotificationItemSupabase/NotificationItemSupabase.tsx
  packages/components/src/ResearchEditorOverview/__snapshots__/ResearchEditorOverview.test.tsx.snap
  packages/components/src/utils.ts
  packages/themes/src/common/button.ts
  shared/models/profile.ts
  shared/utils/getSummaryFromMarkdown.test.ts
  shared/utils/getSummaryFromMarkdown.ts
  shared/utils/index.ts
  src/.server/templates/components/button.tsx
  src/.server/templates/components/heading.tsx
  src/.server/templates/news-email.tsx
  src/pages/News/Content/Common/FormFields/NewsPreviewEmailButton.tsx
  src/pages/News/Content/Common/NewsForm.tsx
  src/routes/api.email-preview.ts
  src/routes/api.news.$id.ts
  src/routes/api.news.ts
  src/services/contentRedirectService.server.ts
  src/services/emailPreviewService.ts
  src/services/notificationEmailService.server.ts
  src/services/notificationsSupabaseService.server.ts
  src/test/models/profile.test.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: update badgers field
  src/pages/News/Content/Common/NewsForm.tsx
  src/pages/News/labels.ts
  src/pages/common/FormFields/ProfileBadgeField.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: update news guidelines
  src/pages/News/Content/Common/NewsPostingGuidelines.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: drop old notification typings
  shared/models/index.ts
  shared/models/notifications.ts
  shared/models/user.ts
  src/pages/UserSettings/content/sections/EmailNotifications.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: clean up content type icons
  packages/components/assets/icons/news.svg
  packages/components/assets/images/header-section/events-header-icon.svg
  packages/components/assets/images/header-section/howto-header-icon.svg
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.stories.tsx
  packages/components/src/Guidelines/Guidelines.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  src/common/Form/FormWrapper.tsx
  src/pages/Library/Content/Common/LibraryForm.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: finish adding news email preference
  packages/components/src/GridForm/GridForm.tsx
  shared/models/notificationsPreferences.ts
  shared/models/user.ts
  src/pages/News/Content/Common/NewsForm.tsx
  src/pages/News/labels.ts
  src/pages/UserSettings/SupabaseNotifications.tsx
  src/pages/UserSettings/SupabaseNotificationsForm.tsx
  src/pages/UserSettings/content/fields/NotificationsNewsField.tsx
  src/pages/UserSettings/labels.ts
  src/pages/common/FormFields/ContentReachField.tsx
  src/pages/common/FormFields/labels.ts
  src/routes/api.discussions.$sourceId.comments.$id.ts
  src/routes/api.news.$id.ts
  src/routes/api.notifications-preferences.ts
  src/services/broadcastCoordinationService.server.ts
  src/services/notificationsPreferencesService.ts
  src/utils/isAdmin.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: add news notifications
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/notifications.spec.ts
  shared/models/notificationsPreferences.ts
  shared/models/profile.ts
  src/routes/api.news.$id.ts
  src/routes/api.news.ts
  src/routes/api.notifications-preferences.ts
  src/services/broadcastCoordinationService.server.ts
  src/services/contentRedirectService.server.ts
  src/services/notificationsPreferencesService.ts
  src/services/notificationsPreferencesViaEmailService.ts
  src/services/notificationsSupabaseService.server.ts
  src/test/routes/api.notifications-preferences.test.ts
  src/test/services/notificationsPreferencesService.test.ts
  src/test/services/notificationsPreferencesViaEmailService.test.ts
  supabase/migrations/20260328093904_add_news_notifications.sql
Due: tslint --project tsconfig.json --config tslint.json

chore: update cypress tests
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.stories.tsx
  packages/components/src/NotificationItemSupabase/NotificationItemSupabase.tsx
  packages/cypress/cypress.config.ts
  packages/cypress/src/utils/supabaseTestsService.ts
  shared/mocks/data/emailContentReach.ts
  shared/mocks/data/index.ts
  shared/models/profile.ts
Due: none

chore: tidy-up
  packages/components/src/Select/Select.tsx
  packages/cypress/src/integration/news/write.spec.ts
  shared/models/emailContentReach.ts
  shared/models/news.ts
  shared/models/notificationsPreferences.ts
  src/pages/News/Content/Common/NewsForm.tsx
  src/pages/common/FormFields/EmailContentReachNewsField.tsx
  src/routes/api.news.$id.ts
  src/routes/api.news.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: build
  shared/models/emailContentReach.ts
  shared/models/news.ts
  shared/models/notificationsPreferences.ts
  src/common/Form/FormWrapper.tsx
  src/pages/News/Content/Common/NewsForm.test.tsx
  src/pages/News/Content/Common/NewsForm.tsx
  src/pages/UserSettings/SupabaseNotifications.tsx
  src/pages/UserSettings/SupabaseNotificationsForm.tsx
  src/pages/UserSettings/SupabaseNotificationsViaEmail.tsx
  src/pages/UserSettings/labels.ts
  src/pages/common/FormFields/labels.ts
  src/routes/api.notifications-preferences-via-email.$userCode.ts
  src/routes/api.notifications-preferences.ts
  src/services/emailContentReachService.server.ts
  src/services/emailPreviewService.ts
  src/services/notificationsPreferencesViaEmailService.ts
  src/test/factories/News.ts
  src/test/routes/api.notifications-preferences.test.ts
  src/test/services/notificationsPreferencesService.test.ts
  src/test/services/notificationsPreferencesViaEmailService.test.ts
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: email content preferences fields and forms
  .snaplet/dataModel.json
  packages/components/src/utils.ts
  seed.ts
  shared/models/emailContentReach.ts
  shared/models/index.ts
  shared/models/news.ts
  shared/models/notificationsPreferences.ts
  src/pages/News/Content/Common/FormFields/NewsPreviewEmailButton.tsx
  src/pages/News/Content/Common/NewsForm.tsx
  src/pages/UserSettings/SupabaseNotifications.tsx
  src/pages/UserSettings/SupabaseNotificationsForm.tsx
  src/pages/UserSettings/content/fields/EmailContentReachPreferenceField.tsx
  src/pages/UserSettings/content/fields/NotificationsNewsField.tsx
  src/pages/common/FormFields/EmailContentReachNewsField.tsx
  src/routes/api.categories.$type.ts
  src/routes/api.discussions.$sourceId.comments.$id.ts
  src/routes/api.email-content-reach.ts
  src/routes/api.email-preview.ts
  src/routes/api.news.$id.ts
  src/routes/api.news.ts
  src/routes/api.notifications-preferences-via-email.$userCode.ts
  src/routes/api.notifications-preferences.ts
  src/services/emailContentReachService.server.ts
  src/services/emailContentReachService.ts
  src/services/newsService.server.ts
  src/services/newsService.ts
  src/services/notificationEmailService.server.ts
  src/services/notificationsPreferencesService.ts
  supabase/migrations/20260409140115_add_email_content_reach.sql
Due: tslint --project tsconfig.json --config tslint.json

feat: add email notifications for badger news
  .snaplet/dataModel.json
  shared/models/emailContentReach.ts
  shared/models/notificationsPreferences.ts
  src/pages/News/Content/Common/FormFields/NewsImageField.tsx
  src/pages/News/Content/Common/FormFields/NewsPreviewEmailButton.tsx
  src/pages/News/Content/Common/NewsForm.tsx
  src/pages/UserSettings/SupabaseNotifications.tsx
  src/pages/UserSettings/SupabaseNotificationsViaEmail.tsx
  src/pages/UserSettings/content/fields/EmailContentReachPreferenceField.tsx
  src/pages/common/FormFields/Category.field.tsx
  src/pages/common/FormFields/EmailContentReachNewsField.tsx
  src/pages/common/FormFields/ProfileBadgeField.tsx
  src/routes/api.news.$id.ts
  src/routes/api.news.ts
  src/routes/api.notifications-preferences-via-email.$userCode.ts
  src/routes/api.notifications-preferences.ts
  src/services/emailContentReachService.server.ts
  src/services/notificationEmailService.server.ts
  src/services/notificationsPreferencesService.ts
  src/services/notificationsPreferencesViaEmailService.ts
  src/services/notificationsSupabaseService.server.ts
  src/test/routes/api.notifications-preferences.test.ts
  src/test/services/notificationsPreferencesViaEmailService.test.ts
  supabase/migrations/20260411161231_create_email_content_reach_function.sql
  supabase/migrations/20260413101445_change_more_news_fields_to_be_draft.sql
  supabase/schemas/profile_badges.sql
Due: tslint --project tsconfig.json --config tslint.json

feat: drop the delay on the preview button
  src/pages/News/Content/Common/FormFields/NewsPreviewEmailButton.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: show news image on notification
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/notifications.spec.ts
  shared/models/profile.ts
  src/services/notificationMapperService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: update designs and user experience
  packages/components/src/NotificationItemSupabase/NotificationItemSupabase.tsx
  shared/models/profile.ts
  src/.server/templates/components/button-call-to-action.tsx
  src/.server/templates/news-email.tsx
  src/pages/News/Content/Common/FormFields/NewsPreviewEmailButton.tsx
  src/pages/News/Content/Common/NewsForm.tsx
  src/pages/common/FormFields/FormFieldWrapper.tsx
  src/routes/api.news.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: tech review changes
  src/pages/UserSettings/content/fields/EmailContentReachPreferenceField.tsx
  src/pages/common/FormFields/EmailContentReachNewsField.tsx
  src/routes/api.email-content-reach.ts
  src/routes/api.email-preview.ts
  src/routes/api.news.ts
  src/routes/api.notifications-preferences-via-email.$userCode.ts
  src/routes/api.notifications-preferences.ts
  src/services/emailContentReachService.server.ts
  src/services/emailContentReachService.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: actually sending notifications
  src/services/broadcastCoordinationService.server.ts
  src/services/notificationsSupabaseService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: more seed data model updates
  .snaplet/dataModel.json
Due: none

add stirpe customers schema and models
  shared/models/index.ts
  shared/models/stripe.ts
  supabase/migrations/20260220204336_add_stripe_customers.sql
  supabase/schemas/stripe.sql
Due: none

add stripe subscription UI to settings page
  src/pages/UserSettings/SettingsPageAccount.tsx
  src/pages/UserSettings/content/fields/StripeIntegration.tsx
  src/services/stripeService.ts
Due: tslint --project tsconfig.json --config tslint.json

add stripe embedded checkout backend and CSP config
  .env
  package.json
  server.js
  src/routes/api.stripe.ts
  src/services/stripeService.server.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint

added stripe package, added details in .env for the .env.local file
  .env
  package.json
Due: none

add stripe API routes and server service
  .env
  src/routes/api.stripe.ts
  src/routes/api.stripe.webhook.ts
  src/services/stripeService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

add stripe embedded checkout component to settings page
  src/pages/UserSettings/SettingsPageAccount.tsx
  src/pages/UserSettings/content/fields/StripeIntegrationEmbedded.tsx
  src/services/stripeService.ts
Due: tslint --project tsconfig.json --config tslint.json

limit test strip components to admins
  src/pages/UserSettings/SettingsPageAccount.tsx
Due: tslint --project tsconfig.json --config tslint.json

merge conflict
  shared/models/index.ts
Due: none

install
  bun.lock
Due: none
