Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

docs: include production url in circle CI job name
  .circleci/config.yml
Due: none

feat: notifications -> added sorting notifications chronologically
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsMobile.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsModal.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: service worker cache headers
  firebase.json
Due: none

test: introduce coverage for research routes
  src/components/Heading/index.tsx
  src/components/Loader/index.tsx
  src/components/Tags/TagsSelect.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/Content/EditResearch/index.tsx
  src/pages/Research/Content/EditUpdate/index.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/research.routes.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: correct sha ref in circle CI
  .circleci/config.yml
Due: none

fix: edge case of active pin being delted
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Maps/Content/View/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: support themes within Storybook
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/preview.js
  packages/storybook/package.json
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
  src/themes/types.tsx
Due: tslint --project tsconfig.json --config tslint.json, tslint

feat: new components to help user generate lat/long co-ordinates
  src/components/MapWithDraggablePin/MapWithDraggablePin.stories.mdx
  src/components/MapWithDraggablePin/MapWithDraggablePin.tsx
  src/components/OsmGeocoding/OsmGeocoding.stories.mdx
  src/components/OsmGeocoding/OsmGeocoding.tsx
  src/components/OsmGeocoding/OsmGeocodingLoader.tsx
  src/components/OsmGeocoding/OsmGeocodingResultsList.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: URL rewriting for Academy content
  src/components/ExternalEmbed/ExternalEmbed.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: remove subtype from member mappin
  src/stores/Maps/maps.store.test.ts
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

[FIX] howto search cleaning after navigation
  packages/cypress/src/integration/howto/search.spec.ts
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: notifications -> nits
  src/components/Notifications/NotificationItem.tsx
  src/components/Notifications/NotificationList.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: member map pins
  src/components/MapWithDraggablePin/MapWithDraggablePin.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/formSections/MapPin.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: badge URL for larger avatar
  src/components/Avatar/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: user page slideshow arrows
  src/pages/User/content/UserPage/UserPage.tsx
  src/themes/app.globalStyles.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: introduce customised description
  public/index.html
  scripts/post-cra-build.ts
Due: none

fix: type definitions for tests
  src/pages/Research/research.routes.test.tsx
  tsconfig.json
Due: tslint --project tsconfig.json --config tslint.json

test: require Unit tests for e2e
  .circleci/config.yml
Due: none

feat: increase supported length of text for howto content
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/constants.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: image icon and default value
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: notifications -> added styling to the notifications modal, triggering notifications
  src/assets/icons/icon-comment.svg
  src/assets/icons/icon-notification.svg
  src/assets/icons/icon-useful.svg
  src/components/Notifications/NotificationItem.tsx
  src/components/Notifications/NotificationList.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/common/Header/Menu/Notifications/Notifications.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsModal.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: notifications: added instant triggering/removing notifications, marking all notifications read
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: notifications -> styling changes to gray-out the thunderbolt icon when there's no notifications and to add background to the icon when mobile notifications menu is slided-out
  src/components/Notifications/NotificationItem.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/Notifications/Notifications.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsMobile.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsModal.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: notifications - added mobile pop-up
  src/components/Notifications/NotificationItem.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/Notifications/Notifications.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsMobile.tsx
  src/stores/MobileMenu/mobilemenu.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: enrich location data from OSM reverse lookup
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: drop discord and forum as contact method
  packages/cypress/src/integration/settings.spec.ts
  src/mocks/Selectors.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: do not display discord or forum links
  src/pages/User/content/UserPage/UserPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: removes where are you based? field
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: switch to consistent badge style
  README.md
Due: none

fix: incorrect filtering of social links
  src/pages/User/content/UserPage/UserPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: remove location from info
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/custom-assertions.ts
Due: none

test: upgrade cypress to 9.2.0
  packages/cypress/package.json
  yarn.lock
Due: none

fix: ignore deleted in filter counts
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor to place filter logic under test
  src/stores/Maps/filter.test.ts
  src/stores/Maps/filter.ts
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: switch from node-sass to sass
  package.json
  yarn.lock
Due: none

feat: notifications- added styling changes
  src/assets/icons/icon-comment.svg
  src/assets/icons/icon-notification.svg
  src/assets/icons/icon-useful.svg
  src/components/Notifications/NotificationItem.tsx
  src/components/Notifications/NotificationList.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsMobile.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsModal.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: adds global one army footer
  src/pages/PageList.tsx
  src/pages/common/SiteFooter/SiteFooter.tsx
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: notifications -> you can't trigger notifications to your own profile anymore, renamed Notifications to NotificationsDesktop
  package.json
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsDesktop.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
