Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

feat: use ContentStatistics for both HowTo and Research descriptions
  packages/components/src/ContentStatistics/ContentStatistics.stories.tsx
  packages/components/src/ContentStatistics/ContentStatistics.test.tsx
  packages/components/src/ContentStatistics/ContentStatistics.tsx
  packages/components/src/HowToStatistics/HowToStatistics.stories.tsx
  packages/components/src/HowToStatistics/HowToStatistics.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/ResearchStatistics/ResearchStatistics.stories.tsx
  packages/components/src/ResearchStatistics/ResearchStatistics.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/utils/helpers.test.ts
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: adds stats to header of How-to and Research
  packages/components/src/HowToStatistics/HowToStatistics.stories.tsx
  packages/components/src/HowToStatistics/HowToStatistics.tsx
  packages/components/src/ResearchStatistics/ResearchStatistics.stories.tsx
  packages/components/src/ResearchStatistics/ResearchStatistics.tsx
  packages/components/src/index.ts
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove unnecessary components
  packages/components/src/HowToStatistics/HowToStatistics.stories.tsx
  packages/components/src/HowToStatistics/HowToStatistics.tsx
  packages/components/src/ResearchStatistics/ResearchStatistics.stories.tsx
  packages/components/src/ResearchStatistics/ResearchStatistics.tsx
  packages/components/src/index.ts
Due: none

fix: address merge conflicts
  packages/components/src/index.ts
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/utils/helpers.test.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: research thumbnail size
  src/pages/Research/Content/ResearchListItem.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(dep): upgrade firebase-tools@12.6.2
  functions/package.json
  packages/security-rules/package.json
  yarn.lock
Due: none

feat: addressed change requests
  packages/cypress/src/downloads/downloads.htm (1).crdownload
  src/pages/common/SortFilterHeader/SortFilterHeader.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/FilterSorterDecorator/FilterSorterDecorator.ts
  src/stores/common/FilterSorterDecorator/FitlerSorterDecorator.test.ts
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: delete cypress test files
  packages/cypress/src/downloads/downloads.htm (1).crdownload
Due: none

Notes added by 'git notes add'
  e9/f8bebf6476f2ecf1ba179e914d1a3fe7f000c8
Due: none

fix(maps): fixed tests
  src/stores/User/user.store.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(emails): improve test for email notifications
  functions/src/emailNotifications/createNotificationEmails.spec.ts
Due: none

docs: update onboarding steps for maintainer
  packages/documentation/docs/Maintainers/Onboarding.md
Due: none

deploy: 012405d17e72d8daf22eeda3e15ac6010737c2d4
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Backend Development/tests/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Maintainers/onboarding/index.html
  Maintainers/overview/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/ed36fe76.3e14b16c.js
  assets/js/ed36fe76.d65971f2.js
  assets/js/runtime~main.0cfa8039.js
  assets/js/runtime~main.92605968.js
  index.html
  storybook-static/project.json
Due: tslint

fix: refactor to prefer stateless function
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/PageList.tsx
  src/pages/Password/ForgotPasswordMessage.tsx
  src/pages/SignUp/SignUpMessage.tsx
  src/pages/UserSettings/content/formSections/Collection.section.tsx
  src/pages/UserSettings/content/formSections/Expertise.section.tsx
  src/pages/UserSettings/content/formSections/Workspace.section.tsx
  src/pages/common/Header/Menu/MenuDesktop.tsx
  src/pages/common/Header/Menu/Profile/ProfileButtons.tsx
  src/pages/index.tsx
  src/pages/policy/PrivacyPolicy.tsx
  src/pages/policy/TermsPolicy.tsx
  src/pages/policy/privacy.tsx
  src/pages/policy/terms.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: add react/prefer-stateless-function
  .eslintrc.json
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): remove styled-system
  package.json
  packages/components/package.json
  packages/documentation/docs/Frontend Development/overview.md
  src/pages/PageList.tsx
  src/pages/common/Header/Menu/Profile/ProfileButtonItem.tsx
  src/pages/common/Layout/Main.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

feat(docs): clarify the monthly call is only for maintainers
  .github/pull_request_template.md
  BOUNTIES.md
  packages/documentation/docs/Contributing/start-contributing.md
Due: none

Notes added by 'git notes add'
  35/bf2ed088037a07e03874cab25f5614faed8c51
Due: none

deploy: 331530cb19e20fa935e3e905c30333b80900c9de
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Backend Development/tests/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Maintainers/onboarding/index.html
  Maintainers/overview/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/ed36fe76.3e14b16c.js
  assets/js/ed36fe76.9de8b096.js
  assets/js/runtime~main.0cfa8039.js
  assets/js/runtime~main.b655800e.js
  index.html
  storybook-static/project.json
Due: tslint

Notes added by 'git notes add'
  88/edfb8282d20d6e65135dd4ba1d9afb1831d56d
Due: none

fix: make from email configurable
  extensions/firestore-send-email.config
Due: none

feat: added url author filter
  src/pages/common/SortFilterHeader/SortFilterHeader.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: made user stats click redirect to list page
  packages/components/src/UserStatistics/UserStatistics.tsx
Due: none

docs: add build command
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
Due: none

feat: update story generation script
  packages/components/scripts/templates/{componentName}.stories.tsx.mst
  packages/components/src/index.ts
Due: none

chore: remove import
  packages/components/src/index.ts
Due: none

deploy: 8e4d563016c5a61083674358caff6413b044c249
  storybook-static/project.json
Due: none

fix: package.json to reduce vulnerabilities
  package.json
Due: none

fix: packages/emulators-docker/package.json to reduce vulnerabilities
  packages/emulators-docker/package.json
Due: none

Notes added by 'git notes add'
  cd/2af19cdf23f4aa631cad1a6e73b0d76713e96a
Due: none

feat: display content statistics for how-to and research
  packages/components/src/ContentStatistics/ContentStatistics.stories.tsx
  packages/components/src/ContentStatistics/ContentStatistics.test.tsx
  packages/components/src/ContentStatistics/ContentStatistics.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/ViewsCounter/ViewsCounter.stories.tsx
  packages/components/src/ViewsCounter/ViewsCounter.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): remove unused @type packages
  package.json
  yarn.lock
Due: none

feat: adopt tslog
  functions/src/logging/logging.ts
  package.json
  src/config/constants.ts
  src/logger/index.test.ts
  src/logger/index.ts
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/stores/Theme/theme.store.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

feat(components): adds tabbed content
  packages/components/package.json
  packages/components/src/TabbedContent/TabbedContent.stories.tsx
  packages/components/src/TabbedContent/TabbedContent.tsx
  packages/components/src/index.ts
  src/pages/User/content/SpaceProfile.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

test: validate user interaction
  packages/components/src/TabbedContent/TabbedContent.stories.tsx
  packages/components/src/TabbedContent/TabbedContent.test.tsx
  packages/components/src/TabbedContent/TabbedContent.tsx
Due: none

fix: remove beta-tester requirement to view contributions
  packages/cypress/src/integration/profile.spec.ts
  src/pages/User/content/UserCreatedDocuments.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: use faker to generate tab example
  packages/components/src/TabbedContent/TabbedContent.stories.tsx
  packages/components/src/TabbedContent/TabbedContent.tsx
Due: none

feat: moves user stats under tab navigation
  src/pages/User/content/SpaceProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
