Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

chore: refactor prod deployments
  .circleci/config.yml
Due: none

chore(ci): populate DEPLOY_ALIAS
  .circleci/config.yml
Due: none

chore(ci): circleCI defined context keys should map to GCP project IDs
  .firebaserc
Due: none

docs: outline how to use app
  packages/api/README.md
Due: none

chore(ci): only run on default branch
  .circleci/config.yml
Due: none

feat: change default state of page to loader
  src/pages/UserSettings/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: move nested settings forms to tabs
  packages/components/src/SettingsFormWrapper/SettingsFormTab.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormTabList.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormWrapper.stories.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormWrapper.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/SignUp.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commandsUi.ts
  src/pages/User/impact/ImpactItem.tsx
  src/pages/UserSettings/SettingsPage.tsx
  src/pages/UserSettings/content/formSections/AccountSettings.section.tsx
  src/pages/UserSettings/content/formSections/Impact/Impact.section.tsx
  src/pages/UserSettings/content/formSections/UserProfile.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add icons
  packages/components/assets/icons/account.svg
  packages/components/assets/icons/eye.svg
  packages/components/assets/icons/icon-notification.svg
  packages/components/assets/icons/impact.svg
  packages/components/assets/icons/map.svg
  packages/components/assets/icons/profile.svg
  packages/components/assets/icons/thunderbolt-grey.svg
  packages/components/assets/icons/thunderbolt.svg
  packages/components/src/Icon/Icon.stories.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
Due: none

test: drop duplicate specs
  packages/cypress/src/integration/notificationBanner.spec.ts
Due: none

feat: use updated icon in notification header
  src/pages/Question/QuestionPage.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: drop unneeded impact form scroll test
  src/pages/UserSettings/content/formSections/UserProfile.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

style: tidy up form spacing
  packages/components/src/SettingsFormWrapper/SettingsFormTab.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormWrapper.tsx
  src/pages/UserSettings/content/formSections/Focus.section.tsx
  src/pages/UserSettings/content/formSections/UserProfile.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: set hash with settings tab
  packages/components/src/SettingsFormWrapper/SettingsFormWrapper.tsx
  src/common/Form/UnsavedChangesDialog.tsx
Due: tslint --project tsconfig.json --config tslint.json

style: update tab list
  packages/components/src/SettingsFormWrapper/SettingsFormTabList.tsx
  src/pages/UserSettings/content/formSections/UserProfile.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: introduce comments to CircleCI config
  .circleci/config.yml
Due: none

docs: make clear link between this and firebase.json
  packages/api/scripts/build-and-deploy.sh
Due: none

feat: show more comments by default
  packages/components/src/CommentList/CommentList.test.tsx
  packages/components/src/CommentList/CommentList.tsx
Due: none

chore: move set scroll to button direction
  src/pages/UserSettings/content/formSections/UserProfile.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: change settings to route to individual tabs
  packages/components/src/Icon/svgs.tsx
  packages/components/src/InternalLink/InternalLink.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormTab.test.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormTab.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormTabList.test.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormTabList.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormWrapper.stories.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormWrapper.test.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormWrapper.tsx
  packages/components/src/SettingsFormWrapper/utils.ts
Due: none

feat: use styled select for settings tabs
  packages/components/src/Select/Select.stories.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormTabList.tsx
  src/pages/common/DevSiteHeader/DevSiteHeader.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  e5/8df337f7f80373b47b41f04fa7ce3518c410df
Due: none

fix: show notifications on user profile form
  src/pages/UserSettings/content/formSections/UserProfile.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: fix and use research update anchors
  functions/src/Integrations/firebase-discord.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/stores/Discussions/discussions.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  43/43087eb827a47fa6f8f10c52a9c83f9eef73ba
Due: none

docs: add docs for function variables
  .cspell.json
  packages/documentation/docs/Deployment/circle-ci.md
Due: none

fix: map not loading
  src/routes/map.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: cypress
  packages/cypress/src/support/db/endpoints.ts
  packages/cypress/src/support/rules.ts
  src/config/config.ts
  src/stores/databaseV2/endpoints.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: lint
  src/App.tsx
  src/server.js
Due: tslint --project tsconfig.json --config tslint.json, tslint

chore: cleanup
  packages/cypress/src/support/rules.ts
  src/pages/Question/index.tsx
  src/pages/Question/question.routes.tsx
  src/pages/Research/research.routes.test.tsx
  src/pages/Research/research.routes.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
  src/pages/common/Header/Menu/ProfileModal/ProfileModal.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: added sample tags endpoint
  docs/remix.md
  src/routes/tags.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: rename tags api route
  src/routes/api.tags.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: change notification after send to update
  functions/src/emailNotifications/createSubmissionEmails.spec.ts
  functions/src/emailNotifications/createSubmissionEmails.ts
Due: none

feat: log cache
  .circleci/config.yml
Due: none
