Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

chore(deps): remove unused
  packages/components/package.json
  yarn.lock
Due: none

fix: introduce visual styling for tabbed component
  packages/components/src/TabbedContent/TabbedContent.stories.tsx
  packages/components/src/TabbedContent/TabbedContent.tsx
  src/pages/User/content/SpaceProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: remove bullet
  functions/src/emailNotifications/development/entry-server.mjs
  functions/src/emailNotifications/templates.ts
  functions/src/emailNotifications/templates/map-pin-approval.html
  functions/src/emailNotifications/templates/map-pin-needs-improvements.html
Due: none

deploy: 3bab7fa75d928999c7fd28bd11ea38b162844777
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Backend Development/tests/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Maintainers/onboarding/index.html
  Maintainers/overview/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/826114b9.869cd1b2.js
  assets/js/826114b9.b242615c.js
  assets/js/runtime~main.2a673930.js
  assets/js/runtime~main.41b9609b.js
  index.html
  storybook-static/project.json
Due: tslint

deploy: 1dda7eb5809634904ff1b9abcbb8c047d81688a3
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Backend Development/tests/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Maintainers/onboarding/index.html
  Maintainers/overview/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/51aaf2d1.28d45ca2.js
  assets/js/51aaf2d1.d4dd62b4.js
  assets/js/runtime~main.41b9609b.js
  assets/js/runtime~main.c2e59fd0.js
  index.html
  storybook-static/project.json
Due: tslint

feat: set default email frequency to weekly
  src/stores/User/user.store.test.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove beta from email settings
  src/pages/UserSettings/labels.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  39/e6a2923865b7641fe72a28339df5563cbcfcb5
Due: none

Notes added by 'git notes add'
  af/c3b5a73d32d595e04ff724190c905e62736270
Due: none

feat: adds question module
  src/modules/index.test.ts
  src/modules/index.ts
  src/pages/PageList.tsx
  src/pages/Question/QuestionCreate.tsx
  src/pages/Question/QuestionEdit.tsx
  src/pages/Question/QuestionListing.tsx
  src/pages/Question/QuestionSingle.tsx
  src/pages/Question/index.tsx
  src/pages/Question/question.routes.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: introduce scaffold store and tests
  src/models/index.ts
  src/models/question.models.tsx
  src/pages/Question/question.routes.test.tsx
  src/stores/Question/question.store.tsx
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/index.tsx
  src/test/factories/Question.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: support question in store
  shared/models/db.ts
  src/stores/Question/question.store.tsx
  src/stores/databaseV2/clients/dexie.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: address feedback to model file
  src/models/question.models.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: rename for clarity
  src/pages/PageList.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Question/question.routes.test.tsx
  src/pages/Question/question.routes.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: scaffold out test file
  src/stores/Question/question.store.test.tsx
  src/stores/Question/question.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: add coverage report for functions directory
  .circleci/config.yml
  functions/package.json
Due: none

chore: eslint default to typescript-eslint recommended
  .eslintrc.json
Due: none

chore: eslint fix no-useless-escape
  src/pages/Howto/Content/Howto/Howto.tsx
  src/utils/validators.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: fix ignore pattern
  .eslintrc.json
Due: none

chore: enable import/no-unresolved
  .eslintrc.json
Due: none

chore: eslint enable no-useless-escape
  .eslintrc.json
Due: none

chore: refactor to address @typescript-eslint/recommended
  .eslintrc.json
  packages/components/src/EditComment/EditComment.tsx
  packages/components/src/MapWithDraggablePin/MapWithDraggablePin.tsx
  src/common/hooks/userStats.ts
  src/pages/Howto/Content/Common/Howto.form.test.skip.tsx
  src/stores/common/__mocks__/module.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: eslint fix src imports
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Maps/Content/MapView/Cluster.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/UserSettings/UserSettings.test.tsx
  src/test/components/HowtoProvider.tsx
  src/test/components/ResearchProvider.tsx
  src/test/components/SettingsProvider.tsx
  types/photoswipe.d.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: import path
  .eslintrc.json
  src/pages/Maps/Maps.test.tsx
  src/pages/Unsubscribe/Unsubscribe.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: a64301d69ad823761718ea13aae1bae843988b6a
  storybook-static/assets/UsefulStatsButton-c82d78c0.js.map
  storybook-static/project.json
Due: none

Notes added by 'git notes add'
  fc/132d3af0d32281e402b8280fa041d904bd601a
Due: none

fix: remove logger which blocks error handler
  src/stores/databaseV2/clients/dexie.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: update to react 18.2.0 and related libraries
  package.json
  packages/components/package.json
  packages/cypress/src/integration/research/write.spec.ts
  packages/documentation/package.json
  src/index.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/stores/Research/research.store.test.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

test: introduce await on `act`
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Research/research.routes.test.tsx
  src/pages/UserSettings/UserSettings.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: skip failing test
  src/pages/Research/Content/Common/ResearchUpdate.form.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  f6/3e547f3079db31cd70c840feca3721a1598ad4
Due: none

fix: remove react-icons/all-files
  packages/components/package.json
  packages/components/src/Icon/Icon.tsx
  yarn.lock
Due: none

fix(deps): upgrade firebase-tools to 12.7.0
  functions/package.json
  packages/security-rules/package.json
  yarn.lock
Due: none

chore(deps): upgrade yarn to latest version 3.6.4
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarnrc.yml
  package.json
Due: none

chore(ci): switch to commit lint image
  .circleci/config.yml
  commitlint.config.js
Due: tslint

chore(ci): persist yarn cache to workspace
  .circleci/config.yml
Due: none

fix: only show member contributiosn for beta users
  src/pages/User/content/MemberProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  9d/dd8efc65a8afdf1cda62dc4962b911ce22ae64
Due: none

chore: switch to pnpm
  .circleci/config.yml
  .eslintrc.json
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarnrc.yml
  functions/package.json
  package.json
  packages/components/.eslintrc.json
  packages/components/package.json
  packages/components/src/tests/setup.ts
  packages/cypress/scripts/start.ts
  packages/documentation/README.md
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  packages/emulators-docker/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/index.html
  scripts/envCheck.js
  src/common/AlertIncompleteProfile.tsx
  src/config/config.ts
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/index.tsx
  src/pages/common/DevSiteHeader/DevSiteHeader.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json, tslint
