Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

feat: notifications- notification triggering fixes and PR comments adjustments
  src/components/Notifications/NotificationItem.tsx
  src/models/user.models.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: notifications - added cypress tests
  packages/cypress/src/fixtures/seed/howtos.json
  packages/cypress/src/fixtures/seed/users.json
  packages/cypress/src/integration/notifications.spec.ts
  src/components/Notifications/NotificationItem.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsDesktop.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsMobile.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsModal.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: notifications -> nits
  src/components/Notifications/NotificationItem.tsx
  src/components/Notifications/NotificationList.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: notifications, style fixes
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsModal.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: adds global site footer
  src/App.tsx
  src/assets/icons/icon-github.svg
  src/components/DiscordLink/DiscordLink.stories.mdx
  src/components/DiscordLink/DiscordLink.tsx
  src/components/Icons/index.tsx
  src/components/Icons/svgs.tsx
  src/components/SiteFooter/SiteFooter.stories.mdx
  src/components/SiteFooter/SiteFooter.tsx
  src/pages/Maps/Maps.tsx
  src/pages/PageList.tsx
  src/pages/common/GlobalSiteFooter/GlobalSiteFooter.tsx
  src/pages/common/SiteFooter/SiteFooter.tsx
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: link through to platform.onearmy.earth
  src/assets/icons/icon-github.svg
  src/components/Icons/svgs.tsx
  src/components/SiteFooter/SiteFooter.tsx
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: make howto comments available to all logged in users
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: remove beta tester text
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: introduce codeQL scan workflow
  .github/workflows/codeql-analysis.yml
Due: none

test: cover happy flow for comments
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/utils/test-utils.ts
  src/components/Comment/CommentTextArea.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: removes unused import
  packages/cypress/src/integration/sign-in.spec.ts
Due: none

fix: do not show mappin in user profile
  src/pages/Settings/SettingsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: track interaction with comment events
  src/components/Comment/Comment.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: consistent vertical padding for section heading
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Research/Content/ResearchList.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: remove location search from events listing
  src/pages/Events/Content/EventsList/EventsList.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: merge merge merge
  yarn.lock
Due: none

Change website url in Footer
  src/components/SiteFooter/SiteFooter.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: fix reference to setTimeout
  package.json
  src/components/Notification/TextNotification.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: switch map to use OSM powered search
  src/pages/Maps/Content/Controls/index.tsx
  src/pages/Maps/Maps.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: remove unused component
  package.json
  src/components/Form/FlagSelect.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

chore: update docs
  packages/documentation/docs/Getting Started/setup.md
Due: none

Increase character length research topic
  src/pages/Research/Content/Common/Research.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: relax assertations
  packages/cypress/src/integration/howto/read.spec.ts
Due: none

feat: upgrade project to node16
  .circleci/config.yml
  .github/workflows/pr-preview.yml
  .github/workflows/reset-staging-site.yml
  .gitpod.yml
  .node-version
  functions/package.json
  package.json
  yarn.lock
Due: none

chore: remove empty function lint rule
  .eslintrc.json
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/stores/common/__mocks__/module.store.ts
Due: tslint --project tsconfig.json --config tslint.json

test: increase timeout due to slow ci resource
  src/pages/Research/research.routes.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): upgrade node-sass to 6.x
  package.json
  yarn.lock
Due: none

feat: use OSM instead of Algolia in Workspace pins
  src/pages/Settings/content/formSections/MemberMapPin.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: switch to OSM within Events
  src/components/EventCard/EventCard.tsx
  src/components/Form/LocationSearch.field.tsx
  src/components/OsmGeocoding/OsmGeocoding.tsx
  src/stores/User/user.store.ts
  src/utils/getLocationData.ts
Due: tslint --project tsconfig.json --config tslint.json

wip
  package.json
  src/components/OsmGeocoding/OsmGeocoding.tsx
  src/components/OsmGeocoding/OsmGeocodingLoader.tsx
  src/components/OsmGeocoding/OsmGeocodingResultsList.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

test: update to use OSM component
  packages/cypress/src/integration/events.spec.ts
Due: none

feat: remove Algolia Places
  package.json
  src/components/Form/LocationSearch.field.tsx
  src/components/LocationSearch/LocationSearch.tsx
  src/config/config.ts
  src/config/types.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

ci: introduce linting step
  .circleci/config.yml
  commitlint.config.js
Due: tslint

chore: move lintstaged config out to dedicated configuration file
  .lintstagedrc.js
  package.json
Due: tslint

docs: add commit style guide
  CONTRIBUTING.md
Due: none

chore: remove out dated husky configuration
  package.json
Due: none

chore: update husky to latest 7.x
  package.json
  yarn.lock
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
