Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

fix: redirect authenticated users from sign-up page to home
  packages/cypress/src/integration/bugs.spec.ts
  packages/cypress/src/integration/sign-in.spec.ts
  packages/cypress/src/integration/sign-up.spec.ts
  src/pages/SignUp/SignUp.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: keep filters in sync with url after back/forward navigation on hot-to page
  packages/cypress/src/integration/howto/search.spec.ts
  src/pages/Howto/Category/CategoriesSelect.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: update Docs for Bounty
  packages/documentation/docs/Contributing/bounties.md
  packages/documentation/docs/Contributing/images/bounty1.png
  packages/documentation/docs/Contributing/images/bounty2.png
  packages/documentation/docs/Contributing/images/bounty3.png
  packages/documentation/docs/Contributing/images/open_collective_01.jpg
  packages/documentation/docs/Contributing/images/open_collective_02.jpg
Due: none

docs: improve Maintainer documentation
  packages/documentation/docs/Contributing/bounties.md
  packages/documentation/docs/Contributing/maintainer.md
  packages/documentation/docs/Contributing/start-contributing.md
  packages/documentation/sidebars.js
Due: tslint

chore: whitespace tidying
  packages/documentation/docs/Contributing/start-contributing.md
Due: none

chore: fix typo
  packages/documentation/docs/Contributing/start-contributing.md
Due: none

chore: whitespace update
  packages/documentation/sidebars.js
Due: tslint

chore: fix export collection ids
  functions/src/Firebase/firestoreDBExport.ts
Due: none

fix: show how-to list items after visit a how-to and going back
  packages/cypress/src/integration/howto/search.spec.ts
  src/pages/Howto/VirtualizedFlex/VirtualizedFlex.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: update docker emulator data
  .github/workflows/docker-emulator-build.yml
  packages/emulators-docker/.gitignore
  packages/emulators-docker/Dockerfile
  packages/emulators-docker/seed_data/pp-2022-06-28.tar.gz
  packages/emulators-docker/seed_data/pp-2022-10-30.tar.gz
  packages/emulators-docker/src/common.ts
  packages/emulators-docker/src/start.ts
Due: none

chore: update docker action
  .github/workflows/docker-emulator-build.yml
  packages/emulators-docker/Dockerfile
Due: none

chore: ci test
  .github/workflows/docker-emulator-build.yml
Due: none

fix: functions build
  packages/emulators-docker/src/prepare.ts
Due: none

chore: revert actions bypass
  .github/workflows/docker-emulator-build.yml
Due: none

fix: import resolution and jest http status mock
  functions/jest.config.ts
  functions/src/seo/render/render.spec.ts
Due: none

fix: pin firebase-tools version in docker build to functions
  packages/emulators-docker/Dockerfile
  packages/emulators-docker/src/build.ts
  packages/emulators-docker/src/prepare.ts
Due: none

chore: update backend deps
  functions/package.json
  yarn.lock
Due: none

refactor: firebase imports
  functions/src/Firebase/admin.ts
  functions/src/Firebase/auth.ts
  functions/src/Firebase/firebaseSync.ts
  functions/src/Firebase/firestoreDB.ts
  functions/src/Firebase/realtimeDB.ts
  functions/src/Firebase/storage.ts
  functions/src/admin/getUserEmail.ts
  functions/src/aggregations/common.aggregations.ts
  functions/src/emulator/seed/data-clean.ts
  functions/src/emulator/seed/users-create.ts
Due: none

fix: realtimedb emulator
  functions/scripts/set-up-environment-variables.ts
  functions/src/Firebase/realtimeDB.spec.ts
  functions/src/userUpdates/index.test.ts
  packages/emulators-docker/Dockerfile
  packages/emulators-docker/src/common.ts
Due: none

chore: force ci build
  .github/workflows/docker-emulator-build.yml
Due: none

chore: update yarn lock
  yarn.lock
Due: none

chore: revert action force build
  .github/workflows/docker-emulator-build.yml
Due: none

chore: update import
  src/modules/admin/pages/adminUsers.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: css tweaks
  src/modules/admin/components/Table/Table.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 68af194b4ec4194472ec11dca5996bb08ad29169
  storybook-static/iframe.html
  storybook-static/main.30eb5efa.iframe.bundle.js
  storybook-static/main.775ec7bb.iframe.bundle.js
  storybook-static/vendors~main.44ccc4fb.iframe.bundle.js.map
  storybook-static/vendors~main.c9185c21.iframe.bundle.js
  storybook-static/vendors~main.c9185c21.iframe.bundle.js.LICENSE.txt
  storybook-static/vendors~main.c9185c21.iframe.bundle.js.map
Due: tslint

Notes added by 'git notes add'
  27a32801bd173f3971273a12f508ed636551b3be
Due: none

fix: pin firebase-functions to older version
  .github/workflows/docker-emulator-build.yml
  functions/package.json
  yarn.lock
Due: none

Notes added by 'git notes add'
  afb5a5854a406dbc60cc0b36ade6f33e59f6a59e
Due: none

feat: paginated how-to list
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/Howto.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: removed comments
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: update virtualized flex on mount
  src/pages/Howto/VirtualizedFlex/VirtualizedFlex.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: routing issues
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/Howto.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: member icons on settings and profile
  src/pages/User/content/MemberProfile.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: research update, do not show identical created/edited timestamps
  src/pages/Research/Content/ResearchUpdate.test.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): remove unused react-linkify
  package.json
  yarn.lock
Due: none

chore(deps): remove unused use-debounce
  package.json
  yarn.lock
Due: none

fix: how-to virtualized grid
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/VirtualizedFlex/VirtualizedFlex.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: add notifications of mentions
  src/models/howto.models.tsx
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/mentions/index.test.ts
  src/stores/common/mentions/index.ts
Due: tslint --project tsconfig.json --config tslint.json
