Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

fix functions build issue
  firebase.json
  functions/yarn.lock
  shared/package.json
  tsconfig.json
Due: none

add shared workspace
  functions/src/models.ts
  functions/src/stats/index.ts
  shared/index.ts
Due: none

remove tsconfig paths (react scripts)
  tsconfig.json
Due: none

add scripts workspace
  package.json
  scripts/package.json
  yarn.lock
Due: none

refactor db endpoints to generator
  cypress/support/db/endpoints.ts
  functions/src/models.ts
  scripts/maintenance/reset-staging-site.ts
  shared/index.ts
  src/stores/databaseV2/endpoints.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json

test fixes
  cypress/support/db/firebase.ts
Due: tslint --project cypress/tsconfig.json --config tslint.json

add custom cypress logging
  cypress/plugins/index.js
  cypress/support/commands.ts
  cypress/support/db/firebase.ts
  cypress/support/hooks.ts
Due: tslint --project cypress/tsconfig.json --config tslint.json, tslint

alter svg imports
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/User/content/UserPage/UserPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

add shared messages
  shared/README.md
  shared/db.ts
  shared/index.ts
  shared/messages.ts
  src/components/Notification/TextNotification.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/SignUp.tsx
  src/utils/helpers.ts
  src/utils/messages.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

add shared messages to cypress
  cypress/integration/sign-up.spec.ts
  cypress/package.json
  package.json
Due: tslint --project cypress/tsconfig.json --config tslint.json

hotfix type issue
  shared/messages.ts
Due: none

update deps
  package.json
  yarn.lock
Due: none

remove old icon components
  src/assets/icons/icon_components.tsx
Due: tslint --project tsconfig.json --config tslint.json

lint fixes
  src/components/Animations/FadeInOut.tsx
  src/components/FirebaseFileUploader/FirebaseFileUploader.tsx
  src/components/Form/FileInput.field.tsx
  src/components/Form/FirebaseFileUploader.field.tsx
  src/components/Form/FlagSelect.tsx
  src/components/Form/LocationSearch.field.tsx
  src/components/Form/Select.field.tsx
  src/components/Form/TagsSelect.field.tsx
  src/components/ImageGallery/index.tsx
  src/components/Notification/TextNotification.tsx
  src/components/ProfileModal/ProfileModal.tsx
  src/components/VirtualizedFlex/VirtualizedFlex.tsx
  src/components/_Template/Template.tsx
  src/mocks/maps.mock.tsx
  src/mocks/user.mock.tsx
  src/models/user.models.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Events/Content/EventsMenu/EventsMenu.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
  src/pages/Howto/Content/Howto/HowtoSummary/HowtoSummary.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Maps/Content/View/Sprites.tsx
  src/pages/Maps/Content/View/index.tsx
  src/pages/User/content/UserPage/UserPage.tsx
  src/pages/_Template/Content/ExampleNumberDisplay/ExampleNumberDisplay.tsx
  src/pages/common/Header/Menu/MenuDesktop.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobileLink.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
  src/pages/common/Layout/Main.tsx
  src/pages/common/UploadedFile/UploadedFile.tsx
  src/pages/index.tsx
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

remove old component
  src/pages/Events/Content/EventsMenu/elements.tsx
Due: tslint --project tsconfig.json --config tslint.json

tidying
  src/components/Form/FirebaseFileUploader.field.tsx
  src/components/ImageInput/ImageConverter.tsx
Due: tslint --project tsconfig.json --config tslint.json

upgrade and refactor storybook
  .storybook/addons.js
  .storybook/config.js
  .storybook/presets.js
  .storybook/webpack.config.js
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/manager.js
  packages/storybook/.storybook/preview.js
  packages/storybook/README.md
  packages/storybook/knobs.ts
  packages/storybook/package.json
  packages/storybook/stories/Button.js
  packages/storybook/stories/Button.stories.js
  packages/storybook/stories/Header.js
  packages/storybook/stories/Header.stories.js
  packages/storybook/stories/Introduction.stories.mdx
  packages/storybook/stories/Page.js
  packages/storybook/stories/Page.stories.js
  packages/storybook/stories/assets/code-brackets.svg
  packages/storybook/stories/assets/colors.svg
  packages/storybook/stories/assets/comments.svg
  packages/storybook/stories/assets/direction.svg
  packages/storybook/stories/assets/flow.svg
  packages/storybook/stories/assets/plugin.svg
  packages/storybook/stories/assets/repo.svg
  packages/storybook/stories/assets/stackalt.svg
  packages/storybook/stories/button.css
  packages/storybook/stories/header.css
  packages/storybook/stories/page.css
Due: tslint

fix webpack conflict issue
  documentation/package.json
  package.json
Due: none

refactor tests
  .gitignore
  cypress/.gitignore
  cypress/package.json
  tsconfig.json
  yarn.lock
Due: none

refactor documentation to workspace
  documentation/yarn.lock
  package.json
  packages/documentation/.gitignore
  packages/documentation/README.md
  packages/documentation/babel.config.js
  packages/documentation/data-migration.md
  packages/documentation/docs/Examples/mdx.md
  packages/documentation/docs/Server Maintenance/data-migration.md
  packages/documentation/docs/Server Maintenance/images/firestore-backup-1.png
  packages/documentation/docs/Server Maintenance/images/firestore-backup-2.png
  packages/documentation/docs/Server Maintenance/manual-backups.md
  packages/documentation/docs/doc1.md
  packages/documentation/docusaurus.config.js
  packages/documentation/firestore-backup.md
  packages/documentation/images/firestore-backup-1.png
  packages/documentation/images/firestore-backup-2.png
  packages/documentation/package.json
  packages/documentation/sidebars.js
  packages/documentation/src/css/custom.css
  packages/documentation/src/pages/example.index.js
  packages/documentation/src/pages/styles.module.css
  packages/documentation/static/.nojekyll
  packages/documentation/static/img/favicon.ico
  packages/documentation/static/img/logo.svg
  packages/documentation/yarn.lock
  yarn.lock
Due: tslint

remove storybook examples
  packages/storybook/stories/Button.js
  packages/storybook/stories/Button.stories.js
  packages/storybook/stories/Header.js
  packages/storybook/stories/Header.stories.js
  packages/storybook/stories/Introduction.stories.mdx
  packages/storybook/stories/Page.js
  packages/storybook/stories/Page.stories.js
  packages/storybook/stories/assets/code-brackets.svg
  packages/storybook/stories/assets/colors.svg
  packages/storybook/stories/assets/comments.svg
  packages/storybook/stories/assets/direction.svg
  packages/storybook/stories/assets/flow.svg
  packages/storybook/stories/assets/plugin.svg
  packages/storybook/stories/assets/repo.svg
  packages/storybook/stories/assets/stackalt.svg
  packages/storybook/stories/button.css
  packages/storybook/stories/header.css
  packages/storybook/stories/page.css
Due: tslint

configure storybook to work with nested cra
  packages/storybook/.storybook/main.js
  packages/storybook/package.json
  yarn.lock
Due: tslint

script tidying
  package.json
  packages/storybook/.gitignore
  packages/storybook/package.json
Due: none

update firebase version
  package.json
Due: none

cypress db teardown fix
  cypress/package.json
  cypress/support/db/firebase.ts
  yarn.lock
Due: tslint --project cypress/tsconfig.json --config tslint.json

update firebase scripts
  firebase.json
Due: none

db seed updates
  cypress/fixtures/seed/index.ts
  cypress/support/db/firebase.ts
  cypress/support/hooks.ts
Due: tslint --project cypress/tsconfig.json --config tslint.json

update seeddb
  cypress/support/hooks.ts
Due: tslint --project cypress/tsconfig.json --config tslint.json

hotfix firebase functions
  firebase.json
Due: none

remove functions linting
  firebase.json
Due: none

cypress timeout fix
  cypress/support/hooks.ts
Due: tslint --project cypress/tsconfig.json --config tslint.json

create src types tsconfig
  tsconfig.src-types.json
Due: none

unhoist functions
  firebase.json
  functions/package.json
Due: none

update function build refs
  functions/tsconfig.json
Due: none

add shared tsconfig
  shared/.gitignore
  shared/README.md
  shared/package.json
  shared/tsconfig.json
Due: none

add webpack build to for functions
  .gitignore
  firebase.json
  functions/.gitignore
  functions/package.json
  functions/tsconfig.json
  functions/tslint.json
  functions/webpack.config.ts
Due: none

fix imports
  functions/src/Firebase/databaseBackup.ts
  functions/src/Integrations/firebase-discord.ts
  functions/src/Utils/image.utils.ts
  functions/src/exports/api.ts
  functions/src/models.ts
Due: none

update styled components
  package.json
  shared/tsconfig.json
  src/components/Flex/index.tsx
  src/components/Icons/index.tsx
  src/components/ImageInput/ImageInput.tsx
  src/components/Text/index.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
  tsconfig.json
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

replace pose with framer-motion in FadeInOut
  package.json
  src/components/Animations/FadeInOut.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

add auth wrapper for beta-testers
  src/pages/Howto/Content/Howto/Howto.tsx
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
