Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

chore(ci): adds semantic release deps
  .releaserc.json
  package.json
  yarn.lock
Due: none

chore: adds community-platform
  package.json
Due: none

chore(ci): attach workspace
  .circleci/config.yml
Due: none

chore: automate GitHub releases
  .circleci/config.yml
  .releaserc.json
Due: none

test: introduce tests
  .circleci/config.yml
  CONTRIBUTING.md
  functions/.gitignore
  functions/index.js
  functions/jest.config.ts
  functions/package.json
  functions/scripts/set-up-environment-variables.ts
  functions/src/userUpdates/index.test.ts
  package.json
  src/utils/firebase.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json, tslint

ci: downgrade jest to align with wider project
  functions/package.json
  yarn.lock
Due: none

feat: introduce tests
  functions/index.js
  package.json
  yarn.lock
Due: tslint

chore: drop commit docs from this branch
  CONTRIBUTING.md
Due: none

ci: reduce size of resouce class
  .circleci/config.yml
Due: none

chore: align ts-jest with jest version
  functions/package.json
  yarn.lock
Due: none

docs: clarify wording for job
  .circleci/config.yml
Due: none

chore(ci): reduce resources for linting step
  .circleci/config.yml
Due: none

docs: adds an overview for setting up a new instance
  packages/documentation/docs/Install.md
Due: none

deploy: e2557de9cf9a1cc8f1be78b56d0d3cb8369e607a
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/files/index-a2276763bda2586c2e44fe3e5a6a2532.ts
  assets/js/7f4ab99b.acae02a0.js
  assets/js/a6ea0780.1fd1aef2.js
  assets/js/a6ea0780.c4a75fb3.js
  assets/js/main.5adc4c8d.js
  assets/js/main.f7ad574a.js
  assets/js/main.f7ad574a.js.LICENSE.txt
  assets/js/runtime~main.8715d5d2.js
  assets/js/runtime~main.d4428f6b.js
  blog/archive/index.html
  example.index/index.html
  index.html
  sitemap.xml
  tags/index.html
Due: tslint

feat: combine desktop workshop filters to match mobile filters
  package.json
  src/pages/Maps/Content/Controls/GroupingFilter.css
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
  src/pages/Maps/Content/Controls/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): flip switch to publish GitHub releases
  .releaserc.json
Due: none

Notes added by 'git notes add'
  0aced1b7e4da2e07d52ff42168976698580a1520
Due: none

chore(deps): cleans up .lock file
  yarn.lock
Due: none

chore(ci): remove release drafter
  .github/release-drafter.yml
Due: none

chore: apply formatting to commitlint config
  commitlint.format.ts
Due: none

chore: output original commit msg with error
  commitlint.format.ts
Due: none

chore(ci): reduce overhead for release job
  .circleci/config.yml
Due: none

Notes added by 'git notes add'
  34b7e0da04de33d19040ee8c347b8ab16d338496
Due: none

feat: change email functionality
  src/pages/Settings/content/formSections/AccountSettings.section.tsx
  src/pages/Settings/content/formSections/ChangeEmail.form.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): upgrade typescript to latest
  package.json
  tsconfig.json
  yarn.lock
Due: none

docs: update pr template to link through to commit
  .github/pull_request_template.md
Due: none

Add Useful Button to Research Module
  functions/src/models.ts
  functions/src/stats/index.ts
  src/models/index.ts
  src/models/research.models.tsx
  src/models/user.models.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/ResearchUsefulStats.tsx
  src/stores/Research/research.store.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  ad3a059091ec7e68d94ac41f08f725b6d05d3714
Due: none

Added funding button to Github
  FUNDING.yml
Due: none

chore(ci): adds job to build functions
  .circleci/config.yml
Due: none

chore(deps): resolve typescript project configuration
  functions/package.json
  tsconfig.src-types.json
  yarn.lock
Due: none

chore(ci): revert to a simple check
  .circleci/config.yml
Due: none

chore(ci): correct dependencies of build pipeline
  .circleci/config.yml
Due: none

docs: tidy integrated module structures
  packages/documentation/docs/Frontend Development/modules.md
Due: none

docs: tidy text
  packages/documentation/docs/Frontend Development/modules.md
Due: none

chore: text tidying
  packages/documentation/docs/Frontend Development/modules.md
Due: none

style: update grouping filter desktop overlow
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: increases max length for a Research introduction
  src/pages/Research/Content/Common/Research.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
