Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

fix map pin detail retrieve and tidy init
  src/pages/Maps/Content/View/index.tsx
  src/pages/Maps/Maps.tsx
  src/stores/Maps/maps.store.ts
Due: tslint --project tsconfig.json --config tslint.json

add link to login from comments
  src/components/Comment/CommentTextArea.tsx
Due: tslint --project tsconfig.json --config tslint.json

update styles
  src/components/Comment/CommentTextArea.tsx
  src/pages/admin/Admin.tsx
Due: tslint --project tsconfig.json --config tslint.json

update styles
  src/components/Comment/CommentTextArea.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor capitalize input function
  src/components/Form/Fields.tsx
Due: tslint --project tsconfig.json --config tslint.json

update auto capitalization for forms
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

add manual capitalization methods
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
Due: tslint --project tsconfig.json --config tslint.json

More render capitlizations
  src/components/EventCard/EventCard.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

add ids and dev overrides to authwrapper
  src/components/Auth/AuthWrapper.tsx
Due: tslint --project tsconfig.json --config tslint.json

update howto auth wrappers
  src/components/Comment/Comment.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
Due: tslint --project tsconfig.json --config tslint.json

add dev site role override and localstorage binds
  src/components/Auth/AuthWrapper.tsx
  src/components/DevSiteHeader/DevSiteHeader.tsx
  src/config/config.ts
  src/pages/admin/content/AdminBetaTesters.tsx
Due: tslint --project tsconfig.json --config tslint.json

config fix
  src/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json

bump version
  package.json
Due: none

bump version (1.6.0)
  package.json
Due: none

add package.json to list of preview triggers
  .github/workflows/pr-preview.yml
Due: none

add emulator configs and site variant
  firebase.json
  src/components/Auth/AuthWrapper.tsx
  src/config/config.ts
  src/utils/firebase.ts
Due: tslint --project tsconfig.json --config tslint.json

update start scripts
  package.json
  yarn.lock
Due: none

add storage rules
  firebase.storage.rules
Due: none

update function scripts
  functions/package.json
  yarn.lock
Due: none

add improved functions start script
  functions/package.json
  functions/scripts/start.ts
Due: none

script tidying
  scripts/maintenance/reset-staging-site.ts
  scripts/tsconfig.json
  yarn.lock
Due: none

update readme
  README.md
Due: none

add useful count to howto card
  functions/src/stats/index.ts
  src/models/howto.models.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

update setallhowtostats position
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

add verified user fetching
  src/components/Comment/Comment.tsx
  src/mocks/user.mock.tsx
  src/mocks/user_pp.mock.tsx
  src/models/user.models.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/stores/Maps/maps.store.ts
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

add verified for howtos & events
  src/components/EventCard/EventCard.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

add verified badges for comments, howtos, researches
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentHeader.tsx
  src/components/Research/ResearchListItem.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/ResearchList.tsx
Due: tslint --project tsconfig.json --config tslint.json

add data seed function
  functions/src/dev/seed/index.ts
Due: none

add dev api
  functions/src/dev/index.ts
Due: none

fix array to chunk code
  functions/src/Utils/data.utils.ts
  functions/src/stats/migration.ts
Due: none

update stats functions
  functions/src/stats/index.ts
Due: none

emulator serve scripts and docs
  functions/.gitignore
  functions/README.md
  functions/package.json
  functions/scripts/start.ts
  functions/src/Firebase/admin.ts
  functions/src/config/config.ts
  functions/src/index.ts
  yarn.lock
Due: none

update firebase-emulators docs
  packages/documentation/docs/Backend Development/firebase-emulators.md
  packages/documentation/images/firebase-emulator-rest-client.png
  packages/documentation/images/firebase-emulators-dashboard.png
Due: none

add seed data clean function
  functions/src/dev/index.ts
  functions/src/dev/seed/clean-seed-data.ts
Due: none

update discord and slack integration triggers
  functions/src/Integrations/firebase-discord.ts
  functions/src/Integrations/firebase-slack.ts
Due: none

update docs
  cypress/support/db/firebase.ts
  packages/documentation/docs/Backend Development/firebase-emulators.md
  packages/documentation/docs/Backend Development/images/firebase-emulator-rest-client.png
  packages/documentation/docs/Backend Development/images/firebase-emulator-seeded.png
  packages/documentation/docs/Backend Development/images/firebase-emulators-dashboard.png
Due: tslint --project cypress/tsconfig.json --config tslint.json

Correct commands in contribution guide
  CONTRIBUTING.md
Due: none
