Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

chore: moved ImageWithPointer inside the component
  packages/components/src/ImageGallery/ImageGallery.tsx
Due: none

fix(functions): updating user info in howto comments
  functions/src/userUpdates/index.ts
Due: none

fix(functions): fix update comment counting
  functions/src/userUpdates/index.ts
Due: none

fix: add visibility to SelectField child items when exceeding parent
  src/pages/Settings/content/formSections/elements.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): move semantic release to production branch
  .circleci/config.yml
Due: none

fix: change button on sign up message page
  src/pages/SignUp/SignUpMessage.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): permit trigger semantic release on production
  .releaserc.json
Due: none

Notes added by 'git notes add'
  df139cb33c713962ca78422e6e8e7324ef453727
Due: none

chore(ci): introduce release notes preview
  .github/workflows/release-notes.yml
Due: none

chore(ci): update release branch
  .github/workflows/release-notes.yml
Due: none

fix: fix alignment of reset email sent message
  src/pages/SignIn/SignIn.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: fix alignment of sign-up checkbox
  src/pages/SignUp/SignUp.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: remove map zoom control on mobile/tablet
  src/pages/Maps/Content/View/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: removed brackets
  src/pages/Settings/content/ProfileDelete.tsx
Due: tslint --project tsconfig.json --config tslint.json

perf(platform): added error page in src folder
  src/assets/images/404error.png
  src/error-page.css
  src/error-page.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: contacts & links layout
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  e9bc43a2848e3b471d05226cb060c090dbffd6b9
Due: none

feat(functions): updating user info in research post & comments
  functions/src/models.ts
  functions/src/userUpdates/index.ts
Due: none

fix: settings height for mobile devices
  src/pages/Settings/SettingsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: activity grid within settings
  src/pages/Settings/content/formSections/Fields/CustomRadio.field.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

deploy: 64a21c5dcb02c95e1ebbb2b7c409dc81681997c6
  storybook-static/iframe.html
  storybook-static/main.d241a2f4.iframe.bundle.js
  storybook-static/main.ebbd3e00.iframe.bundle.js
Due: tslint

fix: linkify styling for research articles
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: linkify styling for how-to articles
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: added a styled linkify component
  src/components/StyledLinkify/StyledLinkify.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: adds link to PR template through to Discord channel
  .github/pull_request_template.md
Due: none

Notes added by 'git notes add'
  0440bbfa7a0d027de4bad3341c3130e36502880a
Due: none

chore: add link through to maintainers github team
  CONTRIBUTING.md
Due: none

chore: add onearmy as permitted term
  .cspell.json
Due: none

Notes added by 'git notes add'
  6a8936b68832d6da784e8bd44db0e87e18e9c6b4
Due: none

feat: comment mentions
  package.json
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/TextWithMetnions/TextWithMentions.tsx
  packages/cypress/src/fixtures/seed/research.json
  packages/cypress/src/integration/notifications.spec.ts
  src/components/CommentList/CommentList.tsx
  src/components/Notifications/NotificationItem.tsx
  src/models/user.models.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/module.store.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix(profilemodal): fix user menu items active state #1898
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/pages/common/Header/Menu/ProfileModal/ProfileModal.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix(profilemodal): fix user menu items active state #1898"
  src/pages/common/Header/Menu/ProfileModal/ProfileModal.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix(profilemodal): fix user menu items active state
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/pages/common/Header/Menu/ProfileModal/ProfileModal.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: update firebase-functions and firebase-tools
  functions/package.json
  yarn.lock
Due: none

fix: add check for existing locally built docker image, use instead of pulling by default
  packages/emulators-docker/src/start.ts
Due: none

fix: edit comments
  packages/components/src/CommentItem/CommentItem.tsx
Due: none

fix: user menu items
  src/pages/common/Header/Menu/ProfileModal/ProfileModal.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: fix the alignment of the character count for comments
  packages/components/src/CreateComment/CreateComment.tsx
Due: none

deploy: 87ea782d95dc456e0a609968b911af060e666aa8
  storybook-static/iframe.html
  storybook-static/main.be3d4afd.iframe.bundle.js
  storybook-static/main.d241a2f4.iframe.bundle.js
Due: tslint

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
