Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

update functions folder and script
  functions/src/index.ts
  functions/src/stats/index.ts
  functions/src/stats/migration.ts
Due: none

add db doc streaming
  src/stores/databaseV2/clients/firestore.tsx
  src/stores/databaseV2/index.tsx
  src/stores/databaseV2/types/index.d.ts
Due: tslint --project tsconfig.json --config tslint.json

add howto stats subscription and bindings
  package.json
  src/mocks/howto.mock.tsx
  src/models/howto.models.tsx
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/stores/Howto/howto.store.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

code tidying
  src/stores/Tags/tags.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

Add useful button tooltip
  package.json
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix pr-preview action to allow builds from fork
  .github/workflows/pr-preview.yml
Due: none

Review #1097 useful tooltip
  src/components/Tooltip/index.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

Remove unnecessary warnings
  src/common/errors.ts
  src/index.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
Due: tslint --project tsconfig.json --config tslint.json

Add how-to client-side searching
  package.json
  src/components/SearchInput/index.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/stores/Howto/howto.store.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

test: Update howto-select tag with search field
  cypress/integration/howto/read.spec.ts
Due: tslint --project cypress/tsconfig.json --config tslint.json

update actions for external prs
  .github/labels.yml
  .github/workflows/pr-preview.yml
Due: none

Update how-to search weights
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

Add query params updating on search howtos
  src/components/SearchInput/index.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

Update howto loader display condition
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Due: tslint --project tsconfig.json --config tslint.json

Add local useful state to improve UX
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

Add .circleci/config.yml
  .circleci/config.yml
Due: none

ci
  .circleci/config.yml
Due: none

ci
  .circleci/config.yml
  .travis.yml
  scripts/test.e2e.js
Due: tslint

ci
  .circleci/config.yml
  scripts/test.e2e.js
Due: tslint

ci
  .circleci/config.yml
  cypress/support/db/endpoints.ts
  scripts/test.e2e.js
Due: tslint --project cypress/tsconfig.json --config tslint.json, tslint

ci
  scripts/test.e2e.js
Due: tslint

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
