Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

fix: add max height and scroll behaviour
  packages/components/src/NotificationList/NotificationList.stories.tsx
  packages/components/src/NotificationList/NotificationList.tsx
Due: none

deploy: 55c01b42528d76cf289efeed1858a8e58b079df1
  storybook-static/iframe.html
  storybook-static/main.6dd887b6.iframe.bundle.js
  storybook-static/main.c9297564.iframe.bundle.js
  storybook-static/static/media/icon-useful.97b0d163.svg
  storybook-static/vendors~main.7bdb08e6.iframe.bundle.js
  storybook-static/vendors~main.7bdb08e6.iframe.bundle.js.map
  storybook-static/vendors~main.90bcd4e8.iframe.bundle.js
  storybook-static/vendors~main.90bcd4e8.iframe.bundle.js.LICENSE.txt
  storybook-static/vendors~main.90bcd4e8.iframe.bundle.js.map
Due: tslint

feat: switch to Inter typeface for comment body
  packages/components/src/CommentItem/CommentItem.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
  src/themes/types.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: avoid calling window from non-browser env
  shared/models/db.ts
Due: none

chore: change window check for sessionstorage
  shared/models/db.ts
Due: none

chore: add slack notifications for dev deployments
  .circleci/config.yml
Due: none

feat: activity notifications available to all users
  src/pages/common/Header/Header.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: split is logged in from is User module available
  src/pages/common/Header/Header.tsx
Due: tslint --project tsconfig.json --config tslint.json

docs: change from core team to contributors heading
  README.md
Due: none

docs: adds detail around support module configuration
  packages/documentation/docs/Install.md
Due: none

feat: adds function to send bot requests content via prerender.io
  firebase.json
  functions/package.json
  functions/src/config/config.ts
  functions/src/index.ts
  functions/src/seo-render/index.ts
  yarn.lock
Due: none

chore: refactor to address PR feedback
  functions/src/seo-render/index.spec.ts
  functions/src/seo-render/index.ts
  functions/src/seo-render/request-handler.ts
Due: none

fix: added IComment type check back to CommentList
  packages/components/src/CommentList/CommentList.tsx
Due: none

chore: implemented CommentItemProps
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/CommentList/CommentList.tsx
  src/models/howto.models.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: fixed CommentList and CommentItem imports
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/CommentList/CommentList.tsx
Due: none

chore: added missing files to packages
  packages/components/src/CommentList/CommentList.stories.tsx
  packages/components/src/CommentList/CommentList.tsx
  packages/components/src/index.ts
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: added is editable property to comments in commentList
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/CommentList/CommentList.stories.tsx
  packages/components/src/CommentList/CommentList.tsx
Due: none

fix: download counter not reset to 0 on edit
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: removed seed file
  packages/cypress/src/integration/howto/write.spec.ts
  shared/mocks/data/howtos.ts
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: added admin users table and user details page
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/types.ts
  src/assets/images/badges/pt_collection_point.png
  src/assets/images/badges/pt_community_point.png
  src/mocks/Selectors.tsx
  src/modules/admin/admin.routes.tsx
  src/modules/admin/components/Header.tsx
  src/modules/admin/components/Table/HeadFilter.tsx
  src/modules/admin/components/Table/Table.tsx
  src/modules/admin/components/Table/TableHead.tsx
  src/modules/admin/components/admin-subheader.tsx
  src/modules/admin/components/userDetails/CommunitySelector.tsx
  src/modules/admin/components/userDetails/InfoSection.tsx
  src/modules/admin/pages/admin-user-detail.tsx
  src/modules/admin/pages/admin-users.css
  src/modules/admin/pages/admin-users.tsx
  src/pages/PageList.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/stores/User/user.store.ts
  src/stores/databaseV2/CollectionReference.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: eslint warnings fixes
  src/modules/admin/components/Header.tsx
  src/modules/admin/components/Table/Table.tsx
  src/modules/admin/components/userDetails/CommunitySelector.tsx
  src/modules/admin/pages/admin-user-detail.tsx
  src/modules/admin/pages/admin-users.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: eslint issues fixes
  src/modules/admin/admin.routes.tsx
  src/modules/admin/components/Header.tsx
  src/modules/admin/components/Table/HeadFilter.tsx
  src/modules/admin/components/Table/TableHead.tsx
  src/modules/admin/components/admin-subheader.tsx
  src/modules/admin/components/userDetails/CommunitySelector.tsx
  src/modules/admin/components/userDetails/InfoSection.tsx
  src/modules/admin/pages/admin-users.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

deploy: 27031b948bb62ccdd037e7a4e4df6baa443913a4
  storybook-static/iframe.html
  storybook-static/main.990d4eb4.iframe.bundle.js
  storybook-static/main.c9297564.iframe.bundle.js
  storybook-static/vendors~main.22dd8d77.iframe.bundle.js
  storybook-static/vendors~main.22dd8d77.iframe.bundle.js.LICENSE.txt
  storybook-static/vendors~main.22dd8d77.iframe.bundle.js.map
  storybook-static/vendors~main.90bcd4e8.iframe.bundle.js
  storybook-static/vendors~main.90bcd4e8.iframe.bundle.js.map
Due: tslint

fix: do not show map filters if there are no items
  src/pages/Maps/Content/Controls/transformAvailableFiltersToGroups.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor: merge seo sitemap and render folders
  functions/scripts/set-up-environment-variables.ts
  functions/src/seo-render/index.ts
  functions/src/seo/index.ts
  functions/src/seo/render/render.spec.ts
  functions/src/seo/render/request-handler.ts
  functions/src/seo/sitemap/sitemap.test.ts
  functions/src/seo/sitemap/sitemapGenerate.ts
  functions/src/seo/sitemap/sitemapProxy.ts
Due: none

deploy: 7ae30f3aac450bbb0facd1ca3439790aafe894ff
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/maintainer/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/7f4ab99b.c552b8d1.js
  assets/js/7f4ab99b.cda3258b.js
  assets/js/runtime~main.6856f52c.js
  assets/js/runtime~main.bd92a980.js
  example.index/index.html
  index.html
Due: tslint

chore: replace functions cp method with webpack plugin
  functions/package.json
  functions/webpack.config.ts
  yarn.lock
Due: none

chore: code tidying
  functions/jest.config.ts
  functions/scripts/setupRuntimeConfig.ts
  functions/src/seo/index.ts
  functions/src/seo/sitemap/sitemapProxy.ts
Due: none

chore: code tidying
  functions/scripts/set-up-environment-variables.ts
  functions/scripts/setupRuntimeConfig.ts
Due: none

feat: add checkbox to EventsCreate, moved html to match design
  src/mocks/events.mock.tsx
  src/models/events.models.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Events/Content/EventsCreate/Template.tsx
  src/stores/Events/events.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: isDigital form input submits without error, digital icon showing in EventCard
  src/assets/icons/icon-laptop.png
  src/components/Form/Checkbox.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Events/EventCard/EventCard.tsx
  src/stores/Events/events.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: location is fully optional, submitting correctly with either isDigital or location
  src/components/Form/LocationSearch.field.tsx
  src/components/OsmGeocoding/OsmGeocoding.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add support for functions runtime config in emulator
  functions/jest.config.ts
  functions/scripts/runtimeConfig/model.ts
  functions/scripts/runtimeConfig/write.ts
  functions/scripts/setupRuntimeConfig.ts
  packages/emulators-docker/Dockerfile
  packages/emulators-docker/package.json
  packages/emulators-docker/src/prepare.ts
  yarn.lock
Due: none

chore: code tidying
  functions/src/emulator/index.ts
  functions/src/emulator/seed/data-clean.ts
  functions/src/seo/sitemap/sitemapGenerate.ts
Due: none

chore: remove revisions from exports
  functions/src/Firebase/firestoreDBExport.ts
Due: none

chore: delete old seed data
  packages/emulators-docker/seed_data/pp-2022-06-16.tar.gz
Due: none

chore: migrate ImageGallery to packages
  packages/components/src/ImageGallery/ImageGallery.stories.tsx
  packages/components/src/ImageGallery/ImageGallery.tsx
  packages/components/src/index.ts
  src/components/ImageGallery/ImageGallery.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: pin firebase tools ci version to fix regression
  .circleci/config.yml
Due: none
