Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

Notes added by 'git notes add'
  5f/6b7a3135f5ce8687a2002aec0e42dc06a1e5af
Due: none

restore package.json
  package.json
Due: none

fix: replace invalid ADD CONSTRAINT IF NOT EXISTS syntax
  supabase/migrations/20260720120000_fix_db_drift.sql
Due: none

chore: missing tenant_settings schema columns
  supabase/schemas/tenant_settings.sql
Due: none

squash newly merged migrations
  supabase/migrations/20260505135225_initial.sql
  supabase/migrations/20260601000000_create_stripe_tier_config.sql
  supabase/migrations/20260601000001_add_name_to_stripe_badge_products.sql
  supabase/migrations/20260605135225_drop_legacy_id.sql
  supabase/migrations/20260607120000_normalize_null_country_strings.sql
  supabase/migrations/20260611165736_notification-preferences-cascade.sql
  supabase/migrations/20260613120000_filter_deleted_news.sql
  supabase/migrations/20260701022420_add_site_name_short.sql
  supabase/migrations/20260701111531_poll_feature.sql
  supabase/migrations/20260702160000_add_accepted_answer_to_questions.sql
  supabase/migrations/20260708033232_grant_select_stripe_tier_config.sql
  supabase/migrations/20260708122625_add_thank_you_image_url_to_stripe_tier_config.sql
  supabase/schemas/profiles.sql
Due: none

fix data model
  .snaplet/dataModel.json
Due: none

fix notifications trigger
  supabase/migrations/20260505135225_initial.sql
Due: none

chore: update dataModel
  .snaplet/dataModel.json
Due: none

refactor: fold org signup settings into tenant_settings
  .snaplet/dataModel.json
  packages/cypress/cypress.config.ts
  packages/cypress/src/integration/SignUpOrganisation.spec.ts
  packages/cypress/src/utils/supabaseTestsService.ts
  seed.ts
  shared/models/index.ts
  shared/models/organisationSignupSettings.ts
  shared/models/tenantSettings.ts
  src/routes/_.sign-up.tsx
  src/routes/_.sign-up_.organisation.tsx
  src/services/organisationSignupSettingsService.server.ts
  src/services/tenantSettingsService.server.ts
  supabase/migrations/20260718231004_organisation_signup_settings.sql
  supabase/migrations/20260720161200_add_org_signup_to_tenant_settings.sql
  supabase/schemas/organisation_signup_settings.sql
  supabase/schemas/tenant_settings.sql
Due: tslint --project tsconfig.json --config tslint.json

ui updates
  src/pages/SignUp/OrganisationApplicationForm.tsx
  src/routes/_.sign-up_.organisation.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: use session claims for the remakes sign-in check
  src/pages/Library/Content/Page/Remakes/RemakesSection.test.tsx
  src/pages/Library/Content/Page/Remakes/RemakesSection.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: cancel Stripe subscription when deleting account
  src/pages/UserSettings/SettingsPageAccount.tsx
  src/pages/UserSettings/content/sections/DeleteAccount.form.tsx
  src/routes/api.account.delete.tsx
  src/services/stripeService.server.test.ts
  src/services/stripeService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: org sign-up moderation, Figma UI polish, and full-flow e2e tests
  packages/components/src/Stepper/Stepper.tsx
  packages/cypress/cypress.config.ts
  packages/cypress/src/integration/SignUpOrganisation.spec.ts
  packages/cypress/src/utils/supabaseTestsService.ts
  seed.ts
  shared/models/profile.ts
  src/factories/profileFactory.server.ts
  src/pages/SignUp/OrganisationApplicationForm.tsx
  src/routes/_.sign-up_.organisation.tsx
  src/services/profileService.server.ts
  src/services/tenantSettingsService.server.ts
  src/test/factories/profile.ts
  supabase/migrations/20260726213757_add_profile_moderation.sql
  supabase/schemas/profiles.sql
Due: tslint --project tsconfig.json --config tslint.json

fix: hide membership prices for archived Stripe products
  src/services/stripeService.server.test.ts
  src/services/stripeService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: correct the [By Admin] assertions for news and library
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/news/write.spec.ts
Due: none

fix: address design feedback on remakes (#4805)
  packages/components/assets/icons/trash.svg
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  packages/components/src/ImageInput/ImageInputDeleteOverlay.test.tsx
  packages/components/src/ImageInput/ImageInputDeleteOverlay.tsx
  packages/components/src/ImageInput/ImageInputV2.tsx
  packages/components/src/Modal/Modal.stories.tsx
  packages/components/src/Modal/Modal.test.tsx
  packages/components/src/Modal/Modal.tsx
  src/pages/Library/Content/Page/Remakes/RemakeViewModal.tsx
  src/pages/Library/Content/Page/Remakes/RemakesSection.tsx
Due: tslint --project tsconfig.json --config tslint.json

gate visibility of org profiles awaiting moderation
  packages/cypress/src/integration/SignUpOrganisation.spec.ts
  src/common/Alerts/AlertOrganisationModeration.tsx
  src/common/Alerts/Alerts.tsx
  src/routes.ts
  src/routes/_.email-confirmation.test.ts
  src/routes/_.sign-up_.organisation.gate.test.ts
  src/routes/_.u.$id._index.moderation.test.ts
  src/routes/_.u.$id._index.tsx
  src/routes/api.organisation-application.action.test.ts
  src/routes/api.organisation-application.test.ts
  src/routes/api.organisation-application.ts
  src/services/organisationApplicationsService.server.test.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: cancel active Stripe subscription when deleting account
  src/pages/UserSettings/SettingsPageAccount.tsx
  src/pages/UserSettings/content/sections/DeleteAccount.form.tsx
  src/routes/api.account.delete.tsx
  src/services/stripeService.server.test.ts
  src/services/stripeService.server.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  69/d60dec6a1f185163c7ebbaf1c60febfabe3180
Due: none

test: add admin permission tests for library, research, and news (#4651)
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
Due: none

perf: optimized database index
  supabase/migrations/20260711130000_remakes_feature.sql
Due: none

use remakes hook
  src/pages/Library/Content/Page/ProjectPage.tsx
  src/pages/Library/Content/Page/Remakes/RemakesSection.tsx
  src/pages/Library/Content/Page/Remakes/hooks/useRemakes.ts
Due: tslint --project tsconfig.json --config tslint.json

org focus switching + per-status moderation banners
  packages/cypress/src/integration/SignUpOrganisation.spec.ts
  packages/themes/src/common/commonStyles.ts
  packages/themes/src/types/index.ts
  src/common/Alerts/AlertOrganisationModeration.tsx
  src/pages/SignUp/OrganisationApplicationForm.tsx
  src/pages/UserSettings/SettingsFormTab.tsx
  src/pages/UserSettings/SettingsPage.client.tsx
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/pages/UserSettings/content/elements.tsx
  src/pages/UserSettings/content/sections/Focus.section.test.tsx
  src/pages/UserSettings/content/sections/Focus.section.tsx
  src/pages/UserSettings/content/sections/OrganisationModeration.section.test.tsx
  src/pages/UserSettings/content/sections/OrganisationModeration.section.tsx
  src/pages/UserSettings/labels.ts
  src/pages/UserSettings/types.ts
  src/routes/api.profile.ts
  src/routes/api.profile.type.ts
  src/services/profileService.server.ts
  src/services/profileService.ts
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  18/d8cb48c2f4cbf1b25ec396b7fa99d71e38ffd5
Due: none

fix: reset Manage subscription button on bfcache restore
  packages/cypress/src/integration/settings.spec.ts
  src/pages/UserSettings/SettingsPageAccount.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: file upload for admins
  src/pages/common/FormFields/FilesFields.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  ac/d7062a1c0d71c550df02fd8c95713916dcb001
Due: none

fix tooltip should show above
  packages/components/src/Tooltip/Tooltip.tsx
Due: none

comment sorting with accepted answers
  src/pages/Question/QuestionCommentSection.tsx
  src/pages/common/CommentsSupabase/CommentSectionSupabase.tsx
  src/pages/common/CommentsSupabase/CommentSortOptions.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove tabs
  bun.lock
  package.json
  packages/components/src/UserStatistics/UserStatistics.tsx
  packages/components/src/index.ts
  src/pages/User/contact/UserContactFieldMessage.tsx
  src/pages/User/contact/UserContactFieldName.tsx
  src/pages/User/contact/UserContactForm.tsx
  src/pages/User/contact/UserContactFormNotLoggedIn.tsx
  src/pages/User/contact/index.ts
  src/pages/User/content/ProfileContact.tsx
  src/pages/User/content/ProfileDetails.tsx
  src/pages/User/content/ProfilePage.tsx
  src/pages/User/content/UserCreatedDocuments.tsx
  src/pages/User/content/UserCreatedDocumentsItem.tsx
  src/pages/User/content/UserProfile.tsx
  src/pages/User/impact/Impact.tsx
  src/pages/User/impact/ImpactItem.tsx
  src/pages/User/labels.ts
  src/pages/UserSettings/SettingsFormTab.tsx
  src/pages/UserSettings/SettingsFormTabList.tsx
  src/pages/UserSettings/SettingsPage.client.tsx
  src/routes/api.messages.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix tests
  packages/cypress/src/integration/questions/discussions.spec.ts
Due: none

fix tests
  src/pages/User/contact/UserContactForm.test.tsx
  src/pages/User/impact/Impact.test.tsx
  src/pages/User/impact/ImpactItem.tsx
  vite.config.ts
Due: tslint --project tsconfig.json --config tslint.json

fix cypress tests
  packages/components/src/UserStatistics/UserStatistics.tsx
  packages/cypress/src/integration/banUser.spec.ts
  packages/cypress/src/integration/library/read.spec.ts
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/profile.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  packages/cypress/src/integration/settings.spec.ts
Due: none

basic setup
  packages/components/assets/icons/add.svg
  packages/components/assets/icons/bin-black.svg
  packages/components/assets/icons/bin-grey.svg
  packages/components/assets/icons/icon-arrow.svg
  packages/components/assets/icons/icon-expert.svg
  packages/components/assets/icons/icon-steps.svg
  packages/components/assets/icons/icon-time-needed.svg
  packages/components/assets/icons/icon-v4-member.svg
  packages/components/assets/icons/map-cluster-collection.svg
  packages/components/assets/icons/map-cluster-workspace.svg
  packages/components/assets/icons/map-cluster.svg
  packages/components/assets/icons/map-collection-verified.svg
  packages/components/assets/icons/map-collection.svg
  packages/components/assets/icons/map-community-verified.svg
  packages/components/assets/icons/map-community.svg
  packages/components/assets/icons/map-icon-workspace.svg
  packages/components/assets/icons/map-machine-verified.svg
  packages/components/assets/icons/map-machine.svg
  packages/components/assets/icons/map-member-verified.svg
  packages/components/assets/icons/map-member.svg
  packages/components/assets/icons/map-unpproved-pin.svg
  packages/components/assets/icons/map-workspace-verified.svg
  packages/components/assets/icons/map-workspace.svg
Due: none

basic setup
  .storybook/main.ts
  .storybook/manager.js
  .storybook/preview.tsx
  .storybook/vite.config.ts
  bun.lock
  components.json
  package.json
  src/components/ui/README.md
  src/components/ui/button.stories.tsx
  src/components/ui/button.tsx
  src/components/ui/icons/chevron-down.svg
  src/components/ui/icons/chevron-left.svg
  src/components/ui/icons/chevron-right.svg
  src/components/ui/icons/chevron-up.svg
  src/components/ui/icons/close.svg
  src/components/ui/icons/icons.stories.tsx
  src/components/ui/icons/search.svg
  src/lib/utils.ts
  src/root.tsx
  src/styles/ui-globals.css
  tsconfig.json
  vite.config.ts
Due: tslint --project tsconfig.json --config tslint.json, tslint

drop mui from components
  bun.lock
  packages/components/package.json
  packages/components/src/TabbedContent/TabbedContent.stories.tsx
  packages/components/src/TabbedContent/TabbedContent.test.tsx
  packages/components/src/TabbedContent/TabbedContent.tsx
  vite.config.ts
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
