Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

chore: make imports explicit
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentTextArea.tsx
  src/pages/Academy/Academy.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/stores/common/module.store.ts
Due: tslint --project tsconfig.json --config tslint.json

test: introduce coverage for research routes
  src/components/Heading/index.tsx
  src/components/Loader/index.tsx
  src/components/Tags/TagsSelect.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/Content/EditResearch/index.tsx
  src/pages/Research/Content/EditUpdate/index.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/research.routes.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: support custom favicons
  package.json
  public/index.html
  public/social-image.jpg
  scripts/post-cra-build.ts
  src/assets/images/themes/precious-plastic/public/favicon.ico
  src/assets/images/themes/precious-plastic/public/social-image.jpg
  src/assets/images/themes/project-kamp/public/favicon.ico
  src/assets/images/themes/project-kamp/public/social-image.jpg
  yarn.lock
Due: none

fix: type definitions for tests
  src/pages/Research/research.routes.test.tsx
  tsconfig.json
Due: tslint --project tsconfig.json --config tslint.json

fix: service worker cache headers
  firebase.json
Due: none

fix: lightbox styles not loading
  src/components/ImageGallery/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: academy url
  src/themes/project-kamp/index.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: academy URL for project kamp
  src/components/ExternalEmbed/ExternalEmbed.tsx
  src/pages/Academy/Academy.test.tsx
  src/pages/Academy/Academy.tsx
  src/themes/project-kamp/index.ts
Due: tslint --project tsconfig.json --config tslint.json

fix: badge URL for larger avatar
  src/components/Avatar/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: refactor and introduce tests
  src/pages/User/workspace/Workspace.test.ts
  src/pages/User/workspace/Workspace.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: user page slideshow arrows
  src/pages/User/content/UserPage/UserPage.tsx
  src/themes/app.globalStyles.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: introduce customised description
  public/index.html
  scripts/post-cra-build.ts
Due: none

docs: include production url in circle CI job name
  .circleci/config.yml
Due: none

test: correct sha ref in circle CI
  .circleci/config.yml
Due: none

test: increase timeout
  src/pages/Research/research.routes.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: introduce GA event around location search
  src/components/LocationSearch/LocationSearch.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Maps/Content/Controls/index.tsx
  src/pages/Settings/content/formSections/MapPin.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: URL rewriting for Academy content
  src/components/ExternalEmbed/ExternalEmbed.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: upgrade cypress to 9.2.0
  packages/cypress/package.json
  yarn.lock
Due: none

[FIX] howto search cleaning after navigation
  packages/cypress/src/integration/howto/search.spec.ts
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: extract install step from e2e
  .circleci/config.yml
Due: none

ci: cache bust include cypress binary
  .circleci/config.yml
Due: none

ci: bust cache to add cypress node_modules
  .circleci/config.yml
Due: none

ci: increment new version of CI cache
  .circleci/config.yml
Due: none

ci: extend scope of cache to include node_modules
  .circleci/config.yml
Due: none

ci: bust cache to remove functions/node_modules
  .circleci/config.yml
Due: none

ci: persist injected e2e vars between jobs
  .circleci/config.yml
Due: none

ci: bust cache
  .circleci/config.yml
Due: none

feat: inital tests for all document types
  firebase.json
  firestore-security-rule-tests/events.spec.ts
  firestore-security-rule-tests/howtos.spec.ts
  firestore-security-rule-tests/index.spec.ts
  firestore-security-rule-tests/jest.config.js
  firestore-security-rule-tests/mappins.spec.ts
  firestore-security-rule-tests/package.json
  firestore-security-rule-tests/research.spec.ts
  firestore-security-rule-tests/tags.spec.ts
  firestore-security-rule-tests/users.spec.ts
  firestore.rules
  package.json
  yarn.lock
Due: tslint

feat: tighten up rules for writing howto
  firestore-security-rule-tests/howtos.spec.ts
  firestore.rules
Due: none

ci: adds job to test security rules
  .circleci/config.yml
  firestore-security-rule-tests/package.json
Due: none

ci: introduces firebase-tools
  firestore-security-rule-tests/package.json
  yarn.lock
Due: none

chore: add typescript to nested project
  firestore-security-rule-tests/package.json
  yarn.lock
Due: none

feat: restrict only authors to modify their permissions
  firestore-security-rule-tests/howtos.spec.ts
  firestore.rules
Due: none

docs: add commit style guide
  CONTRIBUTING.md
Due: none

chore: move lintstaged config out to dedicated configuration file
  .lintstagedrc.js
  package.json
Due: tslint

chore: remove out dated husky configuration
  package.json
Due: none

chore: update husky to latest 7.x
  package.json
  yarn.lock
Due: none

ci: introduce linting step
  .circleci/config.yml
  commitlint.config.js
Due: tslint

fix: correct property look up on document
  firestore-security-rule-tests/howtos.spec.ts
  firestore-security-rule-tests/package.json
  firestore.rules
Due: none

chore: refactor into packages directory
  package.json
  packages/security-rules/README.md
  packages/security-rules/jest.config.js
  packages/security-rules/package.json
  packages/security-rules/tests/constants.ts
  packages/security-rules/tests/events.spec.ts
  packages/security-rules/tests/general.spec.ts
  packages/security-rules/tests/howtos.spec.ts
  packages/security-rules/tests/mappins.spec.ts
  packages/security-rules/tests/research.spec.ts
  packages/security-rules/tests/tags.spec.ts
  packages/security-rules/tests/users.spec.ts
  yarn.lock
Due: tslint

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
