Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{ts,tsx}": [
        "tslint --project tsconfig.json --config tslint.json"
      ],
    "cypress/**/*.{ts,tsx}": [
      "tslint --project cypress/tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "tslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": ["functions/**",".storybook/**",config/**]
}

fix: deleted comments
  src/stores/Discussions/discussions.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

Fix/deleted comments (#3774)
  src/stores/Discussions/discussions.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: always getting server version of document
  src/stores/Discussions/discussionEvents.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Question/question.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/Research/researchEvents.ts
  src/stores/common/toggleDocSubscriberStatusByUserName.ts
  src/stores/databaseV2/DocReference.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: add sections to component library
  packages/components/src/Alert/Alert.stories.tsx
  packages/components/src/ArticleCallToAction/ArticleCallToAction.stories.tsx
  packages/components/src/BlockedRoute/BlockedRoute.stories.tsx
  packages/components/src/Breadcrumbs/Breadcrumbs.stories.tsx
  packages/components/src/CommentItem/CommentItem.stories.tsx
  packages/components/src/CommentList/CommentList.stories.tsx
  packages/components/src/ConfirmModal/ConfirmModal.stories.tsx
  packages/components/src/ContentStatistics/ContentStatistics.stories.tsx
  packages/components/src/CreateComment/CreateComment.stories.tsx
  packages/components/src/CreateReply/CreateReply.stories.tsx
  packages/components/src/DiscussionContainer/DiscussionContainer.stories.tsx
  packages/components/src/DiscussionTitle/DiscussionTitle.stories.tsx
  packages/components/src/EditComment/EditComment.stories.tsx
  packages/components/src/Heading/Heading.stories.tsx
  packages/components/src/HeroBanner/HeroBanner.stories.tsx
  packages/components/src/ImageGallery/ImageGallery.stories.tsx
  packages/components/src/Input/Input.stories.tsx
  packages/components/src/Loader/Loader.stories.tsx
  packages/components/src/MapMemberCard/MapMemberCard.stories.tsx
  packages/components/src/Modal/Modal.stories.tsx
  packages/components/src/MoreContainer/MoreContainer.stories.tsx
  packages/components/src/NotificationList/NotificationList.stories.tsx
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.stories.tsx
  packages/components/src/Select/Select.stories.tsx
  packages/components/src/SiteFooter/SiteFooter.stories.tsx
  packages/components/src/TextNotification/TextNotification.stories.tsx
  packages/components/src/Textarea/Textarea.stories.tsx
  packages/components/src/UserEngagementWrapper/UserEngagementWrapper.stories.tsx
  packages/components/src/UserStatistics/UserStatistics.stories.tsx
Due: none

feat: add comment count to research updates
  shared/mocks/data/discussions.ts
  shared/mocks/data/research.ts
  src/models/research.models.tsx
  src/stores/Discussions/discussionEvents.test.ts
  src/stores/Discussions/discussionEvents.ts
  src/stores/Discussions/discussions.store.tsx
  src/test/factories/ResearchItem.ts
Due: tslint --project tsconfig.json --config tslint.json

feat: add primary content id check to discussions
  src/stores/Discussions/discussions.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  12/804fc3d53ce95f36dd6e2c47ab8e835ed2830f
Due: none

fix: research show discussion comment count
  src/common/DiscussionWrapper.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: add edit own profile button to profile
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

style: tweak responsive display of profile icon
  src/pages/User/content/SpaceProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

style: increase border radius of everything
  packages/components/src/Category/Category.tsx
  packages/components/src/CommentList/CommentList.tsx
  packages/components/src/CreateComment/CreateComment.tsx
  packages/components/src/CreateReply/CreateReply.tsx
  packages/components/src/DiscussionContainer/DiscussionContainer.tsx
  packages/components/src/DownloadButton/DownloadButton.tsx
  packages/components/src/DownloadStaticFile/DownloadStaticFile.tsx
  packages/components/src/GlobalStyles/GlobalStyles.tsx
  packages/components/src/ImageGallery/ImageGallery.tsx
  packages/components/src/Modal/Modal.tsx
  packages/components/src/ModerationStatus/ModerationStatus.tsx
  packages/components/src/OsmGeocoding/OsmGeocodingResultsList.tsx
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormTab.tsx
  packages/components/src/Username/Username.tsx
  packages/themes/src/common/button.ts
  packages/themes/src/common/commonStyles.ts
  packages/themes/src/common/index.ts
  src/common/Alerts/AlertIncompleteProfile.tsx
  src/common/Form/FieldContainer.ts
  src/common/Form/ImageInput/DeleteImage.tsx
  src/common/Form/ImageInput/ImageConverter.tsx
  src/common/Form/ImageInput/ImageInputWrapper.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/impact/ImpactField.tsx
  src/pages/User/impact/ImpactItem.tsx
  src/pages/UserSettings/content/formSections/Fields/CustomCheckbox.field.tsx
  src/pages/UserSettings/content/formSections/Fields/CustomRadio.field.tsx
  src/pages/UserSettings/content/formSections/Impact/ImpactYear.section.tsx
  src/pages/UserSettings/content/formSections/elements.tsx
  src/pages/common/Header/Header.tsx
Due: tslint --project tsconfig.json --config tslint.json

Notes added by 'git notes add'
  f6/626b2d3c55ff82651e53fa5e071ebd02fd149b
Due: none

fix: responsive design of tabs on profile
  packages/components/src/TabbedContent/TabbedContent.stories.tsx
  packages/components/src/TabbedContent/TabbedContent.tsx
Due: none

Feat: add edit profile button to profile (#3779)
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(api): entry point for new api service
  packages/api/README.md
  packages/api/package.json
  yarn.lock
Due: none

feat(api): stub out http service
  packages/api/.dockerignore
  packages/api/Dockerfile
  packages/api/package.json
  packages/api/scripts/build-and-deploy.sh
  packages/api/src/index.js
  yarn.lock
Due: tslint

chore(ci): deploy for development branch
  .circleci/config.yml
Due: none

fix: address linting issues
  packages/api/src/index.js
Due: tslint

chore(ci): introduce package and deploy step for API container
  .circleci/config.yml
Due: none

fix: permissions on script
  packages/api/scripts/build-and-deploy.sh
Due: none

chore(ci): move container work out of firebase deploy step
  .circleci/config.yml
Due: none

fix(ci): update script path
  .circleci/config.yml
Due: none

fix: align service name with pkgname
  .circleci/config.yml
  packages/api/scripts/build-and-deploy.sh
Due: none

chore: formatting changes
  packages/api/package.json
Due: none

fix: running dockerfile
  firebase.json
  packages/api/Dockerfile
  packages/api/package.json
  packages/api/src/app.js
Due: tslint

chore(ci): introduce container build/deploy as dep for firebase deploy
  .circleci/config.yml
Due: none

fix(ci): correct dep reference
  .circleci/config.yml
Due: none

chore(ci): add build application as dep
  .circleci/config.yml
Due: none

chore: formatting fix
  packages/api/src/app.js
Due: tslint

chore(ci): compress job name
  .circleci/config.yml
Due: none

chore(ci): experiment with matrix
  .circleci/config.yml
Due: none

chore(ci): refactor deploy to matrix
  .circleci/config.yml
Due: none

chore(ci): unpick deps
  .circleci/config.yml
Due: none

chore(ci): refactor to shared matrix
  .circleci/config.yml
Due: none
