Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

test: add test to check for minimum required characters error message on title input
  packages/cypress/src/integration/research/write.spec.ts
Due: none

fix: fix the previously broken uniqueness test of title input
  packages/cypress/src/integration/research/read.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  shared/mocks/data/research.ts
Due: none

refactor: format change
  packages/cypress/src/integration/research/write.spec.ts
Due: none

fix: update userNotification agg test
  functions/src/aggregations/userNotifications.aggregations.spec.ts
Due: none

fix(aggregations): fix user notification aggregation
  functions/src/aggregations/common.aggregations.ts
Due: none

test(notification-aggregation): improve test coverage of notification aggregation
  functions/src/aggregations/userNotifications.aggregations.spec.ts
Due: none

feat: add mutators to manage validity
  src/pages/Research/Content/Common/Research.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

docs: add link through to firebase emulator docs
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
Due: none

docs: update base path and URL to match docs.platform.onearmy.earth
  packages/documentation/docusaurus.config.gh-pages.js
Due: tslint

feat(emails): add follow notifications to emails
  functions/src/emailNotifications/__snapshots__/createNotificationEmails.spec.ts.snap
  functions/src/emailNotifications/createNotificationEmails.spec.ts
  functions/src/emailNotifications/utils.ts
Due: none

fix: fix validation for title's minimum length to only works in create howto page
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/stores/common/module.store.ts
Due: tslint --project tsconfig.json --config tslint.json

deploy: 3f783f3ae68598cf3dbc6f9fd97679bbdc75e5d1
  404.html
  Backend Development/BackendOverview/index.html
  Backend Development/firebase-emulators-docker/index.html
  Backend Development/firebase-emulators/index.html
  Backend Development/firestore-backup/index.html
  Backend Development/integrations/index.html
  Backend Development/tests/index.html
  Contributing/bounties/index.html
  Contributing/docs/index.html
  Contributing/intro/index.html
  Contributing/start-contributing/index.html
  Deployment/circle-ci/index.html
  Design/contributing-designs/index.html
  Design/contributing-feedback/index.html
  Design/our-design-system/index.html
  Docs Contribution/md-style-guide/index.html
  Docs Contribution/running-docs-locally/index.html
  Environmental Impact/environmental-impact/index.html
  Examples/mdx/index.html
  Frontend Development/modules/index.html
  Frontend Development/overview/index.html
  Frontend Development/storybook/index.html
  Getting Started/recommended-tools/index.html
  Install/index.html
  Maintainers/onboarding/index.html
  Maintainers/overview/index.html
  Security/index.html
  Server Maintenance/dataMigration/index.html
  Server Maintenance/manualBackups/index.html
  Testing/end-to-end/index.html
  Testing/overview/index.html
  assets/js/23c1f925.2df17300.js
  assets/js/23c1f925.52ae2b5a.js
  assets/js/runtime~main.66efb6b6.js
  assets/js/runtime~main.c2b52867.js
  index.html
  storybook-static/assets/preview-f27eddbe.js.map
  storybook-static/project.json
Due: tslint

fix: remove test for checking title's minimum requirement from research to howto tests
  packages/cypress/src/integration/howto/write.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  shared/mocks/data/research.ts
Due: none

Notes added by 'git notes add'
  f2/7b919988c306b9daa76de31d40386fed8ef74e
Due: none

docs: add CNAME record to specific domain
  packages/documentation/static/CNAME
Due: none

deploy: a2031da6f52c76cb1803866bf2acc6d977e19f5a
  CNAME
  storybook-static/assets/GlobalStyles-cba109df.js.map
  storybook-static/project.json
Due: none

chore: define initial values for optional properties
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.tsx
  packages/components/src/Tooltip/Tooltip.tsx
Due: none

Notes added by 'git notes add'
  1a/767f6619f10226a988afde4ebceda44aeafcfb
Due: none

chore(deps): drop unused cheerio
  package.json
  yarn.lock
Due: none

fix: packages/emulators-docker/package.json to reduce vulnerabilities
  packages/emulators-docker/package.json
Due: none

chore(deps): drop unused react-portal
  package.json
  yarn.lock
Due: none

chore(deps): drop unused react-tooltip
  package.json
  yarn.lock
Due: none

chore(deps): drop unused sass
  package.json
  yarn.lock
Due: none

feat(platform): add delete button to allow user to delete their How-Tos
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/stores/Howto/howto.store.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: only run tests once
  packages/security-rules/package.json
Due: none

parent 77a491b1682af09280a494eae059fe709545c404 author KungRaseri <countjoshington@gmail.com> 1687233276 -0700 committer KungRaseri <countjoshington@gmail.com> 1688677484 -0700
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  shared/mocks/data/howtos.ts
  shared/mocks/data/research.ts
  src/models/howto.models.tsx
  src/models/research.models.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

feat(platform): add delete button to How-Tos and Research Articles
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  shared/mocks/data/howtos.ts
  shared/mocks/data/research.ts
  src/models/howto.models.tsx
  src/models/research.models.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): upgrade typescript
  functions/package.json
  package.json
  packages/components/package.json
  packages/emulators-docker/package.json
  packages/themes/package.json
  shared/package.json
  yarn.lock
Due: none

feat: allow users to delete How-Tos and Research Articles
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  shared/mocks/data/howtos.ts
  shared/mocks/data/research.ts
  src/models/howto.models.tsx
  src/models/research.models.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

chore: remove beta-tester role from accessing Research
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/research.routes.tsx
  src/pages/common/AuthRoute.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: stub out testing around AuthWrapper
  src/common/AuthWrapper.test.tsx
Due: tslint --project tsconfig.json --config tslint.json

test: increment by one
  packages/cypress/src/integration/howto/read.spec.ts
Due: none

chore: consolidate test:unit into single cmd
  .circleci/config.yml
  package.json
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
