Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, tslint --project cypress/tsconfig.json --config tslint.json, tslint

fix: icon sizing
  packages/components/src/Icon/Icon.stories.mdx
  packages/components/src/Icon/Icon.tsx
Due: none

chore: add eslint rule to catch incorrect declared components
  packages/components/.eslintignore
  packages/components/.eslintrc.json
  packages/components/package.json
  yarn.lock
Due: none

chore: enforce no default exports
  packages/components/.eslintrc.json
  packages/components/package.json
  packages/components/src/FlagIcon/FlagIcon.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  yarn.lock
Due: none

chore: correct prop typing
  packages/components/src/Icon/Icon.tsx
Due: none

chore: improves dev workflow for components pkg
  package.json
  packages/components/package.json
Due: none

fix: increase caching for static JS resources
  firebase.json
Due: none

chore(components): remove use of deprecated storybook/addon-knobs
  packages/components/.storybook/main.js
  packages/components/knobs.ts
  packages/components/package.json
  packages/components/src/Button/Button.stories.mdx
  packages/components/src/Icon/Icon.stories.mdx
  src/components/Badge/Badge.stories.mdx
  src/components/EventCard/event.card.stories.mdx
  src/components/Heading/heading.stories.mdx
  src/components/Text/text.stories.mdx
  yarn.lock
Due: tslint

chore: fix typo
  packages/components/package.json
Due: none

feat(howtos): add sorting by most useful
  src/components/SortSelect/index.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat(howtos): adjust SortSelect.tsx location
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/Content/HowtoList/SortSelect.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: reduce react icon bundle size
  package.json
  packages/components/package.json
  packages/components/src/Icon/Icon.tsx
  src/components/Comment/Comment.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

chore: remove outdated version from root package.json
  package.json
Due: none

chore: remove unused version string
  src/components/VersionNumber/VersionNumber.tsx
  src/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json

chore(ci): include GitHub hash with preview
  .github/workflows/pr-preview.yml
Due: none

chore: remove version string from being included in UI
  src/config/config.ts
  src/pages/Settings/content/formSections/AccountSettings.section.tsx
  src/pages/common/Header/Menu/Logo/Logo.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix: adjust glob for static js files
  firebase.json
Due: none

chore: ci improve caching for cloud functions
  .circleci/config.yml
Due: none

chore(ci): verify node installation
  .circleci/config.yml
Due: none

chore(dependencies): relock
  yarn.lock
Due: none

chore(ci): check cache directory
  .circleci/config.yml
Due: none

chore(ci): remove secondary yarn install
  .circleci/config.yml
Due: none

chore(ci): one more check of yarn version
  .circleci/config.yml
Due: none

chore(deps): bump yarn v3.2.0
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
Due: none

chore(deps): yarn lock after v3.2.0 upgrade
  yarn.lock
Due: none

chore(yarn): experiment removing nodeLinker
  .yarnrc.yml
Due: none

chore(deps): resolve dependencies inside components pkg
  packages/components/package.json
  yarn.lock
Due: none

Revert "chore: reduce react icon bundle size"
  package.json
  packages/components/package.json
  packages/components/src/Icon/Icon.tsx
  src/components/Comment/Comment.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

chore(deps): upgrade to yarn v3.2.0
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore(ci): remove unnecessary yarn install task
  .circleci/config.yml
Due: none

fix: use <Button> component for user interaction
  src/components/Comment/Comment.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: move Edit comment form into standalone component
  src/components/Comment/Comment.tsx
  src/components/FormEditComment/FormEditComment.tsx
Due: tslint --project tsconfig.json --config tslint.json

feat: move CommentList to shared component
  src/components/Comment/Comment.tsx
  src/components/CommentList/CommentList.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
Due: tslint --project tsconfig.json --config tslint.json

chore: swith to pnp
  .yarnrc.yml
Due: none

chore(ci): switch to using calendar versioned cache key
  .circleci/config.yml
Due: none

chore(ci): global install
  .circleci/config.yml
Due: none

chore(deps): bump @types/react to align with react version
  package.json
  yarn.lock
Due: none

chore(ci): remove duplicate install
  .circleci/config.yml
Due: none

chore(ci): components should not be needed to run unit tests
  .circleci/config.yml
Due: none

chore(ci): test with empty cache
  .circleci/config.yml
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: src/**/*.{ts,tsx}
  tslint --project cypress/tsconfig.json --config tslint.json: any of: cypress/**/*.{ts,tsx}
  tslint: any of: *.{js,jsx}
